/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 254, 247, 230;
    --CTBS-BackdropBg: #fef7e6;
    --CTBS-BackdropBgRgb: 254, 247, 230;
    --CTBS-BackgroundColor: #6b4d04;
    --CTBS-BackgroundColorRgb: 107, 77, 4;
    --CTBS-BackgroundColor-1: #6b4d04;
    --CTBS-BackgroundColor-1Rgb: 107, 77, 4;
    --CTBS-BackgroundColor-2: #6b4d04;
    --CTBS-BackgroundColor-2Rgb: 107, 77, 4;
    --CTBS-BackgroundImage: #fef7e6;
    --CTBS-BackgroundImageRgb: 254, 247, 230;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #6f4905;
    --CTBS-BlueRgb: 111, 73, 5;
    --CTBS-BodyBg: #fef7e6;
    --CTBS-BodyBgRgb: 254, 247, 230;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #6b4d04;
    --CTBS-BorderColorRgb: 107, 77, 4;
    --CTBS-BorderColor-1: #6b4d04;
    --CTBS-BorderColor-1Rgb: 107, 77, 4;
    --CTBS-BorderColorTranslucent: #6b4d04;
    --CTBS-BorderColorTranslucentRgb: 107, 77, 4;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 254, 247, 230;
    --CTBS-CardCapBgRgb: 254, 247, 230;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #fbdf9c;
    --CTBS-CarouselIndicatorActiveBgRgb: 251, 223, 156;
    --CTBS-CarouselIndicatorActiveBg-1: #fbdf9c;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 251, 223, 156;
    --CTBS-CloseBtnCloseColor: #515151;
    --CTBS-CloseBtnCloseColorRgb: 81, 81, 81;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #095a76;
    --CTBS-CyanRgb: 9, 90, 118;
    --CTBS-Danger: #852c2c;
    --CTBS-DangerRgb: 133, 44, 44;
    --CTBS-DangerBgSubtle: #f7e8e8;
    --CTBS-DangerBgSubtleRgb: 247, 232, 232;
    --CTBS-DangerBorderSubtle: #ebc5c5;
    --CTBS-DangerBorderSubtleRgb: 235, 197, 197;
    --CTBS-DangerBtnActiveBg: #4b1818;
    --CTBS-DangerBtnActiveBgRgb: 75, 24, 24;
    --CTBS-DangerBtnActiveBorderColor: #5e1f1f;
    --CTBS-DangerBtnActiveBorderColorRgb: 94, 31, 31;
    --CTBS-DangerBtnActiveColor: #5e1f1f;
    --CTBS-DangerBtnActiveColorRgb: 94, 31, 31;
    --CTBS-DangerBtnActiveShadow: #5e1f1f;
    --CTBS-DangerBtnActiveShadowRgb: 94, 31, 31;
    --CTBS-DangerBtnBg: #852c2c;
    --CTBS-DangerBtnBgRgb: 133, 44, 44;
    --CTBS-DangerBtnBorderColor: #f6e4e4;
    --CTBS-DangerBtnBorderColorRgb: 246, 228, 228;
    --CTBS-DangerBtnColor: #f6e4e4;
    --CTBS-DangerBtnColorRgb: 246, 228, 228;
    --CTBS-DangerBtnDisabledBg: #852c2c;
    --CTBS-DangerBtnDisabledBgRgb: 133, 44, 44;
    --CTBS-DangerBtnDisabledBorderColor: #f6e4e4;
    --CTBS-DangerBtnDisabledBorderColorRgb: 246, 228, 228;
    --CTBS-DangerBtnDisabledColor: #f6e4e4;
    --CTBS-DangerBtnDisabledColorRgb: 246, 228, 228;
    --CTBS-DangerBtnFocusShadowRgb: 133, 44, 44;
    --CTBS-DangerBtnHoverBg: #4b1818;
    --CTBS-DangerBtnHoverBgRgb: 75, 24, 24;
    --CTBS-DangerBtnHoverBorderColor: #5e1f1f;
    --CTBS-DangerBtnHoverBorderColorRgb: 94, 31, 31;
    --CTBS-DangerBtnHoverColor: #5e1f1f;
    --CTBS-DangerBtnHoverColorRgb: 94, 31, 31;
    --CTBS-DangerTableActiveBg: #f7e8e8;
    --CTBS-DangerTableActiveBgRgb: 247, 232, 232;
    --CTBS-DangerTableActiveColor: #5e1f1f;
    --CTBS-DangerTableActiveColorRgb: 94, 31, 31;
    --CTBS-DangerTableBg: #f7e8e8;
    --CTBS-DangerTableBgRgb: 247, 232, 232;
    --CTBS-DangerTableBorderColor: #852c2c;
    --CTBS-DangerTableBorderColorRgb: 133, 44, 44;
    --CTBS-DangerTableColor: #852c2c;
    --CTBS-DangerTableColorRgb: 133, 44, 44;
    --CTBS-DangerTableHoverBg: #f7e8e8;
    --CTBS-DangerTableHoverBgRgb: 247, 232, 232;
    --CTBS-DangerTableHoverColor: #5e1f1f;
    --CTBS-DangerTableHoverColorRgb: 94, 31, 31;
    --CTBS-DangerTableStripedBg: #f7e8e8;
    --CTBS-DangerTableStripedBgRgb: 247, 232, 232;
    --CTBS-DangerTableStripedColor: #712525;
    --CTBS-DangerTableStripedColorRgb: 113, 37, 37;
    --CTBS-DangerTextEmphasis: #852c2c;
    --CTBS-DangerTextEmphasisRgb: 133, 44, 44;
    --CTBS-Dark: #040404;
    --CTBS-DarkRgb: 4, 4, 4;
    --CTBS-DarkBgSubtle: #efefef;
    --CTBS-DarkBgSubtleRgb: 239, 239, 239;
    --CTBS-DarkBorderSubtle: #d8d8d8;
    --CTBS-DarkBorderSubtleRgb: 216, 216, 216;
    --CTBS-DarkBtnActiveBg: #000000;
    --CTBS-DarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveBorderColor: #000000;
    --CTBS-DarkBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveColor: #000000;
    --CTBS-DarkBtnActiveColorRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveShadow: #000000;
    --CTBS-DarkBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-DarkBtnBg: #040404;
    --CTBS-DarkBtnBgRgb: 4, 4, 4;
    --CTBS-DarkBtnBorderColor: #040404;
    --CTBS-DarkBtnBorderColorRgb: 4, 4, 4;
    --CTBS-DarkBtnColor: #040404;
    --CTBS-DarkBtnColorRgb: 4, 4, 4;
    --CTBS-DarkBtnDisabledBg: #040404;
    --CTBS-DarkBtnDisabledBgRgb: 4, 4, 4;
    --CTBS-DarkBtnDisabledBorderColor: #040404;
    --CTBS-DarkBtnDisabledBorderColorRgb: 4, 4, 4;
    --CTBS-DarkBtnDisabledColor: #040404;
    --CTBS-DarkBtnDisabledColorRgb: 4, 4, 4;
    --CTBS-DarkBtnFocusShadowRgb: 4, 4, 4;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverBorderColor: #000000;
    --CTBS-DarkBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverColor: #000000;
    --CTBS-DarkBtnHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarActiveColor: #000000;
    --CTBS-DarkNavbarActiveColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarBrandColor: #040404;
    --CTBS-DarkNavbarBrandColorRgb: 4, 4, 4;
    --CTBS-DarkNavbarBrandHoverColor: #000000;
    --CTBS-DarkNavbarBrandHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarColor: #040404;
    --CTBS-DarkNavbarColorRgb: 4, 4, 4;
    --CTBS-DarkNavbarDisabledColor: #040404;
    --CTBS-DarkNavbarDisabledColorRgb: 4, 4, 4;
    --CTBS-DarkNavbarHoverColor: #000000;
    --CTBS-DarkNavbarHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarTogglerBorderColor: #040404;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 4, 4, 4;
    --CTBS-DarkTableActiveBg: #efefef;
    --CTBS-DarkTableActiveBgRgb: 239, 239, 239;
    --CTBS-DarkTableActiveColor: #000000;
    --CTBS-DarkTableActiveColorRgb: 0, 0, 0;
    --CTBS-DarkTableBg: #efefef;
    --CTBS-DarkTableBgRgb: 239, 239, 239;
    --CTBS-DarkTableBorderColor: #040404;
    --CTBS-DarkTableBorderColorRgb: 4, 4, 4;
    --CTBS-DarkTableColor: #040404;
    --CTBS-DarkTableColorRgb: 4, 4, 4;
    --CTBS-DarkTableHoverBg: #efefef;
    --CTBS-DarkTableHoverBgRgb: 239, 239, 239;
    --CTBS-DarkTableHoverColor: #000000;
    --CTBS-DarkTableHoverColorRgb: 0, 0, 0;
    --CTBS-DarkTableStripedBg: #efefef;
    --CTBS-DarkTableStripedBgRgb: 239, 239, 239;
    --CTBS-DarkTableStripedColor: #000000;
    --CTBS-DarkTableStripedColorRgb: 0, 0, 0;
    --CTBS-DarkTextEmphasis: #040404;
    --CTBS-DarkTextEmphasisRgb: 4, 4, 4;
    --CTBS-DarkThemeBodyBg: #040404;
    --CTBS-DarkThemeBodyBgRgb: 4, 4, 4;
    --CTBS-DarkThemeBodyColor: #fef7e6;
    --CTBS-DarkThemeBodyColorRgb: 254, 247, 230;
    --CTBS-DarkThemeBorderColor: #fbdf9c;
    --CTBS-DarkThemeBorderColorRgb: 251, 223, 156;
    --CTBS-DarkThemeBorderColorTranslucent: #fbdf9c;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 251, 223, 156;
    --CTBS-DarkThemeCarouselCaptionColor: #fef7e6;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 254, 247, 230;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #2a2a2a;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 42, 42, 42;
    --CTBS-DarkThemeCodeColor: #fef7e6;
    --CTBS-DarkThemeCodeColorRgb: 254, 247, 230;
    --CTBS-DarkThemeDangerBgSubtle: #260c0c;
    --CTBS-DarkThemeDangerBgSubtleRgb: 38, 12, 12;
    --CTBS-DarkThemeDangerBorderSubtle: #5f1f1f;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 95, 31, 31;
    --CTBS-DarkThemeDangerTextEmphasis: #da8f8f;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 218, 143, 143;
    --CTBS-DarkThemeDarkBgSubtle: #040404;
    --CTBS-DarkThemeDarkBgSubtleRgb: 4, 4, 4;
    --CTBS-DarkThemeDarkBorderSubtle: #040404;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 4, 4, 4;
    --CTBS-DarkThemeDarkTextEmphasis: #a5a5a5;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 165, 165, 165;
    --CTBS-DarkThemeEmphasisColor: #999999;
    --CTBS-DarkThemeEmphasisColorRgb: 153, 153, 153;
    --CTBS-DarkThemeFormInvalidBorderColor: #fbdf9c;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 251, 223, 156;
    --CTBS-DarkThemeFormInvalidColor: #999999;
    --CTBS-DarkThemeFormInvalidColorRgb: 153, 153, 153;
    --CTBS-DarkThemeFormValidBorderColor: #fbdf9c;
    --CTBS-DarkThemeFormValidBorderColorRgb: 251, 223, 156;
    --CTBS-DarkThemeFormValidColor: #999999;
    --CTBS-DarkThemeFormValidColorRgb: 153, 153, 153;
    --CTBS-DarkThemeHighlightBg: #040404;
    --CTBS-DarkThemeHighlightBgRgb: 4, 4, 4;
    --CTBS-DarkThemeHighlightColor: #fef7e6;
    --CTBS-DarkThemeHighlightColorRgb: 254, 247, 230;
    --CTBS-DarkThemeInfoBgSubtle: #03242f;
    --CTBS-DarkThemeInfoBgSubtleRgb: 3, 36, 47;
    --CTBS-DarkThemeInfoBorderSubtle: #095975;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 9, 89, 117;
    --CTBS-DarkThemeInfoTextEmphasis: #20b9ee;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 32, 185, 238;
    --CTBS-DarkThemeLightBgSubtle: #312301;
    --CTBS-DarkThemeLightBgSubtleRgb: 49, 35, 1;
    --CTBS-DarkThemeLightBorderSubtle: #7a5804;
    --CTBS-DarkThemeLightBorderSubtleRgb: 122, 88, 4;
    --CTBS-DarkThemeLightTextEmphasis: #fef7e6;
    --CTBS-DarkThemeLightTextEmphasisRgb: 254, 247, 230;
    --CTBS-DarkThemeLinkColor: #d18a09;
    --CTBS-DarkThemeLinkColorRgb: 209, 138, 9;
    --CTBS-DarkThemeLinkHoverColor: #d28a09;
    --CTBS-DarkThemeLinkHoverColorRgb: 210, 138, 9;
    --CTBS-DarkThemePrimaryBgSubtle: #302002;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 48, 32, 2;
    --CTBS-DarkThemePrimaryBorderSubtle: #6e4905;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 110, 73, 5;
    --CTBS-DarkThemePrimaryTextEmphasis: #ef9d0a;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 239, 157, 10;
    --CTBS-DarkThemeSecondaryBg: #999999;
    --CTBS-DarkThemeSecondaryBgRgb: 153, 153, 153;
    --CTBS-DarkThemeSecondaryBgSubtle: #040404;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 4, 4, 4;
    --CTBS-DarkThemeSecondaryBorderSubtle: #040404;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 4, 4, 4;
    --CTBS-DarkThemeSecondaryColor: #999999;
    --CTBS-DarkThemeSecondaryColorRgb: 153, 153, 153;
    --CTBS-DarkThemeSecondaryTextEmphasis: #a5a5a5;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 165, 165, 165;
    --CTBS-DarkThemeSuccessBgSubtle: #1a260c;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 26, 38, 12;
    --CTBS-DarkThemeSuccessBorderSubtle: #3d5a1d;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 61, 90, 29;
    --CTBS-DarkThemeSuccessTextEmphasis: #82bf3f;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 130, 191, 63;
    --CTBS-DarkThemeTertiaryBg: #040404;
    --CTBS-DarkThemeTertiaryBgRgb: 4, 4, 4;
    --CTBS-DarkThemeTertiaryColor: #fef7e6;
    --CTBS-DarkThemeTertiaryColorRgb: 254, 247, 230;
    --CTBS-DarkThemeWarningBgSubtle: #241f0e;
    --CTBS-DarkThemeWarningBgSubtleRgb: 36, 31, 14;
    --CTBS-DarkThemeWarningBorderSubtle: #5c4e23;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 92, 78, 35;
    --CTBS-DarkThemeWarningTextEmphasis: #c1a95c;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 193, 169, 92;
    --CTBS-DropdownBg: #fef7e6;
    --CTBS-DropdownBgRgb: 254, 247, 230;
    --CTBS-DropdownColor: #040404;
    --CTBS-DropdownColorRgb: 4, 4, 4;
    --CTBS-DropdownHeaderColor: #040404;
    --CTBS-DropdownHeaderColorRgb: 4, 4, 4;
    --CTBS-DropdownHeaderColor-1: #040404;
    --CTBS-DropdownHeaderColor-1Rgb: 4, 4, 4;
    --CTBS-DropdownLinkActiveBg: #251801;
    --CTBS-DropdownLinkActiveBgRgb: 37, 24, 1;
    --CTBS-DropdownLinkActiveColor: #3e2802;
    --CTBS-DropdownLinkActiveColorRgb: 62, 40, 2;
    --CTBS-DropdownLinkColor: #6f4905;
    --CTBS-DropdownLinkColorRgb: 111, 73, 5;
    --CTBS-DropdownLinkDisabledColor: #6f4905;
    --CTBS-DropdownLinkDisabledColorRgb: 111, 73, 5;
    --CTBS-DropdownLinkHoverBg: #251801;
    --CTBS-DropdownLinkHoverBgRgb: 37, 24, 1;
    --CTBS-DropdownLinkHoverColor: #3e2802;
    --CTBS-DropdownLinkHoverColorRgb: 62, 40, 2;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #515151;
    --CTBS-FormCheckInputBackgroundColorRgb: 81, 81, 81;
    --CTBS-FormCheckInputBorderColor: #6b4d04;
    --CTBS-FormCheckInputBorderColorRgb: 107, 77, 4;
    --CTBS-FormCheckInputBorderColor-1: #6b4d04;
    --CTBS-FormCheckInputBorderColor-1Rgb: 107, 77, 4;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #6b4d04;
    --CTBS-FormControlBorderColorRgb: 107, 77, 4;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #515151;
    --CTBS-FormControlColorRgb: 81, 81, 81;
    --CTBS-FormInvalidBorderColor: #6b4d04;
    --CTBS-FormInvalidBorderColorRgb: 107, 77, 4;
    --CTBS-FormInvalidColor: #515151;
    --CTBS-FormInvalidColorRgb: 81, 81, 81;
    --CTBS-FormValidBorderColor: #6b4d04;
    --CTBS-FormValidBorderColorRgb: 107, 77, 4;
    --CTBS-FormValidColor: #515151;
    --CTBS-FormValidColorRgb: 81, 81, 81;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #4e545a;
    --CTBS-GrayRgb: 78, 84, 90;
    --CTBS-Gray100: #b5babe;
    --CTBS-Gray100Rgb: 181, 186, 190;
    --CTBS-Gray200: #99a0a7;
    --CTBS-Gray200Rgb: 153, 160, 167;
    --CTBS-Gray300: #7e868f;
    --CTBS-Gray300Rgb: 126, 134, 143;
    --CTBS-Gray400: #656d75;
    --CTBS-Gray400Rgb: 101, 109, 117;
    --CTBS-Gray500: #4e545a;
    --CTBS-Gray500Rgb: 78, 84, 90;
    --CTBS-Gray600: #363a3e;
    --CTBS-Gray600Rgb: 54, 58, 62;
    --CTBS-Gray700: #1e2123;
    --CTBS-Gray700Rgb: 30, 33, 35;
    --CTBS-Gray800: #060708;
    --CTBS-Gray800Rgb: 6, 7, 8;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #040404;
    --CTBS-GrayDarkRgb: 4, 4, 4;
    --CTBS-Green: #3e5b1e;
    --CTBS-GreenRgb: 62, 91, 30;
    --CTBS-HighlightBg: #fef7e6;
    --CTBS-HighlightBgRgb: 254, 247, 230;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #5f11d4;
    --CTBS-IndigoRgb: 95, 17, 212;
    --CTBS-Info: #095a76;
    --CTBS-InfoRgb: 9, 90, 118;
    --CTBS-InfoBgSubtle: #e2f6fc;
    --CTBS-InfoBgSubtleRgb: 226, 246, 252;
    --CTBS-InfoBorderSubtle: #b7e8f9;
    --CTBS-InfoBorderSubtleRgb: 183, 232, 249;
    --CTBS-InfoBtnActiveBg: #03232e;
    --CTBS-InfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-InfoBtnActiveBorderColor: #053546;
    --CTBS-InfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveColor: #053546;
    --CTBS-InfoBtnActiveColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveShadow: #053546;
    --CTBS-InfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-InfoBtnBg: #095a76;
    --CTBS-InfoBtnBgRgb: 9, 90, 118;
    --CTBS-InfoBtnBorderColor: #ecf9fd;
    --CTBS-InfoBtnBorderColorRgb: 236, 249, 253;
    --CTBS-InfoBtnColor: #ecf9fd;
    --CTBS-InfoBtnColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledBg: #095a76;
    --CTBS-InfoBtnDisabledBgRgb: 9, 90, 118;
    --CTBS-InfoBtnDisabledBorderColor: #ecf9fd;
    --CTBS-InfoBtnDisabledBorderColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledColor: #ecf9fd;
    --CTBS-InfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-InfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-InfoBtnHoverBg: #03232e;
    --CTBS-InfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-InfoBtnHoverBorderColor: #053546;
    --CTBS-InfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnHoverColor: #053546;
    --CTBS-InfoBtnHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableActiveBg: #e2f6fc;
    --CTBS-InfoTableActiveBgRgb: 226, 246, 252;
    --CTBS-InfoTableActiveColor: #053546;
    --CTBS-InfoTableActiveColorRgb: 5, 53, 70;
    --CTBS-InfoTableBg: #e2f6fc;
    --CTBS-InfoTableBgRgb: 226, 246, 252;
    --CTBS-InfoTableBorderColor: #095a76;
    --CTBS-InfoTableBorderColorRgb: 9, 90, 118;
    --CTBS-InfoTableColor: #095a76;
    --CTBS-InfoTableColorRgb: 9, 90, 118;
    --CTBS-InfoTableHoverBg: #e2f6fc;
    --CTBS-InfoTableHoverBgRgb: 226, 246, 252;
    --CTBS-InfoTableHoverColor: #053546;
    --CTBS-InfoTableHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableStripedBg: #e2f6fc;
    --CTBS-InfoTableStripedBgRgb: 226, 246, 252;
    --CTBS-InfoTableStripedColor: #07475e;
    --CTBS-InfoTableStripedColorRgb: 7, 71, 94;
    --CTBS-InfoTextEmphasis: #085671;
    --CTBS-InfoTextEmphasisRgb: 8, 86, 113;
    --CTBS-Light: #fef7e6;
    --CTBS-LightRgb: 254, 247, 230;
    --CTBS-LightBgSubtle: #fdf6e5;
    --CTBS-LightBgSubtleRgb: 253, 246, 229;
    --CTBS-LightBorderSubtle: #fdf6e5;
    --CTBS-LightBorderSubtleRgb: 253, 246, 229;
    --CTBS-LightBtnActiveBg: #fbdf9c;
    --CTBS-LightBtnActiveBgRgb: 251, 223, 156;
    --CTBS-LightBtnActiveBorderColor: #6b4d04;
    --CTBS-LightBtnActiveBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnActiveColor: #6b4d04;
    --CTBS-LightBtnActiveColorRgb: 107, 77, 4;
    --CTBS-LightBtnActiveShadow: #6b4d04;
    --CTBS-LightBtnActiveShadowRgb: 107, 77, 4;
    --CTBS-LightBtnBg: #fef7e6;
    --CTBS-LightBtnBgRgb: 254, 247, 230;
    --CTBS-LightBtnBorderColor: #6b4d04;
    --CTBS-LightBtnBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnColor: #6b4d04;
    --CTBS-LightBtnColorRgb: 107, 77, 4;
    --CTBS-LightBtnDisabledBg: #fef7e6;
    --CTBS-LightBtnDisabledBgRgb: 254, 247, 230;
    --CTBS-LightBtnDisabledBorderColor: #6b4d04;
    --CTBS-LightBtnDisabledBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnDisabledColor: #6b4d04;
    --CTBS-LightBtnDisabledColorRgb: 107, 77, 4;
    --CTBS-LightBtnFocusShadowRgb: 254, 247, 230;
    --CTBS-LightBtnHoverBg: #fbdf9c;
    --CTBS-LightBtnHoverBgRgb: 251, 223, 156;
    --CTBS-LightBtnHoverBorderColor: #6b4d04;
    --CTBS-LightBtnHoverBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnHoverColor: #6b4d04;
    --CTBS-LightBtnHoverColorRgb: 107, 77, 4;
    --CTBS-LightTableActiveBg: #fdf6e5;
    --CTBS-LightTableActiveBgRgb: 253, 246, 229;
    --CTBS-LightTableActiveColor: #6b4d04;
    --CTBS-LightTableActiveColorRgb: 107, 77, 4;
    --CTBS-LightTableBg: #fdf6e5;
    --CTBS-LightTableBgRgb: 253, 246, 229;
    --CTBS-LightTableBorderColor: #6b4d04;
    --CTBS-LightTableBorderColorRgb: 107, 77, 4;
    --CTBS-LightTableColor: #6b4d04;
    --CTBS-LightTableColorRgb: 107, 77, 4;
    --CTBS-LightTableHoverBg: #fdf6e5;
    --CTBS-LightTableHoverBgRgb: 253, 246, 229;
    --CTBS-LightTableHoverColor: #6b4d04;
    --CTBS-LightTableHoverColorRgb: 107, 77, 4;
    --CTBS-LightTableStripedBg: #fdf6e5;
    --CTBS-LightTableStripedBgRgb: 253, 246, 229;
    --CTBS-LightTableStripedColor: #fdefcd;
    --CTBS-LightTableStripedColorRgb: 253, 239, 205;
    --CTBS-LightTextEmphasis: #6b4d04;
    --CTBS-LightTextEmphasisRgb: 107, 77, 4;
    --CTBS-LinkBtnBoxShadow: #6f4905;
    --CTBS-LinkBtnBoxShadowRgb: 111, 73, 5;
    --CTBS-LinkBtnDisabledColor: #fdf1dc;
    --CTBS-LinkBtnDisabledColorRgb: 253, 241, 220;
    --CTBS-LinkBtnFocusShadowRgb: 111, 73, 5;
    --CTBS-LinkColor: #6f4905;
    --CTBS-LinkColorRgb: 111, 73, 5;
    --CTBS-LinkHoverColor: #3e2802;
    --CTBS-LinkHoverColorRgb: 62, 40, 2;
    --CTBS-LinkNavBoxShadow: #6f4905;
    --CTBS-LinkNavBoxShadowRgb: 111, 73, 5;
    --CTBS-ListGroupActionActiveBgRgb: 251, 223, 156;
    --CTBS-ListGroupActionHoverBgRgb: 251, 223, 156;
    --CTBS-ListGroupActiveBg: #fbdf9c;
    --CTBS-ListGroupActiveBgRgb: 251, 223, 156;
    --CTBS-ListGroupActiveBorderColor: #6b4d04;
    --CTBS-ListGroupActiveBorderColorRgb: 107, 77, 4;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 254, 247, 230;
    --CTBS-ListGroupDisabledBgRgb: 254, 247, 230;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 254, 247, 230;
    --CTBS-OffcanvasBgRgb: 254, 247, 230;
    --CTBS-Orange: #784506;
    --CTBS-OrangeRgb: 120, 69, 6;
    --CTBS-OutlineDangerBtnActiveBg: #4b1818;
    --CTBS-OutlineDangerBtnActiveBgRgb: 75, 24, 24;
    --CTBS-OutlineDangerBtnActiveBorderColor: #5e1f1f;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 94, 31, 31;
    --CTBS-OutlineDangerBtnActiveColor: #5e1f1f;
    --CTBS-OutlineDangerBtnActiveColorRgb: 94, 31, 31;
    --CTBS-OutlineDangerBtnActiveShadow: #5e1f1f;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 94, 31, 31;
    --CTBS-OutlineDangerBtnBorderColor: #f6e4e4;
    --CTBS-OutlineDangerBtnBorderColorRgb: 246, 228, 228;
    --CTBS-OutlineDangerBtnColor: #f6e4e4;
    --CTBS-OutlineDangerBtnColorRgb: 246, 228, 228;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #f6e4e4;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 246, 228, 228;
    --CTBS-OutlineDangerBtnDisabledColor: #f6e4e4;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 246, 228, 228;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 133, 44, 44;
    --CTBS-OutlineDangerBtnHoverBg: #4b1818;
    --CTBS-OutlineDangerBtnHoverBgRgb: 75, 24, 24;
    --CTBS-OutlineDangerBtnHoverBorderColor: #5e1f1f;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 94, 31, 31;
    --CTBS-OutlineDangerBtnHoverColor: #5e1f1f;
    --CTBS-OutlineDangerBtnHoverColorRgb: 94, 31, 31;
    --CTBS-OutlineDarkBtnActiveBg: #000000;
    --CTBS-OutlineDarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveBorderColor: #000000;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveColor: #000000;
    --CTBS-OutlineDarkBtnActiveColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveShadow: #000000;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnBorderColor: #040404;
    --CTBS-OutlineDarkBtnBorderColorRgb: 4, 4, 4;
    --CTBS-OutlineDarkBtnColor: #040404;
    --CTBS-OutlineDarkBtnColorRgb: 4, 4, 4;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #040404;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 4, 4, 4;
    --CTBS-OutlineDarkBtnDisabledColor: #040404;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 4, 4, 4;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 4, 4, 4;
    --CTBS-OutlineDarkBtnHoverBg: #000000;
    --CTBS-OutlineDarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverBorderColor: #000000;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverColor: #000000;
    --CTBS-OutlineDarkBtnHoverColorRgb: 0, 0, 0;
    --CTBS-OutlineInfoBtnActiveBg: #03232e;
    --CTBS-OutlineInfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnActiveBorderColor: #053546;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnActiveColor: #053546;
    --CTBS-OutlineInfoBtnActiveColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnActiveShadow: #053546;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnBorderColor: #ecf9fd;
    --CTBS-OutlineInfoBtnBorderColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnColor: #ecf9fd;
    --CTBS-OutlineInfoBtnColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #ecf9fd;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnDisabledColor: #ecf9fd;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnHoverBg: #03232e;
    --CTBS-OutlineInfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnHoverBorderColor: #053546;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnHoverColor: #053546;
    --CTBS-OutlineInfoBtnHoverColorRgb: 5, 53, 70;
    --CTBS-OutlineLightBtnActiveBg: #fbdf9c;
    --CTBS-OutlineLightBtnActiveBgRgb: 251, 223, 156;
    --CTBS-OutlineLightBtnActiveBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnActiveColor: #6b4d04;
    --CTBS-OutlineLightBtnActiveColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnActiveShadow: #6b4d04;
    --CTBS-OutlineLightBtnActiveShadowRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnColor: #6b4d04;
    --CTBS-OutlineLightBtnColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnDisabledBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnDisabledColor: #6b4d04;
    --CTBS-OutlineLightBtnDisabledColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnFocusShadowRgb: 254, 247, 230;
    --CTBS-OutlineLightBtnHoverBg: #fbdf9c;
    --CTBS-OutlineLightBtnHoverBgRgb: 251, 223, 156;
    --CTBS-OutlineLightBtnHoverBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnHoverColor: #6b4d04;
    --CTBS-OutlineLightBtnHoverColorRgb: 107, 77, 4;
    --CTBS-OutlinePrimaryBtnActiveBg: #251801;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 37, 24, 1;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #3e2802;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 62, 40, 2;
    --CTBS-OutlinePrimaryBtnActiveColor: #3e2802;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 62, 40, 2;
    --CTBS-OutlinePrimaryBtnActiveShadow: #3e2802;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 62, 40, 2;
    --CTBS-OutlinePrimaryBtnBorderColor: #fdf1dc;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 253, 241, 220;
    --CTBS-OutlinePrimaryBtnColor: #fdf1dc;
    --CTBS-OutlinePrimaryBtnColorRgb: 253, 241, 220;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #fdf1dc;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 253, 241, 220;
    --CTBS-OutlinePrimaryBtnDisabledColor: #fdf1dc;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 253, 241, 220;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 111, 73, 5;
    --CTBS-OutlinePrimaryBtnHoverBg: #251801;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 37, 24, 1;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #3e2802;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 62, 40, 2;
    --CTBS-OutlinePrimaryBtnHoverColor: #3e2802;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 62, 40, 2;
    --CTBS-OutlineSecondaryBtnActiveBg: #000000;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 0, 0, 0;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #000000;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineSecondaryBtnActiveColor: #000000;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 0, 0, 0;
    --CTBS-OutlineSecondaryBtnActiveShadow: #000000;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-OutlineSecondaryBtnBorderColor: #999999;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 153, 153, 153;
    --CTBS-OutlineSecondaryBtnColor: #999999;
    --CTBS-OutlineSecondaryBtnColorRgb: 153, 153, 153;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #999999;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 153, 153, 153;
    --CTBS-OutlineSecondaryBtnDisabledColor: #999999;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 153, 153, 153;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 4, 4, 4;
    --CTBS-OutlineSecondaryBtnHoverBg: #000000;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 0, 0, 0;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #000000;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineSecondaryBtnHoverColor: #000000;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 0, 0, 0;
    --CTBS-OutlineSuccessBtnActiveBg: #16210b;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 22, 33, 11;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #233411;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 35, 52, 17;
    --CTBS-OutlineSuccessBtnActiveColor: #233411;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 35, 52, 17;
    --CTBS-OutlineSuccessBtnActiveShadow: #233411;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 35, 52, 17;
    --CTBS-OutlineSuccessBtnBorderColor: #f2f8eb;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 242, 248, 235;
    --CTBS-OutlineSuccessBtnColor: #f2f8eb;
    --CTBS-OutlineSuccessBtnColorRgb: 242, 248, 235;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #f2f8eb;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 242, 248, 235;
    --CTBS-OutlineSuccessBtnDisabledColor: #f2f8eb;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 242, 248, 235;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 62, 91, 30;
    --CTBS-OutlineSuccessBtnHoverBg: #16210b;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 22, 33, 11;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #233411;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 35, 52, 17;
    --CTBS-OutlineSuccessBtnHoverColor: #233411;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 35, 52, 17;
    --CTBS-OutlineWarningBtnActiveBg: #27210e;
    --CTBS-OutlineWarningBtnActiveBgRgb: 39, 33, 14;
    --CTBS-OutlineWarningBtnActiveBorderColor: #3a3115;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 58, 49, 21;
    --CTBS-OutlineWarningBtnActiveColor: #3a3115;
    --CTBS-OutlineWarningBtnActiveColorRgb: 58, 49, 21;
    --CTBS-OutlineWarningBtnActiveShadow: #3a3115;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 58, 49, 21;
    --CTBS-OutlineWarningBtnBorderColor: #f7f5ec;
    --CTBS-OutlineWarningBtnBorderColorRgb: 247, 245, 236;
    --CTBS-OutlineWarningBtnColor: #f7f5ec;
    --CTBS-OutlineWarningBtnColorRgb: 247, 245, 236;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #f7f5ec;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 247, 245, 236;
    --CTBS-OutlineWarningBtnDisabledColor: #f7f5ec;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 247, 245, 236;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 95, 81, 36;
    --CTBS-OutlineWarningBtnHoverBg: #27210e;
    --CTBS-OutlineWarningBtnHoverBgRgb: 39, 33, 14;
    --CTBS-OutlineWarningBtnHoverBorderColor: #3a3115;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 58, 49, 21;
    --CTBS-OutlineWarningBtnHoverColor: #3a3115;
    --CTBS-OutlineWarningBtnHoverColorRgb: 58, 49, 21;
    --CTBS-PaginationActiveBg: #fbdf9c;
    --CTBS-PaginationActiveBgRgb: 251, 223, 156;
    --CTBS-PaginationActiveBorderColor: #6b4d04;
    --CTBS-PaginationActiveBorderColorRgb: 107, 77, 4;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #251801;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 37, 24, 1;
    --CTBS-PillsNavPillsLinkActiveColor: #3e2802;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 62, 40, 2;
    --CTBS-Pink: #a00c56;
    --CTBS-PinkRgb: 160, 12, 86;
    --CTBS-Primary: #6f4905;
    --CTBS-PrimaryRgb: 111, 73, 5;
    --CTBS-PrimaryBgSubtle: #fdf3e1;
    --CTBS-PrimaryBgSubtleRgb: 253, 243, 225;
    --CTBS-PrimaryBorderSubtle: #fbe2b5;
    --CTBS-PrimaryBorderSubtleRgb: 251, 226, 181;
    --CTBS-PrimaryBtnActiveBg: #251801;
    --CTBS-PrimaryBtnActiveBgRgb: 37, 24, 1;
    --CTBS-PrimaryBtnActiveBorderColor: #3e2802;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 62, 40, 2;
    --CTBS-PrimaryBtnActiveColor: #3e2802;
    --CTBS-PrimaryBtnActiveColorRgb: 62, 40, 2;
    --CTBS-PrimaryBtnActiveShadow: #3e2802;
    --CTBS-PrimaryBtnActiveShadowRgb: 62, 40, 2;
    --CTBS-PrimaryBtnBg: #6f4905;
    --CTBS-PrimaryBtnBgRgb: 111, 73, 5;
    --CTBS-PrimaryBtnBorderColor: #fdf1dc;
    --CTBS-PrimaryBtnBorderColorRgb: 253, 241, 220;
    --CTBS-PrimaryBtnColor: #fdf1dc;
    --CTBS-PrimaryBtnColorRgb: 253, 241, 220;
    --CTBS-PrimaryBtnDisabledBg: #6f4905;
    --CTBS-PrimaryBtnDisabledBgRgb: 111, 73, 5;
    --CTBS-PrimaryBtnDisabledBorderColor: #fdf1dc;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 253, 241, 220;
    --CTBS-PrimaryBtnDisabledColor: #fdf1dc;
    --CTBS-PrimaryBtnDisabledColorRgb: 253, 241, 220;
    --CTBS-PrimaryBtnFocusShadowRgb: 111, 73, 5;
    --CTBS-PrimaryBtnHoverBg: #251801;
    --CTBS-PrimaryBtnHoverBgRgb: 37, 24, 1;
    --CTBS-PrimaryBtnHoverBorderColor: #3e2802;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 62, 40, 2;
    --CTBS-PrimaryBtnHoverColor: #3e2802;
    --CTBS-PrimaryBtnHoverColorRgb: 62, 40, 2;
    --CTBS-PrimaryTableActiveBg: #fdf3e1;
    --CTBS-PrimaryTableActiveBgRgb: 253, 243, 225;
    --CTBS-PrimaryTableActiveColor: #3e2802;
    --CTBS-PrimaryTableActiveColorRgb: 62, 40, 2;
    --CTBS-PrimaryTableBg: #fdf3e1;
    --CTBS-PrimaryTableBgRgb: 253, 243, 225;
    --CTBS-PrimaryTableBorderColor: #6f4905;
    --CTBS-PrimaryTableBorderColorRgb: 111, 73, 5;
    --CTBS-PrimaryTableColor: #6f4905;
    --CTBS-PrimaryTableColorRgb: 111, 73, 5;
    --CTBS-PrimaryTableHoverBg: #fdf3e1;
    --CTBS-PrimaryTableHoverBgRgb: 253, 243, 225;
    --CTBS-PrimaryTableHoverColor: #3e2802;
    --CTBS-PrimaryTableHoverColorRgb: 62, 40, 2;
    --CTBS-PrimaryTableStripedBg: #fdf3e1;
    --CTBS-PrimaryTableStripedBgRgb: 253, 243, 225;
    --CTBS-PrimaryTableStripedColor: #563803;
    --CTBS-PrimaryTableStripedColorRgb: 86, 56, 3;
    --CTBS-PrimaryTextEmphasis: #6f4905;
    --CTBS-PrimaryTextEmphasisRgb: 111, 73, 5;
    --CTBS-ProgressBarBg: #fef7e6;
    --CTBS-ProgressBarBgRgb: 254, 247, 230;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #840eb8;
    --CTBS-PurpleRgb: 132, 14, 184;
    --CTBS-Red: #852c2c;
    --CTBS-RedRgb: 133, 44, 44;
    --CTBS-Secondary: #040404;
    --CTBS-SecondaryRgb: 4, 4, 4;
    --CTBS-SecondaryBg: #040404;
    --CTBS-SecondaryBgRgb: 4, 4, 4;
    --CTBS-SecondaryBgSubtle: #efefef;
    --CTBS-SecondaryBgSubtleRgb: 239, 239, 239;
    --CTBS-SecondaryBorderSubtle: #d8d8d8;
    --CTBS-SecondaryBorderSubtleRgb: 216, 216, 216;
    --CTBS-SecondaryBtnActiveBg: #000000;
    --CTBS-SecondaryBtnActiveBgRgb: 0, 0, 0;
    --CTBS-SecondaryBtnActiveBorderColor: #000000;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-SecondaryBtnActiveColor: #000000;
    --CTBS-SecondaryBtnActiveColorRgb: 0, 0, 0;
    --CTBS-SecondaryBtnActiveShadow: #000000;
    --CTBS-SecondaryBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-SecondaryBtnBg: #040404;
    --CTBS-SecondaryBtnBgRgb: 4, 4, 4;
    --CTBS-SecondaryBtnBorderColor: #999999;
    --CTBS-SecondaryBtnBorderColorRgb: 153, 153, 153;
    --CTBS-SecondaryBtnColor: #999999;
    --CTBS-SecondaryBtnColorRgb: 153, 153, 153;
    --CTBS-SecondaryBtnDisabledBg: #040404;
    --CTBS-SecondaryBtnDisabledBgRgb: 4, 4, 4;
    --CTBS-SecondaryBtnDisabledBorderColor: #999999;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 153, 153, 153;
    --CTBS-SecondaryBtnDisabledColor: #999999;
    --CTBS-SecondaryBtnDisabledColorRgb: 153, 153, 153;
    --CTBS-SecondaryBtnFocusShadowRgb: 4, 4, 4;
    --CTBS-SecondaryBtnHoverBg: #000000;
    --CTBS-SecondaryBtnHoverBgRgb: 0, 0, 0;
    --CTBS-SecondaryBtnHoverBorderColor: #000000;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-SecondaryBtnHoverColor: #000000;
    --CTBS-SecondaryBtnHoverColorRgb: 0, 0, 0;
    --CTBS-SecondaryColor: #040404;
    --CTBS-SecondaryColorRgb: 4, 4, 4;
    --CTBS-SecondaryTableActiveBg: #efefef;
    --CTBS-SecondaryTableActiveBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableActiveColor: #000000;
    --CTBS-SecondaryTableActiveColorRgb: 0, 0, 0;
    --CTBS-SecondaryTableBg: #efefef;
    --CTBS-SecondaryTableBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableBorderColor: #040404;
    --CTBS-SecondaryTableBorderColorRgb: 4, 4, 4;
    --CTBS-SecondaryTableColor: #040404;
    --CTBS-SecondaryTableColorRgb: 4, 4, 4;
    --CTBS-SecondaryTableHoverBg: #efefef;
    --CTBS-SecondaryTableHoverBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableHoverColor: #000000;
    --CTBS-SecondaryTableHoverColorRgb: 0, 0, 0;
    --CTBS-SecondaryTableStripedBg: #efefef;
    --CTBS-SecondaryTableStripedBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableStripedColor: #000000;
    --CTBS-SecondaryTableStripedColorRgb: 0, 0, 0;
    --CTBS-SecondaryTextEmphasis: #040404;
    --CTBS-SecondaryTextEmphasisRgb: 4, 4, 4;
    --CTBS-Success: #3e5b1e;
    --CTBS-SuccessRgb: 62, 91, 30;
    --CTBS-SuccessBgSubtle: #f0f7e7;
    --CTBS-SuccessBgSubtleRgb: 240, 247, 231;
    --CTBS-SuccessBorderSubtle: #d9ecc5;
    --CTBS-SuccessBorderSubtleRgb: 217, 236, 197;
    --CTBS-SuccessBtnActiveBg: #16210b;
    --CTBS-SuccessBtnActiveBgRgb: 22, 33, 11;
    --CTBS-SuccessBtnActiveBorderColor: #233411;
    --CTBS-SuccessBtnActiveBorderColorRgb: 35, 52, 17;
    --CTBS-SuccessBtnActiveColor: #233411;
    --CTBS-SuccessBtnActiveColorRgb: 35, 52, 17;
    --CTBS-SuccessBtnActiveShadow: #233411;
    --CTBS-SuccessBtnActiveShadowRgb: 35, 52, 17;
    --CTBS-SuccessBtnBg: #3e5b1e;
    --CTBS-SuccessBtnBgRgb: 62, 91, 30;
    --CTBS-SuccessBtnBorderColor: #f2f8eb;
    --CTBS-SuccessBtnBorderColorRgb: 242, 248, 235;
    --CTBS-SuccessBtnColor: #f2f8eb;
    --CTBS-SuccessBtnColorRgb: 242, 248, 235;
    --CTBS-SuccessBtnDisabledBg: #3e5b1e;
    --CTBS-SuccessBtnDisabledBgRgb: 62, 91, 30;
    --CTBS-SuccessBtnDisabledBorderColor: #f2f8eb;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 242, 248, 235;
    --CTBS-SuccessBtnDisabledColor: #f2f8eb;
    --CTBS-SuccessBtnDisabledColorRgb: 242, 248, 235;
    --CTBS-SuccessBtnFocusShadowRgb: 62, 91, 30;
    --CTBS-SuccessBtnHoverBg: #16210b;
    --CTBS-SuccessBtnHoverBgRgb: 22, 33, 11;
    --CTBS-SuccessBtnHoverBorderColor: #233411;
    --CTBS-SuccessBtnHoverBorderColorRgb: 35, 52, 17;
    --CTBS-SuccessBtnHoverColor: #233411;
    --CTBS-SuccessBtnHoverColorRgb: 35, 52, 17;
    --CTBS-SuccessTableActiveBg: #f0f7e7;
    --CTBS-SuccessTableActiveBgRgb: 240, 247, 231;
    --CTBS-SuccessTableActiveColor: #233411;
    --CTBS-SuccessTableActiveColorRgb: 35, 52, 17;
    --CTBS-SuccessTableBg: #f0f7e7;
    --CTBS-SuccessTableBgRgb: 240, 247, 231;
    --CTBS-SuccessTableBorderColor: #3e5b1e;
    --CTBS-SuccessTableBorderColorRgb: 62, 91, 30;
    --CTBS-SuccessTableColor: #3e5b1e;
    --CTBS-SuccessTableColorRgb: 62, 91, 30;
    --CTBS-SuccessTableHoverBg: #f0f7e7;
    --CTBS-SuccessTableHoverBgRgb: 240, 247, 231;
    --CTBS-SuccessTableHoverColor: #233411;
    --CTBS-SuccessTableHoverColorRgb: 35, 52, 17;
    --CTBS-SuccessTableStripedBg: #f0f7e7;
    --CTBS-SuccessTableStripedBgRgb: 240, 247, 231;
    --CTBS-SuccessTableStripedColor: #304717;
    --CTBS-SuccessTableStripedColorRgb: 48, 71, 23;
    --CTBS-SuccessTextEmphasis: #3c581d;
    --CTBS-SuccessTextEmphasisRgb: 60, 88, 29;
    --CTBS-Teal: #325b1e;
    --CTBS-TealRgb: 50, 91, 30;
    --CTBS-TertiaryBg: #fef7e6;
    --CTBS-TertiaryBgRgb: 254, 247, 230;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 254, 247, 230;
    --CTBS-ToastHeaderBgRgb: 254, 247, 230;
    --CTBS-Warning: #5f5124;
    --CTBS-WarningRgb: 95, 81, 36;
    --CTBS-WarningBgSubtle: #f6f3e8;
    --CTBS-WarningBgSubtleRgb: 246, 243, 232;
    --CTBS-WarningBorderSubtle: #e9e1c7;
    --CTBS-WarningBorderSubtleRgb: 233, 225, 199;
    --CTBS-WarningBtnActiveBg: #27210e;
    --CTBS-WarningBtnActiveBgRgb: 39, 33, 14;
    --CTBS-WarningBtnActiveBorderColor: #3a3115;
    --CTBS-WarningBtnActiveBorderColorRgb: 58, 49, 21;
    --CTBS-WarningBtnActiveColor: #3a3115;
    --CTBS-WarningBtnActiveColorRgb: 58, 49, 21;
    --CTBS-WarningBtnActiveShadow: #3a3115;
    --CTBS-WarningBtnActiveShadowRgb: 58, 49, 21;
    --CTBS-WarningBtnBg: #5f5124;
    --CTBS-WarningBtnBgRgb: 95, 81, 36;
    --CTBS-WarningBtnBorderColor: #f7f5ec;
    --CTBS-WarningBtnBorderColorRgb: 247, 245, 236;
    --CTBS-WarningBtnColor: #f7f5ec;
    --CTBS-WarningBtnColorRgb: 247, 245, 236;
    --CTBS-WarningBtnDisabledBg: #5f5124;
    --CTBS-WarningBtnDisabledBgRgb: 95, 81, 36;
    --CTBS-WarningBtnDisabledBorderColor: #f7f5ec;
    --CTBS-WarningBtnDisabledBorderColorRgb: 247, 245, 236;
    --CTBS-WarningBtnDisabledColor: #f7f5ec;
    --CTBS-WarningBtnDisabledColorRgb: 247, 245, 236;
    --CTBS-WarningBtnFocusShadowRgb: 95, 81, 36;
    --CTBS-WarningBtnHoverBg: #27210e;
    --CTBS-WarningBtnHoverBgRgb: 39, 33, 14;
    --CTBS-WarningBtnHoverBorderColor: #3a3115;
    --CTBS-WarningBtnHoverBorderColorRgb: 58, 49, 21;
    --CTBS-WarningBtnHoverColor: #3a3115;
    --CTBS-WarningBtnHoverColorRgb: 58, 49, 21;
    --CTBS-WarningTableActiveBg: #f6f3e8;
    --CTBS-WarningTableActiveBgRgb: 246, 243, 232;
    --CTBS-WarningTableActiveColor: #3a3115;
    --CTBS-WarningTableActiveColorRgb: 58, 49, 21;
    --CTBS-WarningTableBg: #f6f3e8;
    --CTBS-WarningTableBgRgb: 246, 243, 232;
    --CTBS-WarningTableBorderColor: #5f5124;
    --CTBS-WarningTableBorderColorRgb: 95, 81, 36;
    --CTBS-WarningTableColor: #5f5124;
    --CTBS-WarningTableColorRgb: 95, 81, 36;
    --CTBS-WarningTableHoverBg: #f6f3e8;
    --CTBS-WarningTableHoverBgRgb: 246, 243, 232;
    --CTBS-WarningTableHoverColor: #3a3115;
    --CTBS-WarningTableHoverColorRgb: 58, 49, 21;
    --CTBS-WarningTableStripedBg: #f6f3e8;
    --CTBS-WarningTableStripedBgRgb: 246, 243, 232;
    --CTBS-WarningTableStripedColor: #4c411c;
    --CTBS-WarningTableStripedColorRgb: 76, 65, 28;
    --CTBS-WarningTextEmphasis: #5c4e23;
    --CTBS-WarningTextEmphasisRgb: 92, 78, 35;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #5f5124;
    --CTBS-YellowRgb: 95, 81, 36;
}