/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AlertBgRgb: 251, 210, 110;
    --CTBS-BackgroundColor: #543c02;
    --CTBS-BackgroundColorRgb: 84, 60, 2;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #f4a342;
    --CTBS-BlueRgb: 244, 163, 66;
    --CTBS-BodyBgRgb: 251, 210, 110;
    --CTBS-CardBgRgb: 251, 210, 110;
    --CTBS-Cyan: #11a3d4;
    --CTBS-CyanRgb: 17, 163, 212;
    --CTBS-DangerBgSubtle: #f9b7b7;
    --CTBS-DangerBgSubtleRgb: 249, 183, 183;
    --CTBS-DangerBorderSubtle: #f58888;
    --CTBS-DangerBorderSubtleRgb: 245, 136, 136;
    --CTBS-DangerBtnActiveBorderColor: #a40d0d;
    --CTBS-DangerBtnActiveBorderColorRgb: 164, 13, 13;
    --CTBS-DangerBtnFocusShadowRgb: 212, 17, 17;
    --CTBS-DangerBtnHoverBg: #a40d0d;
    --CTBS-DangerBtnHoverBgRgb: 164, 13, 13;
    --CTBS-DangerBtnHoverBorderColor: #a40d0d;
    --CTBS-DangerBtnHoverBorderColorRgb: 164, 13, 13;
    --CTBS-DangerRgb: 212, 17, 17;
    --CTBS-DangerTableActiveBg: #a40d0d;
    --CTBS-DangerTableActiveBgRgb: 164, 13, 13;
    --CTBS-DangerTableBorderColor: #840a0a;
    --CTBS-DangerTableBorderColorRgb: 132, 10, 10;
    --CTBS-DangerTableHoverBg: #a40d0d;
    --CTBS-DangerTableHoverBgRgb: 164, 13, 13;
    --CTBS-DangerTableStripedBg: #bc0f0f;
    --CTBS-DangerTableStripedBgRgb: 188, 15, 15;
    --CTBS-DangerTextEmphasis: #710909;
    --CTBS-DangerTextEmphasisRgb: 113, 9, 9;
    --CTBS-DarkBtnFocusShadowRgb: 14, 10, 5;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkRgb: 14, 10, 5;
    --CTBS-DarkTableActiveBg: #000000;
    --CTBS-DarkTableActiveBgRgb: 0, 0, 0;
    --CTBS-DarkTableBorderColor: #0e0a05;
    --CTBS-DarkTableBorderColorRgb: 14, 10, 5;
    --CTBS-DarkTableHoverBg: #000000;
    --CTBS-DarkTableHoverBgRgb: 0, 0, 0;
    --CTBS-DarkTableStripedBg: #000000;
    --CTBS-DarkTableStripedBgRgb: 0, 0, 0;
    --CTBS-DarkThemeBodyColorRgb: 251, 210, 110;
    --CTBS-DarkThemeCodeColor: #fbd26e;
    --CTBS-DarkThemeCodeColorRgb: 251, 210, 110;
    --CTBS-DarkThemeDangerBgSubtle: #170101;
    --CTBS-DarkThemeDangerBgSubtleRgb: 23, 1, 1;
    --CTBS-DarkThemeDangerBorderSubtle: #460505;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 70, 5, 5;
    --CTBS-DarkThemeDangerTextEmphasis: #f37171;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 243, 113, 113;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #011117;
    --CTBS-DarkThemeInfoBgSubtleRgb: 1, 17, 23;
    --CTBS-DarkThemeInfoBorderSubtle: #053646;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 5, 54, 70;
    --CTBS-DarkThemeInfoTextEmphasis: #11aadd;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 17, 170, 221;
    --CTBS-DarkThemeLinkColorRgb: 244, 163, 66;
    --CTBS-DarkThemeLinkHoverColor: #f6ba72;
    --CTBS-DarkThemeLinkHoverColorRgb: 246, 186, 114;
    --CTBS-DarkThemePrimaryBgSubtle: #643905;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 100, 57, 5;
    --CTBS-DarkThemePrimaryBorderSubtle: #945408;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 148, 84, 8;
    --CTBS-DarkThemePrimaryTextEmphasis: #fad7ad;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 250, 215, 173;
    --CTBS-DarkThemeSecondaryBgRgb: 251, 210, 110;
    --CTBS-DarkThemeSecondaryBgSubtle: #986d04;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 152, 109, 4;
    --CTBS-DarkThemeSecondaryBorderSubtle: #ca9105;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 202, 145, 5;
    --CTBS-DarkThemeSecondaryColor: #fbd26e;
    --CTBS-DarkThemeSecondaryColorRgb: 251, 210, 110;
    --CTBS-DarkThemeSecondaryTextEmphasis: #ffffff;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 255, 255, 255;
    --CTBS-DarkThemeSuccessBgSubtle: #011701;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 1, 23, 1;
    --CTBS-DarkThemeSuccessBorderSubtle: #054605;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 5, 70, 5;
    --CTBS-DarkThemeSuccessTextEmphasis: #11d411;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 17, 212, 17;
    --CTBS-DarkThemeTertiaryBg: #0e0a05;
    --CTBS-DarkThemeTertiaryBgRgb: 14, 10, 5;
    --CTBS-DarkThemeTertiaryColor: #fbd26e;
    --CTBS-DarkThemeTertiaryColorRgb: 251, 210, 110;
    --CTBS-DarkThemeWarningBgSubtle: #171101;
    --CTBS-DarkThemeWarningBgSubtleRgb: 23, 17, 1;
    --CTBS-DarkThemeWarningBorderSubtle: #463605;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 70, 54, 5;
    --CTBS-DarkThemeWarningTextEmphasis: #d4a311;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 212, 163, 17;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #543c02;
    --CTBS-FormControlBorderColorRgb: 84, 60, 2;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #0e0a05;
    --CTBS-GrayDarkRgb: 14, 10, 5;
    --CTBS-Green: #11d411;
    --CTBS-GreenRgb: 17, 212, 17;
    --CTBS-Indigo: #5f11d4;
    --CTBS-IndigoRgb: 95, 17, 212;
    --CTBS-InfoBgSubtle: #b7e8f9;
    --CTBS-InfoBgSubtleRgb: 183, 232, 249;
    --CTBS-InfoBorderSubtle: #88daf5;
    --CTBS-InfoBorderSubtleRgb: 136, 218, 245;
    --CTBS-InfoBtnActiveBg: #0d7ea4;
    --CTBS-InfoBtnActiveBgRgb: 13, 126, 164;
    --CTBS-InfoBtnFocusShadowRgb: 17, 163, 212;
    --CTBS-InfoBtnHoverBg: #0d7ea4;
    --CTBS-InfoBtnHoverBgRgb: 13, 126, 164;
    --CTBS-InfoBtnHoverBorderColor: #0d7ea4;
    --CTBS-InfoBtnHoverBorderColorRgb: 13, 126, 164;
    --CTBS-InfoRgb: 17, 163, 212;
    --CTBS-InfoTableActiveBg: #0d7ea4;
    --CTBS-InfoTableActiveBgRgb: 13, 126, 164;
    --CTBS-InfoTableBorderColor: #074459;
    --CTBS-InfoTableBorderColorRgb: 7, 68, 89;
    --CTBS-InfoTableHoverBg: #0d7ea4;
    --CTBS-InfoTableHoverBgRgb: 13, 126, 164;
    --CTBS-InfoTableStripedBg: #0f90bc;
    --CTBS-InfoTableStripedBgRgb: 15, 144, 188;
    --CTBS-InfoTextEmphasis: #074c63;
    --CTBS-InfoTextEmphasisRgb: 7, 76, 99;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBorderColor: #f9c23c;
    --CTBS-LightBtnActiveBorderColorRgb: 249, 194, 60;
    --CTBS-LightBtnFocusShadowRgb: 251, 210, 110;
    --CTBS-LightBtnHoverBg: #f9c23c;
    --CTBS-LightBtnHoverBgRgb: 249, 194, 60;
    --CTBS-LightRgb: 251, 210, 110;
    --CTBS-LightTableActiveBg: #f9c23c;
    --CTBS-LightTableActiveBgRgb: 249, 194, 60;
    --CTBS-LightTableBorderColor: #543c02;
    --CTBS-LightTableBorderColorRgb: 84, 60, 2;
    --CTBS-LightTableHoverBg: #f9c23c;
    --CTBS-LightTableHoverBgRgb: 249, 194, 60;
    --CTBS-LightTableStripedBg: #faca55;
    --CTBS-LightTableStripedBgRgb: 250, 202, 85;
    --CTBS-LinkHoverColor: #f18b11;
    --CTBS-LinkHoverColorRgb: 241, 139, 17;
    --CTBS-ModalBgRgb: 251, 210, 110;
    --CTBS-Orange: #f4b33d;
    --CTBS-OrangeRgb: 244, 179, 61;
    --CTBS-Pink: #d41172;
    --CTBS-PinkRgb: 212, 17, 114;
    --CTBS-PrimaryBgSubtle: #ffffff;
    --CTBS-PrimaryBgSubtleRgb: 255, 255, 255;
    --CTBS-PrimaryBorderSubtle: #fce9d2;
    --CTBS-PrimaryBorderSubtleRgb: 252, 233, 210;
    --CTBS-PrimaryBtnActiveBorderColor: #f18b11;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 241, 139, 17;
    --CTBS-PrimaryBtnFocusShadowRgb: 244, 163, 66;
    --CTBS-PrimaryBtnHoverBg: #f18b11;
    --CTBS-PrimaryBtnHoverBgRgb: 241, 139, 17;
    --CTBS-PrimaryRgb: 244, 163, 66;
    --CTBS-PrimaryTableActiveBg: #f18b11;
    --CTBS-PrimaryTableActiveBgRgb: 241, 139, 17;
    --CTBS-PrimaryTableBorderColor: #603705;
    --CTBS-PrimaryTableBorderColorRgb: 96, 55, 5;
    --CTBS-PrimaryTableHoverBg: #f18b11;
    --CTBS-PrimaryTableHoverBgRgb: 241, 139, 17;
    --CTBS-PrimaryTableStripedBg: #f29729;
    --CTBS-PrimaryTableStripedBgRgb: 242, 151, 41;
    --CTBS-PrimaryTextEmphasis: #824a07;
    --CTBS-PrimaryTextEmphasisRgb: 130, 74, 7;
    --CTBS-Purple: #9911d4;
    --CTBS-PurpleRgb: 153, 17, 212;
    --CTBS-Red: #d41111;
    --CTBS-RedRgb: 212, 17, 17;
    --CTBS-SecondaryBgRgb: 251, 210, 110;
    --CTBS-SecondaryBgSubtle: #ffffff;
    --CTBS-SecondaryBgSubtleRgb: 255, 255, 255;
    --CTBS-SecondaryBorderSubtle: #ffffff;
    --CTBS-SecondaryBorderSubtleRgb: 255, 255, 255;
    --CTBS-SecondaryBtnActiveBorderColor: #f9c23c;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 249, 194, 60;
    --CTBS-SecondaryBtnFocusShadowRgb: 251, 210, 110;
    --CTBS-SecondaryBtnHoverBg: #f9c23c;
    --CTBS-SecondaryBtnHoverBgRgb: 249, 194, 60;
    --CTBS-SecondaryBtnHoverBorderColor: #f9c23c;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 249, 194, 60;
    --CTBS-SecondaryColor: #543c02;
    --CTBS-SecondaryColorRgb: 84, 60, 2;
    --CTBS-SecondaryRgb: 251, 210, 110;
    --CTBS-SecondaryTableActiveBg: #f9c23c;
    --CTBS-SecondaryTableActiveBgRgb: 249, 194, 60;
    --CTBS-SecondaryTableBorderColor: #543c02;
    --CTBS-SecondaryTableBorderColorRgb: 84, 60, 2;
    --CTBS-SecondaryTableHoverBg: #f9c23c;
    --CTBS-SecondaryTableHoverBgRgb: 249, 194, 60;
    --CTBS-SecondaryTableStripedBg: #faca55;
    --CTBS-SecondaryTableStripedBgRgb: 250, 202, 85;
    --CTBS-SecondaryTextEmphasis: #725103;
    --CTBS-SecondaryTextEmphasisRgb: 114, 81, 3;
    --CTBS-SuccessBgSubtle: #b7f9b7;
    --CTBS-SuccessBgSubtleRgb: 183, 249, 183;
    --CTBS-SuccessBorderSubtle: #88f588;
    --CTBS-SuccessBorderSubtleRgb: 136, 245, 136;
    --CTBS-SuccessBtnActiveBorderColor: #0da40d;
    --CTBS-SuccessBtnActiveBorderColorRgb: 13, 164, 13;
    --CTBS-SuccessBtnFocusShadowRgb: 17, 212, 17;
    --CTBS-SuccessBtnHoverBg: #0da40d;
    --CTBS-SuccessBtnHoverBgRgb: 13, 164, 13;
    --CTBS-SuccessBtnHoverBorderColor: #0da40d;
    --CTBS-SuccessBtnHoverBorderColorRgb: 13, 164, 13;
    --CTBS-SuccessRgb: 17, 212, 17;
    --CTBS-SuccessTableActiveBg: #0da40d;
    --CTBS-SuccessTableActiveBgRgb: 13, 164, 13;
    --CTBS-SuccessTableBorderColor: #064b06;
    --CTBS-SuccessTableBorderColorRgb: 6, 75, 6;
    --CTBS-SuccessTableHoverBg: #0da40d;
    --CTBS-SuccessTableHoverBgRgb: 13, 164, 13;
    --CTBS-SuccessTableStripedBg: #0fbc0f;
    --CTBS-SuccessTableStripedBgRgb: 15, 188, 15;
    --CTBS-SuccessTextEmphasis: #065406;
    --CTBS-SuccessTextEmphasisRgb: 6, 84, 6;
    --CTBS-Teal: #11d493;
    --CTBS-TealRgb: 17, 212, 147;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #f9e8b7;
    --CTBS-WarningBgSubtleRgb: 249, 232, 183;
    --CTBS-WarningBorderSubtle: #f5da88;
    --CTBS-WarningBorderSubtleRgb: 245, 218, 136;
    --CTBS-WarningBtnActiveBg: #a47e0d;
    --CTBS-WarningBtnActiveBgRgb: 164, 126, 13;
    --CTBS-WarningBtnFocusShadowRgb: 212, 163, 17;
    --CTBS-WarningBtnHoverBg: #a47e0d;
    --CTBS-WarningBtnHoverBgRgb: 164, 126, 13;
    --CTBS-WarningBtnHoverBorderColor: #a47e0d;
    --CTBS-WarningBtnHoverBorderColorRgb: 164, 126, 13;
    --CTBS-WarningRgb: 212, 163, 17;
    --CTBS-WarningTableActiveBg: #a47e0d;
    --CTBS-WarningTableActiveBgRgb: 164, 126, 13;
    --CTBS-WarningTableBorderColor: #503d06;
    --CTBS-WarningTableBorderColorRgb: 80, 61, 6;
    --CTBS-WarningTableHoverBg: #a47e0d;
    --CTBS-WarningTableHoverBgRgb: 164, 126, 13;
    --CTBS-WarningTableStripedBg: #bc900f;
    --CTBS-WarningTableStripedBgRgb: 188, 144, 15;
    --CTBS-WarningTextEmphasis: #5e4807;
    --CTBS-WarningTextEmphasisRgb: 94, 72, 7;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #d4a311;
    --CTBS-YellowRgb: 212, 163, 17;
}