/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 254, 247, 230;
    --CTBS-BackdropBg: #fef7e6;
    --CTBS-BackdropBgRgb: 254, 247, 230;
    --CTBS-BackgroundColor: #6b4d04;
    --CTBS-BackgroundColorRgb: 107, 77, 4;
    --CTBS-BackgroundColor-1: #6b4d04;
    --CTBS-BackgroundColor-1Rgb: 107, 77, 4;
    --CTBS-BackgroundColor-2: #6b4d04;
    --CTBS-BackgroundColor-2Rgb: 107, 77, 4;
    --CTBS-BackgroundImage: #fef7e6;
    --CTBS-BackgroundImageRgb: 254, 247, 230;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #784907;
    --CTBS-BlueRgb: 120, 73, 7;
    --CTBS-BodyBg: #fef7e6;
    --CTBS-BodyBgRgb: 254, 247, 230;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #6b4d04;
    --CTBS-BorderColorRgb: 107, 77, 4;
    --CTBS-BorderColor-1: #6b4d04;
    --CTBS-BorderColor-1Rgb: 107, 77, 4;
    --CTBS-BorderColorTranslucent: #6b4d04;
    --CTBS-BorderColorTranslucentRgb: 107, 77, 4;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 254, 247, 230;
    --CTBS-CardCapBgRgb: 254, 247, 230;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #fbdf9c;
    --CTBS-CarouselIndicatorActiveBgRgb: 251, 223, 156;
    --CTBS-CarouselIndicatorActiveBg-1: #fbdf9c;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 251, 223, 156;
    --CTBS-CloseBtnCloseColor: #515151;
    --CTBS-CloseBtnCloseColorRgb: 81, 81, 81;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #095a76;
    --CTBS-CyanRgb: 9, 90, 118;
    --CTBS-Danger: #a90d0d;
    --CTBS-DangerRgb: 169, 13, 13;
    --CTBS-DangerBgSubtle: #f9baba;
    --CTBS-DangerBgSubtleRgb: 249, 186, 186;
    --CTBS-DangerBorderSubtle: #f25c5c;
    --CTBS-DangerBorderSubtleRgb: 242, 92, 92;
    --CTBS-DangerBtnActiveBg: #610707;
    --CTBS-DangerBtnActiveBgRgb: 97, 7, 7;
    --CTBS-DangerBtnActiveBorderColor: #790909;
    --CTBS-DangerBtnActiveBorderColorRgb: 121, 9, 9;
    --CTBS-DangerBtnActiveColor: #790909;
    --CTBS-DangerBtnActiveColorRgb: 121, 9, 9;
    --CTBS-DangerBtnActiveShadow: #790909;
    --CTBS-DangerBtnActiveShadowRgb: 121, 9, 9;
    --CTBS-DangerBtnBg: #a90d0d;
    --CTBS-DangerBtnBgRgb: 169, 13, 13;
    --CTBS-DangerBtnBorderColor: #fef5f5;
    --CTBS-DangerBtnBorderColorRgb: 254, 245, 245;
    --CTBS-DangerBtnColor: #fef5f5;
    --CTBS-DangerBtnColorRgb: 254, 245, 245;
    --CTBS-DangerBtnDisabledBg: #a90d0d;
    --CTBS-DangerBtnDisabledBgRgb: 169, 13, 13;
    --CTBS-DangerBtnDisabledBorderColor: #fef5f5;
    --CTBS-DangerBtnDisabledBorderColorRgb: 254, 245, 245;
    --CTBS-DangerBtnDisabledColor: #fef5f5;
    --CTBS-DangerBtnDisabledColorRgb: 254, 245, 245;
    --CTBS-DangerBtnFocusShadowRgb: 169, 13, 13;
    --CTBS-DangerBtnHoverBg: #610707;
    --CTBS-DangerBtnHoverBgRgb: 97, 7, 7;
    --CTBS-DangerBtnHoverBorderColor: #790909;
    --CTBS-DangerBtnHoverBorderColorRgb: 121, 9, 9;
    --CTBS-DangerBtnHoverColor: #790909;
    --CTBS-DangerBtnHoverColorRgb: 121, 9, 9;
    --CTBS-DangerTableActiveBg: #f9baba;
    --CTBS-DangerTableActiveBgRgb: 249, 186, 186;
    --CTBS-DangerTableActiveColor: #790909;
    --CTBS-DangerTableActiveColorRgb: 121, 9, 9;
    --CTBS-DangerTableBg: #f9baba;
    --CTBS-DangerTableBgRgb: 249, 186, 186;
    --CTBS-DangerTableBorderColor: #a90d0d;
    --CTBS-DangerTableBorderColorRgb: 169, 13, 13;
    --CTBS-DangerTableColor: #a90d0d;
    --CTBS-DangerTableColorRgb: 169, 13, 13;
    --CTBS-DangerTableHoverBg: #f9baba;
    --CTBS-DangerTableHoverBgRgb: 249, 186, 186;
    --CTBS-DangerTableHoverColor: #790909;
    --CTBS-DangerTableHoverColorRgb: 121, 9, 9;
    --CTBS-DangerTableStripedBg: #f9baba;
    --CTBS-DangerTableStripedBgRgb: 249, 186, 186;
    --CTBS-DangerTableStripedColor: #910b0b;
    --CTBS-DangerTableStripedColorRgb: 145, 11, 11;
    --CTBS-DangerTextEmphasis: #420505;
    --CTBS-DangerTextEmphasisRgb: 66, 5, 5;
    --CTBS-Dark: #1c1208;
    --CTBS-DarkRgb: 28, 18, 8;
    --CTBS-DarkBgSubtle: #ce9153;
    --CTBS-DarkBgSubtleRgb: 206, 145, 83;
    --CTBS-DarkBorderSubtle: #935e29;
    --CTBS-DarkBorderSubtleRgb: 147, 94, 41;
    --CTBS-DarkBtnActiveBg: #000000;
    --CTBS-DarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveBorderColor: #000000;
    --CTBS-DarkBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveColor: #000000;
    --CTBS-DarkBtnActiveColorRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveShadow: #000000;
    --CTBS-DarkBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-DarkBtnBg: #1c1208;
    --CTBS-DarkBtnBgRgb: 28, 18, 8;
    --CTBS-DarkBtnBorderColor: #1c1208;
    --CTBS-DarkBtnBorderColorRgb: 28, 18, 8;
    --CTBS-DarkBtnColor: #1c1208;
    --CTBS-DarkBtnColorRgb: 28, 18, 8;
    --CTBS-DarkBtnDisabledBg: #1c1208;
    --CTBS-DarkBtnDisabledBgRgb: 28, 18, 8;
    --CTBS-DarkBtnDisabledBorderColor: #1c1208;
    --CTBS-DarkBtnDisabledBorderColorRgb: 28, 18, 8;
    --CTBS-DarkBtnDisabledColor: #1c1208;
    --CTBS-DarkBtnDisabledColorRgb: 28, 18, 8;
    --CTBS-DarkBtnFocusShadowRgb: 28, 18, 8;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverBorderColor: #000000;
    --CTBS-DarkBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverColor: #000000;
    --CTBS-DarkBtnHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarActiveColor: #000000;
    --CTBS-DarkNavbarActiveColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarBrandColor: #1c1208;
    --CTBS-DarkNavbarBrandColorRgb: 28, 18, 8;
    --CTBS-DarkNavbarBrandHoverColor: #000000;
    --CTBS-DarkNavbarBrandHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarColor: #1c1208;
    --CTBS-DarkNavbarColorRgb: 28, 18, 8;
    --CTBS-DarkNavbarDisabledColor: #1c1208;
    --CTBS-DarkNavbarDisabledColorRgb: 28, 18, 8;
    --CTBS-DarkNavbarHoverColor: #000000;
    --CTBS-DarkNavbarHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarTogglerBorderColor: #1c1208;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 28, 18, 8;
    --CTBS-DarkTableActiveBg: #000000;
    --CTBS-DarkTableActiveBgRgb: 0, 0, 0;
    --CTBS-DarkTableActiveColor: #000000;
    --CTBS-DarkTableActiveColorRgb: 0, 0, 0;
    --CTBS-DarkTableBg: #1c1208;
    --CTBS-DarkTableBgRgb: 28, 18, 8;
    --CTBS-DarkTableBorderColor: #1c1208;
    --CTBS-DarkTableBorderColorRgb: 28, 18, 8;
    --CTBS-DarkTableColor: #1c1208;
    --CTBS-DarkTableColorRgb: 28, 18, 8;
    --CTBS-DarkTableHoverBg: #000000;
    --CTBS-DarkTableHoverBgRgb: 0, 0, 0;
    --CTBS-DarkTableHoverColor: #000000;
    --CTBS-DarkTableHoverColorRgb: 0, 0, 0;
    --CTBS-DarkTableStripedBg: #080502;
    --CTBS-DarkTableStripedBgRgb: 8, 5, 2;
    --CTBS-DarkTableStripedColor: #080502;
    --CTBS-DarkTableStripedColorRgb: 8, 5, 2;
    --CTBS-DarkTextEmphasis: #000000;
    --CTBS-DarkTextEmphasisRgb: 0, 0, 0;
    --CTBS-DarkThemeBodyBg: #1c1208;
    --CTBS-DarkThemeBodyBgRgb: 28, 18, 8;
    --CTBS-DarkThemeBodyColor: #fef7e6;
    --CTBS-DarkThemeBodyColorRgb: 254, 247, 230;
    --CTBS-DarkThemeBorderColor: #fbdf9c;
    --CTBS-DarkThemeBorderColorRgb: 251, 223, 156;
    --CTBS-DarkThemeBorderColorTranslucent: #fbdf9c;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 251, 223, 156;
    --CTBS-DarkThemeCarouselCaptionColor: #fef7e6;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 254, 247, 230;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #573818;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 87, 56, 24;
    --CTBS-DarkThemeCodeColor: #fef7e6;
    --CTBS-DarkThemeCodeColorRgb: 254, 247, 230;
    --CTBS-DarkThemeDangerBgSubtle: #000000;
    --CTBS-DarkThemeDangerBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDangerBorderSubtle: #1a0202;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 26, 2, 2;
    --CTBS-DarkThemeDangerTextEmphasis: #f47f7f;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 244, 127, 127;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDarkBorderSubtle: #000000;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDarkTextEmphasis: #d0965c;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 208, 150, 92;
    --CTBS-DarkThemeEmphasisColor: #a3a3a3;
    --CTBS-DarkThemeEmphasisColorRgb: 163, 163, 163;
    --CTBS-DarkThemeFormInvalidBorderColor: #fbdf9c;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 251, 223, 156;
    --CTBS-DarkThemeFormInvalidColor: #a3a3a3;
    --CTBS-DarkThemeFormInvalidColorRgb: 163, 163, 163;
    --CTBS-DarkThemeFormValidBorderColor: #fbdf9c;
    --CTBS-DarkThemeFormValidBorderColorRgb: 251, 223, 156;
    --CTBS-DarkThemeFormValidColor: #a3a3a3;
    --CTBS-DarkThemeFormValidColorRgb: 163, 163, 163;
    --CTBS-DarkThemeHighlightBg: #1c1208;
    --CTBS-DarkThemeHighlightBgRgb: 28, 18, 8;
    --CTBS-DarkThemeHighlightColor: #fef7e6;
    --CTBS-DarkThemeHighlightColorRgb: 254, 247, 230;
    --CTBS-DarkThemeInfoBgSubtle: #000000;
    --CTBS-DarkThemeInfoBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBorderSubtle: #000000;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoTextEmphasis: #11ade3;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 17, 173, 227;
    --CTBS-DarkThemeLightBgSubtle: #db9d08;
    --CTBS-DarkThemeLightBgSubtleRgb: 219, 157, 8;
    --CTBS-DarkThemeLightBorderSubtle: #f8c752;
    --CTBS-DarkThemeLightBorderSubtleRgb: 248, 199, 82;
    --CTBS-DarkThemeLightTextEmphasis: #d49706;
    --CTBS-DarkThemeLightTextEmphasisRgb: 212, 151, 6;
    --CTBS-DarkThemeLinkColor: #e78c0d;
    --CTBS-DarkThemeLinkColorRgb: 231, 140, 13;
    --CTBS-DarkThemeLinkHoverColor: #e88d0c;
    --CTBS-DarkThemeLinkHoverColorRgb: 232, 141, 12;
    --CTBS-DarkThemePrimaryBgSubtle: #000000;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemePrimaryBorderSubtle: #000000;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemePrimaryTextEmphasis: #e78c0c;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 231, 140, 12;
    --CTBS-DarkThemeSecondaryBg: #d5935c;
    --CTBS-DarkThemeSecondaryBgRgb: 213, 147, 92;
    --CTBS-DarkThemeSecondaryBgSubtle: #000000;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryBorderSubtle: #000000;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryColor: #d5935c;
    --CTBS-DarkThemeSecondaryColorRgb: 213, 147, 92;
    --CTBS-DarkThemeSecondaryTextEmphasis: #d5935c;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 213, 147, 92;
    --CTBS-DarkThemeSuccessBgSubtle: #000000;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSuccessBorderSubtle: #000000;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSuccessTextEmphasis: #0ebd0e;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 14, 189, 14;
    --CTBS-DarkThemeTertiaryBg: #1c1208;
    --CTBS-DarkThemeTertiaryBgRgb: 28, 18, 8;
    --CTBS-DarkThemeTertiaryColor: #fef7e6;
    --CTBS-DarkThemeTertiaryColorRgb: 254, 247, 230;
    --CTBS-DarkThemeWarningBgSubtle: #000000;
    --CTBS-DarkThemeWarningBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningBorderSubtle: #000000;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningTextEmphasis: #cc9c0f;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 204, 156, 15;
    --CTBS-DropdownBg: #fef7e6;
    --CTBS-DropdownBgRgb: 254, 247, 230;
    --CTBS-DropdownColor: #79481f;
    --CTBS-DropdownColorRgb: 121, 72, 31;
    --CTBS-DropdownHeaderColor: #79481f;
    --CTBS-DropdownHeaderColorRgb: 121, 72, 31;
    --CTBS-DropdownHeaderColor-1: #79481f;
    --CTBS-DropdownHeaderColor-1Rgb: 121, 72, 31;
    --CTBS-DropdownLinkActiveBg: #2f1d02;
    --CTBS-DropdownLinkActiveBgRgb: 47, 29, 2;
    --CTBS-DropdownLinkActiveColor: #472b04;
    --CTBS-DropdownLinkActiveColorRgb: 71, 43, 4;
    --CTBS-DropdownLinkColor: #784907;
    --CTBS-DropdownLinkColorRgb: 120, 73, 7;
    --CTBS-DropdownLinkDisabledColor: #784907;
    --CTBS-DropdownLinkDisabledColorRgb: 120, 73, 7;
    --CTBS-DropdownLinkHoverBg: #2f1d02;
    --CTBS-DropdownLinkHoverBgRgb: 47, 29, 2;
    --CTBS-DropdownLinkHoverColor: #472b04;
    --CTBS-DropdownLinkHoverColorRgb: 71, 43, 4;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #515151;
    --CTBS-FormCheckInputBackgroundColorRgb: 81, 81, 81;
    --CTBS-FormCheckInputBorderColor: #6b4d04;
    --CTBS-FormCheckInputBorderColorRgb: 107, 77, 4;
    --CTBS-FormCheckInputBorderColor-1: #6b4d04;
    --CTBS-FormCheckInputBorderColor-1Rgb: 107, 77, 4;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #6b4d04;
    --CTBS-FormControlBorderColorRgb: 107, 77, 4;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #515151;
    --CTBS-FormControlColorRgb: 81, 81, 81;
    --CTBS-FormInvalidBorderColor: #6b4d04;
    --CTBS-FormInvalidBorderColorRgb: 107, 77, 4;
    --CTBS-FormInvalidColor: #515151;
    --CTBS-FormInvalidColorRgb: 81, 81, 81;
    --CTBS-FormValidBorderColor: #6b4d04;
    --CTBS-FormValidBorderColorRgb: 107, 77, 4;
    --CTBS-FormValidColor: #515151;
    --CTBS-FormValidColorRgb: 81, 81, 81;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #4e545a;
    --CTBS-GrayRgb: 78, 84, 90;
    --CTBS-Gray100: #b5babe;
    --CTBS-Gray100Rgb: 181, 186, 190;
    --CTBS-Gray200: #99a0a7;
    --CTBS-Gray200Rgb: 153, 160, 167;
    --CTBS-Gray300: #7e868f;
    --CTBS-Gray300Rgb: 126, 134, 143;
    --CTBS-Gray400: #656d75;
    --CTBS-Gray400Rgb: 101, 109, 117;
    --CTBS-Gray500: #4e545a;
    --CTBS-Gray500Rgb: 78, 84, 90;
    --CTBS-Gray600: #363a3e;
    --CTBS-Gray600Rgb: 54, 58, 62;
    --CTBS-Gray700: #1e2123;
    --CTBS-Gray700Rgb: 30, 33, 35;
    --CTBS-Gray800: #060708;
    --CTBS-Gray800Rgb: 6, 7, 8;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #1c1208;
    --CTBS-GrayDarkRgb: 28, 18, 8;
    --CTBS-Green: #075e07;
    --CTBS-GreenRgb: 7, 94, 7;
    --CTBS-HighlightBg: #fef7e6;
    --CTBS-HighlightBgRgb: 254, 247, 230;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #5f11d4;
    --CTBS-IndigoRgb: 95, 17, 212;
    --CTBS-Info: #095a76;
    --CTBS-InfoRgb: 9, 90, 118;
    --CTBS-InfoBgSubtle: #87d9f5;
    --CTBS-InfoBgSubtleRgb: 135, 217, 245;
    --CTBS-InfoBorderSubtle: #29bbee;
    --CTBS-InfoBorderSubtleRgb: 41, 187, 238;
    --CTBS-InfoBtnActiveBg: #03232e;
    --CTBS-InfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-InfoBtnActiveBorderColor: #053546;
    --CTBS-InfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveColor: #053546;
    --CTBS-InfoBtnActiveColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveShadow: #053546;
    --CTBS-InfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-InfoBtnBg: #095a76;
    --CTBS-InfoBtnBgRgb: 9, 90, 118;
    --CTBS-InfoBtnBorderColor: #ecf9fd;
    --CTBS-InfoBtnBorderColorRgb: 236, 249, 253;
    --CTBS-InfoBtnColor: #ecf9fd;
    --CTBS-InfoBtnColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledBg: #095a76;
    --CTBS-InfoBtnDisabledBgRgb: 9, 90, 118;
    --CTBS-InfoBtnDisabledBorderColor: #ecf9fd;
    --CTBS-InfoBtnDisabledBorderColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledColor: #ecf9fd;
    --CTBS-InfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-InfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-InfoBtnHoverBg: #03232e;
    --CTBS-InfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-InfoBtnHoverBorderColor: #053546;
    --CTBS-InfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnHoverColor: #053546;
    --CTBS-InfoBtnHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableActiveBg: #87d9f5;
    --CTBS-InfoTableActiveBgRgb: 135, 217, 245;
    --CTBS-InfoTableActiveColor: #053546;
    --CTBS-InfoTableActiveColorRgb: 5, 53, 70;
    --CTBS-InfoTableBg: #87d9f5;
    --CTBS-InfoTableBgRgb: 135, 217, 245;
    --CTBS-InfoTableBorderColor: #095a76;
    --CTBS-InfoTableBorderColorRgb: 9, 90, 118;
    --CTBS-InfoTableColor: #095a76;
    --CTBS-InfoTableColorRgb: 9, 90, 118;
    --CTBS-InfoTableHoverBg: #87d9f5;
    --CTBS-InfoTableHoverBgRgb: 135, 217, 245;
    --CTBS-InfoTableHoverColor: #053546;
    --CTBS-InfoTableHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableStripedBg: #87d9f5;
    --CTBS-InfoTableStripedBgRgb: 135, 217, 245;
    --CTBS-InfoTableStripedColor: #07475e;
    --CTBS-InfoTableStripedColorRgb: 7, 71, 94;
    --CTBS-InfoTextEmphasis: #053242;
    --CTBS-InfoTextEmphasisRgb: 5, 50, 66;
    --CTBS-Light: #fef7e6;
    --CTBS-LightRgb: 254, 247, 230;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBorderSubtle: #ffffff;
    --CTBS-LightBorderSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBg: #fbdf9c;
    --CTBS-LightBtnActiveBgRgb: 251, 223, 156;
    --CTBS-LightBtnActiveBorderColor: #6b4d04;
    --CTBS-LightBtnActiveBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnActiveColor: #6b4d04;
    --CTBS-LightBtnActiveColorRgb: 107, 77, 4;
    --CTBS-LightBtnActiveShadow: #6b4d04;
    --CTBS-LightBtnActiveShadowRgb: 107, 77, 4;
    --CTBS-LightBtnBg: #fef7e6;
    --CTBS-LightBtnBgRgb: 254, 247, 230;
    --CTBS-LightBtnBorderColor: #6b4d04;
    --CTBS-LightBtnBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnColor: #6b4d04;
    --CTBS-LightBtnColorRgb: 107, 77, 4;
    --CTBS-LightBtnDisabledBg: #fef7e6;
    --CTBS-LightBtnDisabledBgRgb: 254, 247, 230;
    --CTBS-LightBtnDisabledBorderColor: #6b4d04;
    --CTBS-LightBtnDisabledBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnDisabledColor: #6b4d04;
    --CTBS-LightBtnDisabledColorRgb: 107, 77, 4;
    --CTBS-LightBtnFocusShadowRgb: 254, 247, 230;
    --CTBS-LightBtnHoverBg: #fbdf9c;
    --CTBS-LightBtnHoverBgRgb: 251, 223, 156;
    --CTBS-LightBtnHoverBorderColor: #6b4d04;
    --CTBS-LightBtnHoverBorderColorRgb: 107, 77, 4;
    --CTBS-LightBtnHoverColor: #6b4d04;
    --CTBS-LightBtnHoverColorRgb: 107, 77, 4;
    --CTBS-LightTableActiveBg: #fbdf9c;
    --CTBS-LightTableActiveBgRgb: 251, 223, 156;
    --CTBS-LightTableActiveColor: #6b4d04;
    --CTBS-LightTableActiveColorRgb: 107, 77, 4;
    --CTBS-LightTableBg: #fef7e6;
    --CTBS-LightTableBgRgb: 254, 247, 230;
    --CTBS-LightTableBorderColor: #6b4d04;
    --CTBS-LightTableBorderColorRgb: 107, 77, 4;
    --CTBS-LightTableColor: #6b4d04;
    --CTBS-LightTableColorRgb: 107, 77, 4;
    --CTBS-LightTableHoverBg: #fbdf9c;
    --CTBS-LightTableHoverBgRgb: 251, 223, 156;
    --CTBS-LightTableHoverColor: #6b4d04;
    --CTBS-LightTableHoverColorRgb: 107, 77, 4;
    --CTBS-LightTableStripedBg: #fdefcd;
    --CTBS-LightTableStripedBgRgb: 253, 239, 205;
    --CTBS-LightTableStripedColor: #fdefcd;
    --CTBS-LightTableStripedColorRgb: 253, 239, 205;
    --CTBS-LightTextEmphasis: #6c4e03;
    --CTBS-LightTextEmphasisRgb: 108, 78, 3;
    --CTBS-LinkBtnBoxShadow: #784907;
    --CTBS-LinkBtnBoxShadowRgb: 120, 73, 7;
    --CTBS-LinkBtnDisabledColor: #fdf6eb;
    --CTBS-LinkBtnDisabledColorRgb: 253, 246, 235;
    --CTBS-LinkBtnFocusShadowRgb: 120, 73, 7;
    --CTBS-LinkColor: #784907;
    --CTBS-LinkColorRgb: 120, 73, 7;
    --CTBS-LinkHoverColor: #472b04;
    --CTBS-LinkHoverColorRgb: 71, 43, 4;
    --CTBS-LinkNavBoxShadow: #784907;
    --CTBS-LinkNavBoxShadowRgb: 120, 73, 7;
    --CTBS-ListGroupActionActiveBgRgb: 251, 223, 156;
    --CTBS-ListGroupActionHoverBgRgb: 251, 223, 156;
    --CTBS-ListGroupActiveBg: #fbdf9c;
    --CTBS-ListGroupActiveBgRgb: 251, 223, 156;
    --CTBS-ListGroupActiveBorderColor: #6b4d04;
    --CTBS-ListGroupActiveBorderColorRgb: 107, 77, 4;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 254, 247, 230;
    --CTBS-ListGroupDisabledBgRgb: 254, 247, 230;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 254, 247, 230;
    --CTBS-OffcanvasBgRgb: 254, 247, 230;
    --CTBS-Orange: #6f4906;
    --CTBS-OrangeRgb: 111, 73, 6;
    --CTBS-OutlineDangerBtnActiveBg: #610707;
    --CTBS-OutlineDangerBtnActiveBgRgb: 97, 7, 7;
    --CTBS-OutlineDangerBtnActiveBorderColor: #790909;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 121, 9, 9;
    --CTBS-OutlineDangerBtnActiveColor: #790909;
    --CTBS-OutlineDangerBtnActiveColorRgb: 121, 9, 9;
    --CTBS-OutlineDangerBtnActiveShadow: #790909;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 121, 9, 9;
    --CTBS-OutlineDangerBtnBorderColor: #fef5f5;
    --CTBS-OutlineDangerBtnBorderColorRgb: 254, 245, 245;
    --CTBS-OutlineDangerBtnColor: #fef5f5;
    --CTBS-OutlineDangerBtnColorRgb: 254, 245, 245;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #fef5f5;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 254, 245, 245;
    --CTBS-OutlineDangerBtnDisabledColor: #fef5f5;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 254, 245, 245;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 169, 13, 13;
    --CTBS-OutlineDangerBtnHoverBg: #610707;
    --CTBS-OutlineDangerBtnHoverBgRgb: 97, 7, 7;
    --CTBS-OutlineDangerBtnHoverBorderColor: #790909;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 121, 9, 9;
    --CTBS-OutlineDangerBtnHoverColor: #790909;
    --CTBS-OutlineDangerBtnHoverColorRgb: 121, 9, 9;
    --CTBS-OutlineDarkBtnActiveBg: #000000;
    --CTBS-OutlineDarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveBorderColor: #000000;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveColor: #000000;
    --CTBS-OutlineDarkBtnActiveColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveShadow: #000000;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnBorderColor: #1c1208;
    --CTBS-OutlineDarkBtnBorderColorRgb: 28, 18, 8;
    --CTBS-OutlineDarkBtnColor: #1c1208;
    --CTBS-OutlineDarkBtnColorRgb: 28, 18, 8;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #1c1208;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 28, 18, 8;
    --CTBS-OutlineDarkBtnDisabledColor: #1c1208;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 28, 18, 8;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 28, 18, 8;
    --CTBS-OutlineDarkBtnHoverBg: #000000;
    --CTBS-OutlineDarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverBorderColor: #000000;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverColor: #000000;
    --CTBS-OutlineDarkBtnHoverColorRgb: 0, 0, 0;
    --CTBS-OutlineInfoBtnActiveBg: #03232e;
    --CTBS-OutlineInfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnActiveBorderColor: #053546;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnActiveColor: #053546;
    --CTBS-OutlineInfoBtnActiveColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnActiveShadow: #053546;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnBorderColor: #ecf9fd;
    --CTBS-OutlineInfoBtnBorderColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnColor: #ecf9fd;
    --CTBS-OutlineInfoBtnColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #ecf9fd;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnDisabledColor: #ecf9fd;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnHoverBg: #03232e;
    --CTBS-OutlineInfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnHoverBorderColor: #053546;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnHoverColor: #053546;
    --CTBS-OutlineInfoBtnHoverColorRgb: 5, 53, 70;
    --CTBS-OutlineLightBtnActiveBg: #fbdf9c;
    --CTBS-OutlineLightBtnActiveBgRgb: 251, 223, 156;
    --CTBS-OutlineLightBtnActiveBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnActiveColor: #6b4d04;
    --CTBS-OutlineLightBtnActiveColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnActiveShadow: #6b4d04;
    --CTBS-OutlineLightBtnActiveShadowRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnColor: #6b4d04;
    --CTBS-OutlineLightBtnColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnDisabledBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnDisabledColor: #6b4d04;
    --CTBS-OutlineLightBtnDisabledColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnFocusShadowRgb: 254, 247, 230;
    --CTBS-OutlineLightBtnHoverBg: #fbdf9c;
    --CTBS-OutlineLightBtnHoverBgRgb: 251, 223, 156;
    --CTBS-OutlineLightBtnHoverBorderColor: #6b4d04;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 107, 77, 4;
    --CTBS-OutlineLightBtnHoverColor: #6b4d04;
    --CTBS-OutlineLightBtnHoverColorRgb: 107, 77, 4;
    --CTBS-OutlinePrimaryBtnActiveBg: #2f1d02;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 47, 29, 2;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #472b04;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 71, 43, 4;
    --CTBS-OutlinePrimaryBtnActiveColor: #472b04;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 71, 43, 4;
    --CTBS-OutlinePrimaryBtnActiveShadow: #472b04;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 71, 43, 4;
    --CTBS-OutlinePrimaryBtnBorderColor: #fdf6eb;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 253, 246, 235;
    --CTBS-OutlinePrimaryBtnColor: #fdf6eb;
    --CTBS-OutlinePrimaryBtnColorRgb: 253, 246, 235;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #fdf6eb;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 253, 246, 235;
    --CTBS-OutlinePrimaryBtnDisabledColor: #fdf6eb;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 253, 246, 235;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 120, 73, 7;
    --CTBS-OutlinePrimaryBtnHoverBg: #2f1d02;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 47, 29, 2;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #472b04;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 71, 43, 4;
    --CTBS-OutlinePrimaryBtnHoverColor: #472b04;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 71, 43, 4;
    --CTBS-OutlineSecondaryBtnActiveBg: #3c230f;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 60, 35, 15;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #502f14;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 80, 47, 20;
    --CTBS-OutlineSecondaryBtnActiveColor: #502f14;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 80, 47, 20;
    --CTBS-OutlineSecondaryBtnActiveShadow: #502f14;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 80, 47, 20;
    --CTBS-OutlineSecondaryBtnBorderColor: #fcf9f6;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 252, 249, 246;
    --CTBS-OutlineSecondaryBtnColor: #fcf9f6;
    --CTBS-OutlineSecondaryBtnColorRgb: 252, 249, 246;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #fcf9f6;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 252, 249, 246;
    --CTBS-OutlineSecondaryBtnDisabledColor: #fcf9f6;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 252, 249, 246;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 121, 72, 31;
    --CTBS-OutlineSecondaryBtnHoverBg: #3c230f;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 60, 35, 15;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #502f14;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 80, 47, 20;
    --CTBS-OutlineSecondaryBtnHoverColor: #502f14;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 80, 47, 20;
    --CTBS-OutlineSuccessBtnActiveBg: #011601;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 1, 22, 1;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #032e03;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 3, 46, 3;
    --CTBS-OutlineSuccessBtnActiveColor: #032e03;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 3, 46, 3;
    --CTBS-OutlineSuccessBtnActiveShadow: #032e03;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 3, 46, 3;
    --CTBS-OutlineSuccessBtnBorderColor: #d9fcd9;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 217, 252, 217;
    --CTBS-OutlineSuccessBtnColor: #d9fcd9;
    --CTBS-OutlineSuccessBtnColorRgb: 217, 252, 217;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #d9fcd9;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 217, 252, 217;
    --CTBS-OutlineSuccessBtnDisabledColor: #d9fcd9;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 217, 252, 217;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 7, 94, 7;
    --CTBS-OutlineSuccessBtnHoverBg: #011601;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 1, 22, 1;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #032e03;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 3, 46, 3;
    --CTBS-OutlineSuccessBtnHoverColor: #032e03;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 3, 46, 3;
    --CTBS-OutlineWarningBtnActiveBg: #201802;
    --CTBS-OutlineWarningBtnActiveBgRgb: 32, 24, 2;
    --CTBS-OutlineWarningBtnActiveBorderColor: #372a04;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 55, 42, 4;
    --CTBS-OutlineWarningBtnActiveColor: #372a04;
    --CTBS-OutlineWarningBtnActiveColorRgb: 55, 42, 4;
    --CTBS-OutlineWarningBtnActiveShadow: #372a04;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 55, 42, 4;
    --CTBS-OutlineWarningBtnBorderColor: #fcf6e2;
    --CTBS-OutlineWarningBtnBorderColorRgb: 252, 246, 226;
    --CTBS-OutlineWarningBtnColor: #fcf6e2;
    --CTBS-OutlineWarningBtnColorRgb: 252, 246, 226;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #fcf6e2;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 252, 246, 226;
    --CTBS-OutlineWarningBtnDisabledColor: #fcf6e2;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 252, 246, 226;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 103, 79, 8;
    --CTBS-OutlineWarningBtnHoverBg: #201802;
    --CTBS-OutlineWarningBtnHoverBgRgb: 32, 24, 2;
    --CTBS-OutlineWarningBtnHoverBorderColor: #372a04;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 55, 42, 4;
    --CTBS-OutlineWarningBtnHoverColor: #372a04;
    --CTBS-OutlineWarningBtnHoverColorRgb: 55, 42, 4;
    --CTBS-PaginationActiveBg: #fbdf9c;
    --CTBS-PaginationActiveBgRgb: 251, 223, 156;
    --CTBS-PaginationActiveBorderColor: #6b4d04;
    --CTBS-PaginationActiveBorderColorRgb: 107, 77, 4;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #2f1d02;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 47, 29, 2;
    --CTBS-PillsNavPillsLinkActiveColor: #472b04;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 71, 43, 4;
    --CTBS-Pink: #a00c56;
    --CTBS-PinkRgb: 160, 12, 86;
    --CTBS-Primary: #784907;
    --CTBS-PrimaryRgb: 120, 73, 7;
    --CTBS-PrimaryBgSubtle: #f7c785;
    --CTBS-PrimaryBgSubtleRgb: 247, 199, 133;
    --CTBS-PrimaryBorderSubtle: #f29d25;
    --CTBS-PrimaryBorderSubtleRgb: 242, 157, 37;
    --CTBS-PrimaryBtnActiveBg: #2f1d02;
    --CTBS-PrimaryBtnActiveBgRgb: 47, 29, 2;
    --CTBS-PrimaryBtnActiveBorderColor: #472b04;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 71, 43, 4;
    --CTBS-PrimaryBtnActiveColor: #472b04;
    --CTBS-PrimaryBtnActiveColorRgb: 71, 43, 4;
    --CTBS-PrimaryBtnActiveShadow: #472b04;
    --CTBS-PrimaryBtnActiveShadowRgb: 71, 43, 4;
    --CTBS-PrimaryBtnBg: #784907;
    --CTBS-PrimaryBtnBgRgb: 120, 73, 7;
    --CTBS-PrimaryBtnBorderColor: #fdf6eb;
    --CTBS-PrimaryBtnBorderColorRgb: 253, 246, 235;
    --CTBS-PrimaryBtnColor: #fdf6eb;
    --CTBS-PrimaryBtnColorRgb: 253, 246, 235;
    --CTBS-PrimaryBtnDisabledBg: #784907;
    --CTBS-PrimaryBtnDisabledBgRgb: 120, 73, 7;
    --CTBS-PrimaryBtnDisabledBorderColor: #fdf6eb;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 253, 246, 235;
    --CTBS-PrimaryBtnDisabledColor: #fdf6eb;
    --CTBS-PrimaryBtnDisabledColorRgb: 253, 246, 235;
    --CTBS-PrimaryBtnFocusShadowRgb: 120, 73, 7;
    --CTBS-PrimaryBtnHoverBg: #2f1d02;
    --CTBS-PrimaryBtnHoverBgRgb: 47, 29, 2;
    --CTBS-PrimaryBtnHoverBorderColor: #472b04;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 71, 43, 4;
    --CTBS-PrimaryBtnHoverColor: #472b04;
    --CTBS-PrimaryBtnHoverColorRgb: 71, 43, 4;
    --CTBS-PrimaryTableActiveBg: #f7c785;
    --CTBS-PrimaryTableActiveBgRgb: 247, 199, 133;
    --CTBS-PrimaryTableActiveColor: #472b04;
    --CTBS-PrimaryTableActiveColorRgb: 71, 43, 4;
    --CTBS-PrimaryTableBg: #f7c785;
    --CTBS-PrimaryTableBgRgb: 247, 199, 133;
    --CTBS-PrimaryTableBorderColor: #784907;
    --CTBS-PrimaryTableBorderColorRgb: 120, 73, 7;
    --CTBS-PrimaryTableColor: #784907;
    --CTBS-PrimaryTableColorRgb: 120, 73, 7;
    --CTBS-PrimaryTableHoverBg: #f7c785;
    --CTBS-PrimaryTableHoverBgRgb: 247, 199, 133;
    --CTBS-PrimaryTableHoverColor: #472b04;
    --CTBS-PrimaryTableHoverColorRgb: 71, 43, 4;
    --CTBS-PrimaryTableStripedBg: #f7c785;
    --CTBS-PrimaryTableStripedBgRgb: 247, 199, 133;
    --CTBS-PrimaryTableStripedColor: #5f3a05;
    --CTBS-PrimaryTableStripedColorRgb: 95, 58, 5;
    --CTBS-PrimaryTextEmphasis: #432903;
    --CTBS-PrimaryTextEmphasisRgb: 67, 41, 3;
    --CTBS-ProgressBarBg: #fef7e6;
    --CTBS-ProgressBarBgRgb: 254, 247, 230;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #840eb8;
    --CTBS-PurpleRgb: 132, 14, 184;
    --CTBS-Red: #a90d0d;
    --CTBS-RedRgb: 169, 13, 13;
    --CTBS-Secondary: #79481f;
    --CTBS-SecondaryRgb: 121, 72, 31;
    --CTBS-SecondaryBg: #79481f;
    --CTBS-SecondaryBgRgb: 121, 72, 31;
    --CTBS-SecondaryBgSubtle: #e9c7ac;
    --CTBS-SecondaryBgSubtleRgb: 233, 199, 172;
    --CTBS-SecondaryBorderSubtle: #d5935b;
    --CTBS-SecondaryBorderSubtleRgb: 213, 147, 91;
    --CTBS-SecondaryBtnActiveBg: #3c230f;
    --CTBS-SecondaryBtnActiveBgRgb: 60, 35, 15;
    --CTBS-SecondaryBtnActiveBorderColor: #502f14;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 80, 47, 20;
    --CTBS-SecondaryBtnActiveColor: #502f14;
    --CTBS-SecondaryBtnActiveColorRgb: 80, 47, 20;
    --CTBS-SecondaryBtnActiveShadow: #502f14;
    --CTBS-SecondaryBtnActiveShadowRgb: 80, 47, 20;
    --CTBS-SecondaryBtnBg: #79481f;
    --CTBS-SecondaryBtnBgRgb: 121, 72, 31;
    --CTBS-SecondaryBtnBorderColor: #fcf9f6;
    --CTBS-SecondaryBtnBorderColorRgb: 252, 249, 246;
    --CTBS-SecondaryBtnColor: #fcf9f6;
    --CTBS-SecondaryBtnColorRgb: 252, 249, 246;
    --CTBS-SecondaryBtnDisabledBg: #79481f;
    --CTBS-SecondaryBtnDisabledBgRgb: 121, 72, 31;
    --CTBS-SecondaryBtnDisabledBorderColor: #fcf9f6;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 252, 249, 246;
    --CTBS-SecondaryBtnDisabledColor: #fcf9f6;
    --CTBS-SecondaryBtnDisabledColorRgb: 252, 249, 246;
    --CTBS-SecondaryBtnFocusShadowRgb: 121, 72, 31;
    --CTBS-SecondaryBtnHoverBg: #3c230f;
    --CTBS-SecondaryBtnHoverBgRgb: 60, 35, 15;
    --CTBS-SecondaryBtnHoverBorderColor: #502f14;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 80, 47, 20;
    --CTBS-SecondaryBtnHoverColor: #502f14;
    --CTBS-SecondaryBtnHoverColorRgb: 80, 47, 20;
    --CTBS-SecondaryColor: #79481f;
    --CTBS-SecondaryColorRgb: 121, 72, 31;
    --CTBS-SecondaryTableActiveBg: #e9c7ac;
    --CTBS-SecondaryTableActiveBgRgb: 233, 199, 172;
    --CTBS-SecondaryTableActiveColor: #502f14;
    --CTBS-SecondaryTableActiveColorRgb: 80, 47, 20;
    --CTBS-SecondaryTableBg: #e9c7ac;
    --CTBS-SecondaryTableBgRgb: 233, 199, 172;
    --CTBS-SecondaryTableBorderColor: #79481f;
    --CTBS-SecondaryTableBorderColorRgb: 121, 72, 31;
    --CTBS-SecondaryTableColor: #79481f;
    --CTBS-SecondaryTableColorRgb: 121, 72, 31;
    --CTBS-SecondaryTableHoverBg: #e9c7ac;
    --CTBS-SecondaryTableHoverBgRgb: 233, 199, 172;
    --CTBS-SecondaryTableHoverColor: #502f14;
    --CTBS-SecondaryTableHoverColorRgb: 80, 47, 20;
    --CTBS-SecondaryTableStripedBg: #e9c7ac;
    --CTBS-SecondaryTableStripedBgRgb: 233, 199, 172;
    --CTBS-SecondaryTableStripedColor: #643b19;
    --CTBS-SecondaryTableStripedColorRgb: 100, 59, 25;
    --CTBS-SecondaryTextEmphasis: #3c240f;
    --CTBS-SecondaryTextEmphasisRgb: 60, 36, 15;
    --CTBS-Success: #075e07;
    --CTBS-SuccessRgb: 7, 94, 7;
    --CTBS-SuccessBgSubtle: #6ff36f;
    --CTBS-SuccessBgSubtleRgb: 111, 243, 111;
    --CTBS-SuccessBorderSubtle: #11ec11;
    --CTBS-SuccessBorderSubtleRgb: 17, 236, 17;
    --CTBS-SuccessBtnActiveBg: #011601;
    --CTBS-SuccessBtnActiveBgRgb: 1, 22, 1;
    --CTBS-SuccessBtnActiveBorderColor: #032e03;
    --CTBS-SuccessBtnActiveBorderColorRgb: 3, 46, 3;
    --CTBS-SuccessBtnActiveColor: #032e03;
    --CTBS-SuccessBtnActiveColorRgb: 3, 46, 3;
    --CTBS-SuccessBtnActiveShadow: #032e03;
    --CTBS-SuccessBtnActiveShadowRgb: 3, 46, 3;
    --CTBS-SuccessBtnBg: #075e07;
    --CTBS-SuccessBtnBgRgb: 7, 94, 7;
    --CTBS-SuccessBtnBorderColor: #d9fcd9;
    --CTBS-SuccessBtnBorderColorRgb: 217, 252, 217;
    --CTBS-SuccessBtnColor: #d9fcd9;
    --CTBS-SuccessBtnColorRgb: 217, 252, 217;
    --CTBS-SuccessBtnDisabledBg: #075e07;
    --CTBS-SuccessBtnDisabledBgRgb: 7, 94, 7;
    --CTBS-SuccessBtnDisabledBorderColor: #d9fcd9;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 217, 252, 217;
    --CTBS-SuccessBtnDisabledColor: #d9fcd9;
    --CTBS-SuccessBtnDisabledColorRgb: 217, 252, 217;
    --CTBS-SuccessBtnFocusShadowRgb: 7, 94, 7;
    --CTBS-SuccessBtnHoverBg: #011601;
    --CTBS-SuccessBtnHoverBgRgb: 1, 22, 1;
    --CTBS-SuccessBtnHoverBorderColor: #032e03;
    --CTBS-SuccessBtnHoverBorderColorRgb: 3, 46, 3;
    --CTBS-SuccessBtnHoverColor: #032e03;
    --CTBS-SuccessBtnHoverColorRgb: 3, 46, 3;
    --CTBS-SuccessTableActiveBg: #6ff36f;
    --CTBS-SuccessTableActiveBgRgb: 111, 243, 111;
    --CTBS-SuccessTableActiveColor: #032e03;
    --CTBS-SuccessTableActiveColorRgb: 3, 46, 3;
    --CTBS-SuccessTableBg: #6ff36f;
    --CTBS-SuccessTableBgRgb: 111, 243, 111;
    --CTBS-SuccessTableBorderColor: #075e07;
    --CTBS-SuccessTableBorderColorRgb: 7, 94, 7;
    --CTBS-SuccessTableColor: #075e07;
    --CTBS-SuccessTableColorRgb: 7, 94, 7;
    --CTBS-SuccessTableHoverBg: #6ff36f;
    --CTBS-SuccessTableHoverBgRgb: 111, 243, 111;
    --CTBS-SuccessTableHoverColor: #032e03;
    --CTBS-SuccessTableHoverColorRgb: 3, 46, 3;
    --CTBS-SuccessTableStripedBg: #6ff36f;
    --CTBS-SuccessTableStripedBgRgb: 111, 243, 111;
    --CTBS-SuccessTableStripedColor: #054605;
    --CTBS-SuccessTableStripedColorRgb: 5, 70, 5;
    --CTBS-SuccessTextEmphasis: #054705;
    --CTBS-SuccessTextEmphasisRgb: 5, 71, 5;
    --CTBS-Teal: #075e41;
    --CTBS-TealRgb: 7, 94, 65;
    --CTBS-TertiaryBg: #fef7e6;
    --CTBS-TertiaryBgRgb: 254, 247, 230;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 254, 247, 230;
    --CTBS-ToastHeaderBgRgb: 254, 247, 230;
    --CTBS-Warning: #674f08;
    --CTBS-WarningRgb: 103, 79, 8;
    --CTBS-WarningBgSubtle: #f3d479;
    --CTBS-WarningBgSubtleRgb: 243, 212, 121;
    --CTBS-WarningBorderSubtle: #edb81a;
    --CTBS-WarningBorderSubtleRgb: 237, 184, 26;
    --CTBS-WarningBtnActiveBg: #201802;
    --CTBS-WarningBtnActiveBgRgb: 32, 24, 2;
    --CTBS-WarningBtnActiveBorderColor: #372a04;
    --CTBS-WarningBtnActiveBorderColorRgb: 55, 42, 4;
    --CTBS-WarningBtnActiveColor: #372a04;
    --CTBS-WarningBtnActiveColorRgb: 55, 42, 4;
    --CTBS-WarningBtnActiveShadow: #372a04;
    --CTBS-WarningBtnActiveShadowRgb: 55, 42, 4;
    --CTBS-WarningBtnBg: #674f08;
    --CTBS-WarningBtnBgRgb: 103, 79, 8;
    --CTBS-WarningBtnBorderColor: #fcf6e2;
    --CTBS-WarningBtnBorderColorRgb: 252, 246, 226;
    --CTBS-WarningBtnColor: #fcf6e2;
    --CTBS-WarningBtnColorRgb: 252, 246, 226;
    --CTBS-WarningBtnDisabledBg: #674f08;
    --CTBS-WarningBtnDisabledBgRgb: 103, 79, 8;
    --CTBS-WarningBtnDisabledBorderColor: #fcf6e2;
    --CTBS-WarningBtnDisabledBorderColorRgb: 252, 246, 226;
    --CTBS-WarningBtnDisabledColor: #fcf6e2;
    --CTBS-WarningBtnDisabledColorRgb: 252, 246, 226;
    --CTBS-WarningBtnFocusShadowRgb: 103, 79, 8;
    --CTBS-WarningBtnHoverBg: #201802;
    --CTBS-WarningBtnHoverBgRgb: 32, 24, 2;
    --CTBS-WarningBtnHoverBorderColor: #372a04;
    --CTBS-WarningBtnHoverBorderColorRgb: 55, 42, 4;
    --CTBS-WarningBtnHoverColor: #372a04;
    --CTBS-WarningBtnHoverColorRgb: 55, 42, 4;
    --CTBS-WarningTableActiveBg: #f3d479;
    --CTBS-WarningTableActiveBgRgb: 243, 212, 121;
    --CTBS-WarningTableActiveColor: #372a04;
    --CTBS-WarningTableActiveColorRgb: 55, 42, 4;
    --CTBS-WarningTableBg: #f3d479;
    --CTBS-WarningTableBgRgb: 243, 212, 121;
    --CTBS-WarningTableBorderColor: #674f08;
    --CTBS-WarningTableBorderColorRgb: 103, 79, 8;
    --CTBS-WarningTableColor: #674f08;
    --CTBS-WarningTableColorRgb: 103, 79, 8;
    --CTBS-WarningTableHoverBg: #f3d479;
    --CTBS-WarningTableHoverBgRgb: 243, 212, 121;
    --CTBS-WarningTableHoverColor: #372a04;
    --CTBS-WarningTableHoverColorRgb: 55, 42, 4;
    --CTBS-WarningTableStripedBg: #f3d479;
    --CTBS-WarningTableStripedBgRgb: 243, 212, 121;
    --CTBS-WarningTableStripedColor: #4f3c06;
    --CTBS-WarningTableStripedColorRgb: 79, 60, 6;
    --CTBS-WarningTextEmphasis: #463605;
    --CTBS-WarningTextEmphasisRgb: 70, 54, 5;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #674f08;
    --CTBS-YellowRgb: 103, 79, 8;
}