/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AlertBgRgb: 251, 210, 110;
    --CTBS-BackgroundColor: #543c02;
    --CTBS-BackgroundColorRgb: 84, 60, 2;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #5b3705;
    --CTBS-BlueRgb: 91, 55, 5;
    --CTBS-BodyBgRgb: 251, 210, 110;
    --CTBS-CardBgRgb: 251, 210, 110;
    --CTBS-Cyan: #074459;
    --CTBS-CyanRgb: 7, 68, 89;
    --CTBS-DangerBgSubtle: #f9b7b7;
    --CTBS-DangerBgSubtleRgb: 249, 183, 183;
    --CTBS-DangerBorderSubtle: #f58888;
    --CTBS-DangerBorderSubtleRgb: 245, 136, 136;
    --CTBS-DangerBtnActiveBorderColor: #a40d0d;
    --CTBS-DangerBtnActiveBorderColorRgb: 164, 13, 13;
    --CTBS-DangerBtnFocusShadowRgb: 132, 10, 10;
    --CTBS-DangerBtnHoverBg: #a40d0d;
    --CTBS-DangerBtnHoverBgRgb: 164, 13, 13;
    --CTBS-DangerBtnHoverBorderColor: #a40d0d;
    --CTBS-DangerBtnHoverBorderColorRgb: 164, 13, 13;
    --CTBS-DangerRgb: 132, 10, 10;
    --CTBS-DangerTableActiveBg: #a40d0d;
    --CTBS-DangerTableActiveBgRgb: 164, 13, 13;
    --CTBS-DangerTableBorderColor: #840a0a;
    --CTBS-DangerTableBorderColorRgb: 132, 10, 10;
    --CTBS-DangerTableHoverBg: #a40d0d;
    --CTBS-DangerTableHoverBgRgb: 164, 13, 13;
    --CTBS-DangerTableStripedBg: #bc0f0f;
    --CTBS-DangerTableStripedBgRgb: 188, 15, 15;
    --CTBS-DangerTextEmphasis: #710909;
    --CTBS-DangerTextEmphasisRgb: 113, 9, 9;
    --CTBS-DarkBtnFocusShadowRgb: 28, 18, 8;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkRgb: 28, 18, 8;
    --CTBS-DarkTableActiveBg: #000000;
    --CTBS-DarkTableActiveBgRgb: 0, 0, 0;
    --CTBS-DarkTableBorderColor: #1c1208;
    --CTBS-DarkTableBorderColorRgb: 28, 18, 8;
    --CTBS-DarkTableHoverBg: #000000;
    --CTBS-DarkTableHoverBgRgb: 0, 0, 0;
    --CTBS-DarkTableStripedBg: #080502;
    --CTBS-DarkTableStripedBgRgb: 8, 5, 2;
    --CTBS-DarkThemeBodyColorRgb: 251, 210, 110;
    --CTBS-DarkThemeCodeColor: #fbd26e;
    --CTBS-DarkThemeCodeColorRgb: 251, 210, 110;
    --CTBS-DarkThemeDangerBgSubtle: #170101;
    --CTBS-DarkThemeDangerBgSubtleRgb: 23, 1, 1;
    --CTBS-DarkThemeDangerBorderSubtle: #460505;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 70, 5, 5;
    --CTBS-DarkThemeDangerTextEmphasis: #f37171;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 243, 113, 113;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #011117;
    --CTBS-DarkThemeInfoBgSubtleRgb: 1, 17, 23;
    --CTBS-DarkThemeInfoBorderSubtle: #053646;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 5, 54, 70;
    --CTBS-DarkThemeInfoTextEmphasis: #11aadd;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 17, 170, 221;
    --CTBS-DarkThemeLinkColorRgb: 244, 173, 73;
    --CTBS-DarkThemeLinkHoverColor: #f6c279;
    --CTBS-DarkThemeLinkHoverColorRgb: 246, 194, 121;
    --CTBS-DarkThemePrimaryBgSubtle: #6a4006;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 106, 64, 6;
    --CTBS-DarkThemePrimaryBorderSubtle: #9a5e09;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 154, 94, 9;
    --CTBS-DarkThemePrimaryTextEmphasis: #fbe2c0;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 251, 226, 192;
    --CTBS-DarkThemeSecondaryBgRgb: 165, 99, 43;
    --CTBS-DarkThemeSecondaryBgSubtle: #030100;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 3, 1, 0;
    --CTBS-DarkThemeSecondaryBorderSubtle: #2b1a0b;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 43, 26, 11;
    --CTBS-DarkThemeSecondaryColor: #d4945d;
    --CTBS-DarkThemeSecondaryColorRgb: 212, 148, 93;
    --CTBS-DarkThemeSecondaryTextEmphasis: #d0894c;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 208, 137, 76;
    --CTBS-DarkThemeSuccessBgSubtle: #011701;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 1, 23, 1;
    --CTBS-DarkThemeSuccessBorderSubtle: #054605;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 5, 70, 5;
    --CTBS-DarkThemeSuccessTextEmphasis: #11d411;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 17, 212, 17;
    --CTBS-DarkThemeTertiaryBg: #1c1208;
    --CTBS-DarkThemeTertiaryBgRgb: 28, 18, 8;
    --CTBS-DarkThemeTertiaryColor: #fbd26e;
    --CTBS-DarkThemeTertiaryColorRgb: 251, 210, 110;
    --CTBS-DarkThemeWarningBgSubtle: #171101;
    --CTBS-DarkThemeWarningBgSubtleRgb: 23, 17, 1;
    --CTBS-DarkThemeWarningBorderSubtle: #463605;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 70, 54, 5;
    --CTBS-DarkThemeWarningTextEmphasis: #d4a311;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 212, 163, 17;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #543c02;
    --CTBS-FormControlBorderColorRgb: 84, 60, 2;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #1c1208;
    --CTBS-GrayDarkRgb: 28, 18, 8;
    --CTBS-Green: #064b06;
    --CTBS-GreenRgb: 6, 75, 6;
    --CTBS-Indigo: #4e0eae;
    --CTBS-IndigoRgb: 78, 14, 174;
    --CTBS-InfoBgSubtle: #b7e8f9;
    --CTBS-InfoBgSubtleRgb: 183, 232, 249;
    --CTBS-InfoBorderSubtle: #88daf5;
    --CTBS-InfoBorderSubtleRgb: 136, 218, 245;
    --CTBS-InfoBtnActiveBg: #0d7ea4;
    --CTBS-InfoBtnActiveBgRgb: 13, 126, 164;
    --CTBS-InfoBtnFocusShadowRgb: 7, 68, 89;
    --CTBS-InfoBtnHoverBg: #0d7ea4;
    --CTBS-InfoBtnHoverBgRgb: 13, 126, 164;
    --CTBS-InfoBtnHoverBorderColor: #0d7ea4;
    --CTBS-InfoBtnHoverBorderColorRgb: 13, 126, 164;
    --CTBS-InfoRgb: 7, 68, 89;
    --CTBS-InfoTableActiveBg: #0d7ea4;
    --CTBS-InfoTableActiveBgRgb: 13, 126, 164;
    --CTBS-InfoTableBorderColor: #074459;
    --CTBS-InfoTableBorderColorRgb: 7, 68, 89;
    --CTBS-InfoTableHoverBg: #0d7ea4;
    --CTBS-InfoTableHoverBgRgb: 13, 126, 164;
    --CTBS-InfoTableStripedBg: #0f90bc;
    --CTBS-InfoTableStripedBgRgb: 15, 144, 188;
    --CTBS-InfoTextEmphasis: #074c63;
    --CTBS-InfoTextEmphasisRgb: 7, 76, 99;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBorderColor: #f9c23c;
    --CTBS-LightBtnActiveBorderColorRgb: 249, 194, 60;
    --CTBS-LightBtnFocusShadowRgb: 251, 210, 110;
    --CTBS-LightBtnHoverBg: #f9c23c;
    --CTBS-LightBtnHoverBgRgb: 249, 194, 60;
    --CTBS-LightRgb: 251, 210, 110;
    --CTBS-LightTableActiveBg: #f9c23c;
    --CTBS-LightTableActiveBgRgb: 249, 194, 60;
    --CTBS-LightTableBorderColor: #543c02;
    --CTBS-LightTableBorderColorRgb: 84, 60, 2;
    --CTBS-LightTableHoverBg: #f9c23c;
    --CTBS-LightTableHoverBgRgb: 249, 194, 60;
    --CTBS-LightTableStripedBg: #faca55;
    --CTBS-LightTableStripedBgRgb: 250, 202, 85;
    --CTBS-LinkHoverColor: #f19718;
    --CTBS-LinkHoverColorRgb: 241, 151, 24;
    --CTBS-ModalBgRgb: 251, 210, 110;
    --CTBS-Orange: #563904;
    --CTBS-OrangeRgb: 86, 57, 4;
    --CTBS-Pink: #7f0a44;
    --CTBS-PinkRgb: 127, 10, 68;
    --CTBS-PrimaryBgSubtle: #ffffff;
    --CTBS-PrimaryBgSubtleRgb: 255, 255, 255;
    --CTBS-PrimaryBorderSubtle: #fceed9;
    --CTBS-PrimaryBorderSubtleRgb: 252, 238, 217;
    --CTBS-PrimaryBtnActiveBorderColor: #f19718;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 241, 151, 24;
    --CTBS-PrimaryBtnFocusShadowRgb: 91, 55, 5;
    --CTBS-PrimaryBtnHoverBg: #f19718;
    --CTBS-PrimaryBtnHoverBgRgb: 241, 151, 24;
    --CTBS-PrimaryRgb: 91, 55, 5;
    --CTBS-PrimaryTableActiveBg: #f19718;
    --CTBS-PrimaryTableActiveBgRgb: 241, 151, 24;
    --CTBS-PrimaryTableBorderColor: #5b3705;
    --CTBS-PrimaryTableBorderColorRgb: 91, 55, 5;
    --CTBS-PrimaryTableHoverBg: #f19718;
    --CTBS-PrimaryTableHoverBgRgb: 241, 151, 24;
    --CTBS-PrimaryTableStripedBg: #f2a230;
    --CTBS-PrimaryTableStripedBgRgb: 242, 162, 48;
    --CTBS-PrimaryTextEmphasis: #7d4c07;
    --CTBS-PrimaryTextEmphasisRgb: 125, 76, 7;
    --CTBS-Purple: #660b8d;
    --CTBS-PurpleRgb: 102, 11, 141;
    --CTBS-Red: #840a0a;
    --CTBS-RedRgb: 132, 10, 10;
    --CTBS-SecondaryBgRgb: 165, 99, 43;
    --CTBS-SecondaryBgSubtle: #eacbb1;
    --CTBS-SecondaryBgSubtleRgb: 234, 203, 177;
    --CTBS-SecondaryBorderSubtle: #e0b088;
    --CTBS-SecondaryBorderSubtleRgb: 224, 176, 136;
    --CTBS-SecondaryBtnActiveBorderColor: #7c4a20;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 124, 74, 32;
    --CTBS-SecondaryBtnFocusShadowRgb: 93, 55, 24;
    --CTBS-SecondaryBtnHoverBg: #7c4a20;
    --CTBS-SecondaryBtnHoverBgRgb: 124, 74, 32;
    --CTBS-SecondaryBtnHoverBorderColor: #7c4a20;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 124, 74, 32;
    --CTBS-SecondaryColor: #5d3718;
    --CTBS-SecondaryColorRgb: 93, 55, 24;
    --CTBS-SecondaryRgb: 93, 55, 24;
    --CTBS-SecondaryTableActiveBg: #7c4a20;
    --CTBS-SecondaryTableActiveBgRgb: 124, 74, 32;
    --CTBS-SecondaryTableBorderColor: #5d3718;
    --CTBS-SecondaryTableBorderColorRgb: 93, 55, 24;
    --CTBS-SecondaryTableHoverBg: #7c4a20;
    --CTBS-SecondaryTableHoverBgRgb: 124, 74, 32;
    --CTBS-SecondaryTableStripedBg: #905625;
    --CTBS-SecondaryTableStripedBgRgb: 144, 86, 37;
    --CTBS-SecondaryTextEmphasis: #543216;
    --CTBS-SecondaryTextEmphasisRgb: 84, 50, 22;
    --CTBS-SuccessBgSubtle: #b7f9b7;
    --CTBS-SuccessBgSubtleRgb: 183, 249, 183;
    --CTBS-SuccessBorderSubtle: #88f588;
    --CTBS-SuccessBorderSubtleRgb: 136, 245, 136;
    --CTBS-SuccessBtnActiveBorderColor: #0da40d;
    --CTBS-SuccessBtnActiveBorderColorRgb: 13, 164, 13;
    --CTBS-SuccessBtnFocusShadowRgb: 6, 75, 6;
    --CTBS-SuccessBtnHoverBg: #0da40d;
    --CTBS-SuccessBtnHoverBgRgb: 13, 164, 13;
    --CTBS-SuccessBtnHoverBorderColor: #0da40d;
    --CTBS-SuccessBtnHoverBorderColorRgb: 13, 164, 13;
    --CTBS-SuccessRgb: 6, 75, 6;
    --CTBS-SuccessTableActiveBg: #0da40d;
    --CTBS-SuccessTableActiveBgRgb: 13, 164, 13;
    --CTBS-SuccessTableBorderColor: #064b06;
    --CTBS-SuccessTableBorderColorRgb: 6, 75, 6;
    --CTBS-SuccessTableHoverBg: #0da40d;
    --CTBS-SuccessTableHoverBgRgb: 13, 164, 13;
    --CTBS-SuccessTableStripedBg: #0fbc0f;
    --CTBS-SuccessTableStripedBgRgb: 15, 188, 15;
    --CTBS-SuccessTextEmphasis: #065406;
    --CTBS-SuccessTextEmphasisRgb: 6, 84, 6;
    --CTBS-Teal: #054631;
    --CTBS-TealRgb: 5, 70, 49;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #f9e8b7;
    --CTBS-WarningBgSubtleRgb: 249, 232, 183;
    --CTBS-WarningBorderSubtle: #f5da88;
    --CTBS-WarningBorderSubtleRgb: 245, 218, 136;
    --CTBS-WarningBtnActiveBg: #a47e0d;
    --CTBS-WarningBtnActiveBgRgb: 164, 126, 13;
    --CTBS-WarningBtnFocusShadowRgb: 80, 61, 6;
    --CTBS-WarningBtnHoverBg: #a47e0d;
    --CTBS-WarningBtnHoverBgRgb: 164, 126, 13;
    --CTBS-WarningBtnHoverBorderColor: #a47e0d;
    --CTBS-WarningBtnHoverBorderColorRgb: 164, 126, 13;
    --CTBS-WarningRgb: 80, 61, 6;
    --CTBS-WarningTableActiveBg: #a47e0d;
    --CTBS-WarningTableActiveBgRgb: 164, 126, 13;
    --CTBS-WarningTableBorderColor: #503d06;
    --CTBS-WarningTableBorderColorRgb: 80, 61, 6;
    --CTBS-WarningTableHoverBg: #a47e0d;
    --CTBS-WarningTableHoverBgRgb: 164, 126, 13;
    --CTBS-WarningTableStripedBg: #bc900f;
    --CTBS-WarningTableStripedBgRgb: 188, 144, 15;
    --CTBS-WarningTextEmphasis: #5e4807;
    --CTBS-WarningTextEmphasisRgb: 94, 72, 7;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #503d06;
    --CTBS-YellowRgb: 80, 61, 6;
}