/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 256, 252, 244;
    --CTBS-BackdropBg: #100fcf4;
    --CTBS-BackdropBgRgb: 256, 252, 244;
    --CTBS-BackgroundColor: #754a-a;
    --CTBS-BackgroundColorRgb: 117, 74, -10;
    --CTBS-BackgroundColor-1: #754a-a;
    --CTBS-BackgroundColor-1Rgb: 117, 74, -10;
    --CTBS-BackgroundColor-2: #754a-a;
    --CTBS-BackgroundColor-2Rgb: 117, 74, -10;
    --CTBS-BackgroundImage: #100fcf4;
    --CTBS-BackgroundImageRgb: 256, 252, 244;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #4f33d5;
    --CTBS-BlueRgb: 79, 51, 213;
    --CTBS-BodyBg: #100fcf4;
    --CTBS-BodyBgRgb: 256, 252, 244;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #744b-9;
    --CTBS-BorderColorRgb: 116, 75, -9;
    --CTBS-BorderColor-1: #744b-9;
    --CTBS-BorderColor-1Rgb: 116, 75, -9;
    --CTBS-BorderColorTranslucent: #744b-9;
    --CTBS-BorderColorTranslucentRgb: 116, 75, -9;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 256, 252, 244;
    --CTBS-CardCapBgRgb: 256, 252, 244;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #107e59f;
    --CTBS-CarouselIndicatorActiveBgRgb: 263, 229, 159;
    --CTBS-CarouselIndicatorActiveBg-1: #107e59f;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 263, 229, 159;
    --CTBS-CloseBtnCloseColor: #565656;
    --CTBS-CloseBtnCloseColorRgb: 86, 86, 86;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #095a76;
    --CTBS-CyanRgb: 9, 90, 118;
    --CTBS-Danger: #8e3d3d;
    --CTBS-DangerRgb: 142, 61, 61;
    --CTBS-DangerBgSubtle: #f5e9e9;
    --CTBS-DangerBgSubtleRgb: 245, 233, 233;
    --CTBS-DangerBorderSubtle: #e8c9c9;
    --CTBS-DangerBorderSubtleRgb: 232, 201, 201;
    --CTBS-DangerBtnActiveBg: #582626;
    --CTBS-DangerBtnActiveBgRgb: 88, 38, 38;
    --CTBS-DangerBtnActiveBorderColor: #6a2d2d;
    --CTBS-DangerBtnActiveBorderColorRgb: 106, 45, 45;
    --CTBS-DangerBtnActiveColor: #6a2d2d;
    --CTBS-DangerBtnActiveColorRgb: 106, 45, 45;
    --CTBS-DangerBtnActiveShadow: #6a2d2d;
    --CTBS-DangerBtnActiveShadowRgb: 106, 45, 45;
    --CTBS-DangerBtnBg: #8e3d3d;
    --CTBS-DangerBtnBgRgb: 142, 61, 61;
    --CTBS-DangerBtnBorderColor: #ffffff;
    --CTBS-DangerBtnBorderColorRgb: 255, 255, 255;
    --CTBS-DangerBtnColor: #ffffff;
    --CTBS-DangerBtnColorRgb: 255, 255, 255;
    --CTBS-DangerBtnDisabledBg: #8e3d3d;
    --CTBS-DangerBtnDisabledBgRgb: 142, 61, 61;
    --CTBS-DangerBtnDisabledBorderColor: #ffffff;
    --CTBS-DangerBtnDisabledBorderColorRgb: 255, 255, 255;
    --CTBS-DangerBtnDisabledColor: #ffffff;
    --CTBS-DangerBtnDisabledColorRgb: 255, 255, 255;
    --CTBS-DangerBtnFocusShadowRgb: 142, 61, 61;
    --CTBS-DangerBtnHoverBg: #582626;
    --CTBS-DangerBtnHoverBgRgb: 88, 38, 38;
    --CTBS-DangerBtnHoverBorderColor: #6a2d2d;
    --CTBS-DangerBtnHoverBorderColorRgb: 106, 45, 45;
    --CTBS-DangerBtnHoverColor: #6a2d2d;
    --CTBS-DangerBtnHoverColorRgb: 106, 45, 45;
    --CTBS-DangerTableActiveBg: #f5e9e9;
    --CTBS-DangerTableActiveBgRgb: 245, 233, 233;
    --CTBS-DangerTableActiveColor: #6a2d2d;
    --CTBS-DangerTableActiveColorRgb: 106, 45, 45;
    --CTBS-DangerTableBg: #f5e9e9;
    --CTBS-DangerTableBgRgb: 245, 233, 233;
    --CTBS-DangerTableBorderColor: #8e3d3d;
    --CTBS-DangerTableBorderColorRgb: 142, 61, 61;
    --CTBS-DangerTableColor: #8e3d3d;
    --CTBS-DangerTableColorRgb: 142, 61, 61;
    --CTBS-DangerTableHoverBg: #f5e9e9;
    --CTBS-DangerTableHoverBgRgb: 245, 233, 233;
    --CTBS-DangerTableHoverColor: #6a2d2d;
    --CTBS-DangerTableHoverColorRgb: 106, 45, 45;
    --CTBS-DangerTableStripedBg: #f5e9e9;
    --CTBS-DangerTableStripedBgRgb: 245, 233, 233;
    --CTBS-DangerTableStripedColor: #7c3535;
    --CTBS-DangerTableStripedColorRgb: 124, 53, 53;
    --CTBS-DangerTextEmphasis: #7c3535;
    --CTBS-DangerTextEmphasisRgb: 124, 53, 53;
    --CTBS-Dark: #543598;
    --CTBS-DarkRgb: 84, 53, 152;
    --CTBS-DarkBgSubtle: #ece8f7;
    --CTBS-DarkBgSubtleRgb: 236, 232, 247;
    --CTBS-DarkBorderSubtle: #d1c6eb;
    --CTBS-DarkBorderSubtleRgb: 209, 198, 235;
    --CTBS-DarkBtnActiveBg: #34215f;
    --CTBS-DarkBtnActiveBgRgb: 52, 33, 95;
    --CTBS-DarkBtnActiveBorderColor: #3f2772;
    --CTBS-DarkBtnActiveBorderColorRgb: 63, 39, 114;
    --CTBS-DarkBtnActiveColor: #3f2772;
    --CTBS-DarkBtnActiveColorRgb: 63, 39, 114;
    --CTBS-DarkBtnActiveShadow: #3f2772;
    --CTBS-DarkBtnActiveShadowRgb: 63, 39, 114;
    --CTBS-DarkBtnBg: #543598;
    --CTBS-DarkBtnBgRgb: 84, 53, 152;
    --CTBS-DarkBtnBorderColor: #543598;
    --CTBS-DarkBtnBorderColorRgb: 84, 53, 152;
    --CTBS-DarkBtnColor: #543598;
    --CTBS-DarkBtnColorRgb: 84, 53, 152;
    --CTBS-DarkBtnDisabledBg: #543598;
    --CTBS-DarkBtnDisabledBgRgb: 84, 53, 152;
    --CTBS-DarkBtnDisabledBorderColor: #543598;
    --CTBS-DarkBtnDisabledBorderColorRgb: 84, 53, 152;
    --CTBS-DarkBtnDisabledColor: #543598;
    --CTBS-DarkBtnDisabledColorRgb: 84, 53, 152;
    --CTBS-DarkBtnFocusShadowRgb: 84, 53, 152;
    --CTBS-DarkBtnHoverBg: #34215f;
    --CTBS-DarkBtnHoverBgRgb: 52, 33, 95;
    --CTBS-DarkBtnHoverBorderColor: #3f2772;
    --CTBS-DarkBtnHoverBorderColorRgb: 63, 39, 114;
    --CTBS-DarkBtnHoverColor: #3f2772;
    --CTBS-DarkBtnHoverColorRgb: 63, 39, 114;
    --CTBS-DarkNavbarActiveColor: #3f2772;
    --CTBS-DarkNavbarActiveColorRgb: 63, 39, 114;
    --CTBS-DarkNavbarBrandColor: #543598;
    --CTBS-DarkNavbarBrandColorRgb: 84, 53, 152;
    --CTBS-DarkNavbarBrandHoverColor: #3f2772;
    --CTBS-DarkNavbarBrandHoverColorRgb: 63, 39, 114;
    --CTBS-DarkNavbarColor: #543598;
    --CTBS-DarkNavbarColorRgb: 84, 53, 152;
    --CTBS-DarkNavbarDisabledColor: #543598;
    --CTBS-DarkNavbarDisabledColorRgb: 84, 53, 152;
    --CTBS-DarkNavbarHoverColor: #3f2772;
    --CTBS-DarkNavbarHoverColorRgb: 63, 39, 114;
    --CTBS-DarkNavbarTogglerBorderColor: #543598;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 84, 53, 152;
    --CTBS-DarkTableActiveBg: #ece8f7;
    --CTBS-DarkTableActiveBgRgb: 236, 232, 247;
    --CTBS-DarkTableActiveColor: #3f2772;
    --CTBS-DarkTableActiveColorRgb: 63, 39, 114;
    --CTBS-DarkTableBg: #ece8f7;
    --CTBS-DarkTableBgRgb: 236, 232, 247;
    --CTBS-DarkTableBorderColor: #543598;
    --CTBS-DarkTableBorderColorRgb: 84, 53, 152;
    --CTBS-DarkTableColor: #543598;
    --CTBS-DarkTableColorRgb: 84, 53, 152;
    --CTBS-DarkTableHoverBg: #ece8f7;
    --CTBS-DarkTableHoverBgRgb: 236, 232, 247;
    --CTBS-DarkTableHoverColor: #3f2772;
    --CTBS-DarkTableHoverColorRgb: 63, 39, 114;
    --CTBS-DarkTableStripedBg: #ece8f7;
    --CTBS-DarkTableStripedBgRgb: 236, 232, 247;
    --CTBS-DarkTableStripedColor: #492e85;
    --CTBS-DarkTableStripedColorRgb: 73, 46, 133;
    --CTBS-DarkTextEmphasis: #543598;
    --CTBS-DarkTextEmphasisRgb: 84, 53, 152;
    --CTBS-DarkThemeBodyBg: #543598;
    --CTBS-DarkThemeBodyBgRgb: 84, 53, 152;
    --CTBS-DarkThemeBodyColor: #100fcf4;
    --CTBS-DarkThemeBodyColorRgb: 256, 252, 244;
    --CTBS-DarkThemeBorderColor: #107e59f;
    --CTBS-DarkThemeBorderColorRgb: 263, 229, 159;
    --CTBS-DarkThemeBorderColorTranslucent: #107e59f;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 263, 229, 159;
    --CTBS-DarkThemeCarouselCaptionColor: #100fcf4;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 256, 252, 244;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #7855c3;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 120, 85, 195;
    --CTBS-DarkThemeCodeColor: #100fcf4;
    --CTBS-DarkThemeCodeColorRgb: 256, 252, 244;
    --CTBS-DarkThemeDangerBgSubtle: #230f0f;
    --CTBS-DarkThemeDangerBgSubtleRgb: 35, 15, 15;
    --CTBS-DarkThemeDangerBorderSubtle: #592626;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 89, 38, 38;
    --CTBS-DarkThemeDangerTextEmphasis: #f2e2e2;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 242, 226, 226;
    --CTBS-DarkThemeDarkBgSubtle: #140d25;
    --CTBS-DarkThemeDarkBgSubtleRgb: 20, 13, 37;
    --CTBS-DarkThemeDarkBorderSubtle: #34205e;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 52, 32, 94;
    --CTBS-DarkThemeDarkTextEmphasis: #e9e4f5;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 233, 228, 245;
    --CTBS-DarkThemeEmphasisColor: #e5e5e5;
    --CTBS-DarkThemeEmphasisColorRgb: 229, 229, 229;
    --CTBS-DarkThemeFormInvalidBorderColor: #107e59f;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 263, 229, 159;
    --CTBS-DarkThemeFormInvalidColor: #e5e5e5;
    --CTBS-DarkThemeFormInvalidColorRgb: 229, 229, 229;
    --CTBS-DarkThemeFormValidBorderColor: #107e59f;
    --CTBS-DarkThemeFormValidBorderColorRgb: 263, 229, 159;
    --CTBS-DarkThemeFormValidColor: #e5e5e5;
    --CTBS-DarkThemeFormValidColorRgb: 229, 229, 229;
    --CTBS-DarkThemeHighlightBg: #543598;
    --CTBS-DarkThemeHighlightBgRgb: 84, 53, 152;
    --CTBS-DarkThemeHighlightColor: #100fcf4;
    --CTBS-DarkThemeHighlightColorRgb: 256, 252, 244;
    --CTBS-DarkThemeInfoBgSubtle: #03242f;
    --CTBS-DarkThemeInfoBgSubtleRgb: 3, 36, 47;
    --CTBS-DarkThemeInfoBorderSubtle: #095975;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 9, 89, 117;
    --CTBS-DarkThemeInfoTextEmphasis: #c6edfa;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 198, 237, 250;
    --CTBS-DarkThemeLightBgSubtle: #3823-5;
    --CTBS-DarkThemeLightBgSubtleRgb: 56, 35, -5;
    --CTBS-DarkThemeLightBorderSubtle: #8c59-c;
    --CTBS-DarkThemeLightBorderSubtleRgb: 140, 89, -12;
    --CTBS-DarkThemeLightTextEmphasis: #100fcf4;
    --CTBS-DarkThemeLightTextEmphasisRgb: 256, 252, 244;
    --CTBS-DarkThemeLinkColor: #e9e5f9;
    --CTBS-DarkThemeLinkColorRgb: 233, 229, 249;
    --CTBS-DarkThemeLinkHoverColor: #e9e5f9;
    --CTBS-DarkThemeLinkHoverColorRgb: 233, 229, 249;
    --CTBS-DarkThemePrimaryBgSubtle: #0e082a;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 14, 8, 42;
    --CTBS-DarkThemePrimaryBorderSubtle: #241569;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 36, 21, 105;
    --CTBS-DarkThemePrimaryTextEmphasis: #e9e5f9;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 233, 229, 249;
    --CTBS-DarkThemeSecondaryBg: #e4e7d4;
    --CTBS-DarkThemeSecondaryBgRgb: 228, 231, 212;
    --CTBS-DarkThemeSecondaryBgSubtle: #1e2012;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 30, 32, 18;
    --CTBS-DarkThemeSecondaryBorderSubtle: #4c512d;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 76, 81, 45;
    --CTBS-DarkThemeSecondaryColor: #e4e7d4;
    --CTBS-DarkThemeSecondaryColorRgb: 228, 231, 212;
    --CTBS-DarkThemeSecondaryTextEmphasis: #e4e7d4;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 228, 231, 212;
    --CTBS-DarkThemeSuccessBgSubtle: #032f03;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 3, 47, 3;
    --CTBS-DarkThemeSuccessBorderSubtle: #076207;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 7, 98, 7;
    --CTBS-DarkThemeSuccessTextEmphasis: #a8f9a8;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 168, 249, 168;
    --CTBS-DarkThemeTertiaryBg: #543598;
    --CTBS-DarkThemeTertiaryBgRgb: 84, 53, 152;
    --CTBS-DarkThemeTertiaryColor: #100fcf4;
    --CTBS-DarkThemeTertiaryColorRgb: 256, 252, 244;
    --CTBS-DarkThemeWarningBgSubtle: #302602;
    --CTBS-DarkThemeWarningBgSubtleRgb: 48, 38, 2;
    --CTBS-DarkThemeWarningBorderSubtle: #655104;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 101, 81, 4;
    --CTBS-DarkThemeWarningTextEmphasis: #fae698;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 250, 230, 152;
    --CTBS-DropdownBg: #100fcf4;
    --CTBS-DropdownBgRgb: 256, 252, 244;
    --CTBS-DropdownColor: #525831;
    --CTBS-DropdownColorRgb: 82, 88, 49;
    --CTBS-DropdownHeaderColor: #525831;
    --CTBS-DropdownHeaderColorRgb: 82, 88, 49;
    --CTBS-DropdownHeaderColor-1: #525831;
    --CTBS-DropdownHeaderColor-1Rgb: 82, 88, 49;
    --CTBS-DropdownLinkActiveBg: #35209b;
    --CTBS-DropdownLinkActiveBgRgb: 53, 32, 155;
    --CTBS-DropdownLinkActiveColor: #3c24b0;
    --CTBS-DropdownLinkActiveColorRgb: 60, 36, 176;
    --CTBS-DropdownLinkColor: #4f33d5;
    --CTBS-DropdownLinkColorRgb: 79, 51, 213;
    --CTBS-DropdownLinkDisabledColor: #4f33d5;
    --CTBS-DropdownLinkDisabledColorRgb: 79, 51, 213;
    --CTBS-DropdownLinkHoverBg: #35209b;
    --CTBS-DropdownLinkHoverBgRgb: 53, 32, 155;
    --CTBS-DropdownLinkHoverColor: #3c24b0;
    --CTBS-DropdownLinkHoverColorRgb: 60, 36, 176;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #565656;
    --CTBS-FormCheckInputBackgroundColorRgb: 86, 86, 86;
    --CTBS-FormCheckInputBorderColor: #744b-9;
    --CTBS-FormCheckInputBorderColorRgb: 116, 75, -9;
    --CTBS-FormCheckInputBorderColor-1: #744b-9;
    --CTBS-FormCheckInputBorderColor-1Rgb: 116, 75, -9;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #744b-9;
    --CTBS-FormControlBorderColorRgb: 116, 75, -9;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #565656;
    --CTBS-FormControlColorRgb: 86, 86, 86;
    --CTBS-FormInvalidBorderColor: #744b-9;
    --CTBS-FormInvalidBorderColorRgb: 116, 75, -9;
    --CTBS-FormInvalidColor: #565656;
    --CTBS-FormInvalidColorRgb: 86, 86, 86;
    --CTBS-FormValidBorderColor: #744b-9;
    --CTBS-FormValidBorderColorRgb: 116, 75, -9;
    --CTBS-FormValidColor: #565656;
    --CTBS-FormValidColorRgb: 86, 86, 86;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #50575d;
    --CTBS-GrayRgb: 80, 87, 93;
    --CTBS-Gray100: #b7bcc1;
    --CTBS-Gray100Rgb: 183, 188, 193;
    --CTBS-Gray200: #9ca3a9;
    --CTBS-Gray200Rgb: 156, 163, 169;
    --CTBS-Gray300: #808a92;
    --CTBS-Gray300Rgb: 128, 138, 146;
    --CTBS-Gray400: #677078;
    --CTBS-Gray400Rgb: 103, 112, 120;
    --CTBS-Gray500: #50575d;
    --CTBS-Gray500Rgb: 80, 87, 93;
    --CTBS-Gray600: #383d41;
    --CTBS-Gray600Rgb: 56, 61, 65;
    --CTBS-Gray700: #202326;
    --CTBS-Gray700Rgb: 32, 35, 38;
    --CTBS-Gray800: #090a0a;
    --CTBS-Gray800Rgb: 9, 10, 10;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #543598;
    --CTBS-GrayDarkRgb: 84, 53, 152;
    --CTBS-Green: #076307;
    --CTBS-GreenRgb: 7, 99, 7;
    --CTBS-HighlightBg: #100fcf4;
    --CTBS-HighlightBgRgb: 256, 252, 244;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #562ae4;
    --CTBS-IndigoRgb: 86, 42, 228;
    --CTBS-Info: #095a76;
    --CTBS-InfoRgb: 9, 90, 118;
    --CTBS-InfoBgSubtle: #e2f6fc;
    --CTBS-InfoBgSubtleRgb: 226, 246, 252;
    --CTBS-InfoBorderSubtle: #b7e8f9;
    --CTBS-InfoBorderSubtleRgb: 183, 232, 249;
    --CTBS-InfoBtnActiveBg: #03232e;
    --CTBS-InfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-InfoBtnActiveBorderColor: #053546;
    --CTBS-InfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveColor: #053546;
    --CTBS-InfoBtnActiveColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveShadow: #053546;
    --CTBS-InfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-InfoBtnBg: #095a76;
    --CTBS-InfoBtnBgRgb: 9, 90, 118;
    --CTBS-InfoBtnBorderColor: #ecf9fd;
    --CTBS-InfoBtnBorderColorRgb: 236, 249, 253;
    --CTBS-InfoBtnColor: #ecf9fd;
    --CTBS-InfoBtnColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledBg: #095a76;
    --CTBS-InfoBtnDisabledBgRgb: 9, 90, 118;
    --CTBS-InfoBtnDisabledBorderColor: #ecf9fd;
    --CTBS-InfoBtnDisabledBorderColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledColor: #ecf9fd;
    --CTBS-InfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-InfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-InfoBtnHoverBg: #03232e;
    --CTBS-InfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-InfoBtnHoverBorderColor: #053546;
    --CTBS-InfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnHoverColor: #053546;
    --CTBS-InfoBtnHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableActiveBg: #e2f6fc;
    --CTBS-InfoTableActiveBgRgb: 226, 246, 252;
    --CTBS-InfoTableActiveColor: #053546;
    --CTBS-InfoTableActiveColorRgb: 5, 53, 70;
    --CTBS-InfoTableBg: #e2f6fc;
    --CTBS-InfoTableBgRgb: 226, 246, 252;
    --CTBS-InfoTableBorderColor: #095a76;
    --CTBS-InfoTableBorderColorRgb: 9, 90, 118;
    --CTBS-InfoTableColor: #095a76;
    --CTBS-InfoTableColorRgb: 9, 90, 118;
    --CTBS-InfoTableHoverBg: #e2f6fc;
    --CTBS-InfoTableHoverBgRgb: 226, 246, 252;
    --CTBS-InfoTableHoverColor: #053546;
    --CTBS-InfoTableHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableStripedBg: #e2f6fc;
    --CTBS-InfoTableStripedBgRgb: 226, 246, 252;
    --CTBS-InfoTableStripedColor: #07475e;
    --CTBS-InfoTableStripedColorRgb: 7, 71, 94;
    --CTBS-InfoTextEmphasis: #085671;
    --CTBS-InfoTextEmphasisRgb: 8, 86, 113;
    --CTBS-Light: #100fcf4;
    --CTBS-LightRgb: 256, 252, 244;
    --CTBS-LightBgSubtle: #fffcf4;
    --CTBS-LightBgSubtleRgb: 255, 252, 244;
    --CTBS-LightBorderSubtle: #fffcf4;
    --CTBS-LightBorderSubtleRgb: 255, 252, 244;
    --CTBS-LightBtnActiveBg: #107e59f;
    --CTBS-LightBtnActiveBgRgb: 263, 229, 159;
    --CTBS-LightBtnActiveBorderColor: #754a-a;
    --CTBS-LightBtnActiveBorderColorRgb: 117, 74, -10;
    --CTBS-LightBtnActiveColor: #754a-a;
    --CTBS-LightBtnActiveColorRgb: 117, 74, -10;
    --CTBS-LightBtnActiveShadow: #754a-a;
    --CTBS-LightBtnActiveShadowRgb: 117, 74, -10;
    --CTBS-LightBtnBg: #100fcf4;
    --CTBS-LightBtnBgRgb: 256, 252, 244;
    --CTBS-LightBtnBorderColor: #754a-a;
    --CTBS-LightBtnBorderColorRgb: 117, 74, -10;
    --CTBS-LightBtnColor: #754a-a;
    --CTBS-LightBtnColorRgb: 117, 74, -10;
    --CTBS-LightBtnDisabledBg: #100fcf4;
    --CTBS-LightBtnDisabledBgRgb: 256, 252, 244;
    --CTBS-LightBtnDisabledBorderColor: #754a-a;
    --CTBS-LightBtnDisabledBorderColorRgb: 117, 74, -10;
    --CTBS-LightBtnDisabledColor: #754a-a;
    --CTBS-LightBtnDisabledColorRgb: 117, 74, -10;
    --CTBS-LightBtnFocusShadowRgb: 256, 252, 244;
    --CTBS-LightBtnHoverBg: #107e59f;
    --CTBS-LightBtnHoverBgRgb: 263, 229, 159;
    --CTBS-LightBtnHoverBorderColor: #754a-a;
    --CTBS-LightBtnHoverBorderColorRgb: 117, 74, -10;
    --CTBS-LightBtnHoverColor: #754a-a;
    --CTBS-LightBtnHoverColorRgb: 117, 74, -10;
    --CTBS-LightTableActiveBg: #fffcf4;
    --CTBS-LightTableActiveBgRgb: 255, 252, 244;
    --CTBS-LightTableActiveColor: #754a-a;
    --CTBS-LightTableActiveColorRgb: 117, 74, -10;
    --CTBS-LightTableBg: #fffcf4;
    --CTBS-LightTableBgRgb: 255, 252, 244;
    --CTBS-LightTableBorderColor: #754a-a;
    --CTBS-LightTableBorderColorRgb: 117, 74, -10;
    --CTBS-LightTableColor: #754a-a;
    --CTBS-LightTableColorRgb: 117, 74, -10;
    --CTBS-LightTableHoverBg: #fffcf4;
    --CTBS-LightTableHoverBgRgb: 255, 252, 244;
    --CTBS-LightTableHoverColor: #754a-a;
    --CTBS-LightTableHoverColorRgb: 117, 74, -10;
    --CTBS-LightTableStripedBg: #fffcf4;
    --CTBS-LightTableStripedBgRgb: 255, 252, 244;
    --CTBS-LightTableStripedColor: #102f4d7;
    --CTBS-LightTableStripedColorRgb: 258, 244, 215;
    --CTBS-LightTextEmphasis: #754a-a;
    --CTBS-LightTextEmphasisRgb: 117, 74, -10;
    --CTBS-LinkBtnBoxShadow: #4f33d5;
    --CTBS-LinkBtnBoxShadowRgb: 79, 51, 213;
    --CTBS-LinkBtnDisabledColor: #fbfafe;
    --CTBS-LinkBtnDisabledColorRgb: 251, 250, 254;
    --CTBS-LinkBtnFocusShadowRgb: 79, 51, 213;
    --CTBS-LinkColor: #4f33d5;
    --CTBS-LinkColorRgb: 79, 51, 213;
    --CTBS-LinkHoverColor: #3c24b0;
    --CTBS-LinkHoverColorRgb: 60, 36, 176;
    --CTBS-LinkNavBoxShadow: #4f33d5;
    --CTBS-LinkNavBoxShadowRgb: 79, 51, 213;
    --CTBS-ListGroupActionActiveBgRgb: 263, 229, 159;
    --CTBS-ListGroupActionHoverBgRgb: 263, 229, 159;
    --CTBS-ListGroupActiveBg: #107e59f;
    --CTBS-ListGroupActiveBgRgb: 263, 229, 159;
    --CTBS-ListGroupActiveBorderColor: #744a-9;
    --CTBS-ListGroupActiveBorderColorRgb: 116, 74, -9;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 256, 252, 244;
    --CTBS-ListGroupDisabledBgRgb: 256, 252, 244;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 256, 252, 244;
    --CTBS-OffcanvasBgRgb: 256, 252, 244;
    --CTBS-Orange: #784d06;
    --CTBS-OrangeRgb: 120, 77, 6;
    --CTBS-OutlineDangerBtnActiveBg: #582626;
    --CTBS-OutlineDangerBtnActiveBgRgb: 88, 38, 38;
    --CTBS-OutlineDangerBtnActiveBorderColor: #6a2d2d;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 106, 45, 45;
    --CTBS-OutlineDangerBtnActiveColor: #6a2d2d;
    --CTBS-OutlineDangerBtnActiveColorRgb: 106, 45, 45;
    --CTBS-OutlineDangerBtnActiveShadow: #6a2d2d;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 106, 45, 45;
    --CTBS-OutlineDangerBtnBorderColor: #ffffff;
    --CTBS-OutlineDangerBtnBorderColorRgb: 255, 255, 255;
    --CTBS-OutlineDangerBtnColor: #ffffff;
    --CTBS-OutlineDangerBtnColorRgb: 255, 255, 255;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #ffffff;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 255, 255, 255;
    --CTBS-OutlineDangerBtnDisabledColor: #ffffff;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 255, 255, 255;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 142, 61, 61;
    --CTBS-OutlineDangerBtnHoverBg: #582626;
    --CTBS-OutlineDangerBtnHoverBgRgb: 88, 38, 38;
    --CTBS-OutlineDangerBtnHoverBorderColor: #6a2d2d;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 106, 45, 45;
    --CTBS-OutlineDangerBtnHoverColor: #6a2d2d;
    --CTBS-OutlineDangerBtnHoverColorRgb: 106, 45, 45;
    --CTBS-OutlineDarkBtnActiveBg: #34215f;
    --CTBS-OutlineDarkBtnActiveBgRgb: 52, 33, 95;
    --CTBS-OutlineDarkBtnActiveBorderColor: #3f2772;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 63, 39, 114;
    --CTBS-OutlineDarkBtnActiveColor: #3f2772;
    --CTBS-OutlineDarkBtnActiveColorRgb: 63, 39, 114;
    --CTBS-OutlineDarkBtnActiveShadow: #3f2772;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 63, 39, 114;
    --CTBS-OutlineDarkBtnBorderColor: #543598;
    --CTBS-OutlineDarkBtnBorderColorRgb: 84, 53, 152;
    --CTBS-OutlineDarkBtnColor: #543598;
    --CTBS-OutlineDarkBtnColorRgb: 84, 53, 152;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #543598;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 84, 53, 152;
    --CTBS-OutlineDarkBtnDisabledColor: #543598;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 84, 53, 152;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 84, 53, 152;
    --CTBS-OutlineDarkBtnHoverBg: #34215f;
    --CTBS-OutlineDarkBtnHoverBgRgb: 52, 33, 95;
    --CTBS-OutlineDarkBtnHoverBorderColor: #3f2772;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 63, 39, 114;
    --CTBS-OutlineDarkBtnHoverColor: #3f2772;
    --CTBS-OutlineDarkBtnHoverColorRgb: 63, 39, 114;
    --CTBS-OutlineInfoBtnActiveBg: #03232e;
    --CTBS-OutlineInfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnActiveBorderColor: #053546;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnActiveColor: #053546;
    --CTBS-OutlineInfoBtnActiveColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnActiveShadow: #053546;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnBorderColor: #ecf9fd;
    --CTBS-OutlineInfoBtnBorderColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnColor: #ecf9fd;
    --CTBS-OutlineInfoBtnColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #ecf9fd;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnDisabledColor: #ecf9fd;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnHoverBg: #03232e;
    --CTBS-OutlineInfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnHoverBorderColor: #053546;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnHoverColor: #053546;
    --CTBS-OutlineInfoBtnHoverColorRgb: 5, 53, 70;
    --CTBS-OutlineLightBtnActiveBg: #107e59f;
    --CTBS-OutlineLightBtnActiveBgRgb: 263, 229, 159;
    --CTBS-OutlineLightBtnActiveBorderColor: #754a-a;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnActiveColor: #754a-a;
    --CTBS-OutlineLightBtnActiveColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnActiveShadow: #754a-a;
    --CTBS-OutlineLightBtnActiveShadowRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnBorderColor: #754a-a;
    --CTBS-OutlineLightBtnBorderColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnColor: #754a-a;
    --CTBS-OutlineLightBtnColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnDisabledBorderColor: #754a-a;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnDisabledColor: #754a-a;
    --CTBS-OutlineLightBtnDisabledColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnFocusShadowRgb: 256, 252, 244;
    --CTBS-OutlineLightBtnHoverBg: #107e59f;
    --CTBS-OutlineLightBtnHoverBgRgb: 263, 229, 159;
    --CTBS-OutlineLightBtnHoverBorderColor: #754a-a;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 117, 74, -10;
    --CTBS-OutlineLightBtnHoverColor: #754a-a;
    --CTBS-OutlineLightBtnHoverColorRgb: 117, 74, -10;
    --CTBS-OutlinePrimaryBtnActiveBg: #35209b;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 53, 32, 155;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #3c24b0;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 60, 36, 176;
    --CTBS-OutlinePrimaryBtnActiveColor: #3c24b0;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 60, 36, 176;
    --CTBS-OutlinePrimaryBtnActiveShadow: #3c24b0;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 60, 36, 176;
    --CTBS-OutlinePrimaryBtnBorderColor: #fbfafe;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 251, 250, 254;
    --CTBS-OutlinePrimaryBtnColor: #fbfafe;
    --CTBS-OutlinePrimaryBtnColorRgb: 251, 250, 254;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #fbfafe;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 251, 250, 254;
    --CTBS-OutlinePrimaryBtnDisabledColor: #fbfafe;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 251, 250, 254;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 79, 51, 213;
    --CTBS-OutlinePrimaryBtnHoverBg: #35209b;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 53, 32, 155;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #3c24b0;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 60, 36, 176;
    --CTBS-OutlinePrimaryBtnHoverColor: #3c24b0;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 60, 36, 176;
    --CTBS-OutlineSecondaryBtnActiveBg: #242615;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 36, 38, 21;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #33371e;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 51, 55, 30;
    --CTBS-OutlineSecondaryBtnActiveColor: #33371e;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 51, 55, 30;
    --CTBS-OutlineSecondaryBtnActiveShadow: #33371e;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 51, 55, 30;
    --CTBS-OutlineSecondaryBtnBorderColor: #fafbf8;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 250, 251, 248;
    --CTBS-OutlineSecondaryBtnColor: #fafbf8;
    --CTBS-OutlineSecondaryBtnColorRgb: 250, 251, 248;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #fafbf8;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 250, 251, 248;
    --CTBS-OutlineSecondaryBtnDisabledColor: #fafbf8;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 250, 251, 248;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 82, 88, 49;
    --CTBS-OutlineSecondaryBtnHoverBg: #242615;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 36, 38, 21;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #33371e;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 51, 55, 30;
    --CTBS-OutlineSecondaryBtnHoverColor: #33371e;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 51, 55, 30;
    --CTBS-OutlineSuccessBtnActiveBg: #011b01;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 1, 27, 1;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #033303;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 3, 51, 3;
    --CTBS-OutlineSuccessBtnActiveColor: #033303;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 3, 51, 3;
    --CTBS-OutlineSuccessBtnActiveShadow: #033303;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 3, 51, 3;
    --CTBS-OutlineSuccessBtnBorderColor: #f0fdf0;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 240, 253, 240;
    --CTBS-OutlineSuccessBtnColor: #f0fdf0;
    --CTBS-OutlineSuccessBtnColorRgb: 240, 253, 240;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #f0fdf0;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 240, 253, 240;
    --CTBS-OutlineSuccessBtnDisabledColor: #f0fdf0;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 240, 253, 240;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 7, 99, 7;
    --CTBS-OutlineSuccessBtnHoverBg: #011b01;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 1, 27, 1;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #033303;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 3, 51, 3;
    --CTBS-OutlineSuccessBtnHoverColor: #033303;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 3, 51, 3;
    --CTBS-OutlineWarningBtnActiveBg: #1c1601;
    --CTBS-OutlineWarningBtnActiveBgRgb: 28, 22, 1;
    --CTBS-OutlineWarningBtnActiveBorderColor: #342a02;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 52, 42, 2;
    --CTBS-OutlineWarningBtnActiveColor: #342a02;
    --CTBS-OutlineWarningBtnActiveColorRgb: 52, 42, 2;
    --CTBS-OutlineWarningBtnActiveShadow: #342a02;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 52, 42, 2;
    --CTBS-OutlineWarningBtnBorderColor: #fdf7e1;
    --CTBS-OutlineWarningBtnBorderColorRgb: 253, 247, 225;
    --CTBS-OutlineWarningBtnColor: #fdf7e1;
    --CTBS-OutlineWarningBtnColorRgb: 253, 247, 225;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #fdf7e1;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 253, 247, 225;
    --CTBS-OutlineWarningBtnDisabledColor: #fdf7e1;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 253, 247, 225;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 101, 81, 5;
    --CTBS-OutlineWarningBtnHoverBg: #1c1601;
    --CTBS-OutlineWarningBtnHoverBgRgb: 28, 22, 1;
    --CTBS-OutlineWarningBtnHoverBorderColor: #342a02;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 52, 42, 2;
    --CTBS-OutlineWarningBtnHoverColor: #342a02;
    --CTBS-OutlineWarningBtnHoverColorRgb: 52, 42, 2;
    --CTBS-PaginationActiveBg: #107e59f;
    --CTBS-PaginationActiveBgRgb: 263, 229, 159;
    --CTBS-PaginationActiveBorderColor: #744a-9;
    --CTBS-PaginationActiveBorderColorRgb: 116, 74, -9;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #35209b;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 53, 32, 155;
    --CTBS-PillsNavPillsLinkActiveColor: #3c24b0;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 60, 36, 176;
    --CTBS-Pink: #913559;
    --CTBS-PinkRgb: 145, 53, 89;
    --CTBS-Primary: #4f33d5;
    --CTBS-PrimaryRgb: 79, 51, 213;
    --CTBS-PrimaryBgSubtle: #e9e5f9;
    --CTBS-PrimaryBgSubtleRgb: 233, 229, 249;
    --CTBS-PrimaryBorderSubtle: #c8bff1;
    --CTBS-PrimaryBorderSubtleRgb: 200, 191, 241;
    --CTBS-PrimaryBtnActiveBg: #35209b;
    --CTBS-PrimaryBtnActiveBgRgb: 53, 32, 155;
    --CTBS-PrimaryBtnActiveBorderColor: #3c24b0;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 60, 36, 176;
    --CTBS-PrimaryBtnActiveColor: #3c24b0;
    --CTBS-PrimaryBtnActiveColorRgb: 60, 36, 176;
    --CTBS-PrimaryBtnActiveShadow: #3c24b0;
    --CTBS-PrimaryBtnActiveShadowRgb: 60, 36, 176;
    --CTBS-PrimaryBtnBg: #4f33d5;
    --CTBS-PrimaryBtnBgRgb: 79, 51, 213;
    --CTBS-PrimaryBtnBorderColor: #fbfafe;
    --CTBS-PrimaryBtnBorderColorRgb: 251, 250, 254;
    --CTBS-PrimaryBtnColor: #fbfafe;
    --CTBS-PrimaryBtnColorRgb: 251, 250, 254;
    --CTBS-PrimaryBtnDisabledBg: #4f33d5;
    --CTBS-PrimaryBtnDisabledBgRgb: 79, 51, 213;
    --CTBS-PrimaryBtnDisabledBorderColor: #fbfafe;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 251, 250, 254;
    --CTBS-PrimaryBtnDisabledColor: #fbfafe;
    --CTBS-PrimaryBtnDisabledColorRgb: 251, 250, 254;
    --CTBS-PrimaryBtnFocusShadowRgb: 79, 51, 213;
    --CTBS-PrimaryBtnHoverBg: #35209b;
    --CTBS-PrimaryBtnHoverBgRgb: 53, 32, 155;
    --CTBS-PrimaryBtnHoverBorderColor: #3c24b0;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 60, 36, 176;
    --CTBS-PrimaryBtnHoverColor: #3c24b0;
    --CTBS-PrimaryBtnHoverColorRgb: 60, 36, 176;
    --CTBS-PrimaryTableActiveBg: #e9e5f9;
    --CTBS-PrimaryTableActiveBgRgb: 233, 229, 249;
    --CTBS-PrimaryTableActiveColor: #3c24b0;
    --CTBS-PrimaryTableActiveColorRgb: 60, 36, 176;
    --CTBS-PrimaryTableBg: #e9e5f9;
    --CTBS-PrimaryTableBgRgb: 233, 229, 249;
    --CTBS-PrimaryTableBorderColor: #4f33d5;
    --CTBS-PrimaryTableBorderColorRgb: 79, 51, 213;
    --CTBS-PrimaryTableColor: #4f33d5;
    --CTBS-PrimaryTableColorRgb: 79, 51, 213;
    --CTBS-PrimaryTableHoverBg: #e9e5f9;
    --CTBS-PrimaryTableHoverBgRgb: 233, 229, 249;
    --CTBS-PrimaryTableHoverColor: #3c24b0;
    --CTBS-PrimaryTableHoverColorRgb: 60, 36, 176;
    --CTBS-PrimaryTableStripedBg: #e9e5f9;
    --CTBS-PrimaryTableStripedBgRgb: 233, 229, 249;
    --CTBS-PrimaryTableStripedColor: #4328c5;
    --CTBS-PrimaryTableStripedColorRgb: 67, 40, 197;
    --CTBS-PrimaryTextEmphasis: #4428c6;
    --CTBS-PrimaryTextEmphasisRgb: 68, 40, 198;
    --CTBS-ProgressBarBg: #100fcf4;
    --CTBS-ProgressBarBgRgb: 256, 252, 244;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #6a23d6;
    --CTBS-PurpleRgb: 106, 35, 214;
    --CTBS-Red: #8e3d3d;
    --CTBS-RedRgb: 142, 61, 61;
    --CTBS-Secondary: #525831;
    --CTBS-SecondaryRgb: 82, 88, 49;
    --CTBS-SecondaryBg: #525831;
    --CTBS-SecondaryBgRgb: 82, 88, 49;
    --CTBS-SecondaryBgSubtle: #f2f4eb;
    --CTBS-SecondaryBgSubtleRgb: 242, 244, 235;
    --CTBS-SecondaryBorderSubtle: #e0e3cd;
    --CTBS-SecondaryBorderSubtleRgb: 224, 227, 205;
    --CTBS-SecondaryBtnActiveBg: #242615;
    --CTBS-SecondaryBtnActiveBgRgb: 36, 38, 21;
    --CTBS-SecondaryBtnActiveBorderColor: #33371e;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 51, 55, 30;
    --CTBS-SecondaryBtnActiveColor: #33371e;
    --CTBS-SecondaryBtnActiveColorRgb: 51, 55, 30;
    --CTBS-SecondaryBtnActiveShadow: #33371e;
    --CTBS-SecondaryBtnActiveShadowRgb: 51, 55, 30;
    --CTBS-SecondaryBtnBg: #525831;
    --CTBS-SecondaryBtnBgRgb: 82, 88, 49;
    --CTBS-SecondaryBtnBorderColor: #fafbf8;
    --CTBS-SecondaryBtnBorderColorRgb: 250, 251, 248;
    --CTBS-SecondaryBtnColor: #fafbf8;
    --CTBS-SecondaryBtnColorRgb: 250, 251, 248;
    --CTBS-SecondaryBtnDisabledBg: #525831;
    --CTBS-SecondaryBtnDisabledBgRgb: 82, 88, 49;
    --CTBS-SecondaryBtnDisabledBorderColor: #fafbf8;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 250, 251, 248;
    --CTBS-SecondaryBtnDisabledColor: #fafbf8;
    --CTBS-SecondaryBtnDisabledColorRgb: 250, 251, 248;
    --CTBS-SecondaryBtnFocusShadowRgb: 82, 88, 49;
    --CTBS-SecondaryBtnHoverBg: #242615;
    --CTBS-SecondaryBtnHoverBgRgb: 36, 38, 21;
    --CTBS-SecondaryBtnHoverBorderColor: #33371e;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 51, 55, 30;
    --CTBS-SecondaryBtnHoverColor: #33371e;
    --CTBS-SecondaryBtnHoverColorRgb: 51, 55, 30;
    --CTBS-SecondaryColor: #525831;
    --CTBS-SecondaryColorRgb: 82, 88, 49;
    --CTBS-SecondaryTableActiveBg: #f2f4eb;
    --CTBS-SecondaryTableActiveBgRgb: 242, 244, 235;
    --CTBS-SecondaryTableActiveColor: #33371e;
    --CTBS-SecondaryTableActiveColorRgb: 51, 55, 30;
    --CTBS-SecondaryTableBg: #f2f4eb;
    --CTBS-SecondaryTableBgRgb: 242, 244, 235;
    --CTBS-SecondaryTableBorderColor: #525831;
    --CTBS-SecondaryTableBorderColorRgb: 82, 88, 49;
    --CTBS-SecondaryTableColor: #525831;
    --CTBS-SecondaryTableColorRgb: 82, 88, 49;
    --CTBS-SecondaryTableHoverBg: #f2f4eb;
    --CTBS-SecondaryTableHoverBgRgb: 242, 244, 235;
    --CTBS-SecondaryTableHoverColor: #33371e;
    --CTBS-SecondaryTableHoverColorRgb: 51, 55, 30;
    --CTBS-SecondaryTableStripedBg: #f2f4eb;
    --CTBS-SecondaryTableStripedBgRgb: 242, 244, 235;
    --CTBS-SecondaryTableStripedColor: #424727;
    --CTBS-SecondaryTableStripedColorRgb: 66, 71, 39;
    --CTBS-SecondaryTextEmphasis: #4c512d;
    --CTBS-SecondaryTextEmphasisRgb: 76, 81, 45;
    --CTBS-Success: #076307;
    --CTBS-SuccessRgb: 7, 99, 7;
    --CTBS-SuccessBgSubtle: #e2fce2;
    --CTBS-SuccessBgSubtleRgb: 226, 252, 226;
    --CTBS-SuccessBorderSubtle: #b7f9b7;
    --CTBS-SuccessBorderSubtleRgb: 183, 249, 183;
    --CTBS-SuccessBtnActiveBg: #011b01;
    --CTBS-SuccessBtnActiveBgRgb: 1, 27, 1;
    --CTBS-SuccessBtnActiveBorderColor: #033303;
    --CTBS-SuccessBtnActiveBorderColorRgb: 3, 51, 3;
    --CTBS-SuccessBtnActiveColor: #033303;
    --CTBS-SuccessBtnActiveColorRgb: 3, 51, 3;
    --CTBS-SuccessBtnActiveShadow: #033303;
    --CTBS-SuccessBtnActiveShadowRgb: 3, 51, 3;
    --CTBS-SuccessBtnBg: #076307;
    --CTBS-SuccessBtnBgRgb: 7, 99, 7;
    --CTBS-SuccessBtnBorderColor: #f0fdf0;
    --CTBS-SuccessBtnBorderColorRgb: 240, 253, 240;
    --CTBS-SuccessBtnColor: #f0fdf0;
    --CTBS-SuccessBtnColorRgb: 240, 253, 240;
    --CTBS-SuccessBtnDisabledBg: #076307;
    --CTBS-SuccessBtnDisabledBgRgb: 7, 99, 7;
    --CTBS-SuccessBtnDisabledBorderColor: #f0fdf0;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 240, 253, 240;
    --CTBS-SuccessBtnDisabledColor: #f0fdf0;
    --CTBS-SuccessBtnDisabledColorRgb: 240, 253, 240;
    --CTBS-SuccessBtnFocusShadowRgb: 7, 99, 7;
    --CTBS-SuccessBtnHoverBg: #011b01;
    --CTBS-SuccessBtnHoverBgRgb: 1, 27, 1;
    --CTBS-SuccessBtnHoverBorderColor: #033303;
    --CTBS-SuccessBtnHoverBorderColorRgb: 3, 51, 3;
    --CTBS-SuccessBtnHoverColor: #033303;
    --CTBS-SuccessBtnHoverColorRgb: 3, 51, 3;
    --CTBS-SuccessTableActiveBg: #e2fce2;
    --CTBS-SuccessTableActiveBgRgb: 226, 252, 226;
    --CTBS-SuccessTableActiveColor: #033303;
    --CTBS-SuccessTableActiveColorRgb: 3, 51, 3;
    --CTBS-SuccessTableBg: #e2fce2;
    --CTBS-SuccessTableBgRgb: 226, 252, 226;
    --CTBS-SuccessTableBorderColor: #076307;
    --CTBS-SuccessTableBorderColorRgb: 7, 99, 7;
    --CTBS-SuccessTableColor: #076307;
    --CTBS-SuccessTableColorRgb: 7, 99, 7;
    --CTBS-SuccessTableHoverBg: #e2fce2;
    --CTBS-SuccessTableHoverBgRgb: 226, 252, 226;
    --CTBS-SuccessTableHoverColor: #033303;
    --CTBS-SuccessTableHoverColorRgb: 3, 51, 3;
    --CTBS-SuccessTableStripedBg: #e2fce2;
    --CTBS-SuccessTableStripedBgRgb: 226, 252, 226;
    --CTBS-SuccessTableStripedColor: #054b05;
    --CTBS-SuccessTableStripedColorRgb: 5, 75, 5;
    --CTBS-SuccessTextEmphasis: #065f06;
    --CTBS-SuccessTextEmphasisRgb: 6, 95, 6;
    --CTBS-Teal: #076344;
    --CTBS-TealRgb: 7, 99, 68;
    --CTBS-TertiaryBg: #100fcf4;
    --CTBS-TertiaryBgRgb: 256, 252, 244;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 256, 252, 244;
    --CTBS-ToastHeaderBgRgb: 256, 252, 244;
    --CTBS-Warning: #655105;
    --CTBS-WarningRgb: 101, 81, 5;
    --CTBS-WarningBgSubtle: #fdf7e1;
    --CTBS-WarningBgSubtleRgb: 253, 247, 225;
    --CTBS-WarningBorderSubtle: #fbecb6;
    --CTBS-WarningBorderSubtleRgb: 251, 236, 182;
    --CTBS-WarningBtnActiveBg: #1c1601;
    --CTBS-WarningBtnActiveBgRgb: 28, 22, 1;
    --CTBS-WarningBtnActiveBorderColor: #342a02;
    --CTBS-WarningBtnActiveBorderColorRgb: 52, 42, 2;
    --CTBS-WarningBtnActiveColor: #342a02;
    --CTBS-WarningBtnActiveColorRgb: 52, 42, 2;
    --CTBS-WarningBtnActiveShadow: #342a02;
    --CTBS-WarningBtnActiveShadowRgb: 52, 42, 2;
    --CTBS-WarningBtnBg: #655105;
    --CTBS-WarningBtnBgRgb: 101, 81, 5;
    --CTBS-WarningBtnBorderColor: #fdf7e1;
    --CTBS-WarningBtnBorderColorRgb: 253, 247, 225;
    --CTBS-WarningBtnColor: #fdf7e1;
    --CTBS-WarningBtnColorRgb: 253, 247, 225;
    --CTBS-WarningBtnDisabledBg: #655105;
    --CTBS-WarningBtnDisabledBgRgb: 101, 81, 5;
    --CTBS-WarningBtnDisabledBorderColor: #fdf7e1;
    --CTBS-WarningBtnDisabledBorderColorRgb: 253, 247, 225;
    --CTBS-WarningBtnDisabledColor: #fdf7e1;
    --CTBS-WarningBtnDisabledColorRgb: 253, 247, 225;
    --CTBS-WarningBtnFocusShadowRgb: 101, 81, 5;
    --CTBS-WarningBtnHoverBg: #1c1601;
    --CTBS-WarningBtnHoverBgRgb: 28, 22, 1;
    --CTBS-WarningBtnHoverBorderColor: #342a02;
    --CTBS-WarningBtnHoverBorderColorRgb: 52, 42, 2;
    --CTBS-WarningBtnHoverColor: #342a02;
    --CTBS-WarningBtnHoverColorRgb: 52, 42, 2;
    --CTBS-WarningTableActiveBg: #fdf7e1;
    --CTBS-WarningTableActiveBgRgb: 253, 247, 225;
    --CTBS-WarningTableActiveColor: #342a02;
    --CTBS-WarningTableActiveColorRgb: 52, 42, 2;
    --CTBS-WarningTableBg: #fdf7e1;
    --CTBS-WarningTableBgRgb: 253, 247, 225;
    --CTBS-WarningTableBorderColor: #655105;
    --CTBS-WarningTableBorderColorRgb: 101, 81, 5;
    --CTBS-WarningTableColor: #655105;
    --CTBS-WarningTableColorRgb: 101, 81, 5;
    --CTBS-WarningTableHoverBg: #fdf7e1;
    --CTBS-WarningTableHoverBgRgb: 253, 247, 225;
    --CTBS-WarningTableHoverColor: #342a02;
    --CTBS-WarningTableHoverColorRgb: 52, 42, 2;
    --CTBS-WarningTableStripedBg: #fdf7e1;
    --CTBS-WarningTableStripedBgRgb: 253, 247, 225;
    --CTBS-WarningTableStripedColor: #4c3d03;
    --CTBS-WarningTableStripedColorRgb: 76, 61, 3;
    --CTBS-WarningTextEmphasis: #655105;
    --CTBS-WarningTextEmphasisRgb: 101, 81, 5;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #655105;
    --CTBS-YellowRgb: 101, 81, 5;
}