/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === GLASS EFFECTS === */
    --CTBS-GlassOpacity: 0.8;
    --CTBS-GlassBlur: 10px;

    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-BackgroundColor: #edddd2;
    --CTBS-BackgroundColorRgb: 237, 221, 210;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #808080;
    --CTBS-BlueRgb: 128, 128, 128;
    --CTBS-Cyan: #808080;
    --CTBS-CyanRgb: 128, 128, 128;
    --CTBS-DangerBgSubtle: #ffffff;
    --CTBS-DangerBgSubtleRgb: 255, 255, 255;
    --CTBS-DangerBorderSubtle: #ffffff;
    --CTBS-DangerBorderSubtleRgb: 255, 255, 255;
    --CTBS-DangerBtnActiveBorderColor: #e9a1a1;
    --CTBS-DangerBtnActiveBorderColorRgb: 233, 161, 161;
    --CTBS-DangerBtnFocusShadowRgb: 243, 203, 203;
    --CTBS-DangerBtnHoverBg: #e9a1a1;
    --CTBS-DangerBtnHoverBgRgb: 233, 161, 161;
    --CTBS-DangerBtnHoverBorderColor: #e9a1a1;
    --CTBS-DangerBtnHoverBorderColorRgb: 233, 161, 161;
    --CTBS-DangerRgb: 243, 203, 203;
    --CTBS-DangerTableActiveBg: #e9a1a1;
    --CTBS-DangerTableActiveBgRgb: 233, 161, 161;
    --CTBS-DangerTableBorderColor: #f3cbcb;
    --CTBS-DangerTableBorderColorRgb: 243, 203, 203;
    --CTBS-DangerTableHoverBg: #e9a1a1;
    --CTBS-DangerTableHoverBgRgb: 233, 161, 161;
    --CTBS-DangerTableStripedBg: #eeb6b6;
    --CTBS-DangerTableStripedBgRgb: 238, 182, 182;
    --CTBS-DangerTextEmphasis: #df7878;
    --CTBS-DangerTextEmphasisRgb: 223, 120, 120;
    --CTBS-DarkBtnFocusShadowRgb: 128, 99, 177;
    --CTBS-DarkBtnHoverBg: #664b95;
    --CTBS-DarkBtnHoverBgRgb: 102, 75, 149;
    --CTBS-DarkRgb: 128, 99, 177;
    --CTBS-DarkTableActiveBg: #664b95;
    --CTBS-DarkTableActiveBgRgb: 102, 75, 149;
    --CTBS-DarkTableBorderColor: #8063b1;
    --CTBS-DarkTableBorderColorRgb: 128, 99, 177;
    --CTBS-DarkTableHoverBg: #664b95;
    --CTBS-DarkTableHoverBgRgb: 102, 75, 149;
    --CTBS-DarkTableStripedBg: #7253a6;
    --CTBS-DarkTableStripedBgRgb: 114, 83, 166;
    --CTBS-DarkThemeBodyColorRgb: 128, 99, 177;
    --CTBS-DarkThemeCodeColor: #edddd2;
    --CTBS-DarkThemeCodeColorRgb: 237, 221, 210;
    --CTBS-DarkThemeDangerBgSubtle: #c42d2d;
    --CTBS-DarkThemeDangerBgSubtleRgb: 196, 45, 45;
    --CTBS-DarkThemeDangerBorderSubtle: #d64e4e;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 214, 78, 78;
    --CTBS-DarkThemeDangerTextEmphasis: #ffffff;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 255, 255, 255;
    --CTBS-DarkThemeDarkBgSubtle: #201830;
    --CTBS-DarkThemeDarkBgSubtleRgb: 32, 24, 48;
    --CTBS-DarkThemeInfoBgSubtle: #2d9ec4;
    --CTBS-DarkThemeInfoBgSubtleRgb: 45, 158, 196;
    --CTBS-DarkThemeInfoBorderSubtle: #4eb4d6;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 78, 180, 214;
    --CTBS-DarkThemeInfoTextEmphasis: #ffffff;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 255, 255, 255;
    --CTBS-DarkThemeLinkColorRgb: 237, 221, 210;
    --CTBS-DarkThemeLinkHoverColor: #fbf8f6;
    --CTBS-DarkThemeLinkHoverColorRgb: 251, 248, 246;
    --CTBS-DarkThemePrimaryBgSubtle: #ad6f45;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 173, 111, 69;
    --CTBS-DarkThemePrimaryBorderSubtle: #c18a64;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 193, 138, 100;
    --CTBS-DarkThemePrimaryTextEmphasis: #ffffff;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 255, 255, 255;
    --CTBS-DarkThemeSecondaryBgRgb: 143, 131, 147;
    --CTBS-DarkThemeSecondaryBgSubtle: #262227;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 38, 34, 39;
    --CTBS-DarkThemeSecondaryBorderSubtle: #403a42;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 64, 58, 66;
    --CTBS-DarkThemeSecondaryColor: #8f8393;
    --CTBS-DarkThemeSecondaryColorRgb: 143, 131, 147;
    --CTBS-DarkThemeSecondaryTextEmphasis: #c0b9c2;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 192, 185, 194;
    --CTBS-DarkThemeSuccessBgSubtle: #2dc42d;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 45, 196, 45;
    --CTBS-DarkThemeSuccessBorderSubtle: #4ed64e;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 78, 214, 78;
    --CTBS-DarkThemeSuccessTextEmphasis: #ffffff;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 255, 255, 255;
    --CTBS-DarkThemeTertiaryBg: #8063b1;
    --CTBS-DarkThemeTertiaryBgRgb: 128, 99, 177;
    --CTBS-DarkThemeTertiaryColor: #edddd2;
    --CTBS-DarkThemeTertiaryColorRgb: 237, 221, 210;
    --CTBS-DarkThemeWarningBgSubtle: #090906;
    --CTBS-DarkThemeWarningBgSubtleRgb: 9, 9, 6;
    --CTBS-DarkThemeWarningBorderSubtle: #28281a;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 40, 40, 26;
    --CTBS-DarkThemeWarningTextEmphasis: #b4b48d;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 180, 180, 141;
    --CTBS-FocusRingColor: #8063b1;
    --CTBS-FocusRingColorRgb: 128, 99, 177;
    --CTBS-FormControlBorderColor: #d7b39b;
    --CTBS-FormControlBorderColorRgb: 215, 179, 155;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #8063b1;
    --CTBS-GrayDarkRgb: 128, 99, 177;
    --CTBS-Green: #808080;
    --CTBS-GreenRgb: 128, 128, 128;
    --CTBS-Indigo: #808080;
    --CTBS-IndigoRgb: 128, 128, 128;
    --CTBS-InfoBgSubtle: #ffffff;
    --CTBS-InfoBgSubtleRgb: 255, 255, 255;
    --CTBS-InfoBorderSubtle: #ffffff;
    --CTBS-InfoBorderSubtleRgb: 255, 255, 255;
    --CTBS-InfoBtnActiveBg: #a1d7e9;
    --CTBS-InfoBtnActiveBgRgb: 161, 215, 233;
    --CTBS-InfoBtnFocusShadowRgb: 203, 233, 243;
    --CTBS-InfoBtnHoverBg: #a1d7e9;
    --CTBS-InfoBtnHoverBgRgb: 161, 215, 233;
    --CTBS-InfoBtnHoverBorderColor: #a1d7e9;
    --CTBS-InfoBtnHoverBorderColorRgb: 161, 215, 233;
    --CTBS-InfoRgb: 203, 233, 243;
    --CTBS-InfoTableActiveBg: #a1d7e9;
    --CTBS-InfoTableActiveBgRgb: 161, 215, 233;
    --CTBS-InfoTableBorderColor: #cbe9f3;
    --CTBS-InfoTableBorderColorRgb: 203, 233, 243;
    --CTBS-InfoTableHoverBg: #a1d7e9;
    --CTBS-InfoTableHoverBgRgb: 161, 215, 233;
    --CTBS-InfoTableStripedBg: #b6e0ee;
    --CTBS-InfoTableStripedBgRgb: 182, 224, 238;
    --CTBS-InfoTextEmphasis: #78c5df;
    --CTBS-InfoTextEmphasisRgb: 120, 197, 223;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBorderColor: #dec1ad;
    --CTBS-LightBtnActiveBorderColorRgb: 222, 193, 173;
    --CTBS-LightBtnFocusShadowRgb: 237, 221, 210;
    --CTBS-LightBtnHoverBg: #dec1ad;
    --CTBS-LightBtnHoverBgRgb: 222, 193, 173;
    --CTBS-LightRgb: 237, 221, 210;
    --CTBS-LightTableActiveBg: #dec1ad;
    --CTBS-LightTableActiveBgRgb: 222, 193, 173;
    --CTBS-LightTableBorderColor: #edddd2;
    --CTBS-LightTableBorderColorRgb: 237, 221, 210;
    --CTBS-LightTableHoverBg: #dec1ad;
    --CTBS-LightTableHoverBgRgb: 222, 193, 173;
    --CTBS-LightTableStripedBg: #e5cfbf;
    --CTBS-LightTableStripedBgRgb: 229, 207, 191;
    --CTBS-LinkHoverColor: #dec1ad;
    --CTBS-LinkHoverColorRgb: 222, 193, 173;
    --CTBS-Orange: #808080;
    --CTBS-OrangeRgb: 128, 128, 128;
    --CTBS-Pink: #808080;
    --CTBS-PinkRgb: 128, 128, 128;
    --CTBS-PrimaryBgSubtle: #ffffff;
    --CTBS-PrimaryBgSubtleRgb: 255, 255, 255;
    --CTBS-PrimaryBorderSubtle: #ffffff;
    --CTBS-PrimaryBorderSubtleRgb: 255, 255, 255;
    --CTBS-PrimaryBtnActiveBorderColor: #dec1ad;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 222, 193, 173;
    --CTBS-PrimaryBtnFocusShadowRgb: 237, 221, 210;
    --CTBS-PrimaryBtnHoverBg: #dec1ad;
    --CTBS-PrimaryBtnHoverBgRgb: 222, 193, 173;
    --CTBS-PrimaryRgb: 237, 221, 210;
    --CTBS-PrimaryTableActiveBg: #dec1ad;
    --CTBS-PrimaryTableActiveBgRgb: 222, 193, 173;
    --CTBS-PrimaryTableBorderColor: #edddd2;
    --CTBS-PrimaryTableBorderColorRgb: 237, 221, 210;
    --CTBS-PrimaryTableHoverBg: #dec1ad;
    --CTBS-PrimaryTableHoverBgRgb: 222, 193, 173;
    --CTBS-PrimaryTableStripedBg: #e5cfbf;
    --CTBS-PrimaryTableStripedBgRgb: 229, 207, 191;
    --CTBS-PrimaryTextEmphasis: #cfa589;
    --CTBS-PrimaryTextEmphasisRgb: 207, 165, 137;
    --CTBS-Purple: #808080;
    --CTBS-PurpleRgb: 128, 128, 128;
    --CTBS-Red: #808080;
    --CTBS-RedRgb: 128, 128, 128;
    --CTBS-SecondaryBgRgb: 143, 131, 147;
    --CTBS-SecondaryBgSubtle: #f1f0f1;
    --CTBS-SecondaryBgSubtleRgb: 241, 240, 241;
    --CTBS-SecondaryBorderSubtle: #d8d4da;
    --CTBS-SecondaryBorderSubtleRgb: 216, 212, 218;
    --CTBS-SecondaryBtnActiveBorderColor: #756979;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 117, 105, 121;
    --CTBS-SecondaryBtnFocusShadowRgb: 143, 131, 147;
    --CTBS-SecondaryBtnHoverBg: #756979;
    --CTBS-SecondaryBtnHoverBgRgb: 117, 105, 121;
    --CTBS-SecondaryBtnHoverBorderColor: #756979;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 117, 105, 121;
    --CTBS-SecondaryColor: #8f8393;
    --CTBS-SecondaryColorRgb: 143, 131, 147;
    --CTBS-SecondaryRgb: 143, 131, 147;
    --CTBS-SecondaryTableActiveBg: #756979;
    --CTBS-SecondaryTableActiveBgRgb: 117, 105, 121;
    --CTBS-SecondaryTableBorderColor: #8f8393;
    --CTBS-SecondaryTableBorderColorRgb: 143, 131, 147;
    --CTBS-SecondaryTableHoverBg: #756979;
    --CTBS-SecondaryTableHoverBgRgb: 117, 105, 121;
    --CTBS-SecondaryTableStripedBg: #827586;
    --CTBS-SecondaryTableStripedBgRgb: 130, 117, 134;
    --CTBS-SecondaryTextEmphasis: #5b515e;
    --CTBS-SecondaryTextEmphasisRgb: 91, 81, 94;
    --CTBS-SuccessBgSubtle: #ffffff;
    --CTBS-SuccessBgSubtleRgb: 255, 255, 255;
    --CTBS-SuccessBorderSubtle: #ffffff;
    --CTBS-SuccessBorderSubtleRgb: 255, 255, 255;
    --CTBS-SuccessBtnActiveBorderColor: #a1e9a1;
    --CTBS-SuccessBtnActiveBorderColorRgb: 161, 233, 161;
    --CTBS-SuccessBtnFocusShadowRgb: 203, 243, 203;
    --CTBS-SuccessBtnHoverBg: #a1e9a1;
    --CTBS-SuccessBtnHoverBgRgb: 161, 233, 161;
    --CTBS-SuccessBtnHoverBorderColor: #a1e9a1;
    --CTBS-SuccessBtnHoverBorderColorRgb: 161, 233, 161;
    --CTBS-SuccessRgb: 203, 243, 203;
    --CTBS-SuccessTableActiveBg: #a1e9a1;
    --CTBS-SuccessTableActiveBgRgb: 161, 233, 161;
    --CTBS-SuccessTableBorderColor: #cbf3cb;
    --CTBS-SuccessTableBorderColorRgb: 203, 243, 203;
    --CTBS-SuccessTableHoverBg: #a1e9a1;
    --CTBS-SuccessTableHoverBgRgb: 161, 233, 161;
    --CTBS-SuccessTableStripedBg: #b6eeb6;
    --CTBS-SuccessTableStripedBgRgb: 182, 238, 182;
    --CTBS-SuccessTextEmphasis: #78df78;
    --CTBS-SuccessTextEmphasisRgb: 120, 223, 120;
    --CTBS-Teal: #808080;
    --CTBS-TealRgb: 128, 128, 128;
    --CTBS-TertiaryColor: #8063b1;
    --CTBS-TertiaryColorRgb: 128, 99, 177;
    --CTBS-WarningBgSubtle: #dcdccb;
    --CTBS-WarningBgSubtleRgb: 220, 220, 203;
    --CTBS-WarningBorderSubtle: #c8c8ac;
    --CTBS-WarningBorderSubtleRgb: 200, 200, 172;
    --CTBS-WarningBtnActiveBg: #666642;
    --CTBS-WarningBtnActiveBgRgb: 102, 102, 66;
    --CTBS-WarningBtnFocusShadowRgb: 133, 133, 87;
    --CTBS-WarningBtnHoverBg: #666642;
    --CTBS-WarningBtnHoverBgRgb: 102, 102, 66;
    --CTBS-WarningBtnHoverBorderColor: #666642;
    --CTBS-WarningBtnHoverBorderColorRgb: 102, 102, 66;
    --CTBS-WarningRgb: 133, 133, 87;
    --CTBS-WarningTableActiveBg: #666642;
    --CTBS-WarningTableActiveBgRgb: 102, 102, 66;
    --CTBS-WarningTableBorderColor: #858557;
    --CTBS-WarningTableBorderColorRgb: 133, 133, 87;
    --CTBS-WarningTableHoverBg: #666642;
    --CTBS-WarningTableHoverBgRgb: 102, 102, 66;
    --CTBS-WarningTableStripedBg: #75754c;
    --CTBS-WarningTableStripedBgRgb: 117, 117, 76;
    --CTBS-WarningTextEmphasis: #47472e;
    --CTBS-WarningTextEmphasisRgb: 71, 71, 46;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #808080;
    --CTBS-YellowRgb: 128, 128, 128;
}