/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AlertBgRgb: 244, 233, 227;
    --CTBS-BackgroundColor: #6d422b;
    --CTBS-BackgroundColorRgb: 109, 66, 43;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #504b1f;
    --CTBS-BlueRgb: 80, 75, 31;
    --CTBS-BodyBgRgb: 244, 233, 227;
    --CTBS-CardBgRgb: 244, 233, 227;
    --CTBS-Cyan: #165164;
    --CTBS-CyanRgb: 22, 81, 100;
    --CTBS-DangerBgSubtle: #f0bfbf;
    --CTBS-DangerBgSubtleRgb: 240, 191, 191;
    --CTBS-DangerBorderSubtle: #e79595;
    --CTBS-DangerBorderSubtleRgb: 231, 149, 149;
    --CTBS-DangerBtnActiveBorderColor: #911f1f;
    --CTBS-DangerBtnActiveBorderColorRgb: 145, 31, 31;
    --CTBS-DangerBtnFocusShadowRgb: 146, 32, 32;
    --CTBS-DangerBtnHoverBg: #911f1f;
    --CTBS-DangerBtnHoverBgRgb: 145, 31, 31;
    --CTBS-DangerBtnHoverBorderColor: #911f1f;
    --CTBS-DangerBtnHoverBorderColorRgb: 145, 31, 31;
    --CTBS-DangerRgb: 146, 32, 32;
    --CTBS-DangerTableActiveBg: #911f1f;
    --CTBS-DangerTableActiveBgRgb: 145, 31, 31;
    --CTBS-DangerTableBorderColor: #922020;
    --CTBS-DangerTableBorderColorRgb: 146, 32, 32;
    --CTBS-DangerTableHoverBg: #911f1f;
    --CTBS-DangerTableHoverBgRgb: 145, 31, 31;
    --CTBS-DangerTableStripedBg: #a62424;
    --CTBS-DangerTableStripedBgRgb: 166, 36, 36;
    --CTBS-DangerTextEmphasis: #6c1717;
    --CTBS-DangerTextEmphasisRgb: 108, 23, 23;
    --CTBS-DarkBtnFocusShadowRgb: 128, 99, 177;
    --CTBS-DarkBtnHoverBg: #664b95;
    --CTBS-DarkBtnHoverBgRgb: 102, 75, 149;
    --CTBS-DarkRgb: 128, 99, 177;
    --CTBS-DarkTableActiveBg: #664b95;
    --CTBS-DarkTableActiveBgRgb: 102, 75, 149;
    --CTBS-DarkTableBorderColor: #584081;
    --CTBS-DarkTableBorderColorRgb: 88, 64, 129;
    --CTBS-DarkTableHoverBg: #664b95;
    --CTBS-DarkTableHoverBgRgb: 102, 75, 149;
    --CTBS-DarkTableStripedBg: #7253a6;
    --CTBS-DarkTableStripedBgRgb: 114, 83, 166;
    --CTBS-DarkThemeBodyColorRgb: 244, 233, 227;
    --CTBS-DarkThemeCodeColor: #ffffff;
    --CTBS-DarkThemeCodeColorRgb: 255, 255, 255;
    --CTBS-DarkThemeDangerBgSubtle: #130404;
    --CTBS-DarkThemeDangerBgSubtleRgb: 19, 4, 4;
    --CTBS-DarkThemeDangerBorderSubtle: #3d0d0d;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 61, 13, 13;
    --CTBS-DarkThemeDangerTextEmphasis: #e27d7d;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 226, 125, 125;
    --CTBS-DarkThemeDarkBgSubtle: #201830;
    --CTBS-DarkThemeDarkBgSubtleRgb: 32, 24, 48;
    --CTBS-DarkThemeInfoBgSubtle: #040f13;
    --CTBS-DarkThemeInfoBgSubtleRgb: 4, 15, 19;
    --CTBS-DarkThemeInfoBorderSubtle: #0d313d;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 13, 49, 61;
    --CTBS-DarkThemeInfoTextEmphasis: #32aad2;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 50, 170, 210;
    --CTBS-DarkThemeLinkColorRgb: 255, 255, 255;
    --CTBS-DarkThemeLinkHoverColor: #d3cc90;
    --CTBS-DarkThemeLinkHoverColorRgb: 211, 204, 144;
    --CTBS-DarkThemePrimaryBgSubtle: #48431c;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 72, 67, 28;
    --CTBS-DarkThemePrimaryBorderSubtle: #6c662b;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 108, 102, 43;
    --CTBS-DarkThemePrimaryTextEmphasis: #e0dbb2;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 224, 219, 178;
    --CTBS-DarkThemeSecondaryBgRgb: 184, 177, 206;
    --CTBS-DarkThemeSecondaryBgSubtle: #4e456d;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 78, 69, 109;
    --CTBS-DarkThemeSecondaryBorderSubtle: #65588d;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 101, 88, 141;
    --CTBS-DarkThemeSecondaryColor: #ffffff;
    --CTBS-DarkThemeSecondaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeSecondaryTextEmphasis: #ebe9f1;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 235, 233, 241;
    --CTBS-DarkThemeSuccessBgSubtle: #041304;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 4, 19, 4;
    --CTBS-DarkThemeSuccessBorderSubtle: #0d3d0d;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 13, 61, 13;
    --CTBS-DarkThemeSuccessTextEmphasis: #29bb29;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 41, 187, 41;
    --CTBS-DarkThemeTertiaryBg: #8063b1;
    --CTBS-DarkThemeTertiaryBgRgb: 128, 99, 177;
    --CTBS-DarkThemeTertiaryColor: #ffffff;
    --CTBS-DarkThemeTertiaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeWarningBgSubtle: #47411c;
    --CTBS-DarkThemeWarningBgSubtleRgb: 71, 65, 28;
    --CTBS-DarkThemeWarningBorderSubtle: #6c622a;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 108, 98, 42;
    --CTBS-DarkThemeWarningTextEmphasis: #dfd8ae;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 223, 216, 174;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #6d412b;
    --CTBS-FormControlBorderColorRgb: 109, 65, 43;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #8063b1;
    --CTBS-GrayDarkRgb: 128, 99, 177;
    --CTBS-Green: #135713;
    --CTBS-GreenRgb: 19, 87, 19;
    --CTBS-Indigo: #543d8e;
    --CTBS-IndigoRgb: 84, 61, 142;
    --CTBS-InfoBgSubtle: #bfe4f0;
    --CTBS-InfoBgSubtleRgb: 191, 228, 240;
    --CTBS-InfoBorderSubtle: #95d3e7;
    --CTBS-InfoBorderSubtleRgb: 149, 211, 231;
    --CTBS-InfoBtnActiveBg: #1f7591;
    --CTBS-InfoBtnActiveBgRgb: 31, 117, 145;
    --CTBS-InfoBtnFocusShadowRgb: 22, 81, 100;
    --CTBS-InfoBtnHoverBg: #1f7591;
    --CTBS-InfoBtnHoverBgRgb: 31, 117, 145;
    --CTBS-InfoBtnHoverBorderColor: #1f7591;
    --CTBS-InfoBtnHoverBorderColorRgb: 31, 117, 145;
    --CTBS-InfoRgb: 22, 81, 100;
    --CTBS-InfoTableActiveBg: #1f7591;
    --CTBS-InfoTableActiveBgRgb: 31, 117, 145;
    --CTBS-InfoTableBorderColor: #165164;
    --CTBS-InfoTableBorderColorRgb: 22, 81, 100;
    --CTBS-InfoTableHoverBg: #1f7591;
    --CTBS-InfoTableHoverBgRgb: 31, 117, 145;
    --CTBS-InfoTableStripedBg: #2486a6;
    --CTBS-InfoTableStripedBgRgb: 36, 134, 166;
    --CTBS-InfoTextEmphasis: #144a5c;
    --CTBS-InfoTextEmphasisRgb: 20, 74, 92;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBorderColor: #e5ccbe;
    --CTBS-LightBtnActiveBorderColorRgb: 229, 204, 190;
    --CTBS-LightBtnFocusShadowRgb: 244, 233, 227;
    --CTBS-LightBtnHoverBg: #e5ccbe;
    --CTBS-LightBtnHoverBgRgb: 229, 204, 190;
    --CTBS-LightRgb: 244, 233, 227;
    --CTBS-LightTableActiveBg: #e5ccbe;
    --CTBS-LightTableActiveBgRgb: 229, 204, 190;
    --CTBS-LightTableBorderColor: #6d422b;
    --CTBS-LightTableBorderColorRgb: 109, 66, 43;
    --CTBS-LightTableHoverBg: #e5ccbe;
    --CTBS-LightTableHoverBgRgb: 229, 204, 190;
    --CTBS-LightTableStripedBg: #ecdad0;
    --CTBS-LightTableStripedBgRgb: 236, 218, 208;
    --CTBS-LinkHoverColor: #b6aa47;
    --CTBS-LinkHoverColorRgb: 182, 170, 71;
    --CTBS-ModalBgRgb: 244, 233, 227;
    --CTBS-Orange: #694316;
    --CTBS-OrangeRgb: 105, 67, 22;
    --CTBS-Pink: #8a1e54;
    --CTBS-PinkRgb: 138, 30, 84;
    --CTBS-PrimaryBgSubtle: #fefefe;
    --CTBS-PrimaryBgSubtleRgb: 254, 254, 254;
    --CTBS-PrimaryBorderSubtle: #f0eed9;
    --CTBS-PrimaryBorderSubtleRgb: 240, 238, 217;
    --CTBS-PrimaryBtnActiveBorderColor: #b6aa47;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 182, 170, 71;
    --CTBS-PrimaryBtnFocusShadowRgb: 80, 75, 31;
    --CTBS-PrimaryBtnHoverBg: #b6aa47;
    --CTBS-PrimaryBtnHoverBgRgb: 182, 170, 71;
    --CTBS-PrimaryRgb: 80, 75, 31;
    --CTBS-PrimaryTableActiveBg: #b6aa47;
    --CTBS-PrimaryTableActiveBgRgb: 182, 170, 71;
    --CTBS-PrimaryTableBorderColor: #504b1f;
    --CTBS-PrimaryTableBorderColorRgb: 80, 75, 31;
    --CTBS-PrimaryTableHoverBg: #b6aa47;
    --CTBS-PrimaryTableHoverBgRgb: 182, 170, 71;
    --CTBS-PrimaryTableStripedBg: #bdb359;
    --CTBS-PrimaryTableStripedBgRgb: 189, 179, 89;
    --CTBS-PrimaryTextEmphasis: #5b5524;
    --CTBS-PrimaryTextEmphasisRgb: 91, 85, 36;
    --CTBS-Purple: #61398d;
    --CTBS-PurpleRgb: 97, 57, 141;
    --CTBS-Red: #922020;
    --CTBS-RedRgb: 146, 32, 32;
    --CTBS-SecondaryBgRgb: 184, 177, 206;
    --CTBS-SecondaryBgSubtle: #ffffff;
    --CTBS-SecondaryBgSubtleRgb: 255, 255, 255;
    --CTBS-SecondaryBorderSubtle: #ffffff;
    --CTBS-SecondaryBorderSubtleRgb: 255, 255, 255;
    --CTBS-SecondaryBtnActiveBorderColor: #9b91ba;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 155, 145, 186;
    --CTBS-SecondaryBtnFocusShadowRgb: 80, 70, 112;
    --CTBS-SecondaryBtnHoverBg: #9b91ba;
    --CTBS-SecondaryBtnHoverBgRgb: 155, 145, 186;
    --CTBS-SecondaryBtnHoverBorderColor: #9b91ba;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 155, 145, 186;
    --CTBS-SecondaryColor: #504670;
    --CTBS-SecondaryColorRgb: 80, 70, 112;
    --CTBS-SecondaryRgb: 80, 70, 112;
    --CTBS-SecondaryTableActiveBg: #9b91ba;
    --CTBS-SecondaryTableActiveBgRgb: 155, 145, 186;
    --CTBS-SecondaryTableBorderColor: #504670;
    --CTBS-SecondaryTableBorderColorRgb: 80, 70, 112;
    --CTBS-SecondaryTableHoverBg: #9b91ba;
    --CTBS-SecondaryTableHoverBgRgb: 155, 145, 186;
    --CTBS-SecondaryTableStripedBg: #a9a1c4;
    --CTBS-SecondaryTableStripedBgRgb: 169, 161, 196;
    --CTBS-SecondaryTextEmphasis: #5c5080;
    --CTBS-SecondaryTextEmphasisRgb: 92, 80, 128;
    --CTBS-SuccessBgSubtle: #bff0bf;
    --CTBS-SuccessBgSubtleRgb: 191, 240, 191;
    --CTBS-SuccessBorderSubtle: #95e795;
    --CTBS-SuccessBorderSubtleRgb: 149, 231, 149;
    --CTBS-SuccessBtnActiveBorderColor: #1f911f;
    --CTBS-SuccessBtnActiveBorderColorRgb: 31, 145, 31;
    --CTBS-SuccessBtnFocusShadowRgb: 19, 87, 19;
    --CTBS-SuccessBtnHoverBg: #1f911f;
    --CTBS-SuccessBtnHoverBgRgb: 31, 145, 31;
    --CTBS-SuccessBtnHoverBorderColor: #1f911f;
    --CTBS-SuccessBtnHoverBorderColorRgb: 31, 145, 31;
    --CTBS-SuccessRgb: 19, 87, 19;
    --CTBS-SuccessTableActiveBg: #1f911f;
    --CTBS-SuccessTableActiveBgRgb: 31, 145, 31;
    --CTBS-SuccessTableBorderColor: #135713;
    --CTBS-SuccessTableBorderColorRgb: 19, 87, 19;
    --CTBS-SuccessTableHoverBg: #1f911f;
    --CTBS-SuccessTableHoverBgRgb: 31, 145, 31;
    --CTBS-SuccessTableStripedBg: #24a624;
    --CTBS-SuccessTableStripedBgRgb: 36, 166, 36;
    --CTBS-SuccessTextEmphasis: #125312;
    --CTBS-SuccessTextEmphasisRgb: 18, 83, 18;
    --CTBS-Teal: #135741;
    --CTBS-TealRgb: 19, 87, 65;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #fefefd;
    --CTBS-WarningBgSubtleRgb: 254, 254, 253;
    --CTBS-WarningBorderSubtle: #f0ecd8;
    --CTBS-WarningBorderSubtleRgb: 240, 236, 216;
    --CTBS-WarningBtnActiveBg: #b5a547;
    --CTBS-WarningBtnActiveBgRgb: 181, 165, 71;
    --CTBS-WarningBtnFocusShadowRgb: 84, 76, 33;
    --CTBS-WarningBtnHoverBg: #b5a547;
    --CTBS-WarningBtnHoverBgRgb: 181, 165, 71;
    --CTBS-WarningBtnHoverBorderColor: #b5a547;
    --CTBS-WarningBtnHoverBorderColorRgb: 181, 165, 71;
    --CTBS-WarningRgb: 84, 76, 33;
    --CTBS-WarningTableActiveBg: #b5a547;
    --CTBS-WarningTableActiveBgRgb: 181, 165, 71;
    --CTBS-WarningTableBorderColor: #544c21;
    --CTBS-WarningTableBorderColorRgb: 84, 76, 33;
    --CTBS-WarningTableHoverBg: #b5a547;
    --CTBS-WarningTableHoverBgRgb: 181, 165, 71;
    --CTBS-WarningTableStripedBg: #bdaf58;
    --CTBS-WarningTableStripedBgRgb: 189, 175, 88;
    --CTBS-WarningTextEmphasis: #5f5625;
    --CTBS-WarningTextEmphasisRgb: 95, 86, 37;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #544c21;
    --CTBS-YellowRgb: 84, 76, 33;
}