/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 247, 240, 236;
    --CTBS-BackdropBg: #f7f0ec;
    --CTBS-BackdropBgRgb: 247, 240, 236;
    --CTBS-BackgroundColor: #6f462e;
    --CTBS-BackgroundColorRgb: 111, 70, 46;
    --CTBS-BackgroundColor-1: #6f462e;
    --CTBS-BackgroundColor-1Rgb: 111, 70, 46;
    --CTBS-BackgroundColor-2: #6f462e;
    --CTBS-BackgroundColor-2Rgb: 111, 70, 46;
    --CTBS-BackgroundImage: #f7f0ec;
    --CTBS-BackgroundImageRgb: 247, 240, 236;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #544e21;
    --CTBS-BlueRgb: 84, 78, 33;
    --CTBS-BodyBg: #f7f0ec;
    --CTBS-BodyBgRgb: 247, 240, 236;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #6e452f;
    --CTBS-BorderColorRgb: 110, 69, 47;
    --CTBS-BorderColor-1: #6e452f;
    --CTBS-BorderColor-1Rgb: 110, 69, 47;
    --CTBS-BorderColorTranslucent: #6e452f;
    --CTBS-BorderColorTranslucentRgb: 110, 69, 47;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 247, 240, 236;
    --CTBS-CardCapBgRgb: 247, 240, 236;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #e0c5b6;
    --CTBS-CarouselIndicatorActiveBgRgb: 224, 197, 182;
    --CTBS-CarouselIndicatorActiveBg-1: #e0c5b6;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 224, 197, 182;
    --CTBS-CloseBtnCloseColor: #4f4f4f;
    --CTBS-CloseBtnCloseColorRgb: 79, 79, 79;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #17576c;
    --CTBS-CyanRgb: 23, 87, 108;
    --CTBS-Danger: #9a2121;
    --CTBS-DangerRgb: 154, 33, 33;
    --CTBS-DangerBgSubtle: #f2c6c6;
    --CTBS-DangerBgSubtleRgb: 242, 198, 198;
    --CTBS-DangerBorderSubtle: #e17272;
    --CTBS-DangerBorderSubtleRgb: 225, 114, 114;
    --CTBS-DangerBtnActiveBg: #5a1313;
    --CTBS-DangerBtnActiveBgRgb: 90, 19, 19;
    --CTBS-DangerBtnActiveBorderColor: #701818;
    --CTBS-DangerBtnActiveBorderColorRgb: 112, 24, 24;
    --CTBS-DangerBtnActiveColor: #701818;
    --CTBS-DangerBtnActiveColorRgb: 112, 24, 24;
    --CTBS-DangerBtnActiveShadow: #701818;
    --CTBS-DangerBtnActiveShadowRgb: 112, 24, 24;
    --CTBS-DangerBtnBg: #9a2121;
    --CTBS-DangerBtnBgRgb: 154, 33, 33;
    --CTBS-DangerBtnBorderColor: #fbeeee;
    --CTBS-DangerBtnBorderColorRgb: 251, 238, 238;
    --CTBS-DangerBtnColor: #fbeeee;
    --CTBS-DangerBtnColorRgb: 251, 238, 238;
    --CTBS-DangerBtnDisabledBg: #9a2121;
    --CTBS-DangerBtnDisabledBgRgb: 154, 33, 33;
    --CTBS-DangerBtnDisabledBorderColor: #fbeeee;
    --CTBS-DangerBtnDisabledBorderColorRgb: 251, 238, 238;
    --CTBS-DangerBtnDisabledColor: #fbeeee;
    --CTBS-DangerBtnDisabledColorRgb: 251, 238, 238;
    --CTBS-DangerBtnFocusShadowRgb: 154, 33, 33;
    --CTBS-DangerBtnHoverBg: #5a1313;
    --CTBS-DangerBtnHoverBgRgb: 90, 19, 19;
    --CTBS-DangerBtnHoverBorderColor: #701818;
    --CTBS-DangerBtnHoverBorderColorRgb: 112, 24, 24;
    --CTBS-DangerBtnHoverColor: #701818;
    --CTBS-DangerBtnHoverColorRgb: 112, 24, 24;
    --CTBS-DangerTableActiveBg: #f2c6c6;
    --CTBS-DangerTableActiveBgRgb: 242, 198, 198;
    --CTBS-DangerTableActiveColor: #701818;
    --CTBS-DangerTableActiveColorRgb: 112, 24, 24;
    --CTBS-DangerTableBg: #f2c6c6;
    --CTBS-DangerTableBgRgb: 242, 198, 198;
    --CTBS-DangerTableBorderColor: #9a2121;
    --CTBS-DangerTableBorderColorRgb: 154, 33, 33;
    --CTBS-DangerTableColor: #9a2121;
    --CTBS-DangerTableColorRgb: 154, 33, 33;
    --CTBS-DangerTableHoverBg: #f2c6c6;
    --CTBS-DangerTableHoverBgRgb: 242, 198, 198;
    --CTBS-DangerTableHoverColor: #701818;
    --CTBS-DangerTableHoverColorRgb: 112, 24, 24;
    --CTBS-DangerTableStripedBg: #f2c6c6;
    --CTBS-DangerTableStripedBgRgb: 242, 198, 198;
    --CTBS-DangerTableStripedColor: #841c1c;
    --CTBS-DangerTableStripedColorRgb: 132, 28, 28;
    --CTBS-DangerTextEmphasis: #470f0f;
    --CTBS-DangerTextEmphasisRgb: 71, 15, 15;
    --CTBS-Dark: #0b0811;
    --CTBS-DarkRgb: 11, 8, 17;
    --CTBS-DarkBgSubtle: #7d61b5;
    --CTBS-DarkBgSubtleRgb: 125, 97, 181;
    --CTBS-DarkBorderSubtle: #4e3879;
    --CTBS-DarkBorderSubtleRgb: 78, 56, 121;
    --CTBS-DarkBtnActiveBg: #000000;
    --CTBS-DarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveBorderColor: #000000;
    --CTBS-DarkBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveColor: #000000;
    --CTBS-DarkBtnActiveColorRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveShadow: #000000;
    --CTBS-DarkBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-DarkBtnBg: #0b0811;
    --CTBS-DarkBtnBgRgb: 11, 8, 17;
    --CTBS-DarkBtnBorderColor: #0b0811;
    --CTBS-DarkBtnBorderColorRgb: 11, 8, 17;
    --CTBS-DarkBtnColor: #0b0811;
    --CTBS-DarkBtnColorRgb: 11, 8, 17;
    --CTBS-DarkBtnDisabledBg: #0b0811;
    --CTBS-DarkBtnDisabledBgRgb: 11, 8, 17;
    --CTBS-DarkBtnDisabledBorderColor: #0b0811;
    --CTBS-DarkBtnDisabledBorderColorRgb: 11, 8, 17;
    --CTBS-DarkBtnDisabledColor: #0b0811;
    --CTBS-DarkBtnDisabledColorRgb: 11, 8, 17;
    --CTBS-DarkBtnFocusShadowRgb: 11, 8, 17;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverBorderColor: #000000;
    --CTBS-DarkBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverColor: #000000;
    --CTBS-DarkBtnHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarActiveColor: #000000;
    --CTBS-DarkNavbarActiveColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarBrandColor: #0b0811;
    --CTBS-DarkNavbarBrandColorRgb: 11, 8, 17;
    --CTBS-DarkNavbarBrandHoverColor: #000000;
    --CTBS-DarkNavbarBrandHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarColor: #0b0811;
    --CTBS-DarkNavbarColorRgb: 11, 8, 17;
    --CTBS-DarkNavbarDisabledColor: #0b0811;
    --CTBS-DarkNavbarDisabledColorRgb: 11, 8, 17;
    --CTBS-DarkNavbarHoverColor: #000000;
    --CTBS-DarkNavbarHoverColorRgb: 0, 0, 0;
    --CTBS-DarkNavbarTogglerBorderColor: #0b0811;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 11, 8, 17;
    --CTBS-DarkTableActiveBg: #000000;
    --CTBS-DarkTableActiveBgRgb: 0, 0, 0;
    --CTBS-DarkTableActiveColor: #000000;
    --CTBS-DarkTableActiveColorRgb: 0, 0, 0;
    --CTBS-DarkTableBg: #0b0811;
    --CTBS-DarkTableBgRgb: 11, 8, 17;
    --CTBS-DarkTableBorderColor: #0b0811;
    --CTBS-DarkTableBorderColorRgb: 11, 8, 17;
    --CTBS-DarkTableColor: #0b0811;
    --CTBS-DarkTableColorRgb: 11, 8, 17;
    --CTBS-DarkTableHoverBg: #000000;
    --CTBS-DarkTableHoverBgRgb: 0, 0, 0;
    --CTBS-DarkTableHoverColor: #000000;
    --CTBS-DarkTableHoverColorRgb: 0, 0, 0;
    --CTBS-DarkTableStripedBg: #000000;
    --CTBS-DarkTableStripedBgRgb: 0, 0, 0;
    --CTBS-DarkTableStripedColor: #000000;
    --CTBS-DarkTableStripedColorRgb: 0, 0, 0;
    --CTBS-DarkTextEmphasis: #4f4f4f;
    --CTBS-DarkTextEmphasisRgb: 79, 79, 79;
    --CTBS-DarkThemeBodyBg: #0b0811;
    --CTBS-DarkThemeBodyBgRgb: 11, 8, 17;
    --CTBS-DarkThemeBodyColor: #f7f0ec;
    --CTBS-DarkThemeBodyColorRgb: 247, 240, 236;
    --CTBS-DarkThemeBorderColor: #e0c5b6;
    --CTBS-DarkThemeBorderColorRgb: 224, 197, 182;
    --CTBS-DarkThemeBorderColorTranslucent: #e0c5b6;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 224, 197, 182;
    --CTBS-DarkThemeCarouselCaptionColor: #f7f0ec;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 247, 240, 236;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #2c2045;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 44, 32, 69;
    --CTBS-DarkThemeCodeColor: #f7f0ec;
    --CTBS-DarkThemeCodeColorRgb: 247, 240, 236;
    --CTBS-DarkThemeDangerBgSubtle: #000000;
    --CTBS-DarkThemeDangerBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDangerBorderSubtle: #1b0606;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 27, 6, 6;
    --CTBS-DarkThemeDangerTextEmphasis: #e38181;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 227, 129, 129;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDarkBorderSubtle: #000000;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDarkTextEmphasis: #a693cb;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 166, 147, 203;
    --CTBS-DarkThemeEmphasisColor: #9b9b9b;
    --CTBS-DarkThemeEmphasisColorRgb: 155, 155, 155;
    --CTBS-DarkThemeFormInvalidBorderColor: #e0c5b6;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 224, 197, 182;
    --CTBS-DarkThemeFormInvalidColor: #9b9b9b;
    --CTBS-DarkThemeFormInvalidColorRgb: 155, 155, 155;
    --CTBS-DarkThemeFormValidBorderColor: #e0c5b6;
    --CTBS-DarkThemeFormValidBorderColorRgb: 224, 197, 182;
    --CTBS-DarkThemeFormValidColor: #9b9b9b;
    --CTBS-DarkThemeFormValidColorRgb: 155, 155, 155;
    --CTBS-DarkThemeHighlightBg: #0b0811;
    --CTBS-DarkThemeHighlightBgRgb: 11, 8, 17;
    --CTBS-DarkThemeHighlightColor: #f7f0ec;
    --CTBS-DarkThemeHighlightColorRgb: 247, 240, 236;
    --CTBS-DarkThemeInfoBgSubtle: #000000;
    --CTBS-DarkThemeInfoBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBorderSubtle: #000000;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoTextEmphasis: #2ca9d2;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 44, 169, 210;
    --CTBS-DarkThemeLightBgSubtle: #9f6443;
    --CTBS-DarkThemeLightBgSubtleRgb: 159, 100, 67;
    --CTBS-DarkThemeLightBorderSubtle: #c99a80;
    --CTBS-DarkThemeLightBorderSubtleRgb: 201, 154, 128;
    --CTBS-DarkThemeLightTextEmphasis: #9b9b9b;
    --CTBS-DarkThemeLightTextEmphasisRgb: 155, 155, 155;
    --CTBS-DarkThemeLinkColor: #ac9f43;
    --CTBS-DarkThemeLinkColorRgb: 172, 159, 67;
    --CTBS-DarkThemeLinkHoverColor: #ac9f43;
    --CTBS-DarkThemeLinkHoverColorRgb: 172, 159, 67;
    --CTBS-DarkThemePrimaryBgSubtle: #000000;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemePrimaryBorderSubtle: #000000;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemePrimaryTextEmphasis: #a89d41;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 168, 157, 65;
    --CTBS-DarkThemeSecondaryBg: #a197be;
    --CTBS-DarkThemeSecondaryBgRgb: 161, 151, 190;
    --CTBS-DarkThemeSecondaryBgSubtle: #000000;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryBorderSubtle: #0f0d14;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 15, 13, 20;
    --CTBS-DarkThemeSecondaryColor: #a197be;
    --CTBS-DarkThemeSecondaryColorRgb: 161, 151, 190;
    --CTBS-DarkThemeSecondaryTextEmphasis: #a097be;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 160, 151, 190;
    --CTBS-DarkThemeSuccessBgSubtle: #000000;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSuccessBorderSubtle: #000000;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSuccessTextEmphasis: #27b427;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 39, 180, 39;
    --CTBS-DarkThemeTertiaryBg: #0b0811;
    --CTBS-DarkThemeTertiaryBgRgb: 11, 8, 17;
    --CTBS-DarkThemeTertiaryColor: #f7f0ec;
    --CTBS-DarkThemeTertiaryColorRgb: 247, 240, 236;
    --CTBS-DarkThemeWarningBgSubtle: #000000;
    --CTBS-DarkThemeWarningBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningBorderSubtle: #000000;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningTextEmphasis: #ac9e42;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 172, 158, 66;
    --CTBS-DropdownBg: #f7f0ec;
    --CTBS-DropdownBgRgb: 247, 240, 236;
    --CTBS-DropdownColor: #534873;
    --CTBS-DropdownColorRgb: 83, 72, 115;
    --CTBS-DropdownHeaderColor: #534873;
    --CTBS-DropdownHeaderColorRgb: 83, 72, 115;
    --CTBS-DropdownHeaderColor-1: #534873;
    --CTBS-DropdownHeaderColor-1Rgb: 83, 72, 115;
    --CTBS-DropdownLinkActiveBg: #1d1b0b;
    --CTBS-DropdownLinkActiveBgRgb: 29, 27, 11;
    --CTBS-DropdownLinkActiveColor: #2f2c12;
    --CTBS-DropdownLinkActiveColorRgb: 47, 44, 18;
    --CTBS-DropdownLinkColor: #544e21;
    --CTBS-DropdownLinkColorRgb: 84, 78, 33;
    --CTBS-DropdownLinkDisabledColor: #544e21;
    --CTBS-DropdownLinkDisabledColorRgb: 84, 78, 33;
    --CTBS-DropdownLinkHoverBg: #1d1b0b;
    --CTBS-DropdownLinkHoverBgRgb: 29, 27, 11;
    --CTBS-DropdownLinkHoverColor: #2f2c12;
    --CTBS-DropdownLinkHoverColorRgb: 47, 44, 18;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #4f4f4f;
    --CTBS-FormCheckInputBackgroundColorRgb: 79, 79, 79;
    --CTBS-FormCheckInputBorderColor: #6e452f;
    --CTBS-FormCheckInputBorderColorRgb: 110, 69, 47;
    --CTBS-FormCheckInputBorderColor-1: #6e452f;
    --CTBS-FormCheckInputBorderColor-1Rgb: 110, 69, 47;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #6e452f;
    --CTBS-FormControlBorderColorRgb: 110, 69, 47;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #4f4f4f;
    --CTBS-FormControlColorRgb: 79, 79, 79;
    --CTBS-FormInvalidBorderColor: #6e452f;
    --CTBS-FormInvalidBorderColorRgb: 110, 69, 47;
    --CTBS-FormInvalidColor: #4f4f4f;
    --CTBS-FormInvalidColorRgb: 79, 79, 79;
    --CTBS-FormValidBorderColor: #6e452f;
    --CTBS-FormValidBorderColorRgb: 110, 69, 47;
    --CTBS-FormValidColor: #4f4f4f;
    --CTBS-FormValidColorRgb: 79, 79, 79;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #4b5157;
    --CTBS-GrayRgb: 75, 81, 87;
    --CTBS-Gray100: #b1b7bc;
    --CTBS-Gray100Rgb: 177, 183, 188;
    --CTBS-Gray200: #969da4;
    --CTBS-Gray200Rgb: 150, 157, 164;
    --CTBS-Gray300: #7a838d;
    --CTBS-Gray300Rgb: 122, 131, 141;
    --CTBS-Gray400: #626a72;
    --CTBS-Gray400Rgb: 98, 106, 114;
    --CTBS-Gray500: #4b5157;
    --CTBS-Gray500Rgb: 75, 81, 87;
    --CTBS-Gray600: #33373b;
    --CTBS-Gray600Rgb: 51, 55, 59;
    --CTBS-Gray700: #1b1d20;
    --CTBS-Gray700Rgb: 27, 29, 32;
    --CTBS-Gray800: #040404;
    --CTBS-Gray800Rgb: 4, 4, 4;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #0b0811;
    --CTBS-GrayDarkRgb: 11, 8, 17;
    --CTBS-Green: #145c14;
    --CTBS-GreenRgb: 20, 92, 20;
    --CTBS-HighlightBg: #f7f0ec;
    --CTBS-HighlightBgRgb: 247, 240, 236;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #584095;
    --CTBS-IndigoRgb: 88, 64, 149;
    --CTBS-Info: #17576c;
    --CTBS-InfoRgb: 23, 87, 108;
    --CTBS-InfoBgSubtle: #98d5e8;
    --CTBS-InfoBgSubtleRgb: 152, 213, 232;
    --CTBS-InfoBorderSubtle: #44b3d7;
    --CTBS-InfoBorderSubtleRgb: 68, 179, 215;
    --CTBS-InfoBtnActiveBg: #09242c;
    --CTBS-InfoBtnActiveBgRgb: 9, 36, 44;
    --CTBS-InfoBtnActiveBorderColor: #0e3541;
    --CTBS-InfoBtnActiveBorderColorRgb: 14, 53, 65;
    --CTBS-InfoBtnActiveColor: #0e3541;
    --CTBS-InfoBtnActiveColorRgb: 14, 53, 65;
    --CTBS-InfoBtnActiveShadow: #0e3541;
    --CTBS-InfoBtnActiveShadowRgb: 14, 53, 65;
    --CTBS-InfoBtnBg: #17576c;
    --CTBS-InfoBtnBgRgb: 23, 87, 108;
    --CTBS-InfoBtnBorderColor: #e5f4f9;
    --CTBS-InfoBtnBorderColorRgb: 229, 244, 249;
    --CTBS-InfoBtnColor: #e5f4f9;
    --CTBS-InfoBtnColorRgb: 229, 244, 249;
    --CTBS-InfoBtnDisabledBg: #17576c;
    --CTBS-InfoBtnDisabledBgRgb: 23, 87, 108;
    --CTBS-InfoBtnDisabledBorderColor: #e5f4f9;
    --CTBS-InfoBtnDisabledBorderColorRgb: 229, 244, 249;
    --CTBS-InfoBtnDisabledColor: #e5f4f9;
    --CTBS-InfoBtnDisabledColorRgb: 229, 244, 249;
    --CTBS-InfoBtnFocusShadowRgb: 23, 87, 108;
    --CTBS-InfoBtnHoverBg: #09242c;
    --CTBS-InfoBtnHoverBgRgb: 9, 36, 44;
    --CTBS-InfoBtnHoverBorderColor: #0e3541;
    --CTBS-InfoBtnHoverBorderColorRgb: 14, 53, 65;
    --CTBS-InfoBtnHoverColor: #0e3541;
    --CTBS-InfoBtnHoverColorRgb: 14, 53, 65;
    --CTBS-InfoTableActiveBg: #98d5e8;
    --CTBS-InfoTableActiveBgRgb: 152, 213, 232;
    --CTBS-InfoTableActiveColor: #0e3541;
    --CTBS-InfoTableActiveColorRgb: 14, 53, 65;
    --CTBS-InfoTableBg: #98d5e8;
    --CTBS-InfoTableBgRgb: 152, 213, 232;
    --CTBS-InfoTableBorderColor: #17576c;
    --CTBS-InfoTableBorderColorRgb: 23, 87, 108;
    --CTBS-InfoTableColor: #17576c;
    --CTBS-InfoTableColorRgb: 23, 87, 108;
    --CTBS-InfoTableHoverBg: #98d5e8;
    --CTBS-InfoTableHoverBgRgb: 152, 213, 232;
    --CTBS-InfoTableHoverColor: #0e3541;
    --CTBS-InfoTableHoverColorRgb: 14, 53, 65;
    --CTBS-InfoTableStripedBg: #98d5e8;
    --CTBS-InfoTableStripedBgRgb: 152, 213, 232;
    --CTBS-InfoTableStripedColor: #124656;
    --CTBS-InfoTableStripedColorRgb: 18, 70, 86;
    --CTBS-InfoTextEmphasis: #0c2f3a;
    --CTBS-InfoTextEmphasisRgb: 12, 47, 58;
    --CTBS-Light: #f7f0ec;
    --CTBS-LightRgb: 247, 240, 236;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBorderSubtle: #ffffff;
    --CTBS-LightBorderSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBg: #e0c5b6;
    --CTBS-LightBtnActiveBgRgb: 224, 197, 182;
    --CTBS-LightBtnActiveBorderColor: #6e4630;
    --CTBS-LightBtnActiveBorderColorRgb: 110, 70, 48;
    --CTBS-LightBtnActiveColor: #6e4630;
    --CTBS-LightBtnActiveColorRgb: 110, 70, 48;
    --CTBS-LightBtnActiveShadow: #6e4630;
    --CTBS-LightBtnActiveShadowRgb: 110, 70, 48;
    --CTBS-LightBtnBg: #f7f0ec;
    --CTBS-LightBtnBgRgb: 247, 240, 236;
    --CTBS-LightBtnBorderColor: #6f462e;
    --CTBS-LightBtnBorderColorRgb: 111, 70, 46;
    --CTBS-LightBtnColor: #6f462e;
    --CTBS-LightBtnColorRgb: 111, 70, 46;
    --CTBS-LightBtnDisabledBg: #f7f0ec;
    --CTBS-LightBtnDisabledBgRgb: 247, 240, 236;
    --CTBS-LightBtnDisabledBorderColor: #6f462e;
    --CTBS-LightBtnDisabledBorderColorRgb: 111, 70, 46;
    --CTBS-LightBtnDisabledColor: #6f462e;
    --CTBS-LightBtnDisabledColorRgb: 111, 70, 46;
    --CTBS-LightBtnFocusShadowRgb: 247, 240, 236;
    --CTBS-LightBtnHoverBg: #e0c5b6;
    --CTBS-LightBtnHoverBgRgb: 224, 197, 182;
    --CTBS-LightBtnHoverBorderColor: #6e4630;
    --CTBS-LightBtnHoverBorderColorRgb: 110, 70, 48;
    --CTBS-LightBtnHoverColor: #6e4630;
    --CTBS-LightBtnHoverColorRgb: 110, 70, 48;
    --CTBS-LightTableActiveBg: #e0c5b6;
    --CTBS-LightTableActiveBgRgb: 224, 197, 182;
    --CTBS-LightTableActiveColor: #6e4630;
    --CTBS-LightTableActiveColorRgb: 110, 70, 48;
    --CTBS-LightTableBg: #f7f0ec;
    --CTBS-LightTableBgRgb: 247, 240, 236;
    --CTBS-LightTableBorderColor: #6f462e;
    --CTBS-LightTableBorderColorRgb: 111, 70, 46;
    --CTBS-LightTableColor: #6f462e;
    --CTBS-LightTableColorRgb: 111, 70, 46;
    --CTBS-LightTableHoverBg: #e0c5b6;
    --CTBS-LightTableHoverBgRgb: 224, 197, 182;
    --CTBS-LightTableHoverColor: #6e4630;
    --CTBS-LightTableHoverColorRgb: 110, 70, 48;
    --CTBS-LightTableStripedBg: #efe1da;
    --CTBS-LightTableStripedBgRgb: 239, 225, 218;
    --CTBS-LightTableStripedColor: #efe1da;
    --CTBS-LightTableStripedColorRgb: 239, 225, 218;
    --CTBS-LightTextEmphasis: #6f462e;
    --CTBS-LightTextEmphasisRgb: 111, 70, 46;
    --CTBS-LinkBtnBoxShadow: #544e21;
    --CTBS-LinkBtnBoxShadowRgb: 84, 78, 33;
    --CTBS-LinkBtnDisabledColor: #f0eeda;
    --CTBS-LinkBtnDisabledColorRgb: 240, 238, 218;
    --CTBS-LinkBtnFocusShadowRgb: 84, 78, 33;
    --CTBS-LinkColor: #544e21;
    --CTBS-LinkColorRgb: 84, 78, 33;
    --CTBS-LinkHoverColor: #2f2c12;
    --CTBS-LinkHoverColorRgb: 47, 44, 18;
    --CTBS-LinkNavBoxShadow: #544e21;
    --CTBS-LinkNavBoxShadowRgb: 84, 78, 33;
    --CTBS-ListGroupActionActiveBgRgb: 224, 197, 182;
    --CTBS-ListGroupActionHoverBgRgb: 224, 197, 182;
    --CTBS-ListGroupActiveBg: #e0c5b6;
    --CTBS-ListGroupActiveBgRgb: 224, 197, 182;
    --CTBS-ListGroupActiveBorderColor: #6e452f;
    --CTBS-ListGroupActiveBorderColorRgb: 110, 69, 47;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 247, 240, 236;
    --CTBS-ListGroupDisabledBgRgb: 247, 240, 236;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 247, 240, 236;
    --CTBS-OffcanvasBgRgb: 247, 240, 236;
    --CTBS-Orange: #6d4517;
    --CTBS-OrangeRgb: 109, 69, 23;
    --CTBS-OutlineDangerBtnActiveBg: #5a1313;
    --CTBS-OutlineDangerBtnActiveBgRgb: 90, 19, 19;
    --CTBS-OutlineDangerBtnActiveBorderColor: #701818;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 112, 24, 24;
    --CTBS-OutlineDangerBtnActiveColor: #701818;
    --CTBS-OutlineDangerBtnActiveColorRgb: 112, 24, 24;
    --CTBS-OutlineDangerBtnActiveShadow: #701818;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 112, 24, 24;
    --CTBS-OutlineDangerBtnBorderColor: #fbeeee;
    --CTBS-OutlineDangerBtnBorderColorRgb: 251, 238, 238;
    --CTBS-OutlineDangerBtnColor: #fbeeee;
    --CTBS-OutlineDangerBtnColorRgb: 251, 238, 238;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #fbeeee;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 251, 238, 238;
    --CTBS-OutlineDangerBtnDisabledColor: #fbeeee;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 251, 238, 238;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 154, 33, 33;
    --CTBS-OutlineDangerBtnHoverBg: #5a1313;
    --CTBS-OutlineDangerBtnHoverBgRgb: 90, 19, 19;
    --CTBS-OutlineDangerBtnHoverBorderColor: #701818;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 112, 24, 24;
    --CTBS-OutlineDangerBtnHoverColor: #701818;
    --CTBS-OutlineDangerBtnHoverColorRgb: 112, 24, 24;
    --CTBS-OutlineDarkBtnActiveBg: #000000;
    --CTBS-OutlineDarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveBorderColor: #000000;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveColor: #000000;
    --CTBS-OutlineDarkBtnActiveColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveShadow: #000000;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnBorderColor: #0b0811;
    --CTBS-OutlineDarkBtnBorderColorRgb: 11, 8, 17;
    --CTBS-OutlineDarkBtnColor: #0b0811;
    --CTBS-OutlineDarkBtnColorRgb: 11, 8, 17;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #0b0811;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 11, 8, 17;
    --CTBS-OutlineDarkBtnDisabledColor: #0b0811;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 11, 8, 17;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 11, 8, 17;
    --CTBS-OutlineDarkBtnHoverBg: #000000;
    --CTBS-OutlineDarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverBorderColor: #000000;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverColor: #000000;
    --CTBS-OutlineDarkBtnHoverColorRgb: 0, 0, 0;
    --CTBS-OutlineInfoBtnActiveBg: #09242c;
    --CTBS-OutlineInfoBtnActiveBgRgb: 9, 36, 44;
    --CTBS-OutlineInfoBtnActiveBorderColor: #0e3541;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 14, 53, 65;
    --CTBS-OutlineInfoBtnActiveColor: #0e3541;
    --CTBS-OutlineInfoBtnActiveColorRgb: 14, 53, 65;
    --CTBS-OutlineInfoBtnActiveShadow: #0e3541;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 14, 53, 65;
    --CTBS-OutlineInfoBtnBorderColor: #e5f4f9;
    --CTBS-OutlineInfoBtnBorderColorRgb: 229, 244, 249;
    --CTBS-OutlineInfoBtnColor: #e5f4f9;
    --CTBS-OutlineInfoBtnColorRgb: 229, 244, 249;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #e5f4f9;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 229, 244, 249;
    --CTBS-OutlineInfoBtnDisabledColor: #e5f4f9;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 229, 244, 249;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 23, 87, 108;
    --CTBS-OutlineInfoBtnHoverBg: #09242c;
    --CTBS-OutlineInfoBtnHoverBgRgb: 9, 36, 44;
    --CTBS-OutlineInfoBtnHoverBorderColor: #0e3541;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 14, 53, 65;
    --CTBS-OutlineInfoBtnHoverColor: #0e3541;
    --CTBS-OutlineInfoBtnHoverColorRgb: 14, 53, 65;
    --CTBS-OutlineLightBtnActiveBg: #e0c5b6;
    --CTBS-OutlineLightBtnActiveBgRgb: 224, 197, 182;
    --CTBS-OutlineLightBtnActiveBorderColor: #6e4630;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 110, 70, 48;
    --CTBS-OutlineLightBtnActiveColor: #6e4630;
    --CTBS-OutlineLightBtnActiveColorRgb: 110, 70, 48;
    --CTBS-OutlineLightBtnActiveShadow: #6e4630;
    --CTBS-OutlineLightBtnActiveShadowRgb: 110, 70, 48;
    --CTBS-OutlineLightBtnBorderColor: #6f462e;
    --CTBS-OutlineLightBtnBorderColorRgb: 111, 70, 46;
    --CTBS-OutlineLightBtnColor: #6f462e;
    --CTBS-OutlineLightBtnColorRgb: 111, 70, 46;
    --CTBS-OutlineLightBtnDisabledBorderColor: #6f462e;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 111, 70, 46;
    --CTBS-OutlineLightBtnDisabledColor: #6f462e;
    --CTBS-OutlineLightBtnDisabledColorRgb: 111, 70, 46;
    --CTBS-OutlineLightBtnFocusShadowRgb: 247, 240, 236;
    --CTBS-OutlineLightBtnHoverBg: #e0c5b6;
    --CTBS-OutlineLightBtnHoverBgRgb: 224, 197, 182;
    --CTBS-OutlineLightBtnHoverBorderColor: #6e4630;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 110, 70, 48;
    --CTBS-OutlineLightBtnHoverColor: #6e4630;
    --CTBS-OutlineLightBtnHoverColorRgb: 110, 70, 48;
    --CTBS-OutlinePrimaryBtnActiveBg: #1d1b0b;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 29, 27, 11;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #2f2c12;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 47, 44, 18;
    --CTBS-OutlinePrimaryBtnActiveColor: #2f2c12;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 47, 44, 18;
    --CTBS-OutlinePrimaryBtnActiveShadow: #2f2c12;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 47, 44, 18;
    --CTBS-OutlinePrimaryBtnBorderColor: #f0eeda;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 240, 238, 218;
    --CTBS-OutlinePrimaryBtnColor: #f0eeda;
    --CTBS-OutlinePrimaryBtnColorRgb: 240, 238, 218;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #f0eeda;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 240, 238, 218;
    --CTBS-OutlinePrimaryBtnDisabledColor: #f0eeda;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 240, 238, 218;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 84, 78, 33;
    --CTBS-OutlinePrimaryBtnHoverBg: #1d1b0b;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 29, 27, 11;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #2f2c12;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 47, 44, 18;
    --CTBS-OutlinePrimaryBtnHoverColor: #2f2c12;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 47, 44, 18;
    --CTBS-OutlineSecondaryBtnActiveBg: #312a43;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 49, 42, 67;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #3c3453;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 60, 52, 83;
    --CTBS-OutlineSecondaryBtnActiveColor: #3c3453;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 60, 52, 83;
    --CTBS-OutlineSecondaryBtnActiveShadow: #3c3453;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 60, 52, 83;
    --CTBS-OutlineSecondaryBtnBorderColor: #f0eff5;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 240, 239, 245;
    --CTBS-OutlineSecondaryBtnColor: #f0eff5;
    --CTBS-OutlineSecondaryBtnColorRgb: 240, 239, 245;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #f0eff5;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 240, 239, 245;
    --CTBS-OutlineSecondaryBtnDisabledColor: #f0eff5;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 240, 239, 245;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 83, 72, 115;
    --CTBS-OutlineSecondaryBtnHoverBg: #312a43;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 49, 42, 67;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #3c3453;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 60, 52, 83;
    --CTBS-OutlineSecondaryBtnHoverColor: #3c3453;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 60, 52, 83;
    --CTBS-OutlineSuccessBtnActiveBg: #061d06;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 6, 29, 6;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #0a320a;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 10, 50, 10;
    --CTBS-OutlineSuccessBtnActiveColor: #0a320a;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 10, 50, 10;
    --CTBS-OutlineSuccessBtnActiveShadow: #0a320a;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 10, 50, 10;
    --CTBS-OutlineSuccessBtnBorderColor: #ddf7dd;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 221, 247, 221;
    --CTBS-OutlineSuccessBtnColor: #ddf7dd;
    --CTBS-OutlineSuccessBtnColorRgb: 221, 247, 221;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #ddf7dd;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 221, 247, 221;
    --CTBS-OutlineSuccessBtnDisabledColor: #ddf7dd;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 221, 247, 221;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 20, 92, 20;
    --CTBS-OutlineSuccessBtnHoverBg: #061d06;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 6, 29, 6;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #0a320a;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 10, 50, 10;
    --CTBS-OutlineSuccessBtnHoverColor: #0a320a;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 10, 50, 10;
    --CTBS-OutlineWarningBtnActiveBg: #1f1d0c;
    --CTBS-OutlineWarningBtnActiveBgRgb: 31, 29, 12;
    --CTBS-OutlineWarningBtnActiveBorderColor: #322e13;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 50, 46, 19;
    --CTBS-OutlineWarningBtnActiveColor: #322e13;
    --CTBS-OutlineWarningBtnActiveColorRgb: 50, 46, 19;
    --CTBS-OutlineWarningBtnActiveShadow: #322e13;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 50, 46, 19;
    --CTBS-OutlineWarningBtnBorderColor: #f3f1e1;
    --CTBS-OutlineWarningBtnBorderColorRgb: 243, 241, 225;
    --CTBS-OutlineWarningBtnColor: #f3f1e1;
    --CTBS-OutlineWarningBtnColorRgb: 243, 241, 225;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #f3f1e1;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 243, 241, 225;
    --CTBS-OutlineWarningBtnDisabledColor: #f3f1e1;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 243, 241, 225;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 87, 80, 34;
    --CTBS-OutlineWarningBtnHoverBg: #1f1d0c;
    --CTBS-OutlineWarningBtnHoverBgRgb: 31, 29, 12;
    --CTBS-OutlineWarningBtnHoverBorderColor: #322e13;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 50, 46, 19;
    --CTBS-OutlineWarningBtnHoverColor: #322e13;
    --CTBS-OutlineWarningBtnHoverColorRgb: 50, 46, 19;
    --CTBS-PaginationActiveBg: #e0c5b6;
    --CTBS-PaginationActiveBgRgb: 224, 197, 182;
    --CTBS-PaginationActiveBorderColor: #6e452f;
    --CTBS-PaginationActiveBorderColorRgb: 110, 69, 47;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #1d1b0b;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 29, 27, 11;
    --CTBS-PillsNavPillsLinkActiveColor: #2f2c12;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 47, 44, 18;
    --CTBS-Pink: #922059;
    --CTBS-PinkRgb: 146, 32, 89;
    --CTBS-Primary: #544e21;
    --CTBS-PrimaryRgb: 84, 78, 33;
    --CTBS-PrimaryBgSubtle: #d7d09b;
    --CTBS-PrimaryBgSubtleRgb: 215, 208, 155;
    --CTBS-PrimaryBorderSubtle: #bbaf52;
    --CTBS-PrimaryBorderSubtleRgb: 187, 175, 82;
    --CTBS-PrimaryBtnActiveBg: #1d1b0b;
    --CTBS-PrimaryBtnActiveBgRgb: 29, 27, 11;
    --CTBS-PrimaryBtnActiveBorderColor: #2f2c12;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 47, 44, 18;
    --CTBS-PrimaryBtnActiveColor: #2f2c12;
    --CTBS-PrimaryBtnActiveColorRgb: 47, 44, 18;
    --CTBS-PrimaryBtnActiveShadow: #2f2c12;
    --CTBS-PrimaryBtnActiveShadowRgb: 47, 44, 18;
    --CTBS-PrimaryBtnBg: #544e21;
    --CTBS-PrimaryBtnBgRgb: 84, 78, 33;
    --CTBS-PrimaryBtnBorderColor: #f0eeda;
    --CTBS-PrimaryBtnBorderColorRgb: 240, 238, 218;
    --CTBS-PrimaryBtnColor: #f0eeda;
    --CTBS-PrimaryBtnColorRgb: 240, 238, 218;
    --CTBS-PrimaryBtnDisabledBg: #544e21;
    --CTBS-PrimaryBtnDisabledBgRgb: 84, 78, 33;
    --CTBS-PrimaryBtnDisabledBorderColor: #f0eeda;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 240, 238, 218;
    --CTBS-PrimaryBtnDisabledColor: #f0eeda;
    --CTBS-PrimaryBtnDisabledColorRgb: 240, 238, 218;
    --CTBS-PrimaryBtnFocusShadowRgb: 84, 78, 33;
    --CTBS-PrimaryBtnHoverBg: #1d1b0b;
    --CTBS-PrimaryBtnHoverBgRgb: 29, 27, 11;
    --CTBS-PrimaryBtnHoverBorderColor: #2f2c12;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 47, 44, 18;
    --CTBS-PrimaryBtnHoverColor: #2f2c12;
    --CTBS-PrimaryBtnHoverColorRgb: 47, 44, 18;
    --CTBS-PrimaryTableActiveBg: #d7d09b;
    --CTBS-PrimaryTableActiveBgRgb: 215, 208, 155;
    --CTBS-PrimaryTableActiveColor: #2f2c12;
    --CTBS-PrimaryTableActiveColorRgb: 47, 44, 18;
    --CTBS-PrimaryTableBg: #d7d09b;
    --CTBS-PrimaryTableBgRgb: 215, 208, 155;
    --CTBS-PrimaryTableBorderColor: #544e21;
    --CTBS-PrimaryTableBorderColorRgb: 84, 78, 33;
    --CTBS-PrimaryTableColor: #544e21;
    --CTBS-PrimaryTableColorRgb: 84, 78, 33;
    --CTBS-PrimaryTableHoverBg: #d7d09b;
    --CTBS-PrimaryTableHoverBgRgb: 215, 208, 155;
    --CTBS-PrimaryTableHoverColor: #2f2c12;
    --CTBS-PrimaryTableHoverColorRgb: 47, 44, 18;
    --CTBS-PrimaryTableStripedBg: #d7d09b;
    --CTBS-PrimaryTableStripedBgRgb: 215, 208, 155;
    --CTBS-PrimaryTableStripedColor: #413d19;
    --CTBS-PrimaryTableStripedColorRgb: 65, 61, 25;
    --CTBS-PrimaryTextEmphasis: #332f14;
    --CTBS-PrimaryTextEmphasisRgb: 51, 47, 20;
    --CTBS-ProgressBarBg: #f7f0ec;
    --CTBS-ProgressBarBgRgb: 247, 240, 236;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #633a91;
    --CTBS-PurpleRgb: 99, 58, 145;
    --CTBS-Red: #9a2121;
    --CTBS-RedRgb: 154, 33, 33;
    --CTBS-Secondary: #534873;
    --CTBS-SecondaryRgb: 83, 72, 115;
    --CTBS-SecondaryBg: #534873;
    --CTBS-SecondaryBgRgb: 83, 72, 115;
    --CTBS-SecondaryBgSubtle: #d8d4e4;
    --CTBS-SecondaryBgSubtleRgb: 216, 212, 228;
    --CTBS-SecondaryBorderSubtle: #a096bd;
    --CTBS-SecondaryBorderSubtleRgb: 160, 150, 189;
    --CTBS-SecondaryBtnActiveBg: #312a43;
    --CTBS-SecondaryBtnActiveBgRgb: 49, 42, 67;
    --CTBS-SecondaryBtnActiveBorderColor: #3c3453;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 60, 52, 83;
    --CTBS-SecondaryBtnActiveColor: #3c3453;
    --CTBS-SecondaryBtnActiveColorRgb: 60, 52, 83;
    --CTBS-SecondaryBtnActiveShadow: #3c3453;
    --CTBS-SecondaryBtnActiveShadowRgb: 60, 52, 83;
    --CTBS-SecondaryBtnBg: #534873;
    --CTBS-SecondaryBtnBgRgb: 83, 72, 115;
    --CTBS-SecondaryBtnBorderColor: #f0eff5;
    --CTBS-SecondaryBtnBorderColorRgb: 240, 239, 245;
    --CTBS-SecondaryBtnColor: #f0eff5;
    --CTBS-SecondaryBtnColorRgb: 240, 239, 245;
    --CTBS-SecondaryBtnDisabledBg: #534873;
    --CTBS-SecondaryBtnDisabledBgRgb: 83, 72, 115;
    --CTBS-SecondaryBtnDisabledBorderColor: #f0eff5;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 240, 239, 245;
    --CTBS-SecondaryBtnDisabledColor: #f0eff5;
    --CTBS-SecondaryBtnDisabledColorRgb: 240, 239, 245;
    --CTBS-SecondaryBtnFocusShadowRgb: 83, 72, 115;
    --CTBS-SecondaryBtnHoverBg: #312a43;
    --CTBS-SecondaryBtnHoverBgRgb: 49, 42, 67;
    --CTBS-SecondaryBtnHoverBorderColor: #3c3453;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 60, 52, 83;
    --CTBS-SecondaryBtnHoverColor: #3c3453;
    --CTBS-SecondaryBtnHoverColorRgb: 60, 52, 83;
    --CTBS-SecondaryColor: #534873;
    --CTBS-SecondaryColorRgb: 83, 72, 115;
    --CTBS-SecondaryTableActiveBg: #d8d4e4;
    --CTBS-SecondaryTableActiveBgRgb: 216, 212, 228;
    --CTBS-SecondaryTableActiveColor: #3c3453;
    --CTBS-SecondaryTableActiveColorRgb: 60, 52, 83;
    --CTBS-SecondaryTableBg: #d8d4e4;
    --CTBS-SecondaryTableBgRgb: 216, 212, 228;
    --CTBS-SecondaryTableBorderColor: #534873;
    --CTBS-SecondaryTableBorderColorRgb: 83, 72, 115;
    --CTBS-SecondaryTableColor: #534873;
    --CTBS-SecondaryTableColorRgb: 83, 72, 115;
    --CTBS-SecondaryTableHoverBg: #d8d4e4;
    --CTBS-SecondaryTableHoverBgRgb: 216, 212, 228;
    --CTBS-SecondaryTableHoverColor: #3c3453;
    --CTBS-SecondaryTableHoverColorRgb: 60, 52, 83;
    --CTBS-SecondaryTableStripedBg: #d8d4e4;
    --CTBS-SecondaryTableStripedBgRgb: 216, 212, 228;
    --CTBS-SecondaryTableStripedColor: #473e63;
    --CTBS-SecondaryTableStripedColorRgb: 71, 62, 99;
    --CTBS-SecondaryTextEmphasis: #2d273e;
    --CTBS-SecondaryTextEmphasisRgb: 45, 39, 62;
    --CTBS-Success: #145c14;
    --CTBS-SuccessRgb: 20, 92, 20;
    --CTBS-SuccessBgSubtle: #88e588;
    --CTBS-SuccessBgSubtleRgb: 136, 229, 136;
    --CTBS-SuccessBorderSubtle: #35d335;
    --CTBS-SuccessBorderSubtleRgb: 53, 211, 53;
    --CTBS-SuccessBtnActiveBg: #061d06;
    --CTBS-SuccessBtnActiveBgRgb: 6, 29, 6;
    --CTBS-SuccessBtnActiveBorderColor: #0a320a;
    --CTBS-SuccessBtnActiveBorderColorRgb: 10, 50, 10;
    --CTBS-SuccessBtnActiveColor: #0a320a;
    --CTBS-SuccessBtnActiveColorRgb: 10, 50, 10;
    --CTBS-SuccessBtnActiveShadow: #0a320a;
    --CTBS-SuccessBtnActiveShadowRgb: 10, 50, 10;
    --CTBS-SuccessBtnBg: #145c14;
    --CTBS-SuccessBtnBgRgb: 20, 92, 20;
    --CTBS-SuccessBtnBorderColor: #ddf7dd;
    --CTBS-SuccessBtnBorderColorRgb: 221, 247, 221;
    --CTBS-SuccessBtnColor: #ddf7dd;
    --CTBS-SuccessBtnColorRgb: 221, 247, 221;
    --CTBS-SuccessBtnDisabledBg: #145c14;
    --CTBS-SuccessBtnDisabledBgRgb: 20, 92, 20;
    --CTBS-SuccessBtnDisabledBorderColor: #ddf7dd;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 221, 247, 221;
    --CTBS-SuccessBtnDisabledColor: #ddf7dd;
    --CTBS-SuccessBtnDisabledColorRgb: 221, 247, 221;
    --CTBS-SuccessBtnFocusShadowRgb: 20, 92, 20;
    --CTBS-SuccessBtnHoverBg: #061d06;
    --CTBS-SuccessBtnHoverBgRgb: 6, 29, 6;
    --CTBS-SuccessBtnHoverBorderColor: #0a320a;
    --CTBS-SuccessBtnHoverBorderColorRgb: 10, 50, 10;
    --CTBS-SuccessBtnHoverColor: #0a320a;
    --CTBS-SuccessBtnHoverColorRgb: 10, 50, 10;
    --CTBS-SuccessTableActiveBg: #88e588;
    --CTBS-SuccessTableActiveBgRgb: 136, 229, 136;
    --CTBS-SuccessTableActiveColor: #0a320a;
    --CTBS-SuccessTableActiveColorRgb: 10, 50, 10;
    --CTBS-SuccessTableBg: #88e588;
    --CTBS-SuccessTableBgRgb: 136, 229, 136;
    --CTBS-SuccessTableBorderColor: #145c14;
    --CTBS-SuccessTableBorderColorRgb: 20, 92, 20;
    --CTBS-SuccessTableColor: #145c14;
    --CTBS-SuccessTableColorRgb: 20, 92, 20;
    --CTBS-SuccessTableHoverBg: #88e588;
    --CTBS-SuccessTableHoverBgRgb: 136, 229, 136;
    --CTBS-SuccessTableHoverColor: #0a320a;
    --CTBS-SuccessTableHoverColorRgb: 10, 50, 10;
    --CTBS-SuccessTableStripedBg: #88e588;
    --CTBS-SuccessTableStripedBgRgb: 136, 229, 136;
    --CTBS-SuccessTableStripedColor: #0f470f;
    --CTBS-SuccessTableStripedColorRgb: 15, 71, 15;
    --CTBS-SuccessTextEmphasis: #0c3a0c;
    --CTBS-SuccessTextEmphasisRgb: 12, 58, 12;
    --CTBS-Teal: #135741;
    --CTBS-TealRgb: 19, 87, 65;
    --CTBS-TertiaryBg: #f7f0ec;
    --CTBS-TertiaryBgRgb: 247, 240, 236;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 247, 240, 236;
    --CTBS-ToastHeaderBgRgb: 247, 240, 236;
    --CTBS-Warning: #575022;
    --CTBS-WarningRgb: 87, 80, 34;
    --CTBS-WarningBgSubtle: #d9d19d;
    --CTBS-WarningBgSubtleRgb: 217, 209, 157;
    --CTBS-WarningBorderSubtle: #bcaf55;
    --CTBS-WarningBorderSubtleRgb: 188, 175, 85;
    --CTBS-WarningBtnActiveBg: #1f1d0c;
    --CTBS-WarningBtnActiveBgRgb: 31, 29, 12;
    --CTBS-WarningBtnActiveBorderColor: #322e13;
    --CTBS-WarningBtnActiveBorderColorRgb: 50, 46, 19;
    --CTBS-WarningBtnActiveColor: #322e13;
    --CTBS-WarningBtnActiveColorRgb: 50, 46, 19;
    --CTBS-WarningBtnActiveShadow: #322e13;
    --CTBS-WarningBtnActiveShadowRgb: 50, 46, 19;
    --CTBS-WarningBtnBg: #575022;
    --CTBS-WarningBtnBgRgb: 87, 80, 34;
    --CTBS-WarningBtnBorderColor: #f3f1e1;
    --CTBS-WarningBtnBorderColorRgb: 243, 241, 225;
    --CTBS-WarningBtnColor: #f3f1e1;
    --CTBS-WarningBtnColorRgb: 243, 241, 225;
    --CTBS-WarningBtnDisabledBg: #575022;
    --CTBS-WarningBtnDisabledBgRgb: 87, 80, 34;
    --CTBS-WarningBtnDisabledBorderColor: #f3f1e1;
    --CTBS-WarningBtnDisabledBorderColorRgb: 243, 241, 225;
    --CTBS-WarningBtnDisabledColor: #f3f1e1;
    --CTBS-WarningBtnDisabledColorRgb: 243, 241, 225;
    --CTBS-WarningBtnFocusShadowRgb: 87, 80, 34;
    --CTBS-WarningBtnHoverBg: #1f1d0c;
    --CTBS-WarningBtnHoverBgRgb: 31, 29, 12;
    --CTBS-WarningBtnHoverBorderColor: #322e13;
    --CTBS-WarningBtnHoverBorderColorRgb: 50, 46, 19;
    --CTBS-WarningBtnHoverColor: #322e13;
    --CTBS-WarningBtnHoverColorRgb: 50, 46, 19;
    --CTBS-WarningTableActiveBg: #d9d19d;
    --CTBS-WarningTableActiveBgRgb: 217, 209, 157;
    --CTBS-WarningTableActiveColor: #322e13;
    --CTBS-WarningTableActiveColorRgb: 50, 46, 19;
    --CTBS-WarningTableBg: #d9d19d;
    --CTBS-WarningTableBgRgb: 217, 209, 157;
    --CTBS-WarningTableBorderColor: #575022;
    --CTBS-WarningTableBorderColorRgb: 87, 80, 34;
    --CTBS-WarningTableColor: #575022;
    --CTBS-WarningTableColorRgb: 87, 80, 34;
    --CTBS-WarningTableHoverBg: #d9d19d;
    --CTBS-WarningTableHoverBgRgb: 217, 209, 157;
    --CTBS-WarningTableHoverColor: #322e13;
    --CTBS-WarningTableHoverColorRgb: 50, 46, 19;
    --CTBS-WarningTableStripedBg: #d9d19d;
    --CTBS-WarningTableStripedBgRgb: 217, 209, 157;
    --CTBS-WarningTableStripedColor: #443f1a;
    --CTBS-WarningTableStripedColorRgb: 68, 63, 26;
    --CTBS-WarningTextEmphasis: #332f14;
    --CTBS-WarningTextEmphasisRgb: 51, 47, 20;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #575022;
    --CTBS-YellowRgb: 87, 80, 34;
}