/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 252, 251, 251;
    --CTBS-BackdropBg: #fcfbfb;
    --CTBS-BackdropBgRgb: 252, 251, 251;
    --CTBS-BackgroundColor: #684e4e;
    --CTBS-BackgroundColorRgb: 104, 78, 78;
    --CTBS-BackgroundColor-1: #684e4e;
    --CTBS-BackgroundColor-1Rgb: 104, 78, 78;
    --CTBS-BackgroundColor-2: #684e4e;
    --CTBS-BackgroundColor-2Rgb: 104, 78, 78;
    --CTBS-BackgroundImage: #fcfbfb;
    --CTBS-BackgroundImageRgb: 252, 251, 251;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #235d65;
    --CTBS-BlueRgb: 35, 93, 101;
    --CTBS-BodyBg: #fcfbfb;
    --CTBS-BodyBgRgb: 252, 251, 251;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #684e4e;
    --CTBS-BorderColorRgb: 104, 78, 78;
    --CTBS-BorderColor-1: #684e4e;
    --CTBS-BorderColor-1Rgb: 104, 78, 78;
    --CTBS-BorderColorTranslucent: #684e4e;
    --CTBS-BorderColorTranslucentRgb: 104, 78, 78;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 252, 251, 251;
    --CTBS-CardCapBgRgb: 252, 251, 251;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #dbcfcf;
    --CTBS-CarouselIndicatorActiveBgRgb: 219, 207, 207;
    --CTBS-CarouselIndicatorActiveBg-1: #dbcfcf;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 219, 207, 207;
    --CTBS-CloseBtnCloseColor: #565656;
    --CTBS-CloseBtnCloseColorRgb: 86, 86, 86;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #1a5b69;
    --CTBS-CyanRgb: 26, 91, 105;
    --CTBS-Danger: #8a3c3c;
    --CTBS-DangerRgb: 138, 60, 60;
    --CTBS-DangerBgSubtle: #f5e9e9;
    --CTBS-DangerBgSubtleRgb: 245, 233, 233;
    --CTBS-DangerBorderSubtle: #e7c9c9;
    --CTBS-DangerBorderSubtleRgb: 231, 201, 201;
    --CTBS-DangerBtnActiveBg: #542424;
    --CTBS-DangerBtnActiveBgRgb: 84, 36, 36;
    --CTBS-DangerBtnActiveBorderColor: #662c2c;
    --CTBS-DangerBtnActiveBorderColorRgb: 102, 44, 44;
    --CTBS-DangerBtnActiveColor: #662c2c;
    --CTBS-DangerBtnActiveColorRgb: 102, 44, 44;
    --CTBS-DangerBtnActiveShadow: #662c2c;
    --CTBS-DangerBtnActiveShadowRgb: 102, 44, 44;
    --CTBS-DangerBtnBg: #8a3c3c;
    --CTBS-DangerBtnBgRgb: 138, 60, 60;
    --CTBS-DangerBtnBorderColor: #fdfbfb;
    --CTBS-DangerBtnBorderColorRgb: 253, 251, 251;
    --CTBS-DangerBtnColor: #fdfbfb;
    --CTBS-DangerBtnColorRgb: 253, 251, 251;
    --CTBS-DangerBtnDisabledBg: #8a3c3c;
    --CTBS-DangerBtnDisabledBgRgb: 138, 60, 60;
    --CTBS-DangerBtnDisabledBorderColor: #fdfbfb;
    --CTBS-DangerBtnDisabledBorderColorRgb: 253, 251, 251;
    --CTBS-DangerBtnDisabledColor: #fdfbfb;
    --CTBS-DangerBtnDisabledColorRgb: 253, 251, 251;
    --CTBS-DangerBtnFocusShadowRgb: 138, 60, 60;
    --CTBS-DangerBtnHoverBg: #542424;
    --CTBS-DangerBtnHoverBgRgb: 84, 36, 36;
    --CTBS-DangerBtnHoverBorderColor: #662c2c;
    --CTBS-DangerBtnHoverBorderColorRgb: 102, 44, 44;
    --CTBS-DangerBtnHoverColor: #662c2c;
    --CTBS-DangerBtnHoverColorRgb: 102, 44, 44;
    --CTBS-DangerTableActiveBg: #f5e9e9;
    --CTBS-DangerTableActiveBgRgb: 245, 233, 233;
    --CTBS-DangerTableActiveColor: #662c2c;
    --CTBS-DangerTableActiveColorRgb: 102, 44, 44;
    --CTBS-DangerTableBg: #f5e9e9;
    --CTBS-DangerTableBgRgb: 245, 233, 233;
    --CTBS-DangerTableBorderColor: #8a3c3c;
    --CTBS-DangerTableBorderColorRgb: 138, 60, 60;
    --CTBS-DangerTableColor: #8a3c3c;
    --CTBS-DangerTableColorRgb: 138, 60, 60;
    --CTBS-DangerTableHoverBg: #f5e9e9;
    --CTBS-DangerTableHoverBgRgb: 245, 233, 233;
    --CTBS-DangerTableHoverColor: #662c2c;
    --CTBS-DangerTableHoverColorRgb: 102, 44, 44;
    --CTBS-DangerTableStripedBg: #f5e9e9;
    --CTBS-DangerTableStripedBgRgb: 245, 233, 233;
    --CTBS-DangerTableStripedColor: #783434;
    --CTBS-DangerTableStripedColorRgb: 120, 52, 52;
    --CTBS-DangerTextEmphasis: #7c3636;
    --CTBS-DangerTextEmphasisRgb: 124, 54, 54;
    --CTBS-Dark: #222525;
    --CTBS-DarkRgb: 34, 37, 37;
    --CTBS-DarkBgSubtle: #eff0f0;
    --CTBS-DarkBgSubtleRgb: 239, 240, 240;
    --CTBS-DarkBorderSubtle: #d7dada;
    --CTBS-DarkBorderSubtleRgb: 215, 218, 218;
    --CTBS-DarkBtnActiveBg: #000000;
    --CTBS-DarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveBorderColor: #090a0a;
    --CTBS-DarkBtnActiveBorderColorRgb: 9, 10, 10;
    --CTBS-DarkBtnActiveColor: #090a0a;
    --CTBS-DarkBtnActiveColorRgb: 9, 10, 10;
    --CTBS-DarkBtnActiveShadow: #090a0a;
    --CTBS-DarkBtnActiveShadowRgb: 9, 10, 10;
    --CTBS-DarkBtnBg: #222525;
    --CTBS-DarkBtnBgRgb: 34, 37, 37;
    --CTBS-DarkBtnBorderColor: #222525;
    --CTBS-DarkBtnBorderColorRgb: 34, 37, 37;
    --CTBS-DarkBtnColor: #222525;
    --CTBS-DarkBtnColorRgb: 34, 37, 37;
    --CTBS-DarkBtnDisabledBg: #222525;
    --CTBS-DarkBtnDisabledBgRgb: 34, 37, 37;
    --CTBS-DarkBtnDisabledBorderColor: #222525;
    --CTBS-DarkBtnDisabledBorderColorRgb: 34, 37, 37;
    --CTBS-DarkBtnDisabledColor: #222525;
    --CTBS-DarkBtnDisabledColorRgb: 34, 37, 37;
    --CTBS-DarkBtnFocusShadowRgb: 34, 37, 37;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverBorderColor: #090a0a;
    --CTBS-DarkBtnHoverBorderColorRgb: 9, 10, 10;
    --CTBS-DarkBtnHoverColor: #090a0a;
    --CTBS-DarkBtnHoverColorRgb: 9, 10, 10;
    --CTBS-DarkNavbarActiveColor: #090a0a;
    --CTBS-DarkNavbarActiveColorRgb: 9, 10, 10;
    --CTBS-DarkNavbarBrandColor: #222525;
    --CTBS-DarkNavbarBrandColorRgb: 34, 37, 37;
    --CTBS-DarkNavbarBrandHoverColor: #090a0a;
    --CTBS-DarkNavbarBrandHoverColorRgb: 9, 10, 10;
    --CTBS-DarkNavbarColor: #222525;
    --CTBS-DarkNavbarColorRgb: 34, 37, 37;
    --CTBS-DarkNavbarDisabledColor: #222525;
    --CTBS-DarkNavbarDisabledColorRgb: 34, 37, 37;
    --CTBS-DarkNavbarHoverColor: #090a0a;
    --CTBS-DarkNavbarHoverColorRgb: 9, 10, 10;
    --CTBS-DarkNavbarTogglerBorderColor: #222525;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 34, 37, 37;
    --CTBS-DarkTableActiveBg: #eff0f0;
    --CTBS-DarkTableActiveBgRgb: 239, 240, 240;
    --CTBS-DarkTableActiveColor: #090a0a;
    --CTBS-DarkTableActiveColorRgb: 9, 10, 10;
    --CTBS-DarkTableBg: #eff0f0;
    --CTBS-DarkTableBgRgb: 239, 240, 240;
    --CTBS-DarkTableBorderColor: #222525;
    --CTBS-DarkTableBorderColorRgb: 34, 37, 37;
    --CTBS-DarkTableColor: #222525;
    --CTBS-DarkTableColorRgb: 34, 37, 37;
    --CTBS-DarkTableHoverBg: #eff0f0;
    --CTBS-DarkTableHoverBgRgb: 239, 240, 240;
    --CTBS-DarkTableHoverColor: #090a0a;
    --CTBS-DarkTableHoverColorRgb: 9, 10, 10;
    --CTBS-DarkTableStripedBg: #eff0f0;
    --CTBS-DarkTableStripedBgRgb: 239, 240, 240;
    --CTBS-DarkTableStripedColor: #151717;
    --CTBS-DarkTableStripedColorRgb: 21, 23, 23;
    --CTBS-DarkTextEmphasis: #222525;
    --CTBS-DarkTextEmphasisRgb: 34, 37, 37;
    --CTBS-DarkThemeBodyBg: #040404;
    --CTBS-DarkThemeBodyBgRgb: 4, 4, 4;
    --CTBS-DarkThemeBodyColor: #ffffff;
    --CTBS-DarkThemeBodyColorRgb: 255, 255, 255;
    --CTBS-DarkThemeBorderColor: #999999;
    --CTBS-DarkThemeBorderColorRgb: 153, 153, 153;
    --CTBS-DarkThemeBorderColorTranslucent: #999999;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 153, 153, 153;
    --CTBS-DarkThemeCarouselCaptionColor: #ffffff;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 255, 255, 255;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #2a2a2a;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 42, 42, 42;
    --CTBS-DarkThemeCodeColor: #ffffff;
    --CTBS-DarkThemeCodeColorRgb: 255, 255, 255;
    --CTBS-DarkThemeDangerBgSubtle: #260c0f;
    --CTBS-DarkThemeDangerBgSubtleRgb: 38, 12, 15;
    --CTBS-DarkThemeDangerBorderSubtle: #5f2027;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 95, 32, 39;
    --CTBS-DarkThemeDangerTextEmphasis: #d99098;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 217, 144, 152;
    --CTBS-DarkThemeDarkBgSubtle: #040404;
    --CTBS-DarkThemeDarkBgSubtleRgb: 4, 4, 4;
    --CTBS-DarkThemeDarkBorderSubtle: #040404;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 4, 4, 4;
    --CTBS-DarkThemeDarkTextEmphasis: #a5a5a5;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 165, 165, 165;
    --CTBS-DarkThemeEmphasisColor: #ffffff;
    --CTBS-DarkThemeEmphasisColorRgb: 255, 255, 255;
    --CTBS-DarkThemeFormInvalidBorderColor: #999999;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 153, 153, 153;
    --CTBS-DarkThemeFormInvalidColor: #999999;
    --CTBS-DarkThemeFormInvalidColorRgb: 153, 153, 153;
    --CTBS-DarkThemeFormValidBorderColor: #999999;
    --CTBS-DarkThemeFormValidBorderColorRgb: 153, 153, 153;
    --CTBS-DarkThemeFormValidColor: #999999;
    --CTBS-DarkThemeFormValidColorRgb: 153, 153, 153;
    --CTBS-DarkThemeHighlightBg: #040404;
    --CTBS-DarkThemeHighlightBgRgb: 4, 4, 4;
    --CTBS-DarkThemeHighlightColor: #ffffff;
    --CTBS-DarkThemeHighlightColorRgb: 255, 255, 255;
    --CTBS-DarkThemeInfoBgSubtle: #0f2223;
    --CTBS-DarkThemeInfoBgSubtleRgb: 15, 34, 35;
    --CTBS-DarkThemeInfoBorderSubtle: #255659;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 37, 86, 89;
    --CTBS-DarkThemeInfoTextEmphasis: #64b7bd;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 100, 183, 189;
    --CTBS-DarkThemeLightBgSubtle: #2b2507;
    --CTBS-DarkThemeLightBgSubtleRgb: 43, 37, 7;
    --CTBS-DarkThemeLightBorderSubtle: #6c5e12;
    --CTBS-DarkThemeLightBorderSubtleRgb: 108, 94, 18;
    --CTBS-DarkThemeLightTextEmphasis: #fbf8e8;
    --CTBS-DarkThemeLightTextEmphasisRgb: 251, 248, 232;
    --CTBS-DarkThemeLinkColor: #c8ab1f;
    --CTBS-DarkThemeLinkColorRgb: 200, 171, 31;
    --CTBS-DarkThemeLinkHoverColor: #e0c339;
    --CTBS-DarkThemeLinkHoverColorRgb: 224, 195, 57;
    --CTBS-DarkThemePrimaryBgSubtle: #2c2506;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 44, 37, 6;
    --CTBS-DarkThemePrimaryBorderSubtle: #6e5e11;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 110, 94, 17;
    --CTBS-DarkThemePrimaryTextEmphasis: #cfb120;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 207, 177, 32;
    --CTBS-DarkThemeSecondaryBg: #7997f0;
    --CTBS-DarkThemeSecondaryBgRgb: 121, 151, 240;
    --CTBS-DarkThemeSecondaryBgSubtle: #050f2d;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 5, 15, 45;
    --CTBS-DarkThemeSecondaryBorderSubtle: #0c2672;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 12, 38, 114;
    --CTBS-DarkThemeSecondaryColor: #7997f0;
    --CTBS-DarkThemeSecondaryColorRgb: 121, 151, 240;
    --CTBS-DarkThemeSecondaryTextEmphasis: #839ef1;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 131, 158, 241;
    --CTBS-DarkThemeSuccessBgSubtle: #032f03;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 3, 47, 3;
    --CTBS-DarkThemeSuccessBorderSubtle: #097609;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 9, 118, 9;
    --CTBS-DarkThemeSuccessTextEmphasis: #11d411;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 17, 212, 17;
    --CTBS-DarkThemeTertiaryBg: #040404;
    --CTBS-DarkThemeTertiaryBgRgb: 4, 4, 4;
    --CTBS-DarkThemeTertiaryColor: #ffffff;
    --CTBS-DarkThemeTertiaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeWarningBgSubtle: #2c2406;
    --CTBS-DarkThemeWarningBgSubtleRgb: 44, 36, 6;
    --CTBS-DarkThemeWarningBorderSubtle: #6e5c11;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 110, 92, 17;
    --CTBS-DarkThemeWarningTextEmphasis: #d3b020;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 211, 176, 32;
    --CTBS-DropdownBg: #fcfbfb;
    --CTBS-DropdownBgRgb: 252, 251, 251;
    --CTBS-DropdownColor: #575555;
    --CTBS-DropdownColorRgb: 87, 85, 85;
    --CTBS-DropdownHeaderColor: #575555;
    --CTBS-DropdownHeaderColorRgb: 87, 85, 85;
    --CTBS-DropdownHeaderColor-1: #575555;
    --CTBS-DropdownHeaderColor-1Rgb: 87, 85, 85;
    --CTBS-DropdownLinkActiveBg: #0f282c;
    --CTBS-DropdownLinkActiveBgRgb: 15, 40, 44;
    --CTBS-DropdownLinkActiveColor: #153a3f;
    --CTBS-DropdownLinkActiveColorRgb: 21, 58, 63;
    --CTBS-DropdownLinkColor: #235d65;
    --CTBS-DropdownLinkColorRgb: 35, 93, 101;
    --CTBS-DropdownLinkDisabledColor: #235d65;
    --CTBS-DropdownLinkDisabledColorRgb: 35, 93, 101;
    --CTBS-DropdownLinkHoverBg: #0f282c;
    --CTBS-DropdownLinkHoverBgRgb: 15, 40, 44;
    --CTBS-DropdownLinkHoverColor: #153a3f;
    --CTBS-DropdownLinkHoverColorRgb: 21, 58, 63;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #565656;
    --CTBS-FormCheckInputBackgroundColorRgb: 86, 86, 86;
    --CTBS-FormCheckInputBorderColor: #684e4e;
    --CTBS-FormCheckInputBorderColorRgb: 104, 78, 78;
    --CTBS-FormCheckInputBorderColor-1: #684e4e;
    --CTBS-FormCheckInputBorderColor-1Rgb: 104, 78, 78;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #684e4e;
    --CTBS-FormControlBorderColorRgb: 104, 78, 78;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #565656;
    --CTBS-FormControlColorRgb: 86, 86, 86;
    --CTBS-FormInvalidBorderColor: #684e4e;
    --CTBS-FormInvalidBorderColorRgb: 104, 78, 78;
    --CTBS-FormInvalidColor: #565656;
    --CTBS-FormInvalidColorRgb: 86, 86, 86;
    --CTBS-FormValidBorderColor: #684e4e;
    --CTBS-FormValidBorderColorRgb: 104, 78, 78;
    --CTBS-FormValidColor: #565656;
    --CTBS-FormValidColorRgb: 86, 86, 86;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #50575d;
    --CTBS-GrayRgb: 80, 87, 93;
    --CTBS-Gray100: #b7bcc1;
    --CTBS-Gray100Rgb: 183, 188, 193;
    --CTBS-Gray200: #9ca3a9;
    --CTBS-Gray200Rgb: 156, 163, 169;
    --CTBS-Gray300: #808a92;
    --CTBS-Gray300Rgb: 128, 138, 146;
    --CTBS-Gray400: #677078;
    --CTBS-Gray400Rgb: 103, 112, 120;
    --CTBS-Gray500: #50575d;
    --CTBS-Gray500Rgb: 80, 87, 93;
    --CTBS-Gray600: #383d41;
    --CTBS-Gray600Rgb: 56, 61, 65;
    --CTBS-Gray700: #202326;
    --CTBS-Gray700Rgb: 32, 35, 38;
    --CTBS-Gray800: #090a0a;
    --CTBS-Gray800Rgb: 9, 10, 10;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #222525;
    --CTBS-GrayDarkRgb: 34, 37, 37;
    --CTBS-Green: #126212;
    --CTBS-GreenRgb: 18, 98, 18;
    --CTBS-HighlightBg: #fcfbfb;
    --CTBS-HighlightBgRgb: 252, 251, 251;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #375580;
    --CTBS-IndigoRgb: 55, 85, 128;
    --CTBS-Info: #1a5b69;
    --CTBS-InfoRgb: 26, 91, 105;
    --CTBS-InfoBgSubtle: #e6f5f8;
    --CTBS-InfoBgSubtleRgb: 230, 245, 248;
    --CTBS-InfoBorderSubtle: #c1e7ef;
    --CTBS-InfoBorderSubtleRgb: 193, 231, 239;
    --CTBS-InfoBtnActiveBg: #0a252b;
    --CTBS-InfoBtnActiveBgRgb: 10, 37, 43;
    --CTBS-InfoBtnActiveBorderColor: #0f3740;
    --CTBS-InfoBtnActiveBorderColorRgb: 15, 55, 64;
    --CTBS-InfoBtnActiveColor: #0f3740;
    --CTBS-InfoBtnActiveColorRgb: 15, 55, 64;
    --CTBS-InfoBtnActiveShadow: #0f3740;
    --CTBS-InfoBtnActiveShadowRgb: 15, 55, 64;
    --CTBS-InfoBtnBg: #1a5b69;
    --CTBS-InfoBtnBgRgb: 26, 91, 105;
    --CTBS-InfoBtnBorderColor: #f2fafb;
    --CTBS-InfoBtnBorderColorRgb: 242, 250, 251;
    --CTBS-InfoBtnColor: #f2fafb;
    --CTBS-InfoBtnColorRgb: 242, 250, 251;
    --CTBS-InfoBtnDisabledBg: #1a5b69;
    --CTBS-InfoBtnDisabledBgRgb: 26, 91, 105;
    --CTBS-InfoBtnDisabledBorderColor: #f2fafb;
    --CTBS-InfoBtnDisabledBorderColorRgb: 242, 250, 251;
    --CTBS-InfoBtnDisabledColor: #f2fafb;
    --CTBS-InfoBtnDisabledColorRgb: 242, 250, 251;
    --CTBS-InfoBtnFocusShadowRgb: 26, 91, 105;
    --CTBS-InfoBtnHoverBg: #0a252b;
    --CTBS-InfoBtnHoverBgRgb: 10, 37, 43;
    --CTBS-InfoBtnHoverBorderColor: #0f3740;
    --CTBS-InfoBtnHoverBorderColorRgb: 15, 55, 64;
    --CTBS-InfoBtnHoverColor: #0f3740;
    --CTBS-InfoBtnHoverColorRgb: 15, 55, 64;
    --CTBS-InfoTableActiveBg: #e6f5f8;
    --CTBS-InfoTableActiveBgRgb: 230, 245, 248;
    --CTBS-InfoTableActiveColor: #0f3740;
    --CTBS-InfoTableActiveColorRgb: 15, 55, 64;
    --CTBS-InfoTableBg: #e6f5f8;
    --CTBS-InfoTableBgRgb: 230, 245, 248;
    --CTBS-InfoTableBorderColor: #1a5b69;
    --CTBS-InfoTableBorderColorRgb: 26, 91, 105;
    --CTBS-InfoTableColor: #1a5b69;
    --CTBS-InfoTableColorRgb: 26, 91, 105;
    --CTBS-InfoTableHoverBg: #e6f5f8;
    --CTBS-InfoTableHoverBgRgb: 230, 245, 248;
    --CTBS-InfoTableHoverColor: #0f3740;
    --CTBS-InfoTableHoverColorRgb: 15, 55, 64;
    --CTBS-InfoTableStripedBg: #e6f5f8;
    --CTBS-InfoTableStripedBgRgb: 230, 245, 248;
    --CTBS-InfoTableStripedColor: #144954;
    --CTBS-InfoTableStripedColorRgb: 20, 73, 84;
    --CTBS-InfoTextEmphasis: #195866;
    --CTBS-InfoTextEmphasisRgb: 25, 88, 102;
    --CTBS-Light: #fcfbfb;
    --CTBS-LightRgb: 252, 251, 251;
    --CTBS-LightBgSubtle: #fbfbfb;
    --CTBS-LightBgSubtleRgb: 251, 251, 251;
    --CTBS-LightBorderSubtle: #fbfbfb;
    --CTBS-LightBorderSubtleRgb: 251, 251, 251;
    --CTBS-LightBtnActiveBg: #dbcfcf;
    --CTBS-LightBtnActiveBgRgb: 219, 207, 207;
    --CTBS-LightBtnActiveBorderColor: #694d4d;
    --CTBS-LightBtnActiveBorderColorRgb: 105, 77, 77;
    --CTBS-LightBtnActiveColor: #694d4d;
    --CTBS-LightBtnActiveColorRgb: 105, 77, 77;
    --CTBS-LightBtnActiveShadow: #694d4d;
    --CTBS-LightBtnActiveShadowRgb: 105, 77, 77;
    --CTBS-LightBtnBg: #fcfbfb;
    --CTBS-LightBtnBgRgb: 252, 251, 251;
    --CTBS-LightBtnBorderColor: #684e4e;
    --CTBS-LightBtnBorderColorRgb: 104, 78, 78;
    --CTBS-LightBtnColor: #684e4e;
    --CTBS-LightBtnColorRgb: 104, 78, 78;
    --CTBS-LightBtnDisabledBg: #fcfbfb;
    --CTBS-LightBtnDisabledBgRgb: 252, 251, 251;
    --CTBS-LightBtnDisabledBorderColor: #684e4e;
    --CTBS-LightBtnDisabledBorderColorRgb: 104, 78, 78;
    --CTBS-LightBtnDisabledColor: #684e4e;
    --CTBS-LightBtnDisabledColorRgb: 104, 78, 78;
    --CTBS-LightBtnFocusShadowRgb: 252, 251, 251;
    --CTBS-LightBtnHoverBg: #dbcfcf;
    --CTBS-LightBtnHoverBgRgb: 219, 207, 207;
    --CTBS-LightBtnHoverBorderColor: #694d4d;
    --CTBS-LightBtnHoverBorderColorRgb: 105, 77, 77;
    --CTBS-LightBtnHoverColor: #694d4d;
    --CTBS-LightBtnHoverColorRgb: 105, 77, 77;
    --CTBS-LightTableActiveBg: #fbfbfb;
    --CTBS-LightTableActiveBgRgb: 251, 251, 251;
    --CTBS-LightTableActiveColor: #694d4d;
    --CTBS-LightTableActiveColorRgb: 105, 77, 77;
    --CTBS-LightTableBg: #fbfbfb;
    --CTBS-LightTableBgRgb: 251, 251, 251;
    --CTBS-LightTableBorderColor: #684e4e;
    --CTBS-LightTableBorderColorRgb: 104, 78, 78;
    --CTBS-LightTableColor: #684e4e;
    --CTBS-LightTableColorRgb: 104, 78, 78;
    --CTBS-LightTableHoverBg: #fbfbfb;
    --CTBS-LightTableHoverBgRgb: 251, 251, 251;
    --CTBS-LightTableHoverColor: #694d4d;
    --CTBS-LightTableHoverColorRgb: 105, 77, 77;
    --CTBS-LightTableStripedBg: #fbfbfb;
    --CTBS-LightTableStripedBgRgb: 251, 251, 251;
    --CTBS-LightTableStripedColor: #f1ecec;
    --CTBS-LightTableStripedColorRgb: 241, 236, 236;
    --CTBS-LightTextEmphasis: #604848;
    --CTBS-LightTextEmphasisRgb: 96, 72, 72;
    --CTBS-LinkBtnBoxShadow: #235d65;
    --CTBS-LinkBtnBoxShadowRgb: 35, 93, 101;
    --CTBS-LinkBtnDisabledColor: #f7fbfc;
    --CTBS-LinkBtnDisabledColorRgb: 247, 251, 252;
    --CTBS-LinkBtnFocusShadowRgb: 35, 93, 101;
    --CTBS-LinkColor: #235d65;
    --CTBS-LinkColorRgb: 35, 93, 101;
    --CTBS-LinkHoverColor: #153a3f;
    --CTBS-LinkHoverColorRgb: 21, 58, 63;
    --CTBS-LinkNavBoxShadow: #235d65;
    --CTBS-LinkNavBoxShadowRgb: 35, 93, 101;
    --CTBS-ListGroupActionActiveBgRgb: 219, 207, 207;
    --CTBS-ListGroupActionHoverBgRgb: 219, 207, 207;
    --CTBS-ListGroupActiveBg: #dbcfcf;
    --CTBS-ListGroupActiveBgRgb: 219, 207, 207;
    --CTBS-ListGroupActiveBorderColor: #694e4e;
    --CTBS-ListGroupActiveBorderColorRgb: 105, 78, 78;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 252, 251, 251;
    --CTBS-ListGroupDisabledBgRgb: 252, 251, 251;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 252, 251, 251;
    --CTBS-OffcanvasBgRgb: 252, 251, 251;
    --CTBS-Orange: #6e4f2f;
    --CTBS-OrangeRgb: 110, 79, 47;
    --CTBS-OutlineDangerBtnActiveBg: #542424;
    --CTBS-OutlineDangerBtnActiveBgRgb: 84, 36, 36;
    --CTBS-OutlineDangerBtnActiveBorderColor: #662c2c;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 102, 44, 44;
    --CTBS-OutlineDangerBtnActiveColor: #662c2c;
    --CTBS-OutlineDangerBtnActiveColorRgb: 102, 44, 44;
    --CTBS-OutlineDangerBtnActiveShadow: #662c2c;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 102, 44, 44;
    --CTBS-OutlineDangerBtnBorderColor: #fdfbfb;
    --CTBS-OutlineDangerBtnBorderColorRgb: 253, 251, 251;
    --CTBS-OutlineDangerBtnColor: #fdfbfb;
    --CTBS-OutlineDangerBtnColorRgb: 253, 251, 251;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #fdfbfb;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 253, 251, 251;
    --CTBS-OutlineDangerBtnDisabledColor: #fdfbfb;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 253, 251, 251;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 138, 60, 60;
    --CTBS-OutlineDangerBtnHoverBg: #542424;
    --CTBS-OutlineDangerBtnHoverBgRgb: 84, 36, 36;
    --CTBS-OutlineDangerBtnHoverBorderColor: #662c2c;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 102, 44, 44;
    --CTBS-OutlineDangerBtnHoverColor: #662c2c;
    --CTBS-OutlineDangerBtnHoverColorRgb: 102, 44, 44;
    --CTBS-OutlineDarkBtnActiveBg: #000000;
    --CTBS-OutlineDarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveBorderColor: #090a0a;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 9, 10, 10;
    --CTBS-OutlineDarkBtnActiveColor: #090a0a;
    --CTBS-OutlineDarkBtnActiveColorRgb: 9, 10, 10;
    --CTBS-OutlineDarkBtnActiveShadow: #090a0a;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 9, 10, 10;
    --CTBS-OutlineDarkBtnBorderColor: #222525;
    --CTBS-OutlineDarkBtnBorderColorRgb: 34, 37, 37;
    --CTBS-OutlineDarkBtnColor: #222525;
    --CTBS-OutlineDarkBtnColorRgb: 34, 37, 37;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #222525;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 34, 37, 37;
    --CTBS-OutlineDarkBtnDisabledColor: #222525;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 34, 37, 37;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 34, 37, 37;
    --CTBS-OutlineDarkBtnHoverBg: #000000;
    --CTBS-OutlineDarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverBorderColor: #090a0a;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 9, 10, 10;
    --CTBS-OutlineDarkBtnHoverColor: #090a0a;
    --CTBS-OutlineDarkBtnHoverColorRgb: 9, 10, 10;
    --CTBS-OutlineInfoBtnActiveBg: #0a252b;
    --CTBS-OutlineInfoBtnActiveBgRgb: 10, 37, 43;
    --CTBS-OutlineInfoBtnActiveBorderColor: #0f3740;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 15, 55, 64;
    --CTBS-OutlineInfoBtnActiveColor: #0f3740;
    --CTBS-OutlineInfoBtnActiveColorRgb: 15, 55, 64;
    --CTBS-OutlineInfoBtnActiveShadow: #0f3740;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 15, 55, 64;
    --CTBS-OutlineInfoBtnBorderColor: #f2fafb;
    --CTBS-OutlineInfoBtnBorderColorRgb: 242, 250, 251;
    --CTBS-OutlineInfoBtnColor: #f2fafb;
    --CTBS-OutlineInfoBtnColorRgb: 242, 250, 251;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #f2fafb;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 242, 250, 251;
    --CTBS-OutlineInfoBtnDisabledColor: #f2fafb;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 242, 250, 251;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 26, 91, 105;
    --CTBS-OutlineInfoBtnHoverBg: #0a252b;
    --CTBS-OutlineInfoBtnHoverBgRgb: 10, 37, 43;
    --CTBS-OutlineInfoBtnHoverBorderColor: #0f3740;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 15, 55, 64;
    --CTBS-OutlineInfoBtnHoverColor: #0f3740;
    --CTBS-OutlineInfoBtnHoverColorRgb: 15, 55, 64;
    --CTBS-OutlineLightBtnActiveBg: #dbcfcf;
    --CTBS-OutlineLightBtnActiveBgRgb: 219, 207, 207;
    --CTBS-OutlineLightBtnActiveBorderColor: #694d4d;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 105, 77, 77;
    --CTBS-OutlineLightBtnActiveColor: #694d4d;
    --CTBS-OutlineLightBtnActiveColorRgb: 105, 77, 77;
    --CTBS-OutlineLightBtnActiveShadow: #694d4d;
    --CTBS-OutlineLightBtnActiveShadowRgb: 105, 77, 77;
    --CTBS-OutlineLightBtnBorderColor: #684e4e;
    --CTBS-OutlineLightBtnBorderColorRgb: 104, 78, 78;
    --CTBS-OutlineLightBtnColor: #684e4e;
    --CTBS-OutlineLightBtnColorRgb: 104, 78, 78;
    --CTBS-OutlineLightBtnDisabledBorderColor: #684e4e;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 104, 78, 78;
    --CTBS-OutlineLightBtnDisabledColor: #684e4e;
    --CTBS-OutlineLightBtnDisabledColorRgb: 104, 78, 78;
    --CTBS-OutlineLightBtnFocusShadowRgb: 252, 251, 251;
    --CTBS-OutlineLightBtnHoverBg: #dbcfcf;
    --CTBS-OutlineLightBtnHoverBgRgb: 219, 207, 207;
    --CTBS-OutlineLightBtnHoverBorderColor: #694d4d;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 105, 77, 77;
    --CTBS-OutlineLightBtnHoverColor: #694d4d;
    --CTBS-OutlineLightBtnHoverColorRgb: 105, 77, 77;
    --CTBS-OutlinePrimaryBtnActiveBg: #0f282c;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 15, 40, 44;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #153a3f;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 21, 58, 63;
    --CTBS-OutlinePrimaryBtnActiveColor: #153a3f;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 21, 58, 63;
    --CTBS-OutlinePrimaryBtnActiveShadow: #153a3f;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 21, 58, 63;
    --CTBS-OutlinePrimaryBtnBorderColor: #f7fbfc;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 247, 251, 252;
    --CTBS-OutlinePrimaryBtnColor: #f7fbfc;
    --CTBS-OutlinePrimaryBtnColorRgb: 247, 251, 252;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #f7fbfc;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 247, 251, 252;
    --CTBS-OutlinePrimaryBtnDisabledColor: #f7fbfc;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 247, 251, 252;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 35, 93, 101;
    --CTBS-OutlinePrimaryBtnHoverBg: #0f282c;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 15, 40, 44;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #153a3f;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 21, 58, 63;
    --CTBS-OutlinePrimaryBtnHoverColor: #153a3f;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 21, 58, 63;
    --CTBS-OutlineSecondaryBtnActiveBg: #302f2f;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 48, 47, 47;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #3d3b3b;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 61, 59, 59;
    --CTBS-OutlineSecondaryBtnActiveColor: #3d3b3b;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 61, 59, 59;
    --CTBS-OutlineSecondaryBtnActiveShadow: #3d3b3b;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 61, 59, 59;
    --CTBS-OutlineSecondaryBtnBorderColor: #fcfcfc;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 252, 252, 252;
    --CTBS-OutlineSecondaryBtnColor: #fcfcfc;
    --CTBS-OutlineSecondaryBtnColorRgb: 252, 252, 252;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #fcfcfc;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 252, 252, 252;
    --CTBS-OutlineSecondaryBtnDisabledColor: #fcfcfc;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 252, 252, 252;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 87, 85, 85;
    --CTBS-OutlineSecondaryBtnHoverBg: #302f2f;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 48, 47, 47;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #3d3b3b;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 61, 59, 59;
    --CTBS-OutlineSecondaryBtnHoverColor: #3d3b3b;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 61, 59, 59;
    --CTBS-OutlineSuccessBtnActiveBg: #062106;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 6, 33, 6;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #0a360a;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 10, 54, 10;
    --CTBS-OutlineSuccessBtnActiveColor: #0a360a;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 10, 54, 10;
    --CTBS-OutlineSuccessBtnActiveShadow: #0a360a;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 10, 54, 10;
    --CTBS-OutlineSuccessBtnBorderColor: #f2fcf2;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 242, 252, 242;
    --CTBS-OutlineSuccessBtnColor: #f2fcf2;
    --CTBS-OutlineSuccessBtnColorRgb: 242, 252, 242;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #f2fcf2;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 242, 252, 242;
    --CTBS-OutlineSuccessBtnDisabledColor: #f2fcf2;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 242, 252, 242;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 18, 98, 18;
    --CTBS-OutlineSuccessBtnHoverBg: #062106;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 6, 33, 6;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #0a360a;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 10, 54, 10;
    --CTBS-OutlineSuccessBtnHoverColor: #0a360a;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 10, 54, 10;
    --CTBS-OutlineWarningBtnActiveBg: #2a2512;
    --CTBS-OutlineWarningBtnActiveBgRgb: 42, 37, 18;
    --CTBS-OutlineWarningBtnActiveBorderColor: #3c3419;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 60, 52, 25;
    --CTBS-OutlineWarningBtnActiveColor: #3c3419;
    --CTBS-OutlineWarningBtnActiveColorRgb: 60, 52, 25;
    --CTBS-OutlineWarningBtnActiveShadow: #3c3419;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 60, 52, 25;
    --CTBS-OutlineWarningBtnBorderColor: #faf9f4;
    --CTBS-OutlineWarningBtnBorderColorRgb: 250, 249, 244;
    --CTBS-OutlineWarningBtnColor: #faf9f4;
    --CTBS-OutlineWarningBtnColorRgb: 250, 249, 244;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #faf9f4;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 250, 249, 244;
    --CTBS-OutlineWarningBtnDisabledColor: #faf9f4;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 250, 249, 244;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 96, 84, 41;
    --CTBS-OutlineWarningBtnHoverBg: #2a2512;
    --CTBS-OutlineWarningBtnHoverBgRgb: 42, 37, 18;
    --CTBS-OutlineWarningBtnHoverBorderColor: #3c3419;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 60, 52, 25;
    --CTBS-OutlineWarningBtnHoverColor: #3c3419;
    --CTBS-OutlineWarningBtnHoverColorRgb: 60, 52, 25;
    --CTBS-PaginationActiveBg: #dbcfcf;
    --CTBS-PaginationActiveBgRgb: 219, 207, 207;
    --CTBS-PaginationActiveBorderColor: #694e4e;
    --CTBS-PaginationActiveBorderColorRgb: 105, 78, 78;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #0f282c;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 15, 40, 44;
    --CTBS-PillsNavPillsLinkActiveColor: #153a3f;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 21, 58, 63;
    --CTBS-Pink: #9e1e5d;
    --CTBS-PinkRgb: 158, 30, 93;
    --CTBS-Primary: #235d65;
    --CTBS-PrimaryRgb: 35, 93, 101;
    --CTBS-PrimaryBgSubtle: #e8f5f7;
    --CTBS-PrimaryBgSubtleRgb: 232, 245, 247;
    --CTBS-PrimaryBorderSubtle: #c6e6eb;
    --CTBS-PrimaryBorderSubtleRgb: 198, 230, 235;
    --CTBS-PrimaryBtnActiveBg: #0f282c;
    --CTBS-PrimaryBtnActiveBgRgb: 15, 40, 44;
    --CTBS-PrimaryBtnActiveBorderColor: #153a3f;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 21, 58, 63;
    --CTBS-PrimaryBtnActiveColor: #153a3f;
    --CTBS-PrimaryBtnActiveColorRgb: 21, 58, 63;
    --CTBS-PrimaryBtnActiveShadow: #153a3f;
    --CTBS-PrimaryBtnActiveShadowRgb: 21, 58, 63;
    --CTBS-PrimaryBtnBg: #235d65;
    --CTBS-PrimaryBtnBgRgb: 35, 93, 101;
    --CTBS-PrimaryBtnBorderColor: #f7fbfc;
    --CTBS-PrimaryBtnBorderColorRgb: 247, 251, 252;
    --CTBS-PrimaryBtnColor: #f7fbfc;
    --CTBS-PrimaryBtnColorRgb: 247, 251, 252;
    --CTBS-PrimaryBtnDisabledBg: #235d65;
    --CTBS-PrimaryBtnDisabledBgRgb: 35, 93, 101;
    --CTBS-PrimaryBtnDisabledBorderColor: #f7fbfc;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 247, 251, 252;
    --CTBS-PrimaryBtnDisabledColor: #f7fbfc;
    --CTBS-PrimaryBtnDisabledColorRgb: 247, 251, 252;
    --CTBS-PrimaryBtnFocusShadowRgb: 35, 93, 101;
    --CTBS-PrimaryBtnHoverBg: #0f282c;
    --CTBS-PrimaryBtnHoverBgRgb: 15, 40, 44;
    --CTBS-PrimaryBtnHoverBorderColor: #153a3f;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 21, 58, 63;
    --CTBS-PrimaryBtnHoverColor: #153a3f;
    --CTBS-PrimaryBtnHoverColorRgb: 21, 58, 63;
    --CTBS-PrimaryTableActiveBg: #e8f5f7;
    --CTBS-PrimaryTableActiveBgRgb: 232, 245, 247;
    --CTBS-PrimaryTableActiveColor: #153a3f;
    --CTBS-PrimaryTableActiveColorRgb: 21, 58, 63;
    --CTBS-PrimaryTableBg: #e8f5f7;
    --CTBS-PrimaryTableBgRgb: 232, 245, 247;
    --CTBS-PrimaryTableBorderColor: #235d65;
    --CTBS-PrimaryTableBorderColorRgb: 35, 93, 101;
    --CTBS-PrimaryTableColor: #235d65;
    --CTBS-PrimaryTableColorRgb: 35, 93, 101;
    --CTBS-PrimaryTableHoverBg: #e8f5f7;
    --CTBS-PrimaryTableHoverBgRgb: 232, 245, 247;
    --CTBS-PrimaryTableHoverColor: #153a3f;
    --CTBS-PrimaryTableHoverColorRgb: 21, 58, 63;
    --CTBS-PrimaryTableStripedBg: #e8f5f7;
    --CTBS-PrimaryTableStripedBgRgb: 232, 245, 247;
    --CTBS-PrimaryTableStripedColor: #1c4b52;
    --CTBS-PrimaryTableStripedColorRgb: 28, 75, 82;
    --CTBS-PrimaryTextEmphasis: #20575e;
    --CTBS-PrimaryTextEmphasisRgb: 32, 87, 94;
    --CTBS-ProgressBarBg: #fcfbfb;
    --CTBS-ProgressBarBgRgb: 252, 251, 251;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #8421af;
    --CTBS-PurpleRgb: 132, 33, 175;
    --CTBS-Red: #8a3c3c;
    --CTBS-RedRgb: 138, 60, 60;
    --CTBS-Secondary: #575555;
    --CTBS-SecondaryRgb: 87, 85, 85;
    --CTBS-SecondaryBg: #575555;
    --CTBS-SecondaryBgRgb: 87, 85, 85;
    --CTBS-SecondaryBgSubtle: #efefef;
    --CTBS-SecondaryBgSubtleRgb: 239, 239, 239;
    --CTBS-SecondaryBorderSubtle: #d9d8d8;
    --CTBS-SecondaryBorderSubtleRgb: 217, 216, 216;
    --CTBS-SecondaryBtnActiveBg: #302f2f;
    --CTBS-SecondaryBtnActiveBgRgb: 48, 47, 47;
    --CTBS-SecondaryBtnActiveBorderColor: #3d3b3b;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 61, 59, 59;
    --CTBS-SecondaryBtnActiveColor: #3d3b3b;
    --CTBS-SecondaryBtnActiveColorRgb: 61, 59, 59;
    --CTBS-SecondaryBtnActiveShadow: #3d3b3b;
    --CTBS-SecondaryBtnActiveShadowRgb: 61, 59, 59;
    --CTBS-SecondaryBtnBg: #575555;
    --CTBS-SecondaryBtnBgRgb: 87, 85, 85;
    --CTBS-SecondaryBtnBorderColor: #fcfcfc;
    --CTBS-SecondaryBtnBorderColorRgb: 252, 252, 252;
    --CTBS-SecondaryBtnColor: #fcfcfc;
    --CTBS-SecondaryBtnColorRgb: 252, 252, 252;
    --CTBS-SecondaryBtnDisabledBg: #575555;
    --CTBS-SecondaryBtnDisabledBgRgb: 87, 85, 85;
    --CTBS-SecondaryBtnDisabledBorderColor: #fcfcfc;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 252, 252, 252;
    --CTBS-SecondaryBtnDisabledColor: #fcfcfc;
    --CTBS-SecondaryBtnDisabledColorRgb: 252, 252, 252;
    --CTBS-SecondaryBtnFocusShadowRgb: 87, 85, 85;
    --CTBS-SecondaryBtnHoverBg: #302f2f;
    --CTBS-SecondaryBtnHoverBgRgb: 48, 47, 47;
    --CTBS-SecondaryBtnHoverBorderColor: #3d3b3b;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 61, 59, 59;
    --CTBS-SecondaryBtnHoverColor: #3d3b3b;
    --CTBS-SecondaryBtnHoverColorRgb: 61, 59, 59;
    --CTBS-SecondaryColor: #575555;
    --CTBS-SecondaryColorRgb: 87, 85, 85;
    --CTBS-SecondaryTableActiveBg: #efefef;
    --CTBS-SecondaryTableActiveBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableActiveColor: #3d3b3b;
    --CTBS-SecondaryTableActiveColorRgb: 61, 59, 59;
    --CTBS-SecondaryTableBg: #efefef;
    --CTBS-SecondaryTableBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableBorderColor: #575555;
    --CTBS-SecondaryTableBorderColorRgb: 87, 85, 85;
    --CTBS-SecondaryTableColor: #575555;
    --CTBS-SecondaryTableColorRgb: 87, 85, 85;
    --CTBS-SecondaryTableHoverBg: #efefef;
    --CTBS-SecondaryTableHoverBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableHoverColor: #3d3b3b;
    --CTBS-SecondaryTableHoverColorRgb: 61, 59, 59;
    --CTBS-SecondaryTableStripedBg: #efefef;
    --CTBS-SecondaryTableStripedBgRgb: 239, 239, 239;
    --CTBS-SecondaryTableStripedColor: #4a4848;
    --CTBS-SecondaryTableStripedColorRgb: 74, 72, 72;
    --CTBS-SecondaryTextEmphasis: #4f4e4e;
    --CTBS-SecondaryTextEmphasisRgb: 79, 78, 78;
    --CTBS-Success: #126212;
    --CTBS-SuccessRgb: 18, 98, 18;
    --CTBS-SuccessBgSubtle: #e5fae5;
    --CTBS-SuccessBgSubtleRgb: 229, 250, 229;
    --CTBS-SuccessBorderSubtle: #bef3be;
    --CTBS-SuccessBorderSubtleRgb: 190, 243, 190;
    --CTBS-SuccessBtnActiveBg: #062106;
    --CTBS-SuccessBtnActiveBgRgb: 6, 33, 6;
    --CTBS-SuccessBtnActiveBorderColor: #0a360a;
    --CTBS-SuccessBtnActiveBorderColorRgb: 10, 54, 10;
    --CTBS-SuccessBtnActiveColor: #0a360a;
    --CTBS-SuccessBtnActiveColorRgb: 10, 54, 10;
    --CTBS-SuccessBtnActiveShadow: #0a360a;
    --CTBS-SuccessBtnActiveShadowRgb: 10, 54, 10;
    --CTBS-SuccessBtnBg: #126212;
    --CTBS-SuccessBtnBgRgb: 18, 98, 18;
    --CTBS-SuccessBtnBorderColor: #f2fcf2;
    --CTBS-SuccessBtnBorderColorRgb: 242, 252, 242;
    --CTBS-SuccessBtnColor: #f2fcf2;
    --CTBS-SuccessBtnColorRgb: 242, 252, 242;
    --CTBS-SuccessBtnDisabledBg: #126212;
    --CTBS-SuccessBtnDisabledBgRgb: 18, 98, 18;
    --CTBS-SuccessBtnDisabledBorderColor: #f2fcf2;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 242, 252, 242;
    --CTBS-SuccessBtnDisabledColor: #f2fcf2;
    --CTBS-SuccessBtnDisabledColorRgb: 242, 252, 242;
    --CTBS-SuccessBtnFocusShadowRgb: 18, 98, 18;
    --CTBS-SuccessBtnHoverBg: #062106;
    --CTBS-SuccessBtnHoverBgRgb: 6, 33, 6;
    --CTBS-SuccessBtnHoverBorderColor: #0a360a;
    --CTBS-SuccessBtnHoverBorderColorRgb: 10, 54, 10;
    --CTBS-SuccessBtnHoverColor: #0a360a;
    --CTBS-SuccessBtnHoverColorRgb: 10, 54, 10;
    --CTBS-SuccessTableActiveBg: #e5fae5;
    --CTBS-SuccessTableActiveBgRgb: 229, 250, 229;
    --CTBS-SuccessTableActiveColor: #0a360a;
    --CTBS-SuccessTableActiveColorRgb: 10, 54, 10;
    --CTBS-SuccessTableBg: #e5fae5;
    --CTBS-SuccessTableBgRgb: 229, 250, 229;
    --CTBS-SuccessTableBorderColor: #126212;
    --CTBS-SuccessTableBorderColorRgb: 18, 98, 18;
    --CTBS-SuccessTableColor: #126212;
    --CTBS-SuccessTableColorRgb: 18, 98, 18;
    --CTBS-SuccessTableHoverBg: #e5fae5;
    --CTBS-SuccessTableHoverBgRgb: 229, 250, 229;
    --CTBS-SuccessTableHoverColor: #0a360a;
    --CTBS-SuccessTableHoverColorRgb: 10, 54, 10;
    --CTBS-SuccessTableStripedBg: #e5fae5;
    --CTBS-SuccessTableStripedBgRgb: 229, 250, 229;
    --CTBS-SuccessTableStripedColor: #0e4c0e;
    --CTBS-SuccessTableStripedColorRgb: 14, 76, 14;
    --CTBS-SuccessTextEmphasis: #115e11;
    --CTBS-SuccessTextEmphasisRgb: 17, 94, 17;
    --CTBS-Teal: #125e44;
    --CTBS-TealRgb: 18, 94, 68;
    --CTBS-TertiaryBg: #fcfbfb;
    --CTBS-TertiaryBgRgb: 252, 251, 251;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 252, 251, 251;
    --CTBS-ToastHeaderBgRgb: 252, 251, 251;
    --CTBS-Warning: #605429;
    --CTBS-WarningRgb: 96, 84, 41;
    --CTBS-WarningBgSubtle: #f5f3e9;
    --CTBS-WarningBgSubtleRgb: 245, 243, 233;
    --CTBS-WarningBorderSubtle: #e8e1c9;
    --CTBS-WarningBorderSubtleRgb: 232, 225, 201;
    --CTBS-WarningBtnActiveBg: #2a2512;
    --CTBS-WarningBtnActiveBgRgb: 42, 37, 18;
    --CTBS-WarningBtnActiveBorderColor: #3c3419;
    --CTBS-WarningBtnActiveBorderColorRgb: 60, 52, 25;
    --CTBS-WarningBtnActiveColor: #3c3419;
    --CTBS-WarningBtnActiveColorRgb: 60, 52, 25;
    --CTBS-WarningBtnActiveShadow: #3c3419;
    --CTBS-WarningBtnActiveShadowRgb: 60, 52, 25;
    --CTBS-WarningBtnBg: #605429;
    --CTBS-WarningBtnBgRgb: 96, 84, 41;
    --CTBS-WarningBtnBorderColor: #faf9f4;
    --CTBS-WarningBtnBorderColorRgb: 250, 249, 244;
    --CTBS-WarningBtnColor: #faf9f4;
    --CTBS-WarningBtnColorRgb: 250, 249, 244;
    --CTBS-WarningBtnDisabledBg: #605429;
    --CTBS-WarningBtnDisabledBgRgb: 96, 84, 41;
    --CTBS-WarningBtnDisabledBorderColor: #faf9f4;
    --CTBS-WarningBtnDisabledBorderColorRgb: 250, 249, 244;
    --CTBS-WarningBtnDisabledColor: #faf9f4;
    --CTBS-WarningBtnDisabledColorRgb: 250, 249, 244;
    --CTBS-WarningBtnFocusShadowRgb: 96, 84, 41;
    --CTBS-WarningBtnHoverBg: #2a2512;
    --CTBS-WarningBtnHoverBgRgb: 42, 37, 18;
    --CTBS-WarningBtnHoverBorderColor: #3c3419;
    --CTBS-WarningBtnHoverBorderColorRgb: 60, 52, 25;
    --CTBS-WarningBtnHoverColor: #3c3419;
    --CTBS-WarningBtnHoverColorRgb: 60, 52, 25;
    --CTBS-WarningTableActiveBg: #f5f3e9;
    --CTBS-WarningTableActiveBgRgb: 245, 243, 233;
    --CTBS-WarningTableActiveColor: #3c3419;
    --CTBS-WarningTableActiveColorRgb: 60, 52, 25;
    --CTBS-WarningTableBg: #f5f3e9;
    --CTBS-WarningTableBgRgb: 245, 243, 233;
    --CTBS-WarningTableBorderColor: #605429;
    --CTBS-WarningTableBorderColorRgb: 96, 84, 41;
    --CTBS-WarningTableColor: #605429;
    --CTBS-WarningTableColorRgb: 96, 84, 41;
    --CTBS-WarningTableHoverBg: #f5f3e9;
    --CTBS-WarningTableHoverBgRgb: 245, 243, 233;
    --CTBS-WarningTableHoverColor: #3c3419;
    --CTBS-WarningTableHoverColorRgb: 60, 52, 25;
    --CTBS-WarningTableStripedBg: #f5f3e9;
    --CTBS-WarningTableStripedBgRgb: 245, 243, 233;
    --CTBS-WarningTableStripedColor: #4e4421;
    --CTBS-WarningTableStripedColorRgb: 78, 68, 33;
    --CTBS-WarningTextEmphasis: #594e26;
    --CTBS-WarningTextEmphasisRgb: 89, 78, 38;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #605429;
    --CTBS-YellowRgb: 96, 84, 41;
}