/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === GLASS EFFECTS === */
    --CTBS-GlassOpacity: 0.8;
    --CTBS-GlassBlur: 10px;

    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-BackgroundColor: #dee2e2;
    --CTBS-BackgroundColorRgb: 222, 226, 226;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #808080;
    --CTBS-BlueRgb: 128, 128, 128;
    --CTBS-Cyan: #808080;
    --CTBS-CyanRgb: 128, 128, 128;
    --CTBS-DangerBgSubtle: #f0cece;
    --CTBS-DangerBgSubtleRgb: 240, 206, 206;
    --CTBS-DangerBorderSubtle: #e5a6a6;
    --CTBS-DangerBorderSubtleRgb: 229, 166, 166;
    --CTBS-DangerBtnActiveBorderColor: #942b2b;
    --CTBS-DangerBtnActiveBorderColorRgb: 148, 43, 43;
    --CTBS-DangerBtnFocusShadowRgb: 188, 55, 55;
    --CTBS-DangerBtnHoverBg: #942b2b;
    --CTBS-DangerBtnHoverBgRgb: 148, 43, 43;
    --CTBS-DangerBtnHoverBorderColor: #942b2b;
    --CTBS-DangerBtnHoverBorderColorRgb: 148, 43, 43;
    --CTBS-DangerRgb: 188, 55, 55;
    --CTBS-DangerTableActiveBg: #942b2b;
    --CTBS-DangerTableActiveBgRgb: 148, 43, 43;
    --CTBS-DangerTableBorderColor: #bc3737;
    --CTBS-DangerTableBorderColorRgb: 188, 55, 55;
    --CTBS-DangerTableHoverBg: #942b2b;
    --CTBS-DangerTableHoverBgRgb: 148, 43, 43;
    --CTBS-DangerTableStripedBg: #a83131;
    --CTBS-DangerTableStripedBgRgb: 168, 49, 49;
    --CTBS-DangerTextEmphasis: #6d1f1f;
    --CTBS-DangerTextEmphasisRgb: 109, 31, 31;
    --CTBS-DarkBtnFocusShadowRgb: 45, 57, 58;
    --CTBS-DarkBtnHoverBg: #161c1d;
    --CTBS-DarkBtnHoverBgRgb: 22, 28, 29;
    --CTBS-DarkRgb: 45, 57, 58;
    --CTBS-DarkTableActiveBg: #161c1d;
    --CTBS-DarkTableActiveBgRgb: 22, 28, 29;
    --CTBS-DarkTableBorderColor: #2d393a;
    --CTBS-DarkTableBorderColorRgb: 45, 57, 58;
    --CTBS-DarkTableHoverBg: #161c1d;
    --CTBS-DarkTableHoverBgRgb: 22, 28, 29;
    --CTBS-DarkTableStripedBg: #212a2b;
    --CTBS-DarkTableStripedBgRgb: 33, 42, 43;
    --CTBS-DarkThemeBodyColorRgb: 45, 57, 58;
    --CTBS-DarkThemeCodeColor: #dee2e2;
    --CTBS-DarkThemeCodeColorRgb: 222, 226, 226;
    --CTBS-DarkThemeDangerBgSubtle: #1e0808;
    --CTBS-DarkThemeDangerBgSubtleRgb: 30, 8, 8;
    --CTBS-DarkThemeDangerBorderSubtle: #451414;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 69, 20, 20;
    --CTBS-DarkThemeDangerTextEmphasis: #d97f7f;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 217, 127, 127;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #08181e;
    --CTBS-DarkThemeInfoBgSubtleRgb: 8, 24, 30;
    --CTBS-DarkThemeInfoBorderSubtle: #143945;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 20, 57, 69;
    --CTBS-DarkThemeInfoTextEmphasis: #7fc3d9;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 127, 195, 217;
    --CTBS-DarkThemeLinkColorRgb: 164, 122, 80;
    --CTBS-DarkThemeLinkHoverColor: #b8936e;
    --CTBS-DarkThemeLinkHoverColorRgb: 184, 147, 110;
    --CTBS-DarkThemePrimaryBgSubtle: #1a140d;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 26, 20, 13;
    --CTBS-DarkThemePrimaryBorderSubtle: #3d2d1d;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 61, 45, 29;
    --CTBS-DarkThemePrimaryTextEmphasis: #c9ad90;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 201, 173, 144;
    --CTBS-DarkThemeSecondaryBgRgb: 127, 139, 140;
    --CTBS-DarkThemeSecondaryBgSubtle: #1d2021;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 29, 32, 33;
    --CTBS-DarkThemeSecondaryBorderSubtle: #353b3c;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 53, 59, 60;
    --CTBS-DarkThemeSecondaryColor: #7f8b8c;
    --CTBS-DarkThemeSecondaryColorRgb: 127, 139, 140;
    --CTBS-DarkThemeSecondaryTextEmphasis: #b4bbbc;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 180, 187, 188;
    --CTBS-DarkThemeSuccessBgSubtle: #081e08;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 8, 30, 8;
    --CTBS-DarkThemeSuccessBorderSubtle: #144514;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 20, 69, 20;
    --CTBS-DarkThemeSuccessTextEmphasis: #7fd97f;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 127, 217, 127;
    --CTBS-DarkThemeTertiaryBg: #2d393a;
    --CTBS-DarkThemeTertiaryBgRgb: 45, 57, 58;
    --CTBS-DarkThemeTertiaryColor: #dee2e2;
    --CTBS-DarkThemeTertiaryColorRgb: 222, 226, 226;
    --CTBS-DarkThemeWarningBgSubtle: #000000;
    --CTBS-DarkThemeWarningBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningBorderSubtle: #140f0b;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 20, 15, 11;
    --CTBS-DarkThemeWarningTextEmphasis: #ab8d73;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 171, 141, 115;
    --CTBS-FocusRingColor: #2d393a;
    --CTBS-FocusRingColorRgb: 45, 57, 58;
    --CTBS-FormControlBorderColor: #b5bebe;
    --CTBS-FormControlBorderColorRgb: 181, 190, 190;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #2d393a;
    --CTBS-GrayDarkRgb: 45, 57, 58;
    --CTBS-Green: #808080;
    --CTBS-GreenRgb: 128, 128, 128;
    --CTBS-Indigo: #808080;
    --CTBS-IndigoRgb: 128, 128, 128;
    --CTBS-InfoBgSubtle: #cee8f0;
    --CTBS-InfoBgSubtleRgb: 206, 232, 240;
    --CTBS-InfoBorderSubtle: #a6d5e5;
    --CTBS-InfoBorderSubtleRgb: 166, 213, 229;
    --CTBS-InfoBtnActiveBg: #2b7a94;
    --CTBS-InfoBtnActiveBgRgb: 43, 122, 148;
    --CTBS-InfoBtnFocusShadowRgb: 55, 155, 188;
    --CTBS-InfoBtnHoverBg: #2b7a94;
    --CTBS-InfoBtnHoverBgRgb: 43, 122, 148;
    --CTBS-InfoBtnHoverBorderColor: #2b7a94;
    --CTBS-InfoBtnHoverBorderColorRgb: 43, 122, 148;
    --CTBS-InfoRgb: 55, 155, 188;
    --CTBS-InfoTableActiveBg: #2b7a94;
    --CTBS-InfoTableActiveBgRgb: 43, 122, 148;
    --CTBS-InfoTableBorderColor: #379bbc;
    --CTBS-InfoTableBorderColorRgb: 55, 155, 188;
    --CTBS-InfoTableHoverBg: #2b7a94;
    --CTBS-InfoTableHoverBgRgb: 43, 122, 148;
    --CTBS-InfoTableStripedBg: #318aa8;
    --CTBS-InfoTableStripedBgRgb: 49, 138, 168;
    --CTBS-InfoTextEmphasis: #1f596d;
    --CTBS-InfoTextEmphasisRgb: 31, 89, 109;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBorderColor: #c2caca;
    --CTBS-LightBtnActiveBorderColorRgb: 194, 202, 202;
    --CTBS-LightBtnFocusShadowRgb: 222, 226, 226;
    --CTBS-LightBtnHoverBg: #c2caca;
    --CTBS-LightBtnHoverBgRgb: 194, 202, 202;
    --CTBS-LightRgb: 222, 226, 226;
    --CTBS-LightTableActiveBg: #c2caca;
    --CTBS-LightTableActiveBgRgb: 194, 202, 202;
    --CTBS-LightTableBorderColor: #dee2e2;
    --CTBS-LightTableBorderColorRgb: 222, 226, 226;
    --CTBS-LightTableHoverBg: #c2caca;
    --CTBS-LightTableHoverBgRgb: 194, 202, 202;
    --CTBS-LightTableStripedBg: #d0d6d6;
    --CTBS-LightTableStripedBgRgb: 208, 214, 214;
    --CTBS-LinkHoverColor: #81603f;
    --CTBS-LinkHoverColorRgb: 129, 96, 63;
    --CTBS-Orange: #808080;
    --CTBS-OrangeRgb: 128, 128, 128;
    --CTBS-Pink: #808080;
    --CTBS-PinkRgb: 128, 128, 128;
    --CTBS-PrimaryBgSubtle: #eae0d5;
    --CTBS-PrimaryBgSubtleRgb: 234, 224, 213;
    --CTBS-PrimaryBorderSubtle: #d9c6b3;
    --CTBS-PrimaryBorderSubtleRgb: 217, 198, 179;
    --CTBS-PrimaryBtnActiveBorderColor: #81603f;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 129, 96, 63;
    --CTBS-PrimaryBtnFocusShadowRgb: 164, 122, 80;
    --CTBS-PrimaryBtnHoverBg: #81603f;
    --CTBS-PrimaryBtnHoverBgRgb: 129, 96, 63;
    --CTBS-PrimaryRgb: 164, 122, 80;
    --CTBS-PrimaryTableActiveBg: #81603f;
    --CTBS-PrimaryTableActiveBgRgb: 129, 96, 63;
    --CTBS-PrimaryTableBorderColor: #a47a50;
    --CTBS-PrimaryTableBorderColorRgb: 164, 122, 80;
    --CTBS-PrimaryTableHoverBg: #81603f;
    --CTBS-PrimaryTableHoverBgRgb: 129, 96, 63;
    --CTBS-PrimaryTableStripedBg: #926d47;
    --CTBS-PrimaryTableStripedBgRgb: 146, 109, 71;
    --CTBS-PrimaryTextEmphasis: #5f472e;
    --CTBS-PrimaryTextEmphasisRgb: 95, 71, 46;
    --CTBS-Purple: #808080;
    --CTBS-PurpleRgb: 128, 128, 128;
    --CTBS-Red: #808080;
    --CTBS-RedRgb: 128, 128, 128;
    --CTBS-SecondaryBgRgb: 127, 139, 140;
    --CTBS-SecondaryBgSubtle: #eaecec;
    --CTBS-SecondaryBgSubtleRgb: 234, 236, 236;
    --CTBS-SecondaryBorderSubtle: #cfd4d4;
    --CTBS-SecondaryBorderSubtleRgb: 207, 212, 212;
    --CTBS-SecondaryBtnActiveBorderColor: #667071;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 102, 112, 113;
    --CTBS-SecondaryBtnFocusShadowRgb: 127, 139, 140;
    --CTBS-SecondaryBtnHoverBg: #667071;
    --CTBS-SecondaryBtnHoverBgRgb: 102, 112, 113;
    --CTBS-SecondaryBtnHoverBorderColor: #667071;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 102, 112, 113;
    --CTBS-SecondaryColor: #7f8b8c;
    --CTBS-SecondaryColorRgb: 127, 139, 140;
    --CTBS-SecondaryRgb: 127, 139, 140;
    --CTBS-SecondaryTableActiveBg: #667071;
    --CTBS-SecondaryTableActiveBgRgb: 102, 112, 113;
    --CTBS-SecondaryTableBorderColor: #7f8b8c;
    --CTBS-SecondaryTableBorderColorRgb: 127, 139, 140;
    --CTBS-SecondaryTableHoverBg: #667071;
    --CTBS-SecondaryTableHoverBgRgb: 102, 112, 113;
    --CTBS-SecondaryTableStripedBg: #727e7f;
    --CTBS-SecondaryTableStripedBgRgb: 114, 126, 127;
    --CTBS-SecondaryTextEmphasis: #4e5656;
    --CTBS-SecondaryTextEmphasisRgb: 78, 86, 86;
    --CTBS-SuccessBgSubtle: #cef0ce;
    --CTBS-SuccessBgSubtleRgb: 206, 240, 206;
    --CTBS-SuccessBorderSubtle: #a6e5a6;
    --CTBS-SuccessBorderSubtleRgb: 166, 229, 166;
    --CTBS-SuccessBtnActiveBorderColor: #2b942b;
    --CTBS-SuccessBtnActiveBorderColorRgb: 43, 148, 43;
    --CTBS-SuccessBtnFocusShadowRgb: 55, 188, 55;
    --CTBS-SuccessBtnHoverBg: #2b942b;
    --CTBS-SuccessBtnHoverBgRgb: 43, 148, 43;
    --CTBS-SuccessBtnHoverBorderColor: #2b942b;
    --CTBS-SuccessBtnHoverBorderColorRgb: 43, 148, 43;
    --CTBS-SuccessRgb: 55, 188, 55;
    --CTBS-SuccessTableActiveBg: #2b942b;
    --CTBS-SuccessTableActiveBgRgb: 43, 148, 43;
    --CTBS-SuccessTableBorderColor: #37bc37;
    --CTBS-SuccessTableBorderColorRgb: 55, 188, 55;
    --CTBS-SuccessTableHoverBg: #2b942b;
    --CTBS-SuccessTableHoverBgRgb: 43, 148, 43;
    --CTBS-SuccessTableStripedBg: #31a831;
    --CTBS-SuccessTableStripedBgRgb: 49, 168, 49;
    --CTBS-SuccessTextEmphasis: #1f6d1f;
    --CTBS-SuccessTextEmphasisRgb: 31, 109, 31;
    --CTBS-Teal: #808080;
    --CTBS-TealRgb: 128, 128, 128;
    --CTBS-TertiaryColor: #2d393a;
    --CTBS-TertiaryColorRgb: 45, 57, 58;
    --CTBS-WarningBgSubtle: #d1c1b3;
    --CTBS-WarningBgSubtleRgb: 209, 193, 179;
    --CTBS-WarningBorderSubtle: #bea793;
    --CTBS-WarningBorderSubtleRgb: 190, 167, 147;
    --CTBS-WarningBtnActiveBg: #544131;
    --CTBS-WarningBtnActiveBgRgb: 84, 65, 49;
    --CTBS-WarningBtnFocusShadowRgb: 116, 91, 69;
    --CTBS-WarningBtnHoverBg: #544131;
    --CTBS-WarningBtnHoverBgRgb: 84, 65, 49;
    --CTBS-WarningBtnHoverBorderColor: #544131;
    --CTBS-WarningBtnHoverBorderColorRgb: 84, 65, 49;
    --CTBS-WarningRgb: 116, 91, 69;
    --CTBS-WarningTableActiveBg: #544131;
    --CTBS-WarningTableActiveBgRgb: 84, 65, 49;
    --CTBS-WarningTableBorderColor: #745b45;
    --CTBS-WarningTableBorderColorRgb: 116, 91, 69;
    --CTBS-WarningTableHoverBg: #544131;
    --CTBS-WarningTableHoverBgRgb: 84, 65, 49;
    --CTBS-WarningTableStripedBg: #644e3b;
    --CTBS-WarningTableStripedBgRgb: 100, 78, 59;
    --CTBS-WarningTextEmphasis: #34281e;
    --CTBS-WarningTextEmphasisRgb: 52, 40, 30;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #808080;
    --CTBS-YellowRgb: 128, 128, 128;
}