/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AlertBgRgb: 232, 237, 238;
    --CTBS-BackgroundColor: #3c4e52;
    --CTBS-BackgroundColorRgb: 60, 78, 82;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #15a5ba;
    --CTBS-BlueRgb: 21, 165, 186;
    --CTBS-BodyBgRgb: 232, 237, 238;
    --CTBS-CardBgRgb: 232, 237, 238;
    --CTBS-Cyan: #159eba;
    --CTBS-CyanRgb: 21, 158, 186;
    --CTBS-DangerBgSubtle: #f9b7b7;
    --CTBS-DangerBgSubtleRgb: 249, 183, 183;
    --CTBS-DangerBorderSubtle: #f58888;
    --CTBS-DangerBorderSubtleRgb: 245, 136, 136;
    --CTBS-DangerBtnActiveBorderColor: #a40d0d;
    --CTBS-DangerBtnActiveBorderColorRgb: 164, 13, 13;
    --CTBS-DangerBtnFocusShadowRgb: 212, 17, 17;
    --CTBS-DangerBtnHoverBg: #a40d0d;
    --CTBS-DangerBtnHoverBgRgb: 164, 13, 13;
    --CTBS-DangerBtnHoverBorderColor: #a40d0d;
    --CTBS-DangerBtnHoverBorderColorRgb: 164, 13, 13;
    --CTBS-DangerRgb: 212, 17, 17;
    --CTBS-DangerTableActiveBg: #a40d0d;
    --CTBS-DangerTableActiveBgRgb: 164, 13, 13;
    --CTBS-DangerTableBorderColor: #9b0c0c;
    --CTBS-DangerTableBorderColorRgb: 155, 12, 12;
    --CTBS-DangerTableHoverBg: #a40d0d;
    --CTBS-DangerTableHoverBgRgb: 164, 13, 13;
    --CTBS-DangerTableStripedBg: #bc0f0f;
    --CTBS-DangerTableStripedBgRgb: 188, 15, 15;
    --CTBS-DangerTextEmphasis: #710909;
    --CTBS-DangerTextEmphasisRgb: 113, 9, 9;
    --CTBS-DarkBtnFocusShadowRgb: 35, 40, 40;
    --CTBS-DarkBtnHoverBg: #0b0c0c;
    --CTBS-DarkBtnHoverBgRgb: 11, 12, 12;
    --CTBS-DarkRgb: 35, 40, 40;
    --CTBS-DarkTableActiveBg: #0b0c0c;
    --CTBS-DarkTableActiveBgRgb: 11, 12, 12;
    --CTBS-DarkTableBorderColor: #232828;
    --CTBS-DarkTableBorderColorRgb: 35, 40, 40;
    --CTBS-DarkTableHoverBg: #0b0c0c;
    --CTBS-DarkTableHoverBgRgb: 11, 12, 12;
    --CTBS-DarkTableStripedBg: #171a1a;
    --CTBS-DarkTableStripedBgRgb: 23, 26, 26;
    --CTBS-DarkThemeBodyColorRgb: 255, 255, 255;
    --CTBS-DarkThemeCodeColor: #ffffff;
    --CTBS-DarkThemeCodeColorRgb: 255, 255, 255;
    --CTBS-DarkThemeDangerBgSubtle: #090203;
    --CTBS-DarkThemeDangerBgSubtleRgb: 9, 2, 3;
    --CTBS-DarkThemeDangerBorderSubtle: #310d11;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 49, 13, 17;
    --CTBS-DarkThemeDangerTextEmphasis: #dc7d88;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 220, 125, 136;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #021015;
    --CTBS-DarkThemeInfoBgSubtleRgb: 2, 16, 21;
    --CTBS-DarkThemeInfoBorderSubtle: #073443;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 7, 52, 67;
    --CTBS-DarkThemeInfoTextEmphasis: #19aadb;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 25, 170, 219;
    --CTBS-DarkThemeLinkColorRgb: 223, 133, 148;
    --CTBS-DarkThemeLinkHoverColor: #cc3e56;
    --CTBS-DarkThemeLinkHoverColorRgb: 204, 62, 86;
    --CTBS-DarkThemePrimaryBgSubtle: #090203;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 9, 2, 3;
    --CTBS-DarkThemePrimaryBorderSubtle: #310d13;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 49, 13, 19;
    --CTBS-DarkThemePrimaryTextEmphasis: #dc7d8d;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 220, 125, 141;
    --CTBS-DarkThemeSecondaryBgRgb: 82, 97, 100;
    --CTBS-DarkThemeSecondaryBgSubtle: #000000;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryBorderSubtle: #0d0f0f;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 13, 15, 15;
    --CTBS-DarkThemeSecondaryColor: #91a2a5;
    --CTBS-DarkThemeSecondaryColorRgb: 145, 162, 165;
    --CTBS-DarkThemeSecondaryTextEmphasis: #899a9e;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 137, 154, 158;
    --CTBS-DarkThemeSuccessBgSubtle: #021502;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 2, 21, 2;
    --CTBS-DarkThemeSuccessBorderSubtle: #074307;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 7, 67, 7;
    --CTBS-DarkThemeSuccessTextEmphasis: #18cc18;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 24, 204, 24;
    --CTBS-DarkThemeTertiaryBg: #07111b;
    --CTBS-DarkThemeTertiaryBgRgb: 7, 17, 27;
    --CTBS-DarkThemeTertiaryColor: #ffffff;
    --CTBS-DarkThemeTertiaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeWarningBgSubtle: #151002;
    --CTBS-DarkThemeWarningBgSubtleRgb: 21, 16, 2;
    --CTBS-DarkThemeWarningBorderSubtle: #433407;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 67, 52, 7;
    --CTBS-DarkThemeWarningTextEmphasis: #cc9f18;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 204, 159, 24;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #3f5054;
    --CTBS-FormControlBorderColorRgb: 63, 80, 84;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #232828;
    --CTBS-GrayDarkRgb: 35, 40, 40;
    --CTBS-Green: #11d411;
    --CTBS-GreenRgb: 17, 212, 17;
    --CTBS-Indigo: #5f11d4;
    --CTBS-IndigoRgb: 95, 17, 212;
    --CTBS-InfoBgSubtle: #a6e7f4;
    --CTBS-InfoBgSubtleRgb: 166, 231, 244;
    --CTBS-InfoBorderSubtle: #78dbef;
    --CTBS-InfoBorderSubtleRgb: 120, 219, 239;
    --CTBS-InfoBtnActiveBg: #0f778c;
    --CTBS-InfoBtnActiveBgRgb: 15, 119, 140;
    --CTBS-InfoBtnFocusShadowRgb: 21, 158, 186;
    --CTBS-InfoBtnHoverBg: #0f778c;
    --CTBS-InfoBtnHoverBgRgb: 15, 119, 140;
    --CTBS-InfoBtnHoverBorderColor: #0f778c;
    --CTBS-InfoBtnHoverBorderColorRgb: 15, 119, 140;
    --CTBS-InfoRgb: 21, 158, 186;
    --CTBS-InfoTableActiveBg: #0f778c;
    --CTBS-InfoTableActiveBgRgb: 15, 119, 140;
    --CTBS-InfoTableBorderColor: #0b5564;
    --CTBS-InfoTableBorderColorRgb: 11, 85, 100;
    --CTBS-InfoTableHoverBg: #0f778c;
    --CTBS-InfoTableHoverBgRgb: 15, 119, 140;
    --CTBS-InfoTableStripedBg: #128aa3;
    --CTBS-InfoTableStripedBgRgb: 18, 138, 163;
    --CTBS-InfoTextEmphasis: #094957;
    --CTBS-InfoTextEmphasisRgb: 9, 73, 87;
    --CTBS-LightBgSubtle: #ffffff;
    --CTBS-LightBgSubtleRgb: 255, 255, 255;
    --CTBS-LightBtnActiveBorderColor: #cad6d8;
    --CTBS-LightBtnActiveBorderColorRgb: 202, 214, 216;
    --CTBS-LightBtnFocusShadowRgb: 232, 237, 238;
    --CTBS-LightBtnHoverBg: #cad6d8;
    --CTBS-LightBtnHoverBgRgb: 202, 214, 216;
    --CTBS-LightRgb: 232, 237, 238;
    --CTBS-LightTableActiveBg: #cad6d8;
    --CTBS-LightTableActiveBgRgb: 202, 214, 216;
    --CTBS-LightTableBorderColor: #3c4e52;
    --CTBS-LightTableBorderColorRgb: 60, 78, 82;
    --CTBS-LightTableHoverBg: #cad6d8;
    --CTBS-LightTableHoverBgRgb: 202, 214, 216;
    --CTBS-LightTableStripedBg: #d9e1e3;
    --CTBS-LightTableStripedBgRgb: 217, 225, 227;
    --CTBS-LinkHoverColor: #0f7c8c;
    --CTBS-LinkHoverColorRgb: 15, 124, 140;
    --CTBS-ModalBgRgb: 232, 237, 238;
    --CTBS-Orange: #87512b;
    --CTBS-OrangeRgb: 135, 81, 43;
    --CTBS-Pink: #d41172;
    --CTBS-PinkRgb: 212, 17, 114;
    --CTBS-PrimaryBgSubtle: #a6eaf4;
    --CTBS-PrimaryBgSubtleRgb: 166, 234, 244;
    --CTBS-PrimaryBorderSubtle: #78e0ef;
    --CTBS-PrimaryBorderSubtleRgb: 120, 224, 239;
    --CTBS-PrimaryBtnActiveBorderColor: #0f7c8c;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 15, 124, 140;
    --CTBS-PrimaryBtnFocusShadowRgb: 21, 165, 186;
    --CTBS-PrimaryBtnHoverBg: #0f7c8c;
    --CTBS-PrimaryBtnHoverBgRgb: 15, 124, 140;
    --CTBS-PrimaryRgb: 21, 165, 186;
    --CTBS-PrimaryTableActiveBg: #0f7c8c;
    --CTBS-PrimaryTableActiveBgRgb: 15, 124, 140;
    --CTBS-PrimaryTableBorderColor: #0a5560;
    --CTBS-PrimaryTableBorderColorRgb: 10, 85, 96;
    --CTBS-PrimaryTableHoverBg: #0f7c8c;
    --CTBS-PrimaryTableHoverBgRgb: 15, 124, 140;
    --CTBS-PrimaryTableStripedBg: #1290a3;
    --CTBS-PrimaryTableStripedBgRgb: 18, 144, 163;
    --CTBS-PrimaryTextEmphasis: #094d57;
    --CTBS-PrimaryTextEmphasisRgb: 9, 77, 87;
    --CTBS-Purple: #9911d4;
    --CTBS-PurpleRgb: 153, 17, 212;
    --CTBS-Red: #d41111;
    --CTBS-RedRgb: 212, 17, 17;
    --CTBS-SecondaryBgRgb: 192, 192, 192;
    --CTBS-SecondaryBgSubtle: #ffffff;
    --CTBS-SecondaryBgSubtleRgb: 255, 255, 255;
    --CTBS-SecondaryBorderSubtle: #ffffff;
    --CTBS-SecondaryBorderSubtleRgb: 255, 255, 255;
    --CTBS-SecondaryBtnActiveBorderColor: #a6a6a6;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 166, 166, 166;
    --CTBS-SecondaryBtnFocusShadowRgb: 192, 192, 192;
    --CTBS-SecondaryBtnHoverBg: #a6a6a6;
    --CTBS-SecondaryBtnHoverBgRgb: 166, 166, 166;
    --CTBS-SecondaryBtnHoverBorderColor: #a6a6a6;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 166, 166, 166;
    --CTBS-SecondaryColor: #4c4c4c;
    --CTBS-SecondaryColorRgb: 76, 76, 76;
    --CTBS-SecondaryRgb: 192, 192, 192;
    --CTBS-SecondaryTableActiveBg: #a6a6a6;
    --CTBS-SecondaryTableActiveBgRgb: 166, 166, 166;
    --CTBS-SecondaryTableBorderColor: #4c4c4c;
    --CTBS-SecondaryTableBorderColorRgb: 76, 76, 76;
    --CTBS-SecondaryTableHoverBg: #a6a6a6;
    --CTBS-SecondaryTableHoverBgRgb: 166, 166, 166;
    --CTBS-SecondaryTableStripedBg: #b3b3b3;
    --CTBS-SecondaryTableStripedBgRgb: 179, 179, 179;
    --CTBS-SecondaryTextEmphasis: #565656;
    --CTBS-SecondaryTextEmphasisRgb: 86, 86, 86;
    --CTBS-SuccessBgSubtle: #b7f9b7;
    --CTBS-SuccessBgSubtleRgb: 183, 249, 183;
    --CTBS-SuccessBorderSubtle: #88f588;
    --CTBS-SuccessBorderSubtleRgb: 136, 245, 136;
    --CTBS-SuccessBtnActiveBorderColor: #0da40d;
    --CTBS-SuccessBtnActiveBorderColorRgb: 13, 164, 13;
    --CTBS-SuccessBtnFocusShadowRgb: 17, 212, 17;
    --CTBS-SuccessBtnHoverBg: #0da40d;
    --CTBS-SuccessBtnHoverBgRgb: 13, 164, 13;
    --CTBS-SuccessBtnHoverBorderColor: #0da40d;
    --CTBS-SuccessBtnHoverBorderColorRgb: 13, 164, 13;
    --CTBS-SuccessRgb: 17, 212, 17;
    --CTBS-SuccessTableActiveBg: #0da40d;
    --CTBS-SuccessTableActiveBgRgb: 13, 164, 13;
    --CTBS-SuccessTableBorderColor: #075907;
    --CTBS-SuccessTableBorderColorRgb: 7, 89, 7;
    --CTBS-SuccessTableHoverBg: #0da40d;
    --CTBS-SuccessTableHoverBgRgb: 13, 164, 13;
    --CTBS-SuccessTableStripedBg: #0fbc0f;
    --CTBS-SuccessTableStripedBgRgb: 15, 188, 15;
    --CTBS-SuccessTextEmphasis: #065406;
    --CTBS-SuccessTextEmphasisRgb: 6, 84, 6;
    --CTBS-Teal: #11d493;
    --CTBS-TealRgb: 17, 212, 147;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #f9e8b7;
    --CTBS-WarningBgSubtleRgb: 249, 232, 183;
    --CTBS-WarningBorderSubtle: #f5da88;
    --CTBS-WarningBorderSubtleRgb: 245, 218, 136;
    --CTBS-WarningBtnActiveBg: #a47e0d;
    --CTBS-WarningBtnActiveBgRgb: 164, 126, 13;
    --CTBS-WarningBtnFocusShadowRgb: 212, 163, 17;
    --CTBS-WarningBtnHoverBg: #a47e0d;
    --CTBS-WarningBtnHoverBgRgb: 164, 126, 13;
    --CTBS-WarningBtnHoverBorderColor: #a47e0d;
    --CTBS-WarningBtnHoverBorderColorRgb: 164, 126, 13;
    --CTBS-WarningRgb: 212, 163, 17;
    --CTBS-WarningTableActiveBg: #a47e0d;
    --CTBS-WarningTableActiveBgRgb: 164, 126, 13;
    --CTBS-WarningTableBorderColor: #5e4807;
    --CTBS-WarningTableBorderColorRgb: 94, 72, 7;
    --CTBS-WarningTableHoverBg: #a47e0d;
    --CTBS-WarningTableHoverBgRgb: 164, 126, 13;
    --CTBS-WarningTableStripedBg: #bc900f;
    --CTBS-WarningTableStripedBgRgb: 188, 144, 15;
    --CTBS-WarningTextEmphasis: #5e4807;
    --CTBS-WarningTextEmphasisRgb: 94, 72, 7;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #d4a311;
    --CTBS-YellowRgb: 212, 163, 17;
}