/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-BackgroundColor: #3f4f53;
    --CTBS-BackgroundColorRgb: 63, 79, 83;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #808080;
    --CTBS-BlueRgb: 128, 128, 128;
    --CTBS-Cyan: #808080;
    --CTBS-CyanRgb: 128, 128, 128;
    --CTBS-DangerBgSubtle: #f4c7c7;
    --CTBS-DangerBgSubtleRgb: 244, 199, 199;
    --CTBS-DangerBorderSubtle: #ec9c9c;
    --CTBS-DangerBorderSubtleRgb: 236, 156, 156;
    --CTBS-DangerBtnActiveBorderColor: #9f1d1d;
    --CTBS-DangerBtnActiveBorderColorRgb: 159, 29, 29;
    --CTBS-DangerBtnFocusShadowRgb: 202, 38, 38;
    --CTBS-DangerBtnHoverBg: #9f1d1d;
    --CTBS-DangerBtnHoverBgRgb: 159, 29, 29;
    --CTBS-DangerBtnHoverBorderColor: #9f1d1d;
    --CTBS-DangerBtnHoverBorderColorRgb: 159, 29, 29;
    --CTBS-DangerRgb: 202, 38, 38;
    --CTBS-DangerTableActiveBg: #9f1d1d;
    --CTBS-DangerTableActiveBgRgb: 159, 29, 29;
    --CTBS-DangerTableBorderColor: #961c1c;
    --CTBS-DangerTableBorderColorRgb: 150, 28, 28;
    --CTBS-DangerTableHoverBg: #9f1d1d;
    --CTBS-DangerTableHoverBgRgb: 159, 29, 29;
    --CTBS-DangerTableStripedBg: #b42121;
    --CTBS-DangerTableStripedBgRgb: 180, 33, 33;
    --CTBS-DangerTextEmphasis: #781616;
    --CTBS-DangerTextEmphasisRgb: 120, 22, 22;
    --CTBS-DarkBtnFocusShadowRgb: 44, 52, 52;
    --CTBS-DarkBtnHoverBg: #141818;
    --CTBS-DarkBtnHoverBgRgb: 20, 24, 24;
    --CTBS-DarkRgb: 44, 52, 52;
    --CTBS-DarkTableActiveBg: #141818;
    --CTBS-DarkTableActiveBgRgb: 20, 24, 24;
    --CTBS-DarkTableBorderColor: #2c3434;
    --CTBS-DarkTableBorderColorRgb: 44, 52, 52;
    --CTBS-DarkTableHoverBg: #141818;
    --CTBS-DarkTableHoverBgRgb: 20, 24, 24;
    --CTBS-DarkTableStripedBg: #202626;
    --CTBS-DarkTableStripedBgRgb: 32, 38, 38;
    --CTBS-DarkThemeBodyColorRgb: 234, 238, 239;
    --CTBS-DarkThemeCodeColor: #eaeeef;
    --CTBS-DarkThemeCodeColorRgb: 234, 238, 239;
    --CTBS-DarkThemeDangerBgSubtle: #1e0505;
    --CTBS-DarkThemeDangerBgSubtleRgb: 30, 5, 5;
    --CTBS-DarkThemeDangerBorderSubtle: #490d0d;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 73, 13, 13;
    --CTBS-DarkThemeDangerTextEmphasis: #e78282;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 231, 130, 130;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #09191b;
    --CTBS-DarkThemeInfoBgSubtleRgb: 9, 25, 27;
    --CTBS-DarkThemeInfoBorderSubtle: #173b40;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 23, 59, 64;
    --CTBS-DarkThemeInfoTextEmphasis: #4db2c0;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 77, 178, 192;
    --CTBS-DarkThemeLinkColorRgb: 141, 206, 215;
    --CTBS-DarkThemeLinkHoverColor: #5db9c6;
    --CTBS-DarkThemeLinkHoverColorRgb: 93, 185, 198;
    --CTBS-DarkThemePrimaryBgSubtle: #09191b;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 9, 25, 27;
    --CTBS-DarkThemePrimaryBorderSubtle: #173b40;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 23, 59, 64;
    --CTBS-DarkThemePrimaryTextEmphasis: #4db2c0;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 77, 178, 192;
    --CTBS-DarkThemeSecondaryBgRgb: 116, 91, 69;
    --CTBS-DarkThemeSecondaryBgSubtle: #000000;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryBorderSubtle: #140f0b;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 20, 15, 11;
    --CTBS-DarkThemeSecondaryColor: #d1c0b2;
    --CTBS-DarkThemeSecondaryColorRgb: 209, 192, 178;
    --CTBS-DarkThemeSecondaryTextEmphasis: #af9278;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 175, 146, 120;
    --CTBS-DarkThemeSuccessBgSubtle: #051e05;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 5, 30, 5;
    --CTBS-DarkThemeSuccessBorderSubtle: #0d490d;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 13, 73, 13;
    --CTBS-DarkThemeSuccessTextEmphasis: #26ca26;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 38, 202, 38;
    --CTBS-DarkThemeTertiaryBg: #2c3434;
    --CTBS-DarkThemeTertiaryBgRgb: 44, 52, 52;
    --CTBS-DarkThemeTertiaryColor: #eaeeef;
    --CTBS-DarkThemeTertiaryColorRgb: 234, 238, 239;
    --CTBS-DarkThemeWarningBgSubtle: #000000;
    --CTBS-DarkThemeWarningBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningBorderSubtle: #140f0b;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 20, 15, 11;
    --CTBS-DarkThemeWarningTextEmphasis: #af9278;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 175, 146, 120;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #404f53;
    --CTBS-FormControlBorderColorRgb: 64, 79, 83;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #2c3434;
    --CTBS-GrayDarkRgb: 44, 52, 52;
    --CTBS-Green: #808080;
    --CTBS-GreenRgb: 128, 128, 128;
    --CTBS-Indigo: #808080;
    --CTBS-IndigoRgb: 128, 128, 128;
    --CTBS-InfoBgSubtle: #ceeaee;
    --CTBS-InfoBgSubtleRgb: 206, 234, 238;
    --CTBS-InfoBorderSubtle: #a9d9e0;
    --CTBS-InfoBorderSubtleRgb: 169, 217, 224;
    --CTBS-InfoBtnActiveBg: #31818c;
    --CTBS-InfoBtnActiveBgRgb: 49, 129, 140;
    --CTBS-InfoBtnFocusShadowRgb: 63, 164, 178;
    --CTBS-InfoBtnHoverBg: #31818c;
    --CTBS-InfoBtnHoverBgRgb: 49, 129, 140;
    --CTBS-InfoBtnHoverBorderColor: #31818c;
    --CTBS-InfoBtnHoverBorderColorRgb: 49, 129, 140;
    --CTBS-InfoRgb: 63, 164, 178;
    --CTBS-InfoTableActiveBg: #31818c;
    --CTBS-InfoTableActiveBgRgb: 49, 129, 140;
    --CTBS-InfoTableBorderColor: #1f535a;
    --CTBS-InfoTableBorderColorRgb: 31, 83, 90;
    --CTBS-InfoTableHoverBg: #31818c;
    --CTBS-InfoTableHoverBgRgb: 49, 129, 140;
    --CTBS-InfoTableStripedBg: #38929f;
    --CTBS-InfoTableStripedBgRgb: 56, 146, 159;
    --CTBS-InfoTextEmphasis: #1e4f56;
    --CTBS-InfoTextEmphasisRgb: 30, 79, 86;
    --CTBS-LightBgSubtle: #fffefe;
    --CTBS-LightBgSubtleRgb: 255, 254, 254;
    --CTBS-LightBtnActiveBorderColor: #cdd6d8;
    --CTBS-LightBtnActiveBorderColorRgb: 205, 214, 216;
    --CTBS-LightBtnFocusShadowRgb: 234, 238, 239;
    --CTBS-LightBtnHoverBg: #cdd6d8;
    --CTBS-LightBtnHoverBgRgb: 205, 214, 216;
    --CTBS-LightRgb: 234, 238, 239;
    --CTBS-LightTableActiveBg: #cdd6d8;
    --CTBS-LightTableActiveBgRgb: 205, 214, 216;
    --CTBS-LightTableBorderColor: #3f4f53;
    --CTBS-LightTableBorderColorRgb: 63, 79, 83;
    --CTBS-LightTableHoverBg: #cdd6d8;
    --CTBS-LightTableHoverBgRgb: 205, 214, 216;
    --CTBS-LightTableStripedBg: #dbe2e3;
    --CTBS-LightTableStripedBgRgb: 219, 226, 227;
    --CTBS-LinkHoverColor: #31818c;
    --CTBS-LinkHoverColorRgb: 49, 129, 140;
    --CTBS-Orange: #808080;
    --CTBS-OrangeRgb: 128, 128, 128;
    --CTBS-Pink: #808080;
    --CTBS-PinkRgb: 128, 128, 128;
    --CTBS-PrimaryBgSubtle: #ceeaee;
    --CTBS-PrimaryBgSubtleRgb: 206, 234, 238;
    --CTBS-PrimaryBorderSubtle: #a9d9e0;
    --CTBS-PrimaryBorderSubtleRgb: 169, 217, 224;
    --CTBS-PrimaryBtnActiveBorderColor: #31818c;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 49, 129, 140;
    --CTBS-PrimaryBtnFocusShadowRgb: 63, 164, 178;
    --CTBS-PrimaryBtnHoverBg: #31818c;
    --CTBS-PrimaryBtnHoverBgRgb: 49, 129, 140;
    --CTBS-PrimaryRgb: 63, 164, 178;
    --CTBS-PrimaryTableActiveBg: #31818c;
    --CTBS-PrimaryTableActiveBgRgb: 49, 129, 140;
    --CTBS-PrimaryTableBorderColor: #1f535a;
    --CTBS-PrimaryTableBorderColorRgb: 31, 83, 90;
    --CTBS-PrimaryTableHoverBg: #31818c;
    --CTBS-PrimaryTableHoverBgRgb: 49, 129, 140;
    --CTBS-PrimaryTableStripedBg: #38929f;
    --CTBS-PrimaryTableStripedBgRgb: 56, 146, 159;
    --CTBS-PrimaryTextEmphasis: #1e4f56;
    --CTBS-PrimaryTextEmphasisRgb: 30, 79, 86;
    --CTBS-Purple: #808080;
    --CTBS-PurpleRgb: 128, 128, 128;
    --CTBS-Red: #808080;
    --CTBS-RedRgb: 128, 128, 128;
    --CTBS-SecondaryBgRgb: 116, 91, 69;
    --CTBS-SecondaryBgSubtle: #d1c1b3;
    --CTBS-SecondaryBgSubtleRgb: 209, 193, 179;
    --CTBS-SecondaryBorderSubtle: #bea793;
    --CTBS-SecondaryBorderSubtleRgb: 190, 167, 147;
    --CTBS-SecondaryBtnActiveBorderColor: #544131;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 84, 65, 49;
    --CTBS-SecondaryBtnFocusShadowRgb: 116, 91, 69;
    --CTBS-SecondaryBtnHoverBg: #544131;
    --CTBS-SecondaryBtnHoverBgRgb: 84, 65, 49;
    --CTBS-SecondaryBtnHoverBorderColor: #544131;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 84, 65, 49;
    --CTBS-SecondaryColor: #5c4837;
    --CTBS-SecondaryColorRgb: 92, 72, 55;
    --CTBS-SecondaryRgb: 116, 91, 69;
    --CTBS-SecondaryTableActiveBg: #544131;
    --CTBS-SecondaryTableActiveBgRgb: 84, 65, 49;
    --CTBS-SecondaryTableBorderColor: #5c4837;
    --CTBS-SecondaryTableBorderColorRgb: 92, 72, 55;
    --CTBS-SecondaryTableHoverBg: #544131;
    --CTBS-SecondaryTableHoverBgRgb: 84, 65, 49;
    --CTBS-SecondaryTableStripedBg: #644e3b;
    --CTBS-SecondaryTableStripedBgRgb: 100, 78, 59;
    --CTBS-SecondaryTextEmphasis: #3c2f24;
    --CTBS-SecondaryTextEmphasisRgb: 60, 47, 36;
    --CTBS-SuccessBgSubtle: #c7f4c7;
    --CTBS-SuccessBgSubtleRgb: 199, 244, 199;
    --CTBS-SuccessBorderSubtle: #9cec9c;
    --CTBS-SuccessBorderSubtleRgb: 156, 236, 156;
    --CTBS-SuccessBtnActiveBorderColor: #1d9f1d;
    --CTBS-SuccessBtnActiveBorderColorRgb: 29, 159, 29;
    --CTBS-SuccessBtnFocusShadowRgb: 38, 202, 38;
    --CTBS-SuccessBtnHoverBg: #1d9f1d;
    --CTBS-SuccessBtnHoverBgRgb: 29, 159, 29;
    --CTBS-SuccessBtnHoverBorderColor: #1d9f1d;
    --CTBS-SuccessBtnHoverBorderColorRgb: 29, 159, 29;
    --CTBS-SuccessRgb: 38, 202, 38;
    --CTBS-SuccessTableActiveBg: #1d9f1d;
    --CTBS-SuccessTableActiveBgRgb: 29, 159, 29;
    --CTBS-SuccessTableBorderColor: #105a10;
    --CTBS-SuccessTableBorderColorRgb: 16, 90, 16;
    --CTBS-SuccessTableHoverBg: #1d9f1d;
    --CTBS-SuccessTableHoverBgRgb: 29, 159, 29;
    --CTBS-SuccessTableStripedBg: #21b421;
    --CTBS-SuccessTableStripedBgRgb: 33, 180, 33;
    --CTBS-SuccessTextEmphasis: #105510;
    --CTBS-SuccessTextEmphasisRgb: 16, 85, 16;
    --CTBS-Teal: #808080;
    --CTBS-TealRgb: 128, 128, 128;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #d1c1b3;
    --CTBS-WarningBgSubtleRgb: 209, 193, 179;
    --CTBS-WarningBorderSubtle: #bea793;
    --CTBS-WarningBorderSubtleRgb: 190, 167, 147;
    --CTBS-WarningBtnActiveBg: #544131;
    --CTBS-WarningBtnActiveBgRgb: 84, 65, 49;
    --CTBS-WarningBtnFocusShadowRgb: 116, 91, 69;
    --CTBS-WarningBtnHoverBg: #544131;
    --CTBS-WarningBtnHoverBgRgb: 84, 65, 49;
    --CTBS-WarningBtnHoverBorderColor: #544131;
    --CTBS-WarningBtnHoverBorderColorRgb: 84, 65, 49;
    --CTBS-WarningRgb: 116, 91, 69;
    --CTBS-WarningTableActiveBg: #544131;
    --CTBS-WarningTableActiveBgRgb: 84, 65, 49;
    --CTBS-WarningTableBorderColor: #5c4837;
    --CTBS-WarningTableBorderColorRgb: 92, 72, 55;
    --CTBS-WarningTableHoverBg: #544131;
    --CTBS-WarningTableHoverBgRgb: 84, 65, 49;
    --CTBS-WarningTableStripedBg: #644e3b;
    --CTBS-WarningTableStripedBgRgb: 100, 78, 59;
    --CTBS-WarningTextEmphasis: #3c2f24;
    --CTBS-WarningTextEmphasisRgb: 60, 47, 36;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #808080;
    --CTBS-YellowRgb: 128, 128, 128;
}