/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AlertBgRgb: 234, 238, 239;
    --CTBS-BackgroundColor: #3f4f53;
    --CTBS-BackgroundColorRgb: 63, 79, 83;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #1f535a;
    --CTBS-BlueRgb: 31, 83, 90;
    --CTBS-BodyBgRgb: 234, 238, 239;
    --CTBS-CardBgRgb: 234, 238, 239;
    --CTBS-Cyan: #185461;
    --CTBS-CyanRgb: 24, 84, 97;
    --CTBS-DangerBgSubtle: #f2bebe;
    --CTBS-DangerBgSubtleRgb: 242, 190, 190;
    --CTBS-DangerBorderSubtle: #ea9393;
    --CTBS-DangerBorderSubtleRgb: 234, 147, 147;
    --CTBS-DangerBtnActiveBorderColor: #951c1c;
    --CTBS-DangerBtnActiveBorderColorRgb: 149, 28, 28;
    --CTBS-DangerBtnFocusShadowRgb: 149, 28, 28;
    --CTBS-DangerBtnHoverBg: #951c1c;
    --CTBS-DangerBtnHoverBgRgb: 149, 28, 28;
    --CTBS-DangerBtnHoverBorderColor: #951c1c;
    --CTBS-DangerBtnHoverBorderColorRgb: 149, 28, 28;
    --CTBS-DangerRgb: 149, 28, 28;
    --CTBS-DangerTableActiveBg: #951c1c;
    --CTBS-DangerTableActiveBgRgb: 149, 28, 28;
    --CTBS-DangerTableBorderColor: #951c1c;
    --CTBS-DangerTableBorderColorRgb: 149, 28, 28;
    --CTBS-DangerTableHoverBg: #951c1c;
    --CTBS-DangerTableHoverBgRgb: 149, 28, 28;
    --CTBS-DangerTableStripedBg: #aa2020;
    --CTBS-DangerTableStripedBgRgb: 170, 32, 32;
    --CTBS-DangerTextEmphasis: #6f1515;
    --CTBS-DangerTextEmphasisRgb: 111, 21, 21;
    --CTBS-DarkBtnFocusShadowRgb: 44, 52, 52;
    --CTBS-DarkBtnHoverBg: #141818;
    --CTBS-DarkBtnHoverBgRgb: 20, 24, 24;
    --CTBS-DarkRgb: 44, 52, 52;
    --CTBS-DarkTableActiveBg: #141818;
    --CTBS-DarkTableActiveBgRgb: 20, 24, 24;
    --CTBS-DarkTableBorderColor: #2c3434;
    --CTBS-DarkTableBorderColorRgb: 44, 52, 52;
    --CTBS-DarkTableHoverBg: #141818;
    --CTBS-DarkTableHoverBgRgb: 20, 24, 24;
    --CTBS-DarkTableStripedBg: #202626;
    --CTBS-DarkTableStripedBgRgb: 32, 38, 38;
    --CTBS-DarkThemeBodyColorRgb: 255, 255, 255;
    --CTBS-DarkThemeCodeColor: #ffffff;
    --CTBS-DarkThemeCodeColorRgb: 255, 255, 255;
    --CTBS-DarkThemeDangerBgSubtle: #140303;
    --CTBS-DarkThemeDangerBgSubtleRgb: 20, 3, 3;
    --CTBS-DarkThemeDangerBorderSubtle: #410909;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 65, 9, 9;
    --CTBS-DarkThemeDangerTextEmphasis: #ea7a7a;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 234, 122, 122;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #031014;
    --CTBS-DarkThemeInfoBgSubtleRgb: 3, 16, 20;
    --CTBS-DarkThemeInfoBorderSubtle: #093341;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 9, 51, 65;
    --CTBS-DarkThemeInfoTextEmphasis: #20aad9;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 32, 170, 217;
    --CTBS-DarkThemeLinkColorRgb: 196, 153, 63;
    --CTBS-DarkThemeLinkHoverColor: #c4973c;
    --CTBS-DarkThemeLinkHoverColorRgb: 196, 151, 60;
    --CTBS-DarkThemePrimaryBgSubtle: #010100;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 1, 1, 0;
    --CTBS-DarkThemePrimaryBorderSubtle: #281f0c;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 40, 31, 12;
    --CTBS-DarkThemePrimaryTextEmphasis: #bb9039;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 187, 144, 57;
    --CTBS-DarkThemeSecondaryBgRgb: 6, 18, 29;
    --CTBS-DarkThemeSecondaryBgSubtle: #000000;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryBorderSubtle: #000000;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSecondaryColor: #66a5df;
    --CTBS-DarkThemeSecondaryColorRgb: 102, 165, 223;
    --CTBS-DarkThemeSecondaryTextEmphasis: #559bdc;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 85, 155, 220;
    --CTBS-DarkThemeSuccessBgSubtle: #031403;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 3, 20, 3;
    --CTBS-DarkThemeSuccessBorderSubtle: #094109;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 9, 65, 9;
    --CTBS-DarkThemeSuccessTextEmphasis: #1ec61e;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 30, 198, 30;
    --CTBS-DarkThemeTertiaryBg: #06121d;
    --CTBS-DarkThemeTertiaryBgRgb: 6, 18, 29;
    --CTBS-DarkThemeTertiaryColor: #ffffff;
    --CTBS-DarkThemeTertiaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeWarningBgSubtle: #141003;
    --CTBS-DarkThemeWarningBgSubtleRgb: 20, 16, 3;
    --CTBS-DarkThemeWarningBorderSubtle: #413309;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 65, 51, 9;
    --CTBS-DarkThemeWarningTextEmphasis: #c69c1e;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 198, 156, 30;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #404f53;
    --CTBS-FormControlBorderColorRgb: 64, 79, 83;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #2c3434;
    --CTBS-GrayDarkRgb: 44, 52, 52;
    --CTBS-Green: #115911;
    --CTBS-GreenRgb: 17, 89, 17;
    --CTBS-Indigo: #6124bc;
    --CTBS-IndigoRgb: 97, 36, 188;
    --CTBS-InfoBgSubtle: #acdfe9;
    --CTBS-InfoBgSubtleRgb: 172, 223, 233;
    --CTBS-InfoBorderSubtle: #83cfdf;
    --CTBS-InfoBorderSubtleRgb: 131, 207, 223;
    --CTBS-InfoBtnActiveBg: #1e6878;
    --CTBS-InfoBtnActiveBgRgb: 30, 104, 120;
    --CTBS-InfoBtnFocusShadowRgb: 24, 84, 97;
    --CTBS-InfoBtnHoverBg: #1e6878;
    --CTBS-InfoBtnHoverBgRgb: 30, 104, 120;
    --CTBS-InfoBtnHoverBorderColor: #1e6878;
    --CTBS-InfoBtnHoverBorderColorRgb: 30, 104, 120;
    --CTBS-InfoRgb: 24, 84, 97;
    --CTBS-InfoTableActiveBg: #1e6878;
    --CTBS-InfoTableActiveBgRgb: 30, 104, 120;
    --CTBS-InfoTableBorderColor: #185461;
    --CTBS-InfoTableBorderColorRgb: 24, 84, 97;
    --CTBS-InfoTableHoverBg: #1e6878;
    --CTBS-InfoTableHoverBgRgb: 30, 104, 120;
    --CTBS-InfoTableStripedBg: #237a8c;
    --CTBS-InfoTableStripedBgRgb: 35, 122, 140;
    --CTBS-InfoTextEmphasis: #144651;
    --CTBS-InfoTextEmphasisRgb: 20, 70, 81;
    --CTBS-LightBgSubtle: #fffefe;
    --CTBS-LightBgSubtleRgb: 255, 254, 254;
    --CTBS-LightBtnActiveBorderColor: #cdd6d8;
    --CTBS-LightBtnActiveBorderColorRgb: 205, 214, 216;
    --CTBS-LightBtnFocusShadowRgb: 234, 238, 239;
    --CTBS-LightBtnHoverBg: #cdd6d8;
    --CTBS-LightBtnHoverBgRgb: 205, 214, 216;
    --CTBS-LightRgb: 234, 238, 239;
    --CTBS-LightTableActiveBg: #cdd6d8;
    --CTBS-LightTableActiveBgRgb: 205, 214, 216;
    --CTBS-LightTableBorderColor: #3f4f53;
    --CTBS-LightTableBorderColorRgb: 63, 79, 83;
    --CTBS-LightTableHoverBg: #cdd6d8;
    --CTBS-LightTableHoverBgRgb: 205, 214, 216;
    --CTBS-LightTableStripedBg: #dbe2e3;
    --CTBS-LightTableStripedBgRgb: 219, 226, 227;
    --CTBS-LinkHoverColor: #31818c;
    --CTBS-LinkHoverColorRgb: 49, 129, 140;
    --CTBS-ModalBgRgb: 234, 238, 239;
    --CTBS-Orange: #63472a;
    --CTBS-OrangeRgb: 99, 71, 42;
    --CTBS-Pink: #911c56;
    --CTBS-PinkRgb: 145, 28, 86;
    --CTBS-PrimaryBgSubtle: #ceeaee;
    --CTBS-PrimaryBgSubtleRgb: 206, 234, 238;
    --CTBS-PrimaryBorderSubtle: #a9d9e0;
    --CTBS-PrimaryBorderSubtleRgb: 169, 217, 224;
    --CTBS-PrimaryBtnActiveBorderColor: #31818c;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 49, 129, 140;
    --CTBS-PrimaryBtnFocusShadowRgb: 31, 83, 90;
    --CTBS-PrimaryBtnHoverBg: #31818c;
    --CTBS-PrimaryBtnHoverBgRgb: 49, 129, 140;
    --CTBS-PrimaryRgb: 31, 83, 90;
    --CTBS-PrimaryTableActiveBg: #31818c;
    --CTBS-PrimaryTableActiveBgRgb: 49, 129, 140;
    --CTBS-PrimaryTableBorderColor: #1f535a;
    --CTBS-PrimaryTableBorderColorRgb: 31, 83, 90;
    --CTBS-PrimaryTableHoverBg: #31818c;
    --CTBS-PrimaryTableHoverBgRgb: 49, 129, 140;
    --CTBS-PrimaryTableStripedBg: #38929f;
    --CTBS-PrimaryTableStripedBgRgb: 56, 146, 159;
    --CTBS-PrimaryTextEmphasis: #1e4f56;
    --CTBS-PrimaryTextEmphasisRgb: 30, 79, 86;
    --CTBS-Purple: #771e9e;
    --CTBS-PurpleRgb: 119, 30, 158;
    --CTBS-Red: #951c1c;
    --CTBS-RedRgb: 149, 28, 28;
    --CTBS-SecondaryBgRgb: 116, 91, 69;
    --CTBS-SecondaryBgSubtle: #d1c1b3;
    --CTBS-SecondaryBgSubtleRgb: 209, 193, 179;
    --CTBS-SecondaryBorderSubtle: #bea793;
    --CTBS-SecondaryBorderSubtleRgb: 190, 167, 147;
    --CTBS-SecondaryBtnActiveBorderColor: #544131;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 84, 65, 49;
    --CTBS-SecondaryBtnFocusShadowRgb: 92, 72, 55;
    --CTBS-SecondaryBtnHoverBg: #544131;
    --CTBS-SecondaryBtnHoverBgRgb: 84, 65, 49;
    --CTBS-SecondaryBtnHoverBorderColor: #544131;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 84, 65, 49;
    --CTBS-SecondaryColor: #5c4837;
    --CTBS-SecondaryColorRgb: 92, 72, 55;
    --CTBS-SecondaryRgb: 92, 72, 55;
    --CTBS-SecondaryTableActiveBg: #544131;
    --CTBS-SecondaryTableActiveBgRgb: 84, 65, 49;
    --CTBS-SecondaryTableBorderColor: #5c4837;
    --CTBS-SecondaryTableBorderColorRgb: 92, 72, 55;
    --CTBS-SecondaryTableHoverBg: #544131;
    --CTBS-SecondaryTableHoverBgRgb: 84, 65, 49;
    --CTBS-SecondaryTableStripedBg: #644e3b;
    --CTBS-SecondaryTableStripedBgRgb: 100, 78, 59;
    --CTBS-SecondaryTextEmphasis: #3c2f24;
    --CTBS-SecondaryTextEmphasisRgb: 60, 47, 36;
    --CTBS-SuccessBgSubtle: #bef2be;
    --CTBS-SuccessBgSubtleRgb: 190, 242, 190;
    --CTBS-SuccessBorderSubtle: #93ea93;
    --CTBS-SuccessBorderSubtleRgb: 147, 234, 147;
    --CTBS-SuccessBtnActiveBorderColor: #1c951c;
    --CTBS-SuccessBtnActiveBorderColorRgb: 28, 149, 28;
    --CTBS-SuccessBtnFocusShadowRgb: 17, 89, 17;
    --CTBS-SuccessBtnHoverBg: #1c951c;
    --CTBS-SuccessBtnHoverBgRgb: 28, 149, 28;
    --CTBS-SuccessBtnHoverBorderColor: #1c951c;
    --CTBS-SuccessBtnHoverBorderColorRgb: 28, 149, 28;
    --CTBS-SuccessRgb: 17, 89, 17;
    --CTBS-SuccessTableActiveBg: #1c951c;
    --CTBS-SuccessTableActiveBgRgb: 28, 149, 28;
    --CTBS-SuccessTableBorderColor: #115911;
    --CTBS-SuccessTableBorderColorRgb: 17, 89, 17;
    --CTBS-SuccessTableHoverBg: #1c951c;
    --CTBS-SuccessTableHoverBgRgb: 28, 149, 28;
    --CTBS-SuccessTableStripedBg: #20aa20;
    --CTBS-SuccessTableStripedBgRgb: 32, 170, 32;
    --CTBS-SuccessTextEmphasis: #105510;
    --CTBS-SuccessTextEmphasisRgb: 16, 85, 16;
    --CTBS-Teal: #115941;
    --CTBS-TealRgb: 17, 89, 65;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #f2e5be;
    --CTBS-WarningBgSubtleRgb: 242, 229, 190;
    --CTBS-WarningBorderSubtle: #ead493;
    --CTBS-WarningBorderSubtleRgb: 234, 212, 147;
    --CTBS-WarningBtnActiveBg: #95761c;
    --CTBS-WarningBtnActiveBgRgb: 149, 118, 28;
    --CTBS-WarningBtnFocusShadowRgb: 94, 74, 18;
    --CTBS-WarningBtnHoverBg: #95761c;
    --CTBS-WarningBtnHoverBgRgb: 149, 118, 28;
    --CTBS-WarningBtnHoverBorderColor: #95761c;
    --CTBS-WarningBtnHoverBorderColorRgb: 149, 118, 28;
    --CTBS-WarningRgb: 94, 74, 18;
    --CTBS-WarningTableActiveBg: #95761c;
    --CTBS-WarningTableActiveBgRgb: 149, 118, 28;
    --CTBS-WarningTableBorderColor: #5e4a12;
    --CTBS-WarningTableBorderColorRgb: 94, 74, 18;
    --CTBS-WarningTableHoverBg: #95761c;
    --CTBS-WarningTableHoverBgRgb: 149, 118, 28;
    --CTBS-WarningTableStripedBg: #aa8720;
    --CTBS-WarningTableStripedBgRgb: 170, 135, 32;
    --CTBS-WarningTextEmphasis: #594711;
    --CTBS-WarningTextEmphasisRgb: 89, 71, 17;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #5e4a12;
    --CTBS-YellowRgb: 94, 74, 18;
}