/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 252, 250, 231;
    --CTBS-BackdropBg: #fcfae7;
    --CTBS-BackdropBgRgb: 252, 250, 231;
    --CTBS-BackgroundColor: #5a530b;
    --CTBS-BackgroundColorRgb: 90, 83, 11;
    --CTBS-BackgroundColor-1: #5a530b;
    --CTBS-BackgroundColor-1Rgb: 90, 83, 11;
    --CTBS-BackgroundColor-2: #5a530b;
    --CTBS-BackgroundColor-2Rgb: 90, 83, 11;
    --CTBS-BackgroundImage: #fcfae7;
    --CTBS-BackgroundImageRgb: 252, 250, 231;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #5c5209;
    --CTBS-BlueRgb: 92, 82, 9;
    --CTBS-BodyBg: #fcfae7;
    --CTBS-BodyBgRgb: 252, 250, 231;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #5a520b;
    --CTBS-BorderColorRgb: 90, 82, 11;
    --CTBS-BorderColor-1: #5a520b;
    --CTBS-BorderColor-1Rgb: 90, 82, 11;
    --CTBS-BorderColorTranslucent: #5a520b;
    --CTBS-BorderColorTranslucentRgb: 90, 82, 11;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 252, 250, 231;
    --CTBS-CardCapBgRgb: 252, 250, 231;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #f3eba2;
    --CTBS-CarouselIndicatorActiveBgRgb: 243, 235, 162;
    --CTBS-CarouselIndicatorActiveBg-1: #f3eba2;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 243, 235, 162;
    --CTBS-CloseBtnCloseColor: #545454;
    --CTBS-CloseBtnCloseColorRgb: 84, 84, 84;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #095a76;
    --CTBS-CyanRgb: 9, 90, 118;
    --CTBS-Danger: #8b3b44;
    --CTBS-DangerRgb: 139, 59, 68;
    --CTBS-DangerBgSubtle: #f8f0f1;
    --CTBS-DangerBgSubtleRgb: 248, 240, 241;
    --CTBS-DangerBorderSubtle: #e8c9cc;
    --CTBS-DangerBorderSubtleRgb: 232, 201, 204;
    --CTBS-DangerBtnActiveBg: #552429;
    --CTBS-DangerBtnActiveBgRgb: 85, 36, 41;
    --CTBS-DangerBtnActiveBorderColor: #672b32;
    --CTBS-DangerBtnActiveBorderColorRgb: 103, 43, 50;
    --CTBS-DangerBtnActiveColor: #e2babf;
    --CTBS-DangerBtnActiveColorRgb: 226, 186, 191;
    --CTBS-DangerBtnActiveShadow: #672b32;
    --CTBS-DangerBtnActiveShadowRgb: 103, 43, 50;
    --CTBS-DangerBtnBg: #8b3b44;
    --CTBS-DangerBtnBgRgb: 139, 59, 68;
    --CTBS-DangerBtnBorderColor: #814040;
    --CTBS-DangerBtnBorderColorRgb: 129, 64, 64;
    --CTBS-DangerBtnColor: #fdfbfb;
    --CTBS-DangerBtnColorRgb: 253, 251, 251;
    --CTBS-DangerBtnDisabledBg: #8b3b44;
    --CTBS-DangerBtnDisabledBgRgb: 139, 59, 68;
    --CTBS-DangerBtnDisabledBorderColor: #814040;
    --CTBS-DangerBtnDisabledBorderColorRgb: 129, 64, 64;
    --CTBS-DangerBtnDisabledColor: #fdfbfb;
    --CTBS-DangerBtnDisabledColorRgb: 253, 251, 251;
    --CTBS-DangerBtnFocusShadowRgb: 139, 59, 68;
    --CTBS-DangerBtnHoverBg: #552429;
    --CTBS-DangerBtnHoverBgRgb: 85, 36, 41;
    --CTBS-DangerBtnHoverBorderColor: #672b32;
    --CTBS-DangerBtnHoverBorderColorRgb: 103, 43, 50;
    --CTBS-DangerBtnHoverColor: #e2babf;
    --CTBS-DangerBtnHoverColorRgb: 226, 186, 191;
    --CTBS-DangerTableActiveBg: #f8f0f1;
    --CTBS-DangerTableActiveBgRgb: 248, 240, 241;
    --CTBS-DangerTableActiveColor: #672b32;
    --CTBS-DangerTableActiveColorRgb: 103, 43, 50;
    --CTBS-DangerTableBg: #f8f0f1;
    --CTBS-DangerTableBgRgb: 248, 240, 241;
    --CTBS-DangerTableBorderColor: #8b3b44;
    --CTBS-DangerTableBorderColorRgb: 139, 59, 68;
    --CTBS-DangerTableColor: #843840;
    --CTBS-DangerTableColorRgb: 132, 56, 64;
    --CTBS-DangerTableHoverBg: #f8f0f1;
    --CTBS-DangerTableHoverBgRgb: 248, 240, 241;
    --CTBS-DangerTableHoverColor: #672b32;
    --CTBS-DangerTableHoverColorRgb: 103, 43, 50;
    --CTBS-DangerTableStripedBg: #f8f0f1;
    --CTBS-DangerTableStripedBgRgb: 248, 240, 241;
    --CTBS-DangerTableStripedColor: #79333b;
    --CTBS-DangerTableStripedColorRgb: 121, 51, 59;
    --CTBS-DangerTextEmphasis: #843840;
    --CTBS-DangerTextEmphasisRgb: 132, 56, 64;
    --CTBS-Dark: #1f2d14;
    --CTBS-DarkRgb: 31, 45, 20;
    --CTBS-DarkBgSubtle: #f4f8f0;
    --CTBS-DarkBgSubtleRgb: 244, 248, 240;
    --CTBS-DarkBorderSubtle: #d6e7ca;
    --CTBS-DarkBorderSubtleRgb: 214, 231, 202;
    --CTBS-DarkBtnActiveBg: #000000;
    --CTBS-DarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-DarkBtnActiveBorderColor: #060904;
    --CTBS-DarkBtnActiveBorderColorRgb: 6, 9, 4;
    --CTBS-DarkBtnActiveColor: #6ea549;
    --CTBS-DarkBtnActiveColorRgb: 110, 165, 73;
    --CTBS-DarkBtnActiveShadow: #060904;
    --CTBS-DarkBtnActiveShadowRgb: 6, 9, 4;
    --CTBS-DarkBtnBg: #1f2d14;
    --CTBS-DarkBtnBgRgb: 31, 45, 20;
    --CTBS-DarkBtnBorderColor: #1f2d14;
    --CTBS-DarkBtnBorderColorRgb: 31, 45, 20;
    --CTBS-DarkBtnColor: #72a549;
    --CTBS-DarkBtnColorRgb: 114, 165, 73;
    --CTBS-DarkBtnDisabledBg: #1f2d14;
    --CTBS-DarkBtnDisabledBgRgb: 31, 45, 20;
    --CTBS-DarkBtnDisabledBorderColor: #1f2d14;
    --CTBS-DarkBtnDisabledBorderColorRgb: 31, 45, 20;
    --CTBS-DarkBtnDisabledColor: #72a549;
    --CTBS-DarkBtnDisabledColorRgb: 114, 165, 73;
    --CTBS-DarkBtnFocusShadowRgb: 31, 45, 20;
    --CTBS-DarkBtnHoverBg: #000000;
    --CTBS-DarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-DarkBtnHoverBorderColor: #060904;
    --CTBS-DarkBtnHoverBorderColorRgb: 6, 9, 4;
    --CTBS-DarkBtnHoverColor: #6ea549;
    --CTBS-DarkBtnHoverColorRgb: 110, 165, 73;
    --CTBS-DarkNavbarActiveColor: #060904;
    --CTBS-DarkNavbarActiveColorRgb: 6, 9, 4;
    --CTBS-DarkNavbarBrandColor: #1f2d14;
    --CTBS-DarkNavbarBrandColorRgb: 31, 45, 20;
    --CTBS-DarkNavbarBrandHoverColor: #060904;
    --CTBS-DarkNavbarBrandHoverColorRgb: 6, 9, 4;
    --CTBS-DarkNavbarColor: #1f2d14;
    --CTBS-DarkNavbarColorRgb: 31, 45, 20;
    --CTBS-DarkNavbarDisabledColor: #1f2d14;
    --CTBS-DarkNavbarDisabledColorRgb: 31, 45, 20;
    --CTBS-DarkNavbarHoverColor: #060904;
    --CTBS-DarkNavbarHoverColorRgb: 6, 9, 4;
    --CTBS-DarkNavbarTogglerBorderColor: #1f2d14;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 31, 45, 20;
    --CTBS-DarkTableActiveBg: #f4f8f0;
    --CTBS-DarkTableActiveBgRgb: 244, 248, 240;
    --CTBS-DarkTableActiveColor: #060904;
    --CTBS-DarkTableActiveColorRgb: 6, 9, 4;
    --CTBS-DarkTableBg: #f4f8f0;
    --CTBS-DarkTableBgRgb: 244, 248, 240;
    --CTBS-DarkTableBorderColor: #1f2d14;
    --CTBS-DarkTableBorderColorRgb: 31, 45, 20;
    --CTBS-DarkTableColor: #1f2d14;
    --CTBS-DarkTableColorRgb: 31, 45, 20;
    --CTBS-DarkTableHoverBg: #f4f8f0;
    --CTBS-DarkTableHoverBgRgb: 244, 248, 240;
    --CTBS-DarkTableHoverColor: #060904;
    --CTBS-DarkTableHoverColorRgb: 6, 9, 4;
    --CTBS-DarkTableStripedBg: #f4f8f0;
    --CTBS-DarkTableStripedBgRgb: 244, 248, 240;
    --CTBS-DarkTableStripedColor: #121b0c;
    --CTBS-DarkTableStripedColorRgb: 18, 27, 12;
    --CTBS-DarkTextEmphasis: #1f2d14;
    --CTBS-DarkTextEmphasisRgb: 31, 45, 20;
    --CTBS-DarkThemeBodyBg: #1f2d14;
    --CTBS-DarkThemeBodyBgRgb: 31, 45, 20;
    --CTBS-DarkThemeBodyColor: #ffffff;
    --CTBS-DarkThemeBodyColorRgb: 255, 255, 255;
    --CTBS-DarkThemeBorderColor: #99c378;
    --CTBS-DarkThemeBorderColorRgb: 153, 195, 120;
    --CTBS-DarkThemeBorderColorTranslucent: #99c378;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 153, 195, 120;
    --CTBS-DarkThemeCarouselCaptionColor: #ffffff;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 255, 255, 255;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #43612b;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 67, 97, 43;
    --CTBS-DarkThemeCodeColor: #ffffff;
    --CTBS-DarkThemeCodeColorRgb: 255, 255, 255;
    --CTBS-DarkThemeDangerBgSubtle: #1c0c0d;
    --CTBS-DarkThemeDangerBgSubtleRgb: 28, 12, 13;
    --CTBS-DarkThemeDangerBorderSubtle: #59262b;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 89, 38, 43;
    --CTBS-DarkThemeDangerTextEmphasis: #daa9ae;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 218, 169, 174;
    --CTBS-DarkThemeDarkBgSubtle: #131c0c;
    --CTBS-DarkThemeDarkBgSubtleRgb: 19, 28, 12;
    --CTBS-DarkThemeDarkBorderSubtle: #1f2c14;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 31, 44, 20;
    --CTBS-DarkThemeDarkTextEmphasis: #99c378;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 153, 195, 120;
    --CTBS-DarkThemeEmphasisColor: #ffffff;
    --CTBS-DarkThemeEmphasisColorRgb: 255, 255, 255;
    --CTBS-DarkThemeFormInvalidBorderColor: #99c378;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 153, 195, 120;
    --CTBS-DarkThemeFormInvalidColor: #b7b7b7;
    --CTBS-DarkThemeFormInvalidColorRgb: 183, 183, 183;
    --CTBS-DarkThemeFormValidBorderColor: #99c378;
    --CTBS-DarkThemeFormValidBorderColorRgb: 153, 195, 120;
    --CTBS-DarkThemeFormValidColor: #b7b7b7;
    --CTBS-DarkThemeFormValidColorRgb: 183, 183, 183;
    --CTBS-DarkThemeHighlightBg: #1f2d14;
    --CTBS-DarkThemeHighlightBgRgb: 31, 45, 20;
    --CTBS-DarkThemeHighlightColor: #ffffff;
    --CTBS-DarkThemeHighlightColorRgb: 255, 255, 255;
    --CTBS-DarkThemeInfoBgSubtle: #031d25;
    --CTBS-DarkThemeInfoBgSubtleRgb: 3, 29, 37;
    --CTBS-DarkThemeInfoBorderSubtle: #095a75;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 9, 90, 117;
    --CTBS-DarkThemeInfoTextEmphasis: #42c4ef;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 66, 196, 239;
    --CTBS-DarkThemeLightBgSubtle: #242104;
    --CTBS-DarkThemeLightBgSubtleRgb: 36, 33, 4;
    --CTBS-DarkThemeLightBorderSubtle: #71670e;
    --CTBS-DarkThemeLightBorderSubtleRgb: 113, 103, 14;
    --CTBS-DarkThemeLightTextEmphasis: #fcfae7;
    --CTBS-DarkThemeLightTextEmphasisRgb: 252, 250, 231;
    --CTBS-DarkThemeLinkColor: #e8d127;
    --CTBS-DarkThemeLinkColorRgb: 232, 209, 39;
    --CTBS-DarkThemeLinkHoverColor: #ecda55;
    --CTBS-DarkThemeLinkHoverColorRgb: 236, 218, 85;
    --CTBS-DarkThemePrimaryBgSubtle: #242003;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 36, 32, 3;
    --CTBS-DarkThemePrimaryBorderSubtle: #73660c;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 115, 102, 12;
    --CTBS-DarkThemePrimaryTextEmphasis: #e8d127;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 232, 209, 39;
    --CTBS-DarkThemeSecondaryBg: #ccabcd;
    --CTBS-DarkThemeSecondaryBgRgb: 204, 171, 205;
    --CTBS-DarkThemeSecondaryBgSubtle: #190f19;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 25, 15, 25;
    --CTBS-DarkThemeSecondaryBorderSubtle: #4e2f4f;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 78, 47, 79;
    --CTBS-DarkThemeSecondaryColor: #352036;
    --CTBS-DarkThemeSecondaryColorRgb: 53, 32, 54;
    --CTBS-DarkThemeSecondaryTextEmphasis: #ccabcd;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 204, 171, 205;
    --CTBS-DarkThemeSuccessBgSubtle: #121f09;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 18, 31, 9;
    --CTBS-DarkThemeSuccessBorderSubtle: #38621d;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 56, 98, 29;
    --CTBS-DarkThemeSuccessTextEmphasis: #7fca4e;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 127, 202, 78;
    --CTBS-DarkThemeTertiaryBg: #1f2d14;
    --CTBS-DarkThemeTertiaryBgRgb: 31, 45, 20;
    --CTBS-DarkThemeTertiaryColor: #ffffff;
    --CTBS-DarkThemeTertiaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeWarningBgSubtle: #241f04;
    --CTBS-DarkThemeWarningBgSubtleRgb: 36, 31, 4;
    --CTBS-DarkThemeWarningBorderSubtle: #72620c;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 114, 98, 12;
    --CTBS-DarkThemeWarningTextEmphasis: #e7c927;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 231, 201, 39;
    --CTBS-DropdownBg: #fcfae7;
    --CTBS-DropdownBgRgb: 252, 250, 231;
    --CTBS-DropdownColor: #714473;
    --CTBS-DropdownColorRgb: 113, 68, 115;
    --CTBS-DropdownHeaderColor: #714473;
    --CTBS-DropdownHeaderColorRgb: 113, 68, 115;
    --CTBS-DropdownHeaderColor-1: #714473;
    --CTBS-DropdownHeaderColor-1Rgb: 113, 68, 115;
    --CTBS-DropdownLinkActiveBg: #161302;
    --CTBS-DropdownLinkActiveBgRgb: 22, 19, 2;
    --CTBS-DropdownLinkActiveColor: #b6a210;
    --CTBS-DropdownLinkActiveColorRgb: 182, 162, 16;
    --CTBS-DropdownLinkColor: #b5a111;
    --CTBS-DropdownLinkColorRgb: 181, 161, 17;
    --CTBS-DropdownLinkDisabledColor: #b5a111;
    --CTBS-DropdownLinkDisabledColorRgb: 181, 161, 17;
    --CTBS-DropdownLinkHoverBg: #161302;
    --CTBS-DropdownLinkHoverBgRgb: 22, 19, 2;
    --CTBS-DropdownLinkHoverColor: #b6a210;
    --CTBS-DropdownLinkHoverColorRgb: 182, 162, 16;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #545454;
    --CTBS-FormCheckInputBackgroundColorRgb: 84, 84, 84;
    --CTBS-FormCheckInputBorderColor: #5a520b;
    --CTBS-FormCheckInputBorderColorRgb: 90, 82, 11;
    --CTBS-FormCheckInputBorderColor-1: #5a520b;
    --CTBS-FormCheckInputBorderColor-1Rgb: 90, 82, 11;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #5a520b;
    --CTBS-FormControlBorderColorRgb: 90, 82, 11;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #545454;
    --CTBS-FormControlColorRgb: 84, 84, 84;
    --CTBS-FormInvalidBorderColor: #5a520b;
    --CTBS-FormInvalidBorderColorRgb: 90, 82, 11;
    --CTBS-FormInvalidColor: #545454;
    --CTBS-FormInvalidColorRgb: 84, 84, 84;
    --CTBS-FormValidBorderColor: #5a520b;
    --CTBS-FormValidBorderColorRgb: 90, 82, 11;
    --CTBS-FormValidColor: #545454;
    --CTBS-FormValidColorRgb: 84, 84, 84;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #4e545a;
    --CTBS-GrayRgb: 78, 84, 90;
    --CTBS-Gray100: #b5babe;
    --CTBS-Gray100Rgb: 181, 186, 190;
    --CTBS-Gray200: #99a0a7;
    --CTBS-Gray200Rgb: 153, 160, 167;
    --CTBS-Gray300: #7e868f;
    --CTBS-Gray300Rgb: 126, 134, 143;
    --CTBS-Gray400: #656d75;
    --CTBS-Gray400Rgb: 101, 109, 117;
    --CTBS-Gray500: #4e545a;
    --CTBS-Gray500Rgb: 78, 84, 90;
    --CTBS-Gray600: #363a3e;
    --CTBS-Gray600Rgb: 54, 58, 62;
    --CTBS-Gray700: #1e2123;
    --CTBS-Gray700Rgb: 30, 33, 35;
    --CTBS-Gray800: #060708;
    --CTBS-Gray800Rgb: 6, 7, 8;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #1f2d14;
    --CTBS-GrayDarkRgb: 31, 45, 20;
    --CTBS-Green: #365e1c;
    --CTBS-GreenRgb: 54, 94, 28;
    --CTBS-HighlightBg: #fcfae7;
    --CTBS-HighlightBgRgb: 252, 250, 231;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #5f11d4;
    --CTBS-IndigoRgb: 95, 17, 212;
    --CTBS-Info: #095a76;
    --CTBS-InfoRgb: 9, 90, 118;
    --CTBS-InfoBgSubtle: #ecf9fd;
    --CTBS-InfoBgSubtleRgb: 236, 249, 253;
    --CTBS-InfoBorderSubtle: #b7e8f9;
    --CTBS-InfoBorderSubtleRgb: 183, 232, 249;
    --CTBS-InfoBtnActiveBg: #03232e;
    --CTBS-InfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-InfoBtnActiveBorderColor: #053546;
    --CTBS-InfoBtnActiveBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnActiveColor: #1fb8ef;
    --CTBS-InfoBtnActiveColorRgb: 31, 184, 239;
    --CTBS-InfoBtnActiveShadow: #053546;
    --CTBS-InfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-InfoBtnBg: #095a76;
    --CTBS-InfoBtnBgRgb: 9, 90, 118;
    --CTBS-InfoBtnBorderColor: #0c5b73;
    --CTBS-InfoBtnBorderColorRgb: 12, 91, 115;
    --CTBS-InfoBtnColor: #ecf9fd;
    --CTBS-InfoBtnColorRgb: 236, 249, 253;
    --CTBS-InfoBtnDisabledBg: #095a76;
    --CTBS-InfoBtnDisabledBgRgb: 9, 90, 118;
    --CTBS-InfoBtnDisabledBorderColor: #0c5b73;
    --CTBS-InfoBtnDisabledBorderColorRgb: 12, 91, 115;
    --CTBS-InfoBtnDisabledColor: #ecf9fd;
    --CTBS-InfoBtnDisabledColorRgb: 236, 249, 253;
    --CTBS-InfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-InfoBtnHoverBg: #03232e;
    --CTBS-InfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-InfoBtnHoverBorderColor: #053546;
    --CTBS-InfoBtnHoverBorderColorRgb: 5, 53, 70;
    --CTBS-InfoBtnHoverColor: #1fb8ef;
    --CTBS-InfoBtnHoverColorRgb: 31, 184, 239;
    --CTBS-InfoTableActiveBg: #ecf9fd;
    --CTBS-InfoTableActiveBgRgb: 236, 249, 253;
    --CTBS-InfoTableActiveColor: #053546;
    --CTBS-InfoTableActiveColorRgb: 5, 53, 70;
    --CTBS-InfoTableBg: #ecf9fd;
    --CTBS-InfoTableBgRgb: 236, 249, 253;
    --CTBS-InfoTableBorderColor: #095a76;
    --CTBS-InfoTableBorderColorRgb: 9, 90, 118;
    --CTBS-InfoTableColor: #095a76;
    --CTBS-InfoTableColorRgb: 9, 90, 118;
    --CTBS-InfoTableHoverBg: #ecf9fd;
    --CTBS-InfoTableHoverBgRgb: 236, 249, 253;
    --CTBS-InfoTableHoverColor: #053546;
    --CTBS-InfoTableHoverColorRgb: 5, 53, 70;
    --CTBS-InfoTableStripedBg: #ecf9fd;
    --CTBS-InfoTableStripedBgRgb: 236, 249, 253;
    --CTBS-InfoTableStripedColor: #07475e;
    --CTBS-InfoTableStripedColorRgb: 7, 71, 94;
    --CTBS-InfoTextEmphasis: #095a76;
    --CTBS-InfoTextEmphasisRgb: 9, 90, 118;
    --CTBS-Light: #fcfae7;
    --CTBS-LightRgb: 252, 250, 231;
    --CTBS-LightBgSubtle: #fcfbec;
    --CTBS-LightBgSubtleRgb: 252, 251, 236;
    --CTBS-LightBorderSubtle: #fbf9e7;
    --CTBS-LightBorderSubtleRgb: 251, 249, 231;
    --CTBS-LightBtnActiveBg: #f3eba2;
    --CTBS-LightBtnActiveBgRgb: 243, 235, 162;
    --CTBS-LightBtnActiveBorderColor: #5a520b;
    --CTBS-LightBtnActiveBorderColorRgb: 90, 82, 11;
    --CTBS-LightBtnActiveColor: #514a09;
    --CTBS-LightBtnActiveColorRgb: 81, 74, 9;
    --CTBS-LightBtnActiveShadow: #5a520b;
    --CTBS-LightBtnActiveShadowRgb: 90, 82, 11;
    --CTBS-LightBtnBg: #fcfae7;
    --CTBS-LightBtnBgRgb: 252, 250, 231;
    --CTBS-LightBtnBorderColor: #5a530b;
    --CTBS-LightBtnBorderColorRgb: 90, 83, 11;
    --CTBS-LightBtnColor: #514b09;
    --CTBS-LightBtnColorRgb: 81, 75, 9;
    --CTBS-LightBtnDisabledBg: #fcfae7;
    --CTBS-LightBtnDisabledBgRgb: 252, 250, 231;
    --CTBS-LightBtnDisabledBorderColor: #5a530b;
    --CTBS-LightBtnDisabledBorderColorRgb: 90, 83, 11;
    --CTBS-LightBtnDisabledColor: #514b09;
    --CTBS-LightBtnDisabledColorRgb: 81, 75, 9;
    --CTBS-LightBtnFocusShadowRgb: 252, 250, 231;
    --CTBS-LightBtnHoverBg: #f3eba2;
    --CTBS-LightBtnHoverBgRgb: 243, 235, 162;
    --CTBS-LightBtnHoverBorderColor: #5a520b;
    --CTBS-LightBtnHoverBorderColorRgb: 90, 82, 11;
    --CTBS-LightBtnHoverColor: #514a09;
    --CTBS-LightBtnHoverColorRgb: 81, 74, 9;
    --CTBS-LightTableActiveBg: #fcfbec;
    --CTBS-LightTableActiveBgRgb: 252, 251, 236;
    --CTBS-LightTableActiveColor: #5a520b;
    --CTBS-LightTableActiveColorRgb: 90, 82, 11;
    --CTBS-LightTableBg: #fcfbec;
    --CTBS-LightTableBgRgb: 252, 251, 236;
    --CTBS-LightTableBorderColor: #5a530b;
    --CTBS-LightTableBorderColorRgb: 90, 83, 11;
    --CTBS-LightTableColor: #5a530b;
    --CTBS-LightTableColorRgb: 90, 83, 11;
    --CTBS-LightTableHoverBg: #fcfbec;
    --CTBS-LightTableHoverBgRgb: 252, 251, 236;
    --CTBS-LightTableHoverColor: #5a520b;
    --CTBS-LightTableHoverColorRgb: 90, 82, 11;
    --CTBS-LightTableStripedBg: #fcfbec;
    --CTBS-LightTableStripedBgRgb: 252, 251, 236;
    --CTBS-LightTableStripedColor: #5e560c;
    --CTBS-LightTableStripedColorRgb: 94, 86, 12;
    --CTBS-LightTextEmphasis: #5a530b;
    --CTBS-LightTextEmphasisRgb: 90, 83, 11;
    --CTBS-LinkBtnBoxShadow: #5c5209;
    --CTBS-LinkBtnBoxShadowRgb: 92, 82, 9;
    --CTBS-LinkBtnDisabledColor: #5c5209;
    --CTBS-LinkBtnDisabledColorRgb: 92, 82, 9;
    --CTBS-LinkBtnFocusShadowRgb: 92, 82, 9;
    --CTBS-LinkColor: #5c5209;
    --CTBS-LinkColorRgb: 92, 82, 9;
    --CTBS-LinkHoverColor: #2d2804;
    --CTBS-LinkHoverColorRgb: 45, 40, 4;
    --CTBS-LinkNavBoxShadow: #5c5209;
    --CTBS-LinkNavBoxShadowRgb: 92, 82, 9;
    --CTBS-ListGroupActionActiveBgRgb: 243, 235, 162;
    --CTBS-ListGroupActionHoverBgRgb: 243, 235, 162;
    --CTBS-ListGroupActiveBg: #f3eba2;
    --CTBS-ListGroupActiveBgRgb: 243, 235, 162;
    --CTBS-ListGroupActiveBorderColor: #5a520b;
    --CTBS-ListGroupActiveBorderColorRgb: 90, 82, 11;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 252, 250, 231;
    --CTBS-ListGroupDisabledBgRgb: 252, 250, 231;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 252, 250, 231;
    --CTBS-OffcanvasBgRgb: 252, 250, 231;
    --CTBS-Orange: #724930;
    --CTBS-OrangeRgb: 114, 73, 48;
    --CTBS-OutlineDangerBtnActiveBg: #552429;
    --CTBS-OutlineDangerBtnActiveBgRgb: 85, 36, 41;
    --CTBS-OutlineDangerBtnActiveBorderColor: #8b3b44;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 139, 59, 68;
    --CTBS-OutlineDangerBtnActiveColor: #e2babf;
    --CTBS-OutlineDangerBtnActiveColorRgb: 226, 186, 191;
    --CTBS-OutlineDangerBtnActiveShadow: #672b32;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 103, 43, 50;
    --CTBS-OutlineDangerBtnBorderColor: #8b3b44;
    --CTBS-OutlineDangerBtnBorderColorRgb: 139, 59, 68;
    --CTBS-OutlineDangerBtnColor: #e2babf;
    --CTBS-OutlineDangerBtnColorRgb: 226, 186, 191;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #8b3b44;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 139, 59, 68;
    --CTBS-OutlineDangerBtnDisabledColor: #e2babf;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 226, 186, 191;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 139, 59, 68;
    --CTBS-OutlineDangerBtnHoverBg: #552429;
    --CTBS-OutlineDangerBtnHoverBgRgb: 85, 36, 41;
    --CTBS-OutlineDangerBtnHoverBorderColor: #8b3b44;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 139, 59, 68;
    --CTBS-OutlineDangerBtnHoverColor: #e2babf;
    --CTBS-OutlineDangerBtnHoverColorRgb: 226, 186, 191;
    --CTBS-OutlineDarkBtnActiveBg: #000000;
    --CTBS-OutlineDarkBtnActiveBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnActiveBorderColor: #1f2d14;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 31, 45, 20;
    --CTBS-OutlineDarkBtnActiveColor: #72a549;
    --CTBS-OutlineDarkBtnActiveColorRgb: 114, 165, 73;
    --CTBS-OutlineDarkBtnActiveShadow: #060904;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 6, 9, 4;
    --CTBS-OutlineDarkBtnBorderColor: #1f2d14;
    --CTBS-OutlineDarkBtnBorderColorRgb: 31, 45, 20;
    --CTBS-OutlineDarkBtnColor: #72a549;
    --CTBS-OutlineDarkBtnColorRgb: 114, 165, 73;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #1f2d14;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 31, 45, 20;
    --CTBS-OutlineDarkBtnDisabledColor: #72a549;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 114, 165, 73;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 31, 45, 20;
    --CTBS-OutlineDarkBtnHoverBg: #000000;
    --CTBS-OutlineDarkBtnHoverBgRgb: 0, 0, 0;
    --CTBS-OutlineDarkBtnHoverBorderColor: #1f2d14;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 31, 45, 20;
    --CTBS-OutlineDarkBtnHoverColor: #72a549;
    --CTBS-OutlineDarkBtnHoverColorRgb: 114, 165, 73;
    --CTBS-OutlineInfoBtnActiveBg: #03232e;
    --CTBS-OutlineInfoBtnActiveBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnActiveBorderColor: #095a76;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnActiveColor: #20b9ee;
    --CTBS-OutlineInfoBtnActiveColorRgb: 32, 185, 238;
    --CTBS-OutlineInfoBtnActiveShadow: #053546;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 5, 53, 70;
    --CTBS-OutlineInfoBtnBorderColor: #095a76;
    --CTBS-OutlineInfoBtnBorderColorRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnColor: #20b9ee;
    --CTBS-OutlineInfoBtnColorRgb: 32, 185, 238;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #095a76;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnDisabledColor: #20b9ee;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 32, 185, 238;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnHoverBg: #03232e;
    --CTBS-OutlineInfoBtnHoverBgRgb: 3, 35, 46;
    --CTBS-OutlineInfoBtnHoverBorderColor: #095a76;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 9, 90, 118;
    --CTBS-OutlineInfoBtnHoverColor: #20b9ee;
    --CTBS-OutlineInfoBtnHoverColorRgb: 32, 185, 238;
    --CTBS-OutlineLightBtnActiveBg: #f3eba2;
    --CTBS-OutlineLightBtnActiveBgRgb: 243, 235, 162;
    --CTBS-OutlineLightBtnActiveBorderColor: #5a530b;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 90, 83, 11;
    --CTBS-OutlineLightBtnActiveColor: #514b09;
    --CTBS-OutlineLightBtnActiveColorRgb: 81, 75, 9;
    --CTBS-OutlineLightBtnActiveShadow: #5a520b;
    --CTBS-OutlineLightBtnActiveShadowRgb: 90, 82, 11;
    --CTBS-OutlineLightBtnBorderColor: #5a530b;
    --CTBS-OutlineLightBtnBorderColorRgb: 90, 83, 11;
    --CTBS-OutlineLightBtnColor: #514b09;
    --CTBS-OutlineLightBtnColorRgb: 81, 75, 9;
    --CTBS-OutlineLightBtnDisabledBorderColor: #5a530b;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 90, 83, 11;
    --CTBS-OutlineLightBtnDisabledColor: #514b09;
    --CTBS-OutlineLightBtnDisabledColorRgb: 81, 75, 9;
    --CTBS-OutlineLightBtnFocusShadowRgb: 252, 250, 231;
    --CTBS-OutlineLightBtnHoverBg: #f3eba2;
    --CTBS-OutlineLightBtnHoverBgRgb: 243, 235, 162;
    --CTBS-OutlineLightBtnHoverBorderColor: #5a530b;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 90, 83, 11;
    --CTBS-OutlineLightBtnHoverColor: #514b09;
    --CTBS-OutlineLightBtnHoverColorRgb: 81, 75, 9;
    --CTBS-OutlinePrimaryBtnActiveBg: #161302;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 22, 19, 2;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #5c5209;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 92, 82, 9;
    --CTBS-OutlinePrimaryBtnActiveColor: #b5a111;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 181, 161, 17;
    --CTBS-OutlinePrimaryBtnActiveShadow: #2d2804;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 45, 40, 4;
    --CTBS-OutlinePrimaryBtnBorderColor: #5c5209;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 92, 82, 9;
    --CTBS-OutlinePrimaryBtnColor: #b5a111;
    --CTBS-OutlinePrimaryBtnColorRgb: 181, 161, 17;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #5c5209;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 92, 82, 9;
    --CTBS-OutlinePrimaryBtnDisabledColor: #b5a111;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 181, 161, 17;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 92, 82, 9;
    --CTBS-OutlinePrimaryBtnHoverBg: #161302;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 22, 19, 2;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #5c5209;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 92, 82, 9;
    --CTBS-OutlinePrimaryBtnHoverColor: #b5a111;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 181, 161, 17;
    --CTBS-OutlineSecondaryBtnActiveBg: #412742;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 65, 39, 66;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #714473;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 113, 68, 115;
    --CTBS-OutlineSecondaryBtnActiveColor: #d4b8d5;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 212, 184, 213;
    --CTBS-OutlineSecondaryBtnActiveShadow: #513152;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 81, 49, 82;
    --CTBS-OutlineSecondaryBtnBorderColor: #714473;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 113, 68, 115;
    --CTBS-OutlineSecondaryBtnColor: #d4b8d5;
    --CTBS-OutlineSecondaryBtnColorRgb: 212, 184, 213;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #714473;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 113, 68, 115;
    --CTBS-OutlineSecondaryBtnDisabledColor: #d4b8d5;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 212, 184, 213;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 113, 68, 115;
    --CTBS-OutlineSecondaryBtnHoverBg: #412742;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 65, 39, 66;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #714473;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 113, 68, 115;
    --CTBS-OutlineSecondaryBtnHoverColor: #d4b8d5;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 212, 184, 213;
    --CTBS-OutlineSuccessBtnActiveBg: #14230a;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 20, 35, 10;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #365e1c;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 54, 94, 28;
    --CTBS-OutlineSuccessBtnActiveColor: #6ec039;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 110, 192, 57;
    --CTBS-OutlineSuccessBtnActiveShadow: #1f3610;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 31, 54, 16;
    --CTBS-OutlineSuccessBtnBorderColor: #365e1c;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 54, 94, 28;
    --CTBS-OutlineSuccessBtnColor: #6ec039;
    --CTBS-OutlineSuccessBtnColorRgb: 110, 192, 57;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #365e1c;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 54, 94, 28;
    --CTBS-OutlineSuccessBtnDisabledColor: #6ec039;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 110, 192, 57;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 54, 94, 28;
    --CTBS-OutlineSuccessBtnHoverBg: #14230a;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 20, 35, 10;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #365e1c;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 54, 94, 28;
    --CTBS-OutlineSuccessBtnHoverColor: #6ec039;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 110, 192, 57;
    --CTBS-OutlineWarningBtnActiveBg: #1a1702;
    --CTBS-OutlineWarningBtnActiveBgRgb: 26, 23, 2;
    --CTBS-OutlineWarningBtnActiveBorderColor: #60530a;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 96, 83, 10;
    --CTBS-OutlineWarningBtnActiveColor: #bda313;
    --CTBS-OutlineWarningBtnActiveColorRgb: 189, 163, 19;
    --CTBS-OutlineWarningBtnActiveShadow: #312b05;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 49, 43, 5;
    --CTBS-OutlineWarningBtnBorderColor: #60530a;
    --CTBS-OutlineWarningBtnBorderColorRgb: 96, 83, 10;
    --CTBS-OutlineWarningBtnColor: #bda313;
    --CTBS-OutlineWarningBtnColorRgb: 189, 163, 19;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #60530a;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 96, 83, 10;
    --CTBS-OutlineWarningBtnDisabledColor: #bda313;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 189, 163, 19;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 96, 83, 10;
    --CTBS-OutlineWarningBtnHoverBg: #1a1702;
    --CTBS-OutlineWarningBtnHoverBgRgb: 26, 23, 2;
    --CTBS-OutlineWarningBtnHoverBorderColor: #60530a;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 96, 83, 10;
    --CTBS-OutlineWarningBtnHoverColor: #bda313;
    --CTBS-OutlineWarningBtnHoverColorRgb: 189, 163, 19;
    --CTBS-PaginationActiveBg: #f3eba2;
    --CTBS-PaginationActiveBgRgb: 243, 235, 162;
    --CTBS-PaginationActiveBorderColor: #5a520b;
    --CTBS-PaginationActiveBorderColorRgb: 90, 82, 11;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #161302;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 22, 19, 2;
    --CTBS-PillsNavPillsLinkActiveColor: #b6a210;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 182, 162, 16;
    --CTBS-Pink: #83386d;
    --CTBS-PinkRgb: 131, 56, 109;
    --CTBS-Primary: #5c5209;
    --CTBS-PrimaryRgb: 92, 82, 9;
    --CTBS-PrimaryBgSubtle: #fdfbec;
    --CTBS-PrimaryBgSubtleRgb: 253, 251, 236;
    --CTBS-PrimaryBorderSubtle: #f8f0b9;
    --CTBS-PrimaryBorderSubtleRgb: 248, 240, 185;
    --CTBS-PrimaryBtnActiveBg: #161302;
    --CTBS-PrimaryBtnActiveBgRgb: 22, 19, 2;
    --CTBS-PrimaryBtnActiveBorderColor: #2d2804;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 45, 40, 4;
    --CTBS-PrimaryBtnActiveColor: #b6a210;
    --CTBS-PrimaryBtnActiveColorRgb: 182, 162, 16;
    --CTBS-PrimaryBtnActiveShadow: #2d2804;
    --CTBS-PrimaryBtnActiveShadowRgb: 45, 40, 4;
    --CTBS-PrimaryBtnBg: #5c5209;
    --CTBS-PrimaryBtnBgRgb: 92, 82, 9;
    --CTBS-PrimaryBtnBorderColor: #5c5209;
    --CTBS-PrimaryBtnBorderColorRgb: 92, 82, 9;
    --CTBS-PrimaryBtnColor: #faf5d0;
    --CTBS-PrimaryBtnColorRgb: 250, 245, 208;
    --CTBS-PrimaryBtnDisabledBg: #5c5209;
    --CTBS-PrimaryBtnDisabledBgRgb: 92, 82, 9;
    --CTBS-PrimaryBtnDisabledBorderColor: #5c5209;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 92, 82, 9;
    --CTBS-PrimaryBtnDisabledColor: #faf5d0;
    --CTBS-PrimaryBtnDisabledColorRgb: 250, 245, 208;
    --CTBS-PrimaryBtnFocusShadowRgb: 92, 82, 9;
    --CTBS-PrimaryBtnHoverBg: #161302;
    --CTBS-PrimaryBtnHoverBgRgb: 22, 19, 2;
    --CTBS-PrimaryBtnHoverBorderColor: #2d2804;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 45, 40, 4;
    --CTBS-PrimaryBtnHoverColor: #b6a210;
    --CTBS-PrimaryBtnHoverColorRgb: 182, 162, 16;
    --CTBS-PrimaryTableActiveBg: #fdfbec;
    --CTBS-PrimaryTableActiveBgRgb: 253, 251, 236;
    --CTBS-PrimaryTableActiveColor: #2d2804;
    --CTBS-PrimaryTableActiveColorRgb: 45, 40, 4;
    --CTBS-PrimaryTableBg: #fdfbec;
    --CTBS-PrimaryTableBgRgb: 253, 251, 236;
    --CTBS-PrimaryTableBorderColor: #5c5209;
    --CTBS-PrimaryTableBorderColorRgb: 92, 82, 9;
    --CTBS-PrimaryTableColor: #5c5209;
    --CTBS-PrimaryTableColorRgb: 92, 82, 9;
    --CTBS-PrimaryTableHoverBg: #fdfbec;
    --CTBS-PrimaryTableHoverBgRgb: 253, 251, 236;
    --CTBS-PrimaryTableHoverColor: #2d2804;
    --CTBS-PrimaryTableHoverColorRgb: 45, 40, 4;
    --CTBS-PrimaryTableStripedBg: #fdfbec;
    --CTBS-PrimaryTableStripedBgRgb: 253, 251, 236;
    --CTBS-PrimaryTableStripedColor: #443d06;
    --CTBS-PrimaryTableStripedColorRgb: 68, 61, 6;
    --CTBS-PrimaryTextEmphasis: #5c5209;
    --CTBS-PrimaryTextEmphasisRgb: 92, 82, 9;
    --CTBS-ProgressBarBg: #fcfae7;
    --CTBS-ProgressBarBgRgb: 252, 250, 231;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #840eb8;
    --CTBS-PurpleRgb: 132, 14, 184;
    --CTBS-Red: #8b3b44;
    --CTBS-RedRgb: 139, 59, 68;
    --CTBS-Secondary: #714473;
    --CTBS-SecondaryRgb: 113, 68, 115;
    --CTBS-SecondaryBg: #714473;
    --CTBS-SecondaryBgRgb: 113, 68, 115;
    --CTBS-SecondaryBgSubtle: #f7f2f7;
    --CTBS-SecondaryBgSubtleRgb: 247, 242, 247;
    --CTBS-SecondaryBorderSubtle: #e1cee2;
    --CTBS-SecondaryBorderSubtleRgb: 225, 206, 226;
    --CTBS-SecondaryBtnActiveBg: #412742;
    --CTBS-SecondaryBtnActiveBgRgb: 65, 39, 66;
    --CTBS-SecondaryBtnActiveBorderColor: #513152;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 81, 49, 82;
    --CTBS-SecondaryBtnActiveColor: #d4b8d5;
    --CTBS-SecondaryBtnActiveColorRgb: 212, 184, 213;
    --CTBS-SecondaryBtnActiveShadow: #513152;
    --CTBS-SecondaryBtnActiveShadowRgb: 81, 49, 82;
    --CTBS-SecondaryBtnBg: #714473;
    --CTBS-SecondaryBtnBgRgb: 113, 68, 115;
    --CTBS-SecondaryBtnBorderColor: #744274;
    --CTBS-SecondaryBtnBorderColorRgb: 116, 66, 116;
    --CTBS-SecondaryBtnColor: #fbf8fb;
    --CTBS-SecondaryBtnColorRgb: 251, 248, 251;
    --CTBS-SecondaryBtnDisabledBg: #714473;
    --CTBS-SecondaryBtnDisabledBgRgb: 113, 68, 115;
    --CTBS-SecondaryBtnDisabledBorderColor: #744274;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 116, 66, 116;
    --CTBS-SecondaryBtnDisabledColor: #fbf8fb;
    --CTBS-SecondaryBtnDisabledColorRgb: 251, 248, 251;
    --CTBS-SecondaryBtnFocusShadowRgb: 113, 68, 115;
    --CTBS-SecondaryBtnHoverBg: #412742;
    --CTBS-SecondaryBtnHoverBgRgb: 65, 39, 66;
    --CTBS-SecondaryBtnHoverBorderColor: #513152;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 81, 49, 82;
    --CTBS-SecondaryBtnHoverColor: #d4b8d5;
    --CTBS-SecondaryBtnHoverColorRgb: 212, 184, 213;
    --CTBS-SecondaryColor: #fbf8fb;
    --CTBS-SecondaryColorRgb: 251, 248, 251;
    --CTBS-SecondaryTableActiveBg: #f7f2f7;
    --CTBS-SecondaryTableActiveBgRgb: 247, 242, 247;
    --CTBS-SecondaryTableActiveColor: #513152;
    --CTBS-SecondaryTableActiveColorRgb: 81, 49, 82;
    --CTBS-SecondaryTableBg: #f7f2f7;
    --CTBS-SecondaryTableBgRgb: 247, 242, 247;
    --CTBS-SecondaryTableBorderColor: #714473;
    --CTBS-SecondaryTableBorderColorRgb: 113, 68, 115;
    --CTBS-SecondaryTableColor: #6b406c;
    --CTBS-SecondaryTableColorRgb: 107, 64, 108;
    --CTBS-SecondaryTableHoverBg: #f7f2f7;
    --CTBS-SecondaryTableHoverBgRgb: 247, 242, 247;
    --CTBS-SecondaryTableHoverColor: #513152;
    --CTBS-SecondaryTableHoverColorRgb: 81, 49, 82;
    --CTBS-SecondaryTableStripedBg: #f7f2f7;
    --CTBS-SecondaryTableStripedBgRgb: 247, 242, 247;
    --CTBS-SecondaryTableStripedColor: #613a62;
    --CTBS-SecondaryTableStripedColorRgb: 97, 58, 98;
    --CTBS-SecondaryTextEmphasis: #6b406c;
    --CTBS-SecondaryTextEmphasisRgb: 107, 64, 108;
    --CTBS-Success: #365e1c;
    --CTBS-SuccessRgb: 54, 94, 28;
    --CTBS-SuccessBgSubtle: #f3faef;
    --CTBS-SuccessBgSubtleRgb: 243, 250, 239;
    --CTBS-SuccessBorderSubtle: #d4edc4;
    --CTBS-SuccessBorderSubtleRgb: 212, 237, 196;
    --CTBS-SuccessBtnActiveBg: #14230a;
    --CTBS-SuccessBtnActiveBgRgb: 20, 35, 10;
    --CTBS-SuccessBtnActiveBorderColor: #1f3610;
    --CTBS-SuccessBtnActiveBorderColorRgb: 31, 54, 16;
    --CTBS-SuccessBtnActiveColor: #6ec039;
    --CTBS-SuccessBtnActiveColorRgb: 110, 192, 57;
    --CTBS-SuccessBtnActiveShadow: #1f3610;
    --CTBS-SuccessBtnActiveShadowRgb: 31, 54, 16;
    --CTBS-SuccessBtnBg: #365e1c;
    --CTBS-SuccessBtnBgRgb: 54, 94, 28;
    --CTBS-SuccessBtnBorderColor: #345d1d;
    --CTBS-SuccessBtnBorderColorRgb: 52, 93, 29;
    --CTBS-SuccessBtnColor: #f3faef;
    --CTBS-SuccessBtnColorRgb: 243, 250, 239;
    --CTBS-SuccessBtnDisabledBg: #365e1c;
    --CTBS-SuccessBtnDisabledBgRgb: 54, 94, 28;
    --CTBS-SuccessBtnDisabledBorderColor: #345d1d;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 52, 93, 29;
    --CTBS-SuccessBtnDisabledColor: #f3faef;
    --CTBS-SuccessBtnDisabledColorRgb: 243, 250, 239;
    --CTBS-SuccessBtnFocusShadowRgb: 54, 94, 28;
    --CTBS-SuccessBtnHoverBg: #14230a;
    --CTBS-SuccessBtnHoverBgRgb: 20, 35, 10;
    --CTBS-SuccessBtnHoverBorderColor: #1f3610;
    --CTBS-SuccessBtnHoverBorderColorRgb: 31, 54, 16;
    --CTBS-SuccessBtnHoverColor: #6ec039;
    --CTBS-SuccessBtnHoverColorRgb: 110, 192, 57;
    --CTBS-SuccessTableActiveBg: #f3faef;
    --CTBS-SuccessTableActiveBgRgb: 243, 250, 239;
    --CTBS-SuccessTableActiveColor: #1f3610;
    --CTBS-SuccessTableActiveColorRgb: 31, 54, 16;
    --CTBS-SuccessTableBg: #f3faef;
    --CTBS-SuccessTableBgRgb: 243, 250, 239;
    --CTBS-SuccessTableBorderColor: #365e1c;
    --CTBS-SuccessTableBorderColorRgb: 54, 94, 28;
    --CTBS-SuccessTableColor: #365e1c;
    --CTBS-SuccessTableColorRgb: 54, 94, 28;
    --CTBS-SuccessTableHoverBg: #f3faef;
    --CTBS-SuccessTableHoverBgRgb: 243, 250, 239;
    --CTBS-SuccessTableHoverColor: #1f3610;
    --CTBS-SuccessTableHoverColorRgb: 31, 54, 16;
    --CTBS-SuccessTableStripedBg: #f3faef;
    --CTBS-SuccessTableStripedBgRgb: 243, 250, 239;
    --CTBS-SuccessTableStripedColor: #2a4a16;
    --CTBS-SuccessTableStripedColorRgb: 42, 74, 22;
    --CTBS-SuccessTextEmphasis: #365e1c;
    --CTBS-SuccessTextEmphasisRgb: 54, 94, 28;
    --CTBS-Teal: #295e1c;
    --CTBS-TealRgb: 41, 94, 28;
    --CTBS-TertiaryBg: #fcfae7;
    --CTBS-TertiaryBgRgb: 252, 250, 231;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 252, 250, 231;
    --CTBS-ToastHeaderBgRgb: 252, 250, 231;
    --CTBS-Warning: #60530a;
    --CTBS-WarningRgb: 96, 83, 10;
    --CTBS-WarningBgSubtle: #fdfaec;
    --CTBS-WarningBgSubtleRgb: 253, 250, 236;
    --CTBS-WarningBorderSubtle: #f7eeb9;
    --CTBS-WarningBorderSubtleRgb: 247, 238, 185;
    --CTBS-WarningBtnActiveBg: #1a1702;
    --CTBS-WarningBtnActiveBgRgb: 26, 23, 2;
    --CTBS-WarningBtnActiveBorderColor: #312b05;
    --CTBS-WarningBtnActiveBorderColorRgb: 49, 43, 5;
    --CTBS-WarningBtnActiveColor: #bda613;
    --CTBS-WarningBtnActiveColorRgb: 189, 166, 19;
    --CTBS-WarningBtnActiveShadow: #312b05;
    --CTBS-WarningBtnActiveShadowRgb: 49, 43, 5;
    --CTBS-WarningBtnBg: #60530a;
    --CTBS-WarningBtnBgRgb: 96, 83, 10;
    --CTBS-WarningBtnBorderColor: #5f530b;
    --CTBS-WarningBtnBorderColorRgb: 95, 83, 11;
    --CTBS-WarningBtnColor: #fbf7de;
    --CTBS-WarningBtnColorRgb: 251, 247, 222;
    --CTBS-WarningBtnDisabledBg: #60530a;
    --CTBS-WarningBtnDisabledBgRgb: 96, 83, 10;
    --CTBS-WarningBtnDisabledBorderColor: #5f530b;
    --CTBS-WarningBtnDisabledBorderColorRgb: 95, 83, 11;
    --CTBS-WarningBtnDisabledColor: #fbf7de;
    --CTBS-WarningBtnDisabledColorRgb: 251, 247, 222;
    --CTBS-WarningBtnFocusShadowRgb: 96, 83, 10;
    --CTBS-WarningBtnHoverBg: #1a1702;
    --CTBS-WarningBtnHoverBgRgb: 26, 23, 2;
    --CTBS-WarningBtnHoverBorderColor: #312b05;
    --CTBS-WarningBtnHoverBorderColorRgb: 49, 43, 5;
    --CTBS-WarningBtnHoverColor: #bda613;
    --CTBS-WarningBtnHoverColorRgb: 189, 166, 19;
    --CTBS-WarningTableActiveBg: #fdfaec;
    --CTBS-WarningTableActiveBgRgb: 253, 250, 236;
    --CTBS-WarningTableActiveColor: #312b05;
    --CTBS-WarningTableActiveColorRgb: 49, 43, 5;
    --CTBS-WarningTableBg: #fdfaec;
    --CTBS-WarningTableBgRgb: 253, 250, 236;
    --CTBS-WarningTableBorderColor: #60530a;
    --CTBS-WarningTableBorderColorRgb: 96, 83, 10;
    --CTBS-WarningTableColor: #60530a;
    --CTBS-WarningTableColorRgb: 96, 83, 10;
    --CTBS-WarningTableHoverBg: #fdfaec;
    --CTBS-WarningTableHoverBgRgb: 253, 250, 236;
    --CTBS-WarningTableHoverColor: #312b05;
    --CTBS-WarningTableHoverColorRgb: 49, 43, 5;
    --CTBS-WarningTableStripedBg: #fdfaec;
    --CTBS-WarningTableStripedBgRgb: 253, 250, 236;
    --CTBS-WarningTableStripedColor: #483f07;
    --CTBS-WarningTableStripedColorRgb: 72, 63, 7;
    --CTBS-WarningTextEmphasis: #60530a;
    --CTBS-WarningTextEmphasisRgb: 96, 83, 10;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #60530a;
    --CTBS-YellowRgb: 96, 83, 10;
}