/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AlertBgRgb: 173, 190, 127;
    --CTBS-BackgroundColor: #ffffff;
    --CTBS-BackgroundColorRgb: 255, 255, 255;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-BlackAlpha075: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha075Rgb: rgba(0, 0, 0, 0.075);
    --CTBS-BlackAlpha125: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha125Rgb: rgba(0, 0, 0, 0.125);
    --CTBS-BlackAlpha15: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha15Rgb: rgba(0, 0, 0, 0.15);
    --CTBS-BlackAlpha175: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha175Rgb: rgba(0, 0, 0, 0.175);
    --CTBS-BlackAlpha5: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha5Rgb: rgba(0, 0, 0, 0.5);
    --CTBS-BlackAlpha8: rgba(0, 0, 0, 0.8);
    --CTBS-BlackAlpha8Rgb: rgba(0, 0, 0, 0.8);
    --CTBS-Blue: #c69562;
    --CTBS-BlueRgb: 198, 149, 98;
    --CTBS-BodyBgRgb: 173, 190, 127;
    --CTBS-CardBgRgb: 173, 190, 127;
    --CTBS-Cyan: #2699bf;
    --CTBS-CyanRgb: 38, 153, 191;
    --CTBS-DangerBgSubtle: #000000;
    --CTBS-DangerBgSubtleRgb: 0, 0, 0;
    --CTBS-DangerBorderSubtle: #160502;
    --CTBS-DangerBorderSubtleRgb: 22, 5, 2;
    --CTBS-DangerBtnActiveBorderColor: #cd3317;
    --CTBS-DangerBtnActiveBorderColorRgb: 205, 51, 23;
    --CTBS-DangerBtnFocusShadowRgb: 160, 40, 18;
    --CTBS-DangerBtnHoverBg: #cd3317;
    --CTBS-DangerBtnHoverBgRgb: 205, 51, 23;
    --CTBS-DangerBtnHoverBorderColor: #cd3317;
    --CTBS-DangerBtnHoverBorderColorRgb: 205, 51, 23;
    --CTBS-DangerRgb: 160, 40, 18;
    --CTBS-DangerTableActiveBg: #cd3317;
    --CTBS-DangerTableActiveBgRgb: 205, 51, 23;
    --CTBS-DangerTableBorderColor: #ffffff;
    --CTBS-DangerTableBorderColorRgb: 255, 255, 255;
    --CTBS-DangerTableHoverBg: #cd3317;
    --CTBS-DangerTableHoverBgRgb: 205, 51, 23;
    --CTBS-DangerTableStripedBg: #b62d14;
    --CTBS-DangerTableStripedBgRgb: 182, 45, 20;
    --CTBS-DangerTextEmphasis: #ec745e;
    --CTBS-DangerTextEmphasisRgb: 236, 116, 94;
    --CTBS-DarkBtnFocusShadowRgb: 98, 31, 11;
    --CTBS-DarkBtnHoverBg: #8f2d10;
    --CTBS-DarkBtnHoverBgRgb: 143, 45, 16;
    --CTBS-DarkRgb: 98, 31, 11;
    --CTBS-DarkTableActiveBg: #8f2d10;
    --CTBS-DarkTableActiveBgRgb: 143, 45, 16;
    --CTBS-DarkTableBorderColor: #ffffff;
    --CTBS-DarkTableBorderColorRgb: 255, 255, 255;
    --CTBS-DarkTableHoverBg: #8f2d10;
    --CTBS-DarkTableHoverBgRgb: 143, 45, 16;
    --CTBS-DarkTableStripedBg: #78260d;
    --CTBS-DarkTableStripedBgRgb: 120, 38, 13;
    --CTBS-DarkThemeBodyColorRgb: 173, 190, 127;
    --CTBS-DarkThemeCodeColor: #c0cd9c;
    --CTBS-DarkThemeCodeColorRgb: 192, 205, 156;
    --CTBS-DarkThemeDangerBgSubtle: #000000;
    --CTBS-DarkThemeDangerBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeDangerBorderSubtle: #160502;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 22, 5, 2;
    --CTBS-DarkThemeDangerTextEmphasis: #ec745e;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 236, 116, 94;
    --CTBS-DarkThemeDarkBgSubtle: #000000;
    --CTBS-DarkThemeDarkBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeInfoBgSubtle: #041014;
    --CTBS-DarkThemeInfoBgSubtleRgb: 4, 16, 20;
    --CTBS-DarkThemeInfoBorderSubtle: #0c323f;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 12, 50, 63;
    --CTBS-DarkThemeInfoTextEmphasis: #2aaad4;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 42, 170, 212;
    --CTBS-DarkThemeLinkColorRgb: 222, 194, 165;
    --CTBS-DarkThemeLinkHoverColor: #d3ae87;
    --CTBS-DarkThemeLinkHoverColorRgb: 211, 174, 135;
    --CTBS-DarkThemePrimaryBgSubtle: #432e18;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 67, 46, 24;
    --CTBS-DarkThemePrimaryBorderSubtle: #684826;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 104, 72, 38;
    --CTBS-DarkThemePrimaryTextEmphasis: #dbbd9d;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 219, 189, 157;
    --CTBS-DarkThemeSecondaryBgRgb: 184, 168, 197;
    --CTBS-DarkThemeSecondaryBgSubtle: #524060;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 82, 64, 96;
    --CTBS-DarkThemeSecondaryBorderSubtle: #6c547f;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 108, 84, 127;
    --CTBS-DarkThemeSecondaryColor: #cfc4d8;
    --CTBS-DarkThemeSecondaryColorRgb: 207, 196, 216;
    --CTBS-DarkThemeSecondaryTextEmphasis: #e6e0ea;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 230, 224, 234;
    --CTBS-DarkThemeSuccessBgSubtle: #000000;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeSuccessBorderSubtle: #0b1304;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 11, 19, 4;
    --CTBS-DarkThemeSuccessTextEmphasis: #65ab2a;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 101, 171, 42;
    --CTBS-DarkThemeTertiaryBg: #621f0b;
    --CTBS-DarkThemeTertiaryBgRgb: 98, 31, 11;
    --CTBS-DarkThemeTertiaryColor: #c0cd9c;
    --CTBS-DarkThemeTertiaryColorRgb: 192, 205, 156;
    --CTBS-DarkThemeWarningBgSubtle: #000000;
    --CTBS-DarkThemeWarningBgSubtleRgb: 0, 0, 0;
    --CTBS-DarkThemeWarningBorderSubtle: #141503;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 20, 21, 3;
    --CTBS-DarkThemeWarningTextEmphasis: #97a01c;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 151, 160, 28;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormControlBorderColor: #ffffff;
    --CTBS-FormControlBorderColorRgb: 255, 255, 255;
    --CTBS-Gray: #6c757d;
    --CTBS-GrayRgb: 108, 117, 125;
    --CTBS-Gray100: #6c757d;
    --CTBS-Gray100Rgb: 108, 117, 125;
    --CTBS-Gray200: #6c757d;
    --CTBS-Gray200Rgb: 108, 117, 125;
    --CTBS-Gray300: #6c757d;
    --CTBS-Gray300Rgb: 108, 117, 125;
    --CTBS-Gray400: #6c757d;
    --CTBS-Gray400Rgb: 108, 117, 125;
    --CTBS-Gray500: #6c757d;
    --CTBS-Gray500Rgb: 108, 117, 125;
    --CTBS-Gray700: #6c757d;
    --CTBS-Gray700Rgb: 108, 117, 125;
    --CTBS-Gray900: #6c757d;
    --CTBS-Gray900Rgb: 108, 117, 125;
    --CTBS-GrayDark: #621f0b;
    --CTBS-GrayDarkRgb: 98, 31, 11;
    --CTBS-Green: #548e23;
    --CTBS-GreenRgb: 84, 142, 35;
    --CTBS-Indigo: #6326bf;
    --CTBS-IndigoRgb: 99, 38, 191;
    --CTBS-InfoBgSubtle: #041014;
    --CTBS-InfoBgSubtleRgb: 4, 16, 20;
    --CTBS-InfoBorderSubtle: #0c323f;
    --CTBS-InfoBorderSubtleRgb: 12, 50, 63;
    --CTBS-InfoBtnActiveBg: #3fb2d8;
    --CTBS-InfoBtnActiveBgRgb: 63, 178, 216;
    --CTBS-InfoBtnFocusShadowRgb: 38, 153, 191;
    --CTBS-InfoBtnHoverBg: #3fb2d8;
    --CTBS-InfoBtnHoverBgRgb: 63, 178, 216;
    --CTBS-InfoBtnHoverBorderColor: #3fb2d8;
    --CTBS-InfoBtnHoverBorderColorRgb: 63, 178, 216;
    --CTBS-InfoRgb: 38, 153, 191;
    --CTBS-InfoTableActiveBg: #3fb2d8;
    --CTBS-InfoTableActiveBgRgb: 63, 178, 216;
    --CTBS-InfoTableBorderColor: #ffffff;
    --CTBS-InfoTableBorderColorRgb: 255, 255, 255;
    --CTBS-InfoTableHoverBg: #3fb2d8;
    --CTBS-InfoTableHoverBgRgb: 63, 178, 216;
    --CTBS-InfoTableStripedBg: #2aaad4;
    --CTBS-InfoTableStripedBgRgb: 42, 170, 212;
    --CTBS-InfoTextEmphasis: #2aaad4;
    --CTBS-InfoTextEmphasisRgb: 42, 170, 212;
    --CTBS-LightBgSubtle: #404a26;
    --CTBS-LightBgSubtleRgb: 64, 74, 38;
    --CTBS-LightBtnActiveBorderColor: #c2cfa0;
    --CTBS-LightBtnActiveBorderColorRgb: 194, 207, 160;
    --CTBS-LightBtnFocusShadowRgb: 173, 190, 127;
    --CTBS-LightBtnHoverBg: #c2cfa0;
    --CTBS-LightBtnHoverBgRgb: 194, 207, 160;
    --CTBS-LightRgb: 173, 190, 127;
    --CTBS-LightTableActiveBg: #c2cfa0;
    --CTBS-LightTableActiveBgRgb: 194, 207, 160;
    --CTBS-LightTableBorderColor: #ffffff;
    --CTBS-LightTableBorderColorRgb: 255, 255, 255;
    --CTBS-LightTableHoverBg: #c2cfa0;
    --CTBS-LightTableHoverBgRgb: 194, 207, 160;
    --CTBS-LightTableStripedBg: #b7c68f;
    --CTBS-LightTableStripedBgRgb: 183, 198, 143;
    --CTBS-LinkHoverColor: #d3ae87;
    --CTBS-LinkHoverColorRgb: 211, 174, 135;
    --CTBS-ModalBgRgb: 173, 190, 127;
    --CTBS-Orange: #c69462;
    --CTBS-OrangeRgb: 198, 148, 98;
    --CTBS-Pink: #bf2672;
    --CTBS-PinkRgb: 191, 38, 114;
    --CTBS-PrimaryBgSubtle: #432e18;
    --CTBS-PrimaryBgSubtleRgb: 67, 46, 24;
    --CTBS-PrimaryBorderSubtle: #684826;
    --CTBS-PrimaryBorderSubtleRgb: 104, 72, 38;
    --CTBS-PrimaryBtnActiveBorderColor: #d3ae87;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 211, 174, 135;
    --CTBS-PrimaryBtnFocusShadowRgb: 198, 149, 98;
    --CTBS-PrimaryBtnHoverBg: #d3ae87;
    --CTBS-PrimaryBtnHoverBgRgb: 211, 174, 135;
    --CTBS-PrimaryRgb: 198, 149, 98;
    --CTBS-PrimaryTableActiveBg: #d3ae87;
    --CTBS-PrimaryTableActiveBgRgb: 211, 174, 135;
    --CTBS-PrimaryTableBorderColor: #ffffff;
    --CTBS-PrimaryTableBorderColorRgb: 255, 255, 255;
    --CTBS-PrimaryTableHoverBg: #d3ae87;
    --CTBS-PrimaryTableHoverBgRgb: 211, 174, 135;
    --CTBS-PrimaryTableStripedBg: #cca174;
    --CTBS-PrimaryTableStripedBgRgb: 204, 161, 116;
    --CTBS-PrimaryTextEmphasis: #dbbd9d;
    --CTBS-PrimaryTextEmphasisRgb: 219, 189, 157;
    --CTBS-Purple: #a070c1;
    --CTBS-PurpleRgb: 160, 112, 193;
    --CTBS-Red: #a02812;
    --CTBS-RedRgb: 160, 40, 18;
    --CTBS-SecondaryBgRgb: 184, 168, 197;
    --CTBS-SecondaryBgSubtle: #524060;
    --CTBS-SecondaryBgSubtleRgb: 82, 64, 96;
    --CTBS-SecondaryBorderSubtle: #6c547f;
    --CTBS-SecondaryBorderSubtleRgb: 108, 84, 127;
    --CTBS-SecondaryBtnActiveBorderColor: #d0c6d9;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 208, 198, 217;
    --CTBS-SecondaryBtnFocusShadowRgb: 184, 168, 197;
    --CTBS-SecondaryBtnHoverBg: #d0c6d9;
    --CTBS-SecondaryBtnHoverBgRgb: 208, 198, 217;
    --CTBS-SecondaryBtnHoverBorderColor: #d0c6d9;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 208, 198, 217;
    --CTBS-SecondaryColor: #ffffff;
    --CTBS-SecondaryColorRgb: 255, 255, 255;
    --CTBS-SecondaryRgb: 184, 168, 197;
    --CTBS-SecondaryTableActiveBg: #d0c6d9;
    --CTBS-SecondaryTableActiveBgRgb: 208, 198, 217;
    --CTBS-SecondaryTableBorderColor: #ffffff;
    --CTBS-SecondaryTableBorderColorRgb: 255, 255, 255;
    --CTBS-SecondaryTableHoverBg: #d0c6d9;
    --CTBS-SecondaryTableHoverBgRgb: 208, 198, 217;
    --CTBS-SecondaryTableStripedBg: #c4b7cf;
    --CTBS-SecondaryTableStripedBgRgb: 196, 183, 207;
    --CTBS-SecondaryTextEmphasis: #e6e0ea;
    --CTBS-SecondaryTextEmphasisRgb: 230, 224, 234;
    --CTBS-SuccessBgSubtle: #000000;
    --CTBS-SuccessBgSubtleRgb: 0, 0, 0;
    --CTBS-SuccessBorderSubtle: #0b1304;
    --CTBS-SuccessBorderSubtleRgb: 11, 19, 4;
    --CTBS-SuccessBtnActiveBorderColor: #6cb62d;
    --CTBS-SuccessBtnActiveBorderColorRgb: 108, 182, 45;
    --CTBS-SuccessBtnFocusShadowRgb: 84, 142, 35;
    --CTBS-SuccessBtnHoverBg: #6cb62d;
    --CTBS-SuccessBtnHoverBgRgb: 108, 182, 45;
    --CTBS-SuccessBtnHoverBorderColor: #6cb62d;
    --CTBS-SuccessBtnHoverBorderColorRgb: 108, 182, 45;
    --CTBS-SuccessRgb: 84, 142, 35;
    --CTBS-SuccessTableActiveBg: #6cb62d;
    --CTBS-SuccessTableActiveBgRgb: 108, 182, 45;
    --CTBS-SuccessTableBorderColor: #ffffff;
    --CTBS-SuccessTableBorderColorRgb: 255, 255, 255;
    --CTBS-SuccessTableHoverBg: #6cb62d;
    --CTBS-SuccessTableHoverBgRgb: 108, 182, 45;
    --CTBS-SuccessTableStripedBg: #60a228;
    --CTBS-SuccessTableStripedBgRgb: 96, 162, 40;
    --CTBS-SuccessTextEmphasis: #65ab2a;
    --CTBS-SuccessTextEmphasisRgb: 101, 171, 42;
    --CTBS-Teal: #3e8e23;
    --CTBS-TealRgb: 62, 142, 35;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-WarningBgSubtle: #000000;
    --CTBS-WarningBgSubtleRgb: 0, 0, 0;
    --CTBS-WarningBorderSubtle: #141503;
    --CTBS-WarningBorderSubtleRgb: 20, 21, 3;
    --CTBS-WarningBtnActiveBg: #b7c222;
    --CTBS-WarningBtnActiveBgRgb: 183, 194, 34;
    --CTBS-WarningBtnFocusShadowRgb: 143, 151, 27;
    --CTBS-WarningBtnHoverBg: #b7c222;
    --CTBS-WarningBtnHoverBgRgb: 183, 194, 34;
    --CTBS-WarningBtnHoverBorderColor: #b7c222;
    --CTBS-WarningBtnHoverBorderColorRgb: 183, 194, 34;
    --CTBS-WarningRgb: 143, 151, 27;
    --CTBS-WarningTableActiveBg: #b7c222;
    --CTBS-WarningTableActiveBgRgb: 183, 194, 34;
    --CTBS-WarningTableBorderColor: #ffffff;
    --CTBS-WarningTableBorderColorRgb: 255, 255, 255;
    --CTBS-WarningTableHoverBg: #b7c222;
    --CTBS-WarningTableHoverBgRgb: 183, 194, 34;
    --CTBS-WarningTableStripedBg: #a3ac1e;
    --CTBS-WarningTableStripedBgRgb: 163, 172, 30;
    --CTBS-WarningTextEmphasis: #97a01c;
    --CTBS-WarningTextEmphasisRgb: 151, 160, 28;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-WhiteAlpha0: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha0Rgb: rgba(255, 255, 255, 0);
    --CTBS-WhiteAlpha1: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha1Rgb: rgba(255, 255, 255, 0.1);
    --CTBS-WhiteAlpha15: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha15Rgb: rgba(255, 255, 255, 0.15);
    --CTBS-WhiteAlpha25: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha25Rgb: rgba(255, 255, 255, 0.25);
    --CTBS-WhiteAlpha5: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha5Rgb: rgba(255, 255, 255, 0.5);
    --CTBS-WhiteAlpha55: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha55Rgb: rgba(255, 255, 255, 0.55);
    --CTBS-WhiteAlpha75: rgba(255, 255, 255, 0.75);
    --CTBS-WhiteAlpha75Rgb: rgba(255, 255, 255, 0.75);
    --CTBS-Yellow: #8f971b;
    --CTBS-YellowRgb: 143, 151, 27;
}