/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 247, 242, 236;
    --CTBS-BackdropBg: #f7f2ec;
    --CTBS-BackdropBgRgb: 247, 242, 236;
    --CTBS-BackgroundColor: #684c2b;
    --CTBS-BackgroundColorRgb: 104, 76, 43;
    --CTBS-BackgroundColor-1: #684c2b;
    --CTBS-BackgroundColor-1Rgb: 104, 76, 43;
    --CTBS-BackgroundColor-2: #684c2b;
    --CTBS-BackgroundColor-2Rgb: 104, 76, 43;
    --CTBS-BackgroundImage: #f7f2ec;
    --CTBS-BackgroundImageRgb: 247, 242, 236;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #952803;
    --CTBS-BlueRgb: 149, 40, 3;
    --CTBS-BodyBg: #f7f2ec;
    --CTBS-BodyBgRgb: 247, 242, 236;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #674c2c;
    --CTBS-BorderColorRgb: 103, 76, 44;
    --CTBS-BorderColor-1: #674c2c;
    --CTBS-BorderColor-1Rgb: 103, 76, 44;
    --CTBS-BorderColorTranslucent: #674c2c;
    --CTBS-BorderColorTranslucentRgb: 103, 76, 44;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 247, 242, 236;
    --CTBS-CardCapBgRgb: 247, 242, 236;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #e0cdb6;
    --CTBS-CarouselIndicatorActiveBgRgb: 224, 205, 182;
    --CTBS-CarouselIndicatorActiveBg-1: #e0cdb6;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 224, 205, 182;
    --CTBS-CloseBtnCloseColor: #515151;
    --CTBS-CloseBtnCloseColorRgb: 81, 81, 81;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #095771;
    --CTBS-CyanRgb: 9, 87, 113;
    --CTBS-Danger: #a01407;
    --CTBS-DangerRgb: 160, 20, 7;
    --CTBS-DangerBgSubtle: #fde4e1;
    --CTBS-DangerBgSubtleRgb: 253, 228, 225;
    --CTBS-DangerBorderSubtle: #fbbbb5;
    --CTBS-DangerBorderSubtleRgb: 251, 187, 181;
    --CTBS-DangerBtnActiveBg: #560a03;
    --CTBS-DangerBtnActiveBgRgb: 86, 10, 3;
    --CTBS-DangerBtnActiveBorderColor: #6f0d04;
    --CTBS-DangerBtnActiveBorderColorRgb: 111, 13, 4;
    --CTBS-DangerBtnActiveColor: #6f0d04;
    --CTBS-DangerBtnActiveColorRgb: 111, 13, 4;
    --CTBS-DangerBtnActiveShadow: #6f0d04;
    --CTBS-DangerBtnActiveShadowRgb: 111, 13, 4;
    --CTBS-DangerBtnBg: #a01407;
    --CTBS-DangerBtnBgRgb: 160, 20, 7;
    --CTBS-DangerBtnBorderColor: #feedeb;
    --CTBS-DangerBtnBorderColorRgb: 254, 237, 235;
    --CTBS-DangerBtnColor: #feedeb;
    --CTBS-DangerBtnColorRgb: 254, 237, 235;
    --CTBS-DangerBtnDisabledBg: #a01407;
    --CTBS-DangerBtnDisabledBgRgb: 160, 20, 7;
    --CTBS-DangerBtnDisabledBorderColor: #feedeb;
    --CTBS-DangerBtnDisabledBorderColorRgb: 254, 237, 235;
    --CTBS-DangerBtnDisabledColor: #feedeb;
    --CTBS-DangerBtnDisabledColorRgb: 254, 237, 235;
    --CTBS-DangerBtnFocusShadowRgb: 160, 20, 7;
    --CTBS-DangerBtnHoverBg: #560a03;
    --CTBS-DangerBtnHoverBgRgb: 86, 10, 3;
    --CTBS-DangerBtnHoverBorderColor: #6f0d04;
    --CTBS-DangerBtnHoverBorderColorRgb: 111, 13, 4;
    --CTBS-DangerBtnHoverColor: #6f0d04;
    --CTBS-DangerBtnHoverColorRgb: 111, 13, 4;
    --CTBS-DangerTableActiveBg: #fde4e1;
    --CTBS-DangerTableActiveBgRgb: 253, 228, 225;
    --CTBS-DangerTableActiveColor: #6f0d04;
    --CTBS-DangerTableActiveColorRgb: 111, 13, 4;
    --CTBS-DangerTableBg: #fde4e1;
    --CTBS-DangerTableBgRgb: 253, 228, 225;
    --CTBS-DangerTableBorderColor: #a01407;
    --CTBS-DangerTableBorderColorRgb: 160, 20, 7;
    --CTBS-DangerTableColor: #a01407;
    --CTBS-DangerTableColorRgb: 160, 20, 7;
    --CTBS-DangerTableHoverBg: #fde4e1;
    --CTBS-DangerTableHoverBgRgb: 253, 228, 225;
    --CTBS-DangerTableHoverColor: #6f0d04;
    --CTBS-DangerTableHoverColorRgb: 111, 13, 4;
    --CTBS-DangerTableStripedBg: #fde4e1;
    --CTBS-DangerTableStripedBgRgb: 253, 228, 225;
    --CTBS-DangerTableStripedColor: #871005;
    --CTBS-DangerTableStripedColorRgb: 135, 16, 5;
    --CTBS-DangerTextEmphasis: #971206;
    --CTBS-DangerTextEmphasisRgb: 151, 18, 6;
    --CTBS-Dark: #48170d;
    --CTBS-DarkRgb: 72, 23, 13;
    --CTBS-DarkBgSubtle: #fae8e5;
    --CTBS-DarkBgSubtleRgb: 250, 232, 229;
    --CTBS-DarkBorderSubtle: #f3c7be;
    --CTBS-DarkBorderSubtleRgb: 243, 199, 190;
    --CTBS-DarkBtnActiveBg: #070201;
    --CTBS-DarkBtnActiveBgRgb: 7, 2, 1;
    --CTBS-DarkBtnActiveBorderColor: #1c0905;
    --CTBS-DarkBtnActiveBorderColorRgb: 28, 9, 5;
    --CTBS-DarkBtnActiveColor: #1c0905;
    --CTBS-DarkBtnActiveColorRgb: 28, 9, 5;
    --CTBS-DarkBtnActiveShadow: #1c0905;
    --CTBS-DarkBtnActiveShadowRgb: 28, 9, 5;
    --CTBS-DarkBtnBg: #48170d;
    --CTBS-DarkBtnBgRgb: 72, 23, 13;
    --CTBS-DarkBtnBorderColor: #48170d;
    --CTBS-DarkBtnBorderColorRgb: 72, 23, 13;
    --CTBS-DarkBtnColor: #48170d;
    --CTBS-DarkBtnColorRgb: 72, 23, 13;
    --CTBS-DarkBtnDisabledBg: #48170d;
    --CTBS-DarkBtnDisabledBgRgb: 72, 23, 13;
    --CTBS-DarkBtnDisabledBorderColor: #48170d;
    --CTBS-DarkBtnDisabledBorderColorRgb: 72, 23, 13;
    --CTBS-DarkBtnDisabledColor: #48170d;
    --CTBS-DarkBtnDisabledColorRgb: 72, 23, 13;
    --CTBS-DarkBtnFocusShadowRgb: 72, 23, 13;
    --CTBS-DarkBtnHoverBg: #070201;
    --CTBS-DarkBtnHoverBgRgb: 7, 2, 1;
    --CTBS-DarkBtnHoverBorderColor: #1c0905;
    --CTBS-DarkBtnHoverBorderColorRgb: 28, 9, 5;
    --CTBS-DarkBtnHoverColor: #1c0905;
    --CTBS-DarkBtnHoverColorRgb: 28, 9, 5;
    --CTBS-DarkNavbarActiveColor: #1c0905;
    --CTBS-DarkNavbarActiveColorRgb: 28, 9, 5;
    --CTBS-DarkNavbarBrandColor: #48170d;
    --CTBS-DarkNavbarBrandColorRgb: 72, 23, 13;
    --CTBS-DarkNavbarBrandHoverColor: #1c0905;
    --CTBS-DarkNavbarBrandHoverColorRgb: 28, 9, 5;
    --CTBS-DarkNavbarColor: #48170d;
    --CTBS-DarkNavbarColorRgb: 72, 23, 13;
    --CTBS-DarkNavbarDisabledColor: #48170d;
    --CTBS-DarkNavbarDisabledColorRgb: 72, 23, 13;
    --CTBS-DarkNavbarHoverColor: #1c0905;
    --CTBS-DarkNavbarHoverColorRgb: 28, 9, 5;
    --CTBS-DarkNavbarTogglerBorderColor: #48170d;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 72, 23, 13;
    --CTBS-DarkTableActiveBg: #fae8e5;
    --CTBS-DarkTableActiveBgRgb: 250, 232, 229;
    --CTBS-DarkTableActiveColor: #1c0905;
    --CTBS-DarkTableActiveColorRgb: 28, 9, 5;
    --CTBS-DarkTableBg: #fae8e5;
    --CTBS-DarkTableBgRgb: 250, 232, 229;
    --CTBS-DarkTableBorderColor: #48170d;
    --CTBS-DarkTableBorderColorRgb: 72, 23, 13;
    --CTBS-DarkTableColor: #48170d;
    --CTBS-DarkTableColorRgb: 72, 23, 13;
    --CTBS-DarkTableHoverBg: #fae8e5;
    --CTBS-DarkTableHoverBgRgb: 250, 232, 229;
    --CTBS-DarkTableHoverColor: #1c0905;
    --CTBS-DarkTableHoverColorRgb: 28, 9, 5;
    --CTBS-DarkTableStripedBg: #fae8e5;
    --CTBS-DarkTableStripedBgRgb: 250, 232, 229;
    --CTBS-DarkTableStripedColor: #321009;
    --CTBS-DarkTableStripedColorRgb: 50, 16, 9;
    --CTBS-DarkTextEmphasis: #48170d;
    --CTBS-DarkTextEmphasisRgb: 72, 23, 13;
    --CTBS-DarkThemeBodyBg: #48170d;
    --CTBS-DarkThemeBodyBgRgb: 72, 23, 13;
    --CTBS-DarkThemeBodyColor: #f7f2ec;
    --CTBS-DarkThemeBodyColorRgb: 247, 242, 236;
    --CTBS-DarkThemeBorderColor: #e0cdb6;
    --CTBS-DarkThemeBorderColorRgb: 224, 205, 182;
    --CTBS-DarkThemeBorderColorTranslucent: #e0cdb6;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 224, 205, 182;
    --CTBS-DarkThemeCarouselCaptionColor: #f7f2ec;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 247, 242, 236;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #882b18;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 136, 43, 24;
    --CTBS-DarkThemeCodeColor: #f7f2ec;
    --CTBS-DarkThemeCodeColorRgb: 247, 242, 236;
    --CTBS-DarkThemeDangerBgSubtle: #300602;
    --CTBS-DarkThemeDangerBgSubtleRgb: 48, 6, 2;
    --CTBS-DarkThemeDangerBorderSubtle: #7a0f05;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 122, 15, 5;
    --CTBS-DarkThemeDangerTextEmphasis: #fa9c93;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 250, 156, 147;
    --CTBS-DarkThemeDarkBgSubtle: #2b0d07;
    --CTBS-DarkThemeDarkBgSubtleRgb: 43, 13, 7;
    --CTBS-DarkThemeDarkBorderSubtle: #48160c;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 72, 22, 12;
    --CTBS-DarkThemeDarkTextEmphasis: #eaa193;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 234, 161, 147;
    --CTBS-DarkThemeEmphasisColor: #b5b5b5;
    --CTBS-DarkThemeEmphasisColorRgb: 181, 181, 181;
    --CTBS-DarkThemeFormInvalidBorderColor: #e0cdb6;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 224, 205, 182;
    --CTBS-DarkThemeFormInvalidColor: #b5b5b5;
    --CTBS-DarkThemeFormInvalidColorRgb: 181, 181, 181;
    --CTBS-DarkThemeFormValidBorderColor: #e0cdb6;
    --CTBS-DarkThemeFormValidBorderColorRgb: 224, 205, 182;
    --CTBS-DarkThemeFormValidColor: #b5b5b5;
    --CTBS-DarkThemeFormValidColorRgb: 181, 181, 181;
    --CTBS-DarkThemeHighlightBg: #48170d;
    --CTBS-DarkThemeHighlightBgRgb: 72, 23, 13;
    --CTBS-DarkThemeHighlightColor: #f7f2ec;
    --CTBS-DarkThemeHighlightColorRgb: 247, 242, 236;
    --CTBS-DarkThemeInfoBgSubtle: #03242f;
    --CTBS-DarkThemeInfoBgSubtleRgb: 3, 36, 47;
    --CTBS-DarkThemeInfoBorderSubtle: #085670;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 8, 86, 112;
    --CTBS-DarkThemeInfoTextEmphasis: #38c1ef;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 56, 193, 239;
    --CTBS-DarkThemeLightBgSubtle: #231a0f;
    --CTBS-DarkThemeLightBgSubtleRgb: 35, 26, 15;
    --CTBS-DarkThemeLightBorderSubtle: #594225;
    --CTBS-DarkThemeLightBorderSubtleRgb: 89, 66, 37;
    --CTBS-DarkThemeLightTextEmphasis: #f7f2ec;
    --CTBS-DarkThemeLightTextEmphasisRgb: 247, 242, 236;
    --CTBS-DarkThemeLinkColor: #fc9d7d;
    --CTBS-DarkThemeLinkColorRgb: 252, 157, 125;
    --CTBS-DarkThemeLinkHoverColor: #fc9d7d;
    --CTBS-DarkThemeLinkHoverColorRgb: 252, 157, 125;
    --CTBS-DarkThemePrimaryBgSubtle: #310d01;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 49, 13, 1;
    --CTBS-DarkThemePrimaryBorderSubtle: #7c2102;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 124, 33, 2;
    --CTBS-DarkThemePrimaryTextEmphasis: #fb9c7d;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 251, 156, 125;
    --CTBS-DarkThemeSecondaryBg: #b6b4c0;
    --CTBS-DarkThemeSecondaryBgRgb: 182, 180, 192;
    --CTBS-DarkThemeSecondaryBgSubtle: #18171b;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 24, 23, 27;
    --CTBS-DarkThemeSecondaryBorderSubtle: #3c3a45;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 60, 58, 69;
    --CTBS-DarkThemeSecondaryColor: #b6b4c0;
    --CTBS-DarkThemeSecondaryColorRgb: 182, 180, 192;
    --CTBS-DarkThemeSecondaryTextEmphasis: #b6b4c0;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 182, 180, 192;
    --CTBS-DarkThemeSuccessBgSubtle: #1a2b07;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 26, 43, 7;
    --CTBS-DarkThemeSuccessBorderSubtle: #33570e;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 51, 87, 14;
    --CTBS-DarkThemeSuccessTextEmphasis: #78ca20;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 120, 202, 32;
    --CTBS-DarkThemeTertiaryBg: #48170d;
    --CTBS-DarkThemeTertiaryBgRgb: 72, 23, 13;
    --CTBS-DarkThemeTertiaryColor: #f7f2ec;
    --CTBS-DarkThemeTertiaryColorRgb: 247, 242, 236;
    --CTBS-DarkThemeWarningBgSubtle: #2d3101;
    --CTBS-DarkThemeWarningBgSubtleRgb: 45, 49, 1;
    --CTBS-DarkThemeWarningBorderSubtle: #4c5203;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 76, 82, 3;
    --CTBS-DarkThemeWarningTextEmphasis: #bac907;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 186, 201, 7;
    --CTBS-DropdownBg: #f7f2ec;
    --CTBS-DropdownBgRgb: 247, 242, 236;
    --CTBS-DropdownColor: #524f5e;
    --CTBS-DropdownColorRgb: 82, 79, 94;
    --CTBS-DropdownHeaderColor: #524f5e;
    --CTBS-DropdownHeaderColorRgb: 82, 79, 94;
    --CTBS-DropdownHeaderColor-1: #524f5e;
    --CTBS-DropdownHeaderColor-1Rgb: 82, 79, 94;
    --CTBS-DropdownLinkActiveBg: #4a1301;
    --CTBS-DropdownLinkActiveBgRgb: 74, 19, 1;
    --CTBS-DropdownLinkActiveColor: #631a01;
    --CTBS-DropdownLinkActiveColorRgb: 99, 26, 1;
    --CTBS-DropdownLinkColor: #952803;
    --CTBS-DropdownLinkColorRgb: 149, 40, 3;
    --CTBS-DropdownLinkDisabledColor: #952803;
    --CTBS-DropdownLinkDisabledColorRgb: 149, 40, 3;
    --CTBS-DropdownLinkHoverBg: #4a1301;
    --CTBS-DropdownLinkHoverBgRgb: 74, 19, 1;
    --CTBS-DropdownLinkHoverColor: #631a01;
    --CTBS-DropdownLinkHoverColorRgb: 99, 26, 1;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #515151;
    --CTBS-FormCheckInputBackgroundColorRgb: 81, 81, 81;
    --CTBS-FormCheckInputBorderColor: #674c2c;
    --CTBS-FormCheckInputBorderColorRgb: 103, 76, 44;
    --CTBS-FormCheckInputBorderColor-1: #674c2c;
    --CTBS-FormCheckInputBorderColor-1Rgb: 103, 76, 44;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #674c2c;
    --CTBS-FormControlBorderColorRgb: 103, 76, 44;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #515151;
    --CTBS-FormControlColorRgb: 81, 81, 81;
    --CTBS-FormInvalidBorderColor: #674c2c;
    --CTBS-FormInvalidBorderColorRgb: 103, 76, 44;
    --CTBS-FormInvalidColor: #515151;
    --CTBS-FormInvalidColorRgb: 81, 81, 81;
    --CTBS-FormValidBorderColor: #674c2c;
    --CTBS-FormValidBorderColorRgb: 103, 76, 44;
    --CTBS-FormValidColor: #515151;
    --CTBS-FormValidColorRgb: 81, 81, 81;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #4b5157;
    --CTBS-GrayRgb: 75, 81, 87;
    --CTBS-Gray100: #b1b7bc;
    --CTBS-Gray100Rgb: 177, 183, 188;
    --CTBS-Gray200: #969da4;
    --CTBS-Gray200Rgb: 150, 157, 164;
    --CTBS-Gray300: #7a838d;
    --CTBS-Gray300Rgb: 122, 131, 141;
    --CTBS-Gray400: #626a72;
    --CTBS-Gray400Rgb: 98, 106, 114;
    --CTBS-Gray500: #4b5157;
    --CTBS-Gray500Rgb: 75, 81, 87;
    --CTBS-Gray600: #33373b;
    --CTBS-Gray600Rgb: 51, 55, 59;
    --CTBS-Gray700: #1b1d20;
    --CTBS-Gray700Rgb: 27, 29, 32;
    --CTBS-Gray800: #040404;
    --CTBS-Gray800Rgb: 4, 4, 4;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #48170d;
    --CTBS-GrayDarkRgb: 72, 23, 13;
    --CTBS-Green: #34570e;
    --CTBS-GreenRgb: 52, 87, 14;
    --CTBS-HighlightBg: #f7f2ec;
    --CTBS-HighlightBgRgb: 247, 242, 236;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #5f11d4;
    --CTBS-IndigoRgb: 95, 17, 212;
    --CTBS-Info: #095771;
    --CTBS-InfoRgb: 9, 87, 113;
    --CTBS-InfoBgSubtle: #e2f6fc;
    --CTBS-InfoBgSubtleRgb: 226, 246, 252;
    --CTBS-InfoBorderSubtle: #b8e9f9;
    --CTBS-InfoBorderSubtleRgb: 184, 233, 249;
    --CTBS-InfoBtnActiveBg: #03202a;
    --CTBS-InfoBtnActiveBgRgb: 3, 32, 42;
    --CTBS-InfoBtnActiveBorderColor: #053241;
    --CTBS-InfoBtnActiveBorderColorRgb: 5, 50, 65;
    --CTBS-InfoBtnActiveColor: #053241;
    --CTBS-InfoBtnActiveColorRgb: 5, 50, 65;
    --CTBS-InfoBtnActiveShadow: #053241;
    --CTBS-InfoBtnActiveShadowRgb: 5, 50, 65;
    --CTBS-InfoBtnBg: #095771;
    --CTBS-InfoBtnBgRgb: 9, 87, 113;
    --CTBS-InfoBtnBorderColor: #e2f6fc;
    --CTBS-InfoBtnBorderColorRgb: 226, 246, 252;
    --CTBS-InfoBtnColor: #e2f6fc;
    --CTBS-InfoBtnColorRgb: 226, 246, 252;
    --CTBS-InfoBtnDisabledBg: #095771;
    --CTBS-InfoBtnDisabledBgRgb: 9, 87, 113;
    --CTBS-InfoBtnDisabledBorderColor: #e2f6fc;
    --CTBS-InfoBtnDisabledBorderColorRgb: 226, 246, 252;
    --CTBS-InfoBtnDisabledColor: #e2f6fc;
    --CTBS-InfoBtnDisabledColorRgb: 226, 246, 252;
    --CTBS-InfoBtnFocusShadowRgb: 9, 87, 113;
    --CTBS-InfoBtnHoverBg: #03202a;
    --CTBS-InfoBtnHoverBgRgb: 3, 32, 42;
    --CTBS-InfoBtnHoverBorderColor: #053241;
    --CTBS-InfoBtnHoverBorderColorRgb: 5, 50, 65;
    --CTBS-InfoBtnHoverColor: #053241;
    --CTBS-InfoBtnHoverColorRgb: 5, 50, 65;
    --CTBS-InfoTableActiveBg: #e2f6fc;
    --CTBS-InfoTableActiveBgRgb: 226, 246, 252;
    --CTBS-InfoTableActiveColor: #053241;
    --CTBS-InfoTableActiveColorRgb: 5, 50, 65;
    --CTBS-InfoTableBg: #e2f6fc;
    --CTBS-InfoTableBgRgb: 226, 246, 252;
    --CTBS-InfoTableBorderColor: #095771;
    --CTBS-InfoTableBorderColorRgb: 9, 87, 113;
    --CTBS-InfoTableColor: #095771;
    --CTBS-InfoTableColorRgb: 9, 87, 113;
    --CTBS-InfoTableHoverBg: #e2f6fc;
    --CTBS-InfoTableHoverBgRgb: 226, 246, 252;
    --CTBS-InfoTableHoverColor: #053241;
    --CTBS-InfoTableHoverColorRgb: 5, 50, 65;
    --CTBS-InfoTableStripedBg: #e2f6fc;
    --CTBS-InfoTableStripedBgRgb: 226, 246, 252;
    --CTBS-InfoTableStripedColor: #074459;
    --CTBS-InfoTableStripedColorRgb: 7, 68, 89;
    --CTBS-InfoTextEmphasis: #095771;
    --CTBS-InfoTextEmphasisRgb: 9, 87, 113;
    --CTBS-Light: #f7f2ec;
    --CTBS-LightRgb: 247, 242, 236;
    --CTBS-LightBgSubtle: #f7f2eb;
    --CTBS-LightBgSubtleRgb: 247, 242, 235;
    --CTBS-LightBorderSubtle: #f7f2eb;
    --CTBS-LightBorderSubtleRgb: 247, 242, 235;
    --CTBS-LightBtnActiveBg: #e0cdb6;
    --CTBS-LightBtnActiveBgRgb: 224, 205, 182;
    --CTBS-LightBtnActiveBorderColor: #664c2c;
    --CTBS-LightBtnActiveBorderColorRgb: 102, 76, 44;
    --CTBS-LightBtnActiveColor: #664c2c;
    --CTBS-LightBtnActiveColorRgb: 102, 76, 44;
    --CTBS-LightBtnActiveShadow: #664c2c;
    --CTBS-LightBtnActiveShadowRgb: 102, 76, 44;
    --CTBS-LightBtnBg: #f7f2ec;
    --CTBS-LightBtnBgRgb: 247, 242, 236;
    --CTBS-LightBtnBorderColor: #684c2b;
    --CTBS-LightBtnBorderColorRgb: 104, 76, 43;
    --CTBS-LightBtnColor: #684c2b;
    --CTBS-LightBtnColorRgb: 104, 76, 43;
    --CTBS-LightBtnDisabledBg: #f7f2ec;
    --CTBS-LightBtnDisabledBgRgb: 247, 242, 236;
    --CTBS-LightBtnDisabledBorderColor: #684c2b;
    --CTBS-LightBtnDisabledBorderColorRgb: 104, 76, 43;
    --CTBS-LightBtnDisabledColor: #684c2b;
    --CTBS-LightBtnDisabledColorRgb: 104, 76, 43;
    --CTBS-LightBtnFocusShadowRgb: 247, 242, 236;
    --CTBS-LightBtnHoverBg: #e0cdb6;
    --CTBS-LightBtnHoverBgRgb: 224, 205, 182;
    --CTBS-LightBtnHoverBorderColor: #664c2c;
    --CTBS-LightBtnHoverBorderColorRgb: 102, 76, 44;
    --CTBS-LightBtnHoverColor: #664c2c;
    --CTBS-LightBtnHoverColorRgb: 102, 76, 44;
    --CTBS-LightTableActiveBg: #f7f2eb;
    --CTBS-LightTableActiveBgRgb: 247, 242, 235;
    --CTBS-LightTableActiveColor: #664c2c;
    --CTBS-LightTableActiveColorRgb: 102, 76, 44;
    --CTBS-LightTableBg: #f7f2eb;
    --CTBS-LightTableBgRgb: 247, 242, 235;
    --CTBS-LightTableBorderColor: #684c2b;
    --CTBS-LightTableBorderColorRgb: 104, 76, 43;
    --CTBS-LightTableColor: #684c2b;
    --CTBS-LightTableColorRgb: 104, 76, 43;
    --CTBS-LightTableHoverBg: #f7f2eb;
    --CTBS-LightTableHoverBgRgb: 247, 242, 235;
    --CTBS-LightTableHoverColor: #664c2c;
    --CTBS-LightTableHoverColorRgb: 102, 76, 44;
    --CTBS-LightTableStripedBg: #f7f2eb;
    --CTBS-LightTableStripedBgRgb: 247, 242, 235;
    --CTBS-LightTableStripedColor: #efe5da;
    --CTBS-LightTableStripedColorRgb: 239, 229, 218;
    --CTBS-LightTextEmphasis: #644a2a;
    --CTBS-LightTextEmphasisRgb: 100, 74, 42;
    --CTBS-LinkBtnBoxShadow: #952803;
    --CTBS-LinkBtnBoxShadowRgb: 149, 40, 3;
    --CTBS-LinkBtnDisabledColor: #feece6;
    --CTBS-LinkBtnDisabledColorRgb: 254, 236, 230;
    --CTBS-LinkBtnFocusShadowRgb: 149, 40, 3;
    --CTBS-LinkColor: #952803;
    --CTBS-LinkColorRgb: 149, 40, 3;
    --CTBS-LinkHoverColor: #631a01;
    --CTBS-LinkHoverColorRgb: 99, 26, 1;
    --CTBS-LinkNavBoxShadow: #952803;
    --CTBS-LinkNavBoxShadowRgb: 149, 40, 3;
    --CTBS-ListGroupActionActiveBgRgb: 224, 205, 182;
    --CTBS-ListGroupActionHoverBgRgb: 224, 205, 182;
    --CTBS-ListGroupActiveBg: #e0cdb6;
    --CTBS-ListGroupActiveBgRgb: 224, 205, 182;
    --CTBS-ListGroupActiveBorderColor: #674c2c;
    --CTBS-ListGroupActiveBorderColorRgb: 103, 76, 44;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 247, 242, 236;
    --CTBS-ListGroupDisabledBgRgb: 247, 242, 236;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 247, 242, 236;
    --CTBS-OffcanvasBgRgb: 247, 242, 236;
    --CTBS-Orange: #8c3207;
    --CTBS-OrangeRgb: 140, 50, 7;
    --CTBS-OutlineDangerBtnActiveBg: #560a03;
    --CTBS-OutlineDangerBtnActiveBgRgb: 86, 10, 3;
    --CTBS-OutlineDangerBtnActiveBorderColor: #6f0d04;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 111, 13, 4;
    --CTBS-OutlineDangerBtnActiveColor: #6f0d04;
    --CTBS-OutlineDangerBtnActiveColorRgb: 111, 13, 4;
    --CTBS-OutlineDangerBtnActiveShadow: #6f0d04;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 111, 13, 4;
    --CTBS-OutlineDangerBtnBorderColor: #feedeb;
    --CTBS-OutlineDangerBtnBorderColorRgb: 254, 237, 235;
    --CTBS-OutlineDangerBtnColor: #feedeb;
    --CTBS-OutlineDangerBtnColorRgb: 254, 237, 235;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #feedeb;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 254, 237, 235;
    --CTBS-OutlineDangerBtnDisabledColor: #feedeb;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 254, 237, 235;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 160, 20, 7;
    --CTBS-OutlineDangerBtnHoverBg: #560a03;
    --CTBS-OutlineDangerBtnHoverBgRgb: 86, 10, 3;
    --CTBS-OutlineDangerBtnHoverBorderColor: #6f0d04;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 111, 13, 4;
    --CTBS-OutlineDangerBtnHoverColor: #6f0d04;
    --CTBS-OutlineDangerBtnHoverColorRgb: 111, 13, 4;
    --CTBS-OutlineDarkBtnActiveBg: #070201;
    --CTBS-OutlineDarkBtnActiveBgRgb: 7, 2, 1;
    --CTBS-OutlineDarkBtnActiveBorderColor: #1c0905;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 28, 9, 5;
    --CTBS-OutlineDarkBtnActiveColor: #1c0905;
    --CTBS-OutlineDarkBtnActiveColorRgb: 28, 9, 5;
    --CTBS-OutlineDarkBtnActiveShadow: #1c0905;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 28, 9, 5;
    --CTBS-OutlineDarkBtnBorderColor: #48170d;
    --CTBS-OutlineDarkBtnBorderColorRgb: 72, 23, 13;
    --CTBS-OutlineDarkBtnColor: #48170d;
    --CTBS-OutlineDarkBtnColorRgb: 72, 23, 13;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #48170d;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 72, 23, 13;
    --CTBS-OutlineDarkBtnDisabledColor: #48170d;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 72, 23, 13;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 72, 23, 13;
    --CTBS-OutlineDarkBtnHoverBg: #070201;
    --CTBS-OutlineDarkBtnHoverBgRgb: 7, 2, 1;
    --CTBS-OutlineDarkBtnHoverBorderColor: #1c0905;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 28, 9, 5;
    --CTBS-OutlineDarkBtnHoverColor: #1c0905;
    --CTBS-OutlineDarkBtnHoverColorRgb: 28, 9, 5;
    --CTBS-OutlineInfoBtnActiveBg: #03202a;
    --CTBS-OutlineInfoBtnActiveBgRgb: 3, 32, 42;
    --CTBS-OutlineInfoBtnActiveBorderColor: #053241;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 5, 50, 65;
    --CTBS-OutlineInfoBtnActiveColor: #053241;
    --CTBS-OutlineInfoBtnActiveColorRgb: 5, 50, 65;
    --CTBS-OutlineInfoBtnActiveShadow: #053241;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 5, 50, 65;
    --CTBS-OutlineInfoBtnBorderColor: #e2f6fc;
    --CTBS-OutlineInfoBtnBorderColorRgb: 226, 246, 252;
    --CTBS-OutlineInfoBtnColor: #e2f6fc;
    --CTBS-OutlineInfoBtnColorRgb: 226, 246, 252;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #e2f6fc;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 226, 246, 252;
    --CTBS-OutlineInfoBtnDisabledColor: #e2f6fc;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 226, 246, 252;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 9, 87, 113;
    --CTBS-OutlineInfoBtnHoverBg: #03202a;
    --CTBS-OutlineInfoBtnHoverBgRgb: 3, 32, 42;
    --CTBS-OutlineInfoBtnHoverBorderColor: #053241;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 5, 50, 65;
    --CTBS-OutlineInfoBtnHoverColor: #053241;
    --CTBS-OutlineInfoBtnHoverColorRgb: 5, 50, 65;
    --CTBS-OutlineLightBtnActiveBg: #e0cdb6;
    --CTBS-OutlineLightBtnActiveBgRgb: 224, 205, 182;
    --CTBS-OutlineLightBtnActiveBorderColor: #664c2c;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 102, 76, 44;
    --CTBS-OutlineLightBtnActiveColor: #664c2c;
    --CTBS-OutlineLightBtnActiveColorRgb: 102, 76, 44;
    --CTBS-OutlineLightBtnActiveShadow: #664c2c;
    --CTBS-OutlineLightBtnActiveShadowRgb: 102, 76, 44;
    --CTBS-OutlineLightBtnBorderColor: #684c2b;
    --CTBS-OutlineLightBtnBorderColorRgb: 104, 76, 43;
    --CTBS-OutlineLightBtnColor: #684c2b;
    --CTBS-OutlineLightBtnColorRgb: 104, 76, 43;
    --CTBS-OutlineLightBtnDisabledBorderColor: #684c2b;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 104, 76, 43;
    --CTBS-OutlineLightBtnDisabledColor: #684c2b;
    --CTBS-OutlineLightBtnDisabledColorRgb: 104, 76, 43;
    --CTBS-OutlineLightBtnFocusShadowRgb: 247, 242, 236;
    --CTBS-OutlineLightBtnHoverBg: #e0cdb6;
    --CTBS-OutlineLightBtnHoverBgRgb: 224, 205, 182;
    --CTBS-OutlineLightBtnHoverBorderColor: #664c2c;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 102, 76, 44;
    --CTBS-OutlineLightBtnHoverColor: #664c2c;
    --CTBS-OutlineLightBtnHoverColorRgb: 102, 76, 44;
    --CTBS-OutlinePrimaryBtnActiveBg: #4a1301;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 74, 19, 1;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #631a01;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 99, 26, 1;
    --CTBS-OutlinePrimaryBtnActiveColor: #631a01;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 99, 26, 1;
    --CTBS-OutlinePrimaryBtnActiveShadow: #631a01;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 99, 26, 1;
    --CTBS-OutlinePrimaryBtnBorderColor: #feece6;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 254, 236, 230;
    --CTBS-OutlinePrimaryBtnColor: #feece6;
    --CTBS-OutlinePrimaryBtnColorRgb: 254, 236, 230;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #feece6;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 254, 236, 230;
    --CTBS-OutlinePrimaryBtnDisabledColor: #feece6;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 254, 236, 230;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 149, 40, 3;
    --CTBS-OutlinePrimaryBtnHoverBg: #4a1301;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 74, 19, 1;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #631a01;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 99, 26, 1;
    --CTBS-OutlinePrimaryBtnHoverColor: #631a01;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 99, 26, 1;
    --CTBS-OutlineSecondaryBtnActiveBg: #2d2c34;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 45, 44, 52;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #393742;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 57, 55, 66;
    --CTBS-OutlineSecondaryBtnActiveColor: #393742;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 57, 55, 66;
    --CTBS-OutlineSecondaryBtnActiveShadow: #393742;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 57, 55, 66;
    --CTBS-OutlineSecondaryBtnBorderColor: #f4f3f5;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 244, 243, 245;
    --CTBS-OutlineSecondaryBtnColor: #f4f3f5;
    --CTBS-OutlineSecondaryBtnColorRgb: 244, 243, 245;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #f4f3f5;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 244, 243, 245;
    --CTBS-OutlineSecondaryBtnDisabledColor: #f4f3f5;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 244, 243, 245;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 82, 79, 94;
    --CTBS-OutlineSecondaryBtnHoverBg: #2d2c34;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 45, 44, 52;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #393742;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 57, 55, 66;
    --CTBS-OutlineSecondaryBtnHoverColor: #393742;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 57, 55, 66;
    --CTBS-OutlineSuccessBtnActiveBg: #0c1503;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 12, 21, 3;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #192b06;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 25, 43, 6;
    --CTBS-OutlineSuccessBtnActiveColor: #192b06;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 25, 43, 6;
    --CTBS-OutlineSuccessBtnActiveShadow: #192b06;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 25, 43, 6;
    --CTBS-OutlineSuccessBtnBorderColor: #dcf5c1;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 220, 245, 193;
    --CTBS-OutlineSuccessBtnColor: #dcf5c1;
    --CTBS-OutlineSuccessBtnColorRgb: 220, 245, 193;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #dcf5c1;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 220, 245, 193;
    --CTBS-OutlineSuccessBtnDisabledColor: #dcf5c1;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 220, 245, 193;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 52, 87, 14;
    --CTBS-OutlineSuccessBtnHoverBg: #0c1503;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 12, 21, 3;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #192b06;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 25, 43, 6;
    --CTBS-OutlineSuccessBtnHoverColor: #192b06;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 25, 43, 6;
    --CTBS-OutlineWarningBtnActiveBg: #070800;
    --CTBS-OutlineWarningBtnActiveBgRgb: 7, 8, 0;
    --CTBS-OutlineWarningBtnActiveBorderColor: #1e2001;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 30, 32, 1;
    --CTBS-OutlineWarningBtnActiveColor: #1e2001;
    --CTBS-OutlineWarningBtnActiveColorRgb: 30, 32, 1;
    --CTBS-OutlineWarningBtnActiveShadow: #1e2001;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 30, 32, 1;
    --CTBS-OutlineWarningBtnBorderColor: #eaf844;
    --CTBS-OutlineWarningBtnBorderColorRgb: 234, 248, 68;
    --CTBS-OutlineWarningBtnColor: #eaf844;
    --CTBS-OutlineWarningBtnColorRgb: 234, 248, 68;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #eaf844;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 234, 248, 68;
    --CTBS-OutlineWarningBtnDisabledColor: #eaf844;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 234, 248, 68;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 76, 82, 3;
    --CTBS-OutlineWarningBtnHoverBg: #070800;
    --CTBS-OutlineWarningBtnHoverBgRgb: 7, 8, 0;
    --CTBS-OutlineWarningBtnHoverBorderColor: #1e2001;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 30, 32, 1;
    --CTBS-OutlineWarningBtnHoverColor: #1e2001;
    --CTBS-OutlineWarningBtnHoverColorRgb: 30, 32, 1;
    --CTBS-PaginationActiveBg: #e0cdb6;
    --CTBS-PaginationActiveBgRgb: 224, 205, 182;
    --CTBS-PaginationActiveBorderColor: #674c2c;
    --CTBS-PaginationActiveBorderColorRgb: 103, 76, 44;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #4a1301;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 74, 19, 1;
    --CTBS-PillsNavPillsLinkActiveColor: #631a01;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 99, 26, 1;
    --CTBS-Pink: #80365a;
    --CTBS-PinkRgb: 128, 54, 90;
    --CTBS-Primary: #952803;
    --CTBS-PrimaryRgb: 149, 40, 3;
    --CTBS-PrimaryBgSubtle: #fee8e1;
    --CTBS-PrimaryBgSubtleRgb: 254, 232, 225;
    --CTBS-PrimaryBorderSubtle: #fdc6b4;
    --CTBS-PrimaryBorderSubtleRgb: 253, 198, 180;
    --CTBS-PrimaryBtnActiveBg: #4a1301;
    --CTBS-PrimaryBtnActiveBgRgb: 74, 19, 1;
    --CTBS-PrimaryBtnActiveBorderColor: #631a01;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 99, 26, 1;
    --CTBS-PrimaryBtnActiveColor: #631a01;
    --CTBS-PrimaryBtnActiveColorRgb: 99, 26, 1;
    --CTBS-PrimaryBtnActiveShadow: #631a01;
    --CTBS-PrimaryBtnActiveShadowRgb: 99, 26, 1;
    --CTBS-PrimaryBtnBg: #952803;
    --CTBS-PrimaryBtnBgRgb: 149, 40, 3;
    --CTBS-PrimaryBtnBorderColor: #feece6;
    --CTBS-PrimaryBtnBorderColorRgb: 254, 236, 230;
    --CTBS-PrimaryBtnColor: #feece6;
    --CTBS-PrimaryBtnColorRgb: 254, 236, 230;
    --CTBS-PrimaryBtnDisabledBg: #952803;
    --CTBS-PrimaryBtnDisabledBgRgb: 149, 40, 3;
    --CTBS-PrimaryBtnDisabledBorderColor: #feece6;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 254, 236, 230;
    --CTBS-PrimaryBtnDisabledColor: #feece6;
    --CTBS-PrimaryBtnDisabledColorRgb: 254, 236, 230;
    --CTBS-PrimaryBtnFocusShadowRgb: 149, 40, 3;
    --CTBS-PrimaryBtnHoverBg: #4a1301;
    --CTBS-PrimaryBtnHoverBgRgb: 74, 19, 1;
    --CTBS-PrimaryBtnHoverBorderColor: #631a01;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 99, 26, 1;
    --CTBS-PrimaryBtnHoverColor: #631a01;
    --CTBS-PrimaryBtnHoverColorRgb: 99, 26, 1;
    --CTBS-PrimaryTableActiveBg: #fee8e1;
    --CTBS-PrimaryTableActiveBgRgb: 254, 232, 225;
    --CTBS-PrimaryTableActiveColor: #631a01;
    --CTBS-PrimaryTableActiveColorRgb: 99, 26, 1;
    --CTBS-PrimaryTableBg: #fee8e1;
    --CTBS-PrimaryTableBgRgb: 254, 232, 225;
    --CTBS-PrimaryTableBorderColor: #952803;
    --CTBS-PrimaryTableBorderColorRgb: 149, 40, 3;
    --CTBS-PrimaryTableColor: #952803;
    --CTBS-PrimaryTableColorRgb: 149, 40, 3;
    --CTBS-PrimaryTableHoverBg: #fee8e1;
    --CTBS-PrimaryTableHoverBgRgb: 254, 232, 225;
    --CTBS-PrimaryTableHoverColor: #631a01;
    --CTBS-PrimaryTableHoverColorRgb: 99, 26, 1;
    --CTBS-PrimaryTableStripedBg: #fee8e1;
    --CTBS-PrimaryTableStripedBgRgb: 254, 232, 225;
    --CTBS-PrimaryTableStripedColor: #7c2102;
    --CTBS-PrimaryTableStripedColorRgb: 124, 33, 2;
    --CTBS-PrimaryTextEmphasis: #902602;
    --CTBS-PrimaryTextEmphasisRgb: 144, 38, 2;
    --CTBS-ProgressBarBg: #f7f2ec;
    --CTBS-ProgressBarBgRgb: 247, 242, 236;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #770bc5;
    --CTBS-PurpleRgb: 119, 11, 197;
    --CTBS-Red: #a01407;
    --CTBS-RedRgb: 160, 20, 7;
    --CTBS-Secondary: #524f5e;
    --CTBS-SecondaryRgb: 82, 79, 94;
    --CTBS-SecondaryBg: #524f5e;
    --CTBS-SecondaryBgRgb: 82, 79, 94;
    --CTBS-SecondaryBgSubtle: #eeeef1;
    --CTBS-SecondaryBgSubtleRgb: 238, 238, 241;
    --CTBS-SecondaryBorderSubtle: #d6d5dc;
    --CTBS-SecondaryBorderSubtleRgb: 214, 213, 220;
    --CTBS-SecondaryBtnActiveBg: #2d2c34;
    --CTBS-SecondaryBtnActiveBgRgb: 45, 44, 52;
    --CTBS-SecondaryBtnActiveBorderColor: #393742;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 57, 55, 66;
    --CTBS-SecondaryBtnActiveColor: #393742;
    --CTBS-SecondaryBtnActiveColorRgb: 57, 55, 66;
    --CTBS-SecondaryBtnActiveShadow: #393742;
    --CTBS-SecondaryBtnActiveShadowRgb: 57, 55, 66;
    --CTBS-SecondaryBtnBg: #524f5e;
    --CTBS-SecondaryBtnBgRgb: 82, 79, 94;
    --CTBS-SecondaryBtnBorderColor: #f4f3f5;
    --CTBS-SecondaryBtnBorderColorRgb: 244, 243, 245;
    --CTBS-SecondaryBtnColor: #f4f3f5;
    --CTBS-SecondaryBtnColorRgb: 244, 243, 245;
    --CTBS-SecondaryBtnDisabledBg: #524f5e;
    --CTBS-SecondaryBtnDisabledBgRgb: 82, 79, 94;
    --CTBS-SecondaryBtnDisabledBorderColor: #f4f3f5;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 244, 243, 245;
    --CTBS-SecondaryBtnDisabledColor: #f4f3f5;
    --CTBS-SecondaryBtnDisabledColorRgb: 244, 243, 245;
    --CTBS-SecondaryBtnFocusShadowRgb: 82, 79, 94;
    --CTBS-SecondaryBtnHoverBg: #2d2c34;
    --CTBS-SecondaryBtnHoverBgRgb: 45, 44, 52;
    --CTBS-SecondaryBtnHoverBorderColor: #393742;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 57, 55, 66;
    --CTBS-SecondaryBtnHoverColor: #393742;
    --CTBS-SecondaryBtnHoverColorRgb: 57, 55, 66;
    --CTBS-SecondaryColor: #524f5e;
    --CTBS-SecondaryColorRgb: 82, 79, 94;
    --CTBS-SecondaryTableActiveBg: #eeeef1;
    --CTBS-SecondaryTableActiveBgRgb: 238, 238, 241;
    --CTBS-SecondaryTableActiveColor: #393742;
    --CTBS-SecondaryTableActiveColorRgb: 57, 55, 66;
    --CTBS-SecondaryTableBg: #eeeef1;
    --CTBS-SecondaryTableBgRgb: 238, 238, 241;
    --CTBS-SecondaryTableBorderColor: #524f5e;
    --CTBS-SecondaryTableBorderColorRgb: 82, 79, 94;
    --CTBS-SecondaryTableColor: #524f5e;
    --CTBS-SecondaryTableColorRgb: 82, 79, 94;
    --CTBS-SecondaryTableHoverBg: #eeeef1;
    --CTBS-SecondaryTableHoverBgRgb: 238, 238, 241;
    --CTBS-SecondaryTableHoverColor: #393742;
    --CTBS-SecondaryTableHoverColorRgb: 57, 55, 66;
    --CTBS-SecondaryTableStripedBg: #eeeef1;
    --CTBS-SecondaryTableStripedBgRgb: 238, 238, 241;
    --CTBS-SecondaryTableStripedColor: #454350;
    --CTBS-SecondaryTableStripedColorRgb: 69, 67, 80;
    --CTBS-SecondaryTextEmphasis: #4f4c5b;
    --CTBS-SecondaryTextEmphasisRgb: 79, 76, 91;
    --CTBS-Success: #34570e;
    --CTBS-SuccessRgb: 52, 87, 14;
    --CTBS-SuccessBgSubtle: #f0fae4;
    --CTBS-SuccessBgSubtleRgb: 240, 250, 228;
    --CTBS-SuccessBorderSubtle: #d9f4bd;
    --CTBS-SuccessBorderSubtleRgb: 217, 244, 189;
    --CTBS-SuccessBtnActiveBg: #0c1503;
    --CTBS-SuccessBtnActiveBgRgb: 12, 21, 3;
    --CTBS-SuccessBtnActiveBorderColor: #192b06;
    --CTBS-SuccessBtnActiveBorderColorRgb: 25, 43, 6;
    --CTBS-SuccessBtnActiveColor: #192b06;
    --CTBS-SuccessBtnActiveColorRgb: 25, 43, 6;
    --CTBS-SuccessBtnActiveShadow: #192b06;
    --CTBS-SuccessBtnActiveShadowRgb: 25, 43, 6;
    --CTBS-SuccessBtnBg: #34570e;
    --CTBS-SuccessBtnBgRgb: 52, 87, 14;
    --CTBS-SuccessBtnBorderColor: #dcf5c1;
    --CTBS-SuccessBtnBorderColorRgb: 220, 245, 193;
    --CTBS-SuccessBtnColor: #dcf5c1;
    --CTBS-SuccessBtnColorRgb: 220, 245, 193;
    --CTBS-SuccessBtnDisabledBg: #34570e;
    --CTBS-SuccessBtnDisabledBgRgb: 52, 87, 14;
    --CTBS-SuccessBtnDisabledBorderColor: #dcf5c1;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 220, 245, 193;
    --CTBS-SuccessBtnDisabledColor: #dcf5c1;
    --CTBS-SuccessBtnDisabledColorRgb: 220, 245, 193;
    --CTBS-SuccessBtnFocusShadowRgb: 52, 87, 14;
    --CTBS-SuccessBtnHoverBg: #0c1503;
    --CTBS-SuccessBtnHoverBgRgb: 12, 21, 3;
    --CTBS-SuccessBtnHoverBorderColor: #192b06;
    --CTBS-SuccessBtnHoverBorderColorRgb: 25, 43, 6;
    --CTBS-SuccessBtnHoverColor: #192b06;
    --CTBS-SuccessBtnHoverColorRgb: 25, 43, 6;
    --CTBS-SuccessTableActiveBg: #f0fae4;
    --CTBS-SuccessTableActiveBgRgb: 240, 250, 228;
    --CTBS-SuccessTableActiveColor: #192b06;
    --CTBS-SuccessTableActiveColorRgb: 25, 43, 6;
    --CTBS-SuccessTableBg: #f0fae4;
    --CTBS-SuccessTableBgRgb: 240, 250, 228;
    --CTBS-SuccessTableBorderColor: #34570e;
    --CTBS-SuccessTableBorderColorRgb: 52, 87, 14;
    --CTBS-SuccessTableColor: #34570e;
    --CTBS-SuccessTableColorRgb: 52, 87, 14;
    --CTBS-SuccessTableHoverBg: #f0fae4;
    --CTBS-SuccessTableHoverBgRgb: 240, 250, 228;
    --CTBS-SuccessTableHoverColor: #192b06;
    --CTBS-SuccessTableHoverColorRgb: 25, 43, 6;
    --CTBS-SuccessTableStripedBg: #f0fae4;
    --CTBS-SuccessTableStripedBgRgb: 240, 250, 228;
    --CTBS-SuccessTableStripedColor: #26410a;
    --CTBS-SuccessTableStripedColorRgb: 38, 65, 10;
    --CTBS-SuccessTextEmphasis: #34570e;
    --CTBS-SuccessTextEmphasisRgb: 52, 87, 14;
    --CTBS-Teal: #275b0f;
    --CTBS-TealRgb: 39, 91, 15;
    --CTBS-TertiaryBg: #f7f2ec;
    --CTBS-TertiaryBgRgb: 247, 242, 236;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 247, 242, 236;
    --CTBS-ToastHeaderBgRgb: 247, 242, 236;
    --CTBS-Warning: #4c5203;
    --CTBS-WarningRgb: 76, 82, 3;
    --CTBS-WarningBgSubtle: #fbfde1;
    --CTBS-WarningBgSubtleRgb: 251, 253, 225;
    --CTBS-WarningBorderSubtle: #f6fcb5;
    --CTBS-WarningBorderSubtleRgb: 246, 252, 181;
    --CTBS-WarningBtnActiveBg: #070800;
    --CTBS-WarningBtnActiveBgRgb: 7, 8, 0;
    --CTBS-WarningBtnActiveBorderColor: #1e2001;
    --CTBS-WarningBtnActiveBorderColorRgb: 30, 32, 1;
    --CTBS-WarningBtnActiveColor: #1e2001;
    --CTBS-WarningBtnActiveColorRgb: 30, 32, 1;
    --CTBS-WarningBtnActiveShadow: #1e2001;
    --CTBS-WarningBtnActiveShadowRgb: 30, 32, 1;
    --CTBS-WarningBtnBg: #4c5203;
    --CTBS-WarningBtnBgRgb: 76, 82, 3;
    --CTBS-WarningBtnBorderColor: #eaf844;
    --CTBS-WarningBtnBorderColorRgb: 234, 248, 68;
    --CTBS-WarningBtnColor: #eaf844;
    --CTBS-WarningBtnColorRgb: 234, 248, 68;
    --CTBS-WarningBtnDisabledBg: #4c5203;
    --CTBS-WarningBtnDisabledBgRgb: 76, 82, 3;
    --CTBS-WarningBtnDisabledBorderColor: #eaf844;
    --CTBS-WarningBtnDisabledBorderColorRgb: 234, 248, 68;
    --CTBS-WarningBtnDisabledColor: #eaf844;
    --CTBS-WarningBtnDisabledColorRgb: 234, 248, 68;
    --CTBS-WarningBtnFocusShadowRgb: 76, 82, 3;
    --CTBS-WarningBtnHoverBg: #070800;
    --CTBS-WarningBtnHoverBgRgb: 7, 8, 0;
    --CTBS-WarningBtnHoverBorderColor: #1e2001;
    --CTBS-WarningBtnHoverBorderColorRgb: 30, 32, 1;
    --CTBS-WarningBtnHoverColor: #1e2001;
    --CTBS-WarningBtnHoverColorRgb: 30, 32, 1;
    --CTBS-WarningTableActiveBg: #fbfde1;
    --CTBS-WarningTableActiveBgRgb: 251, 253, 225;
    --CTBS-WarningTableActiveColor: #1e2001;
    --CTBS-WarningTableActiveColorRgb: 30, 32, 1;
    --CTBS-WarningTableBg: #fbfde1;
    --CTBS-WarningTableBgRgb: 251, 253, 225;
    --CTBS-WarningTableBorderColor: #4c5203;
    --CTBS-WarningTableBorderColorRgb: 76, 82, 3;
    --CTBS-WarningTableColor: #4c5203;
    --CTBS-WarningTableColorRgb: 76, 82, 3;
    --CTBS-WarningTableHoverBg: #fbfde1;
    --CTBS-WarningTableHoverBgRgb: 251, 253, 225;
    --CTBS-WarningTableHoverColor: #1e2001;
    --CTBS-WarningTableHoverColorRgb: 30, 32, 1;
    --CTBS-WarningTableStripedBg: #fbfde1;
    --CTBS-WarningTableStripedBgRgb: 251, 253, 225;
    --CTBS-WarningTableStripedColor: #353902;
    --CTBS-WarningTableStripedColorRgb: 53, 57, 2;
    --CTBS-WarningTextEmphasis: #4c5203;
    --CTBS-WarningTextEmphasisRgb: 76, 82, 3;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #4c5203;
    --CTBS-YellowRgb: 76, 82, 3;
}