/* GENERATED COLOR VARIABLES */
/* Source: image */

:root {
    /* === CTBS SEMANTIC VARIABLES === */
    --CTBS-AccordionFocusBoxShadow: #808080;
    --CTBS-AccordionFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-AlertBgRgb: 244, 246, 238;
    --CTBS-BackdropBg: #f4f6ee;
    --CTBS-BackdropBgRgb: 244, 246, 238;
    --CTBS-BackgroundColor: #4c562d;
    --CTBS-BackgroundColorRgb: 76, 86, 45;
    --CTBS-BackgroundColor-1: #4c562d;
    --CTBS-BackgroundColor-1Rgb: 76, 86, 45;
    --CTBS-BackgroundColor-2: #4c562d;
    --CTBS-BackgroundColor-2Rgb: 76, 86, 45;
    --CTBS-BackgroundImage: #f4f6ee;
    --CTBS-BackgroundImageRgb: 244, 246, 238;
    --CTBS-Black: #000000;
    --CTBS-BlackRgb: 0, 0, 0;
    --CTBS-Blue: #6c4a27;
    --CTBS-BlueRgb: 108, 74, 39;
    --CTBS-BodyBg: #f4f6ee;
    --CTBS-BodyBgRgb: 244, 246, 238;
    --CTBS-BodyColor: #000000;
    --CTBS-BodyColorRgb: 0, 0, 0;
    --CTBS-BorderColor: #4c562d;
    --CTBS-BorderColorRgb: 76, 86, 45;
    --CTBS-BorderColor-1: #4c562d;
    --CTBS-BorderColor-1Rgb: 76, 86, 45;
    --CTBS-BorderColorTranslucent: #4c562d;
    --CTBS-BorderColorTranslucentRgb: 76, 86, 45;
    --CTBS-BoxShadow: #808080;
    --CTBS-BoxShadowRgb: 128, 128, 128;
    --CTBS-BoxShadow-1: #808080;
    --CTBS-BoxShadow-1Rgb: 128, 128, 128;
    --CTBS-BoxShadow-2: #808080;
    --CTBS-BoxShadow-2Rgb: 128, 128, 128;
    --CTBS-BoxShadow-3: #808080;
    --CTBS-BoxShadow-3Rgb: 128, 128, 128;
    --CTBS-BoxShadow-4: #808080;
    --CTBS-BoxShadow-4Rgb: 128, 128, 128;
    --CTBS-BoxShadowInset: #808080;
    --CTBS-BoxShadowInsetRgb: 128, 128, 128;
    --CTBS-BoxShadowLg: #808080;
    --CTBS-BoxShadowLgRgb: 128, 128, 128;
    --CTBS-BoxShadowSm: #808080;
    --CTBS-BoxShadowSmRgb: 128, 128, 128;
    --CTBS-CardBgRgb: 244, 246, 238;
    --CTBS-CardCapBgRgb: 244, 246, 238;
    --CTBS-CarouselCaptionColor: #000000;
    --CTBS-CarouselCaptionColorRgb: 0, 0, 0;
    --CTBS-CarouselCaptionColor-1: #000000;
    --CTBS-CarouselCaptionColor-1Rgb: 0, 0, 0;
    --CTBS-CarouselIndicatorActiveBg: #d3dbbb;
    --CTBS-CarouselIndicatorActiveBgRgb: 211, 219, 187;
    --CTBS-CarouselIndicatorActiveBg-1: #d3dbbb;
    --CTBS-CarouselIndicatorActiveBg-1Rgb: 211, 219, 187;
    --CTBS-CloseBtnCloseColor: #515151;
    --CTBS-CloseBtnCloseColorRgb: 81, 81, 81;
    --CTBS-CloseBtnCloseFocusShadow: #808080;
    --CTBS-CloseBtnCloseFocusShadowRgb: 128, 128, 128;
    --CTBS-CodeColor: #000000;
    --CTBS-CodeColorRgb: 0, 0, 0;
    --CTBS-Color: #000000;
    --CTBS-ColorRgb: 0, 0, 0;
    --CTBS-Color-1: #000000;
    --CTBS-Color-1Rgb: 0, 0, 0;
    --CTBS-Color-2: #000000;
    --CTBS-Color-2Rgb: 0, 0, 0;
    --CTBS-Color-3: #000000;
    --CTBS-Color-3Rgb: 0, 0, 0;
    --CTBS-Color-4: #000000;
    --CTBS-Color-4Rgb: 0, 0, 0;
    --CTBS-Cyan: #16586e;
    --CTBS-CyanRgb: 22, 88, 110;
    --CTBS-Danger: #9b2611;
    --CTBS-DangerRgb: 155, 38, 17;
    --CTBS-DangerBgSubtle: #fcefec;
    --CTBS-DangerBgSubtleRgb: 252, 239, 236;
    --CTBS-DangerBorderSubtle: #f7c3ba;
    --CTBS-DangerBorderSubtleRgb: 247, 195, 186;
    --CTBS-DangerBtnActiveBg: #561509;
    --CTBS-DangerBtnActiveBgRgb: 86, 21, 9;
    --CTBS-DangerBtnActiveBorderColor: #6d1a0b;
    --CTBS-DangerBtnActiveBorderColorRgb: 109, 26, 11;
    --CTBS-DangerBtnActiveColor: #f4a799;
    --CTBS-DangerBtnActiveColorRgb: 244, 167, 153;
    --CTBS-DangerBtnActiveShadow: #6d1a0b;
    --CTBS-DangerBtnActiveShadowRgb: 109, 26, 11;
    --CTBS-DangerBtnBg: #9b2611;
    --CTBS-DangerBtnBgRgb: 155, 38, 17;
    --CTBS-DangerBtnBorderColor: #972b15;
    --CTBS-DangerBtnBorderColorRgb: 151, 43, 21;
    --CTBS-DangerBtnColor: #fdf3f1;
    --CTBS-DangerBtnColorRgb: 253, 243, 241;
    --CTBS-DangerBtnDisabledBg: #9b2611;
    --CTBS-DangerBtnDisabledBgRgb: 155, 38, 17;
    --CTBS-DangerBtnDisabledBorderColor: #972b15;
    --CTBS-DangerBtnDisabledBorderColorRgb: 151, 43, 21;
    --CTBS-DangerBtnDisabledColor: #fdf3f1;
    --CTBS-DangerBtnDisabledColorRgb: 253, 243, 241;
    --CTBS-DangerBtnFocusShadowRgb: 155, 38, 17;
    --CTBS-DangerBtnHoverBg: #561509;
    --CTBS-DangerBtnHoverBgRgb: 86, 21, 9;
    --CTBS-DangerBtnHoverBorderColor: #6d1a0b;
    --CTBS-DangerBtnHoverBorderColorRgb: 109, 26, 11;
    --CTBS-DangerBtnHoverColor: #f4a799;
    --CTBS-DangerBtnHoverColorRgb: 244, 167, 153;
    --CTBS-DangerTableActiveBg: #fcefec;
    --CTBS-DangerTableActiveBgRgb: 252, 239, 236;
    --CTBS-DangerTableActiveColor: #6d1a0b;
    --CTBS-DangerTableActiveColorRgb: 109, 26, 11;
    --CTBS-DangerTableBg: #fcefec;
    --CTBS-DangerTableBgRgb: 252, 239, 236;
    --CTBS-DangerTableBorderColor: #9b2611;
    --CTBS-DangerTableBorderColorRgb: 155, 38, 17;
    --CTBS-DangerTableColor: #972510;
    --CTBS-DangerTableColorRgb: 151, 37, 16;
    --CTBS-DangerTableHoverBg: #fcefec;
    --CTBS-DangerTableHoverBgRgb: 252, 239, 236;
    --CTBS-DangerTableHoverColor: #6d1a0b;
    --CTBS-DangerTableHoverColorRgb: 109, 26, 11;
    --CTBS-DangerTableStripedBg: #fcefec;
    --CTBS-DangerTableStripedBgRgb: 252, 239, 236;
    --CTBS-DangerTableStripedColor: #84200e;
    --CTBS-DangerTableStripedColorRgb: 132, 32, 14;
    --CTBS-DangerTextEmphasis: #972510;
    --CTBS-DangerTextEmphasisRgb: 151, 37, 16;
    --CTBS-Dark: #621f0b;
    --CTBS-DarkRgb: 98, 31, 11;
    --CTBS-DarkBgSubtle: #fcf0ec;
    --CTBS-DarkBgSubtleRgb: 252, 240, 236;
    --CTBS-DarkBorderSubtle: #f7c8ba;
    --CTBS-DarkBorderSubtleRgb: 247, 200, 186;
    --CTBS-DarkBtnActiveBg: #1d0903;
    --CTBS-DarkBtnActiveBgRgb: 29, 9, 3;
    --CTBS-DarkBtnActiveBorderColor: #341005;
    --CTBS-DarkBtnActiveBorderColorRgb: 52, 16, 5;
    --CTBS-DarkBtnActiveColor: #ef7e5c;
    --CTBS-DarkBtnActiveColorRgb: 239, 126, 92;
    --CTBS-DarkBtnActiveShadow: #341005;
    --CTBS-DarkBtnActiveShadowRgb: 52, 16, 5;
    --CTBS-DarkBtnBg: #621f0b;
    --CTBS-DarkBtnBgRgb: 98, 31, 11;
    --CTBS-DarkBtnBorderColor: #621f0b;
    --CTBS-DarkBtnBorderColorRgb: 98, 31, 11;
    --CTBS-DarkBtnColor: #ec7f5e;
    --CTBS-DarkBtnColorRgb: 236, 127, 94;
    --CTBS-DarkBtnDisabledBg: #621f0b;
    --CTBS-DarkBtnDisabledBgRgb: 98, 31, 11;
    --CTBS-DarkBtnDisabledBorderColor: #621f0b;
    --CTBS-DarkBtnDisabledBorderColorRgb: 98, 31, 11;
    --CTBS-DarkBtnDisabledColor: #ec7f5e;
    --CTBS-DarkBtnDisabledColorRgb: 236, 127, 94;
    --CTBS-DarkBtnFocusShadowRgb: 98, 31, 11;
    --CTBS-DarkBtnHoverBg: #1d0903;
    --CTBS-DarkBtnHoverBgRgb: 29, 9, 3;
    --CTBS-DarkBtnHoverBorderColor: #341005;
    --CTBS-DarkBtnHoverBorderColorRgb: 52, 16, 5;
    --CTBS-DarkBtnHoverColor: #ef7e5c;
    --CTBS-DarkBtnHoverColorRgb: 239, 126, 92;
    --CTBS-DarkNavbarActiveColor: #341005;
    --CTBS-DarkNavbarActiveColorRgb: 52, 16, 5;
    --CTBS-DarkNavbarBrandColor: #621f0b;
    --CTBS-DarkNavbarBrandColorRgb: 98, 31, 11;
    --CTBS-DarkNavbarBrandHoverColor: #341005;
    --CTBS-DarkNavbarBrandHoverColorRgb: 52, 16, 5;
    --CTBS-DarkNavbarColor: #621f0b;
    --CTBS-DarkNavbarColorRgb: 98, 31, 11;
    --CTBS-DarkNavbarDisabledColor: #621f0b;
    --CTBS-DarkNavbarDisabledColorRgb: 98, 31, 11;
    --CTBS-DarkNavbarHoverColor: #341005;
    --CTBS-DarkNavbarHoverColorRgb: 52, 16, 5;
    --CTBS-DarkNavbarTogglerBorderColor: #621f0b;
    --CTBS-DarkNavbarTogglerBorderColorRgb: 98, 31, 11;
    --CTBS-DarkTableActiveBg: #fcf0ec;
    --CTBS-DarkTableActiveBgRgb: 252, 240, 236;
    --CTBS-DarkTableActiveColor: #341005;
    --CTBS-DarkTableActiveColorRgb: 52, 16, 5;
    --CTBS-DarkTableBg: #fcf0ec;
    --CTBS-DarkTableBgRgb: 252, 240, 236;
    --CTBS-DarkTableBorderColor: #621f0b;
    --CTBS-DarkTableBorderColorRgb: 98, 31, 11;
    --CTBS-DarkTableColor: #621f0b;
    --CTBS-DarkTableColorRgb: 98, 31, 11;
    --CTBS-DarkTableHoverBg: #fcf0ec;
    --CTBS-DarkTableHoverBgRgb: 252, 240, 236;
    --CTBS-DarkTableHoverColor: #341005;
    --CTBS-DarkTableHoverColorRgb: 52, 16, 5;
    --CTBS-DarkTableStripedBg: #fcf0ec;
    --CTBS-DarkTableStripedBgRgb: 252, 240, 236;
    --CTBS-DarkTableStripedColor: #4b1708;
    --CTBS-DarkTableStripedColorRgb: 75, 23, 8;
    --CTBS-DarkTextEmphasis: #621f0b;
    --CTBS-DarkTextEmphasisRgb: 98, 31, 11;
    --CTBS-DarkThemeBodyBg: #621f0b;
    --CTBS-DarkThemeBodyBgRgb: 98, 31, 11;
    --CTBS-DarkThemeBodyColor: #ffffff;
    --CTBS-DarkThemeBodyColorRgb: 255, 255, 255;
    --CTBS-DarkThemeBorderColor: #f5b9a7;
    --CTBS-DarkThemeBorderColorRgb: 245, 185, 167;
    --CTBS-DarkThemeBorderColorTranslucent: #f5b9a7;
    --CTBS-DarkThemeBorderColorTranslucentRgb: 245, 185, 167;
    --CTBS-DarkThemeCarouselCaptionColor: #ffffff;
    --CTBS-DarkThemeCarouselCaptionColorRgb: 255, 255, 255;
    --CTBS-DarkThemeCarouselIndicatorActiveBg: #240b03;
    --CTBS-DarkThemeCarouselIndicatorActiveBgRgb: 36, 11, 3;
    --CTBS-DarkThemeCodeColor: #ffffff;
    --CTBS-DarkThemeCodeColorRgb: 255, 255, 255;
    --CTBS-DarkThemeDangerBgSubtle: #240904;
    --CTBS-DarkThemeDangerBgSubtleRgb: 36, 9, 4;
    --CTBS-DarkThemeDangerBorderSubtle: #711c0d;
    --CTBS-DarkThemeDangerBorderSubtleRgb: 113, 28, 13;
    --CTBS-DarkThemeDangerTextEmphasis: #f5b7ac;
    --CTBS-DarkThemeDangerTextEmphasisRgb: 245, 183, 172;
    --CTBS-DarkThemeDarkBgSubtle: #240b04;
    --CTBS-DarkThemeDarkBgSubtleRgb: 36, 11, 4;
    --CTBS-DarkThemeDarkBorderSubtle: #621f0b;
    --CTBS-DarkThemeDarkBorderSubtleRgb: 98, 31, 11;
    --CTBS-DarkThemeDarkTextEmphasis: #f5b9a7;
    --CTBS-DarkThemeDarkTextEmphasisRgb: 245, 185, 167;
    --CTBS-DarkThemeEmphasisColor: #ffffff;
    --CTBS-DarkThemeEmphasisColorRgb: 255, 255, 255;
    --CTBS-DarkThemeFormInvalidBorderColor: #f5b9a7;
    --CTBS-DarkThemeFormInvalidBorderColorRgb: 245, 185, 167;
    --CTBS-DarkThemeFormInvalidColor: #c6c6c6;
    --CTBS-DarkThemeFormInvalidColorRgb: 198, 198, 198;
    --CTBS-DarkThemeFormValidBorderColor: #f5b9a7;
    --CTBS-DarkThemeFormValidBorderColorRgb: 245, 185, 167;
    --CTBS-DarkThemeFormValidColor: #c6c6c6;
    --CTBS-DarkThemeFormValidColorRgb: 198, 198, 198;
    --CTBS-DarkThemeHighlightBg: #621f0b;
    --CTBS-DarkThemeHighlightBgRgb: 98, 31, 11;
    --CTBS-DarkThemeHighlightColor: #ffffff;
    --CTBS-DarkThemeHighlightColorRgb: 255, 255, 255;
    --CTBS-DarkThemeInfoBgSubtle: #061b22;
    --CTBS-DarkThemeInfoBgSubtleRgb: 6, 27, 34;
    --CTBS-DarkThemeInfoBorderSubtle: #15556a;
    --CTBS-DarkThemeInfoBorderSubtleRgb: 21, 85, 106;
    --CTBS-DarkThemeInfoTextEmphasis: #8cd1e8;
    --CTBS-DarkThemeInfoTextEmphasisRgb: 140, 209, 232;
    --CTBS-DarkThemeLightBgSubtle: #171a0e;
    --CTBS-DarkThemeLightBgSubtleRgb: 23, 26, 14;
    --CTBS-DarkThemeLightBorderSubtle: #49532c;
    --CTBS-DarkThemeLightBorderSubtleRgb: 73, 83, 44;
    --CTBS-DarkThemeLightTextEmphasis: #f4f6ee;
    --CTBS-DarkThemeLightTextEmphasisRgb: 244, 246, 238;
    --CTBS-DarkThemeLinkColor: #dec2a5;
    --CTBS-DarkThemeLinkColorRgb: 222, 194, 165;
    --CTBS-DarkThemeLinkHoverColor: #ebdbca;
    --CTBS-DarkThemeLinkHoverColorRgb: 235, 219, 202;
    --CTBS-DarkThemePrimaryBgSubtle: #1d140a;
    --CTBS-DarkThemePrimaryBgSubtleRgb: 29, 20, 10;
    --CTBS-DarkThemePrimaryBorderSubtle: #5d4022;
    --CTBS-DarkThemePrimaryBorderSubtleRgb: 93, 64, 34;
    --CTBS-DarkThemePrimaryTextEmphasis: #dec2a5;
    --CTBS-DarkThemePrimaryTextEmphasisRgb: 222, 194, 165;
    --CTBS-DarkThemeSecondaryBg: #cfc4d8;
    --CTBS-DarkThemeSecondaryBgRgb: 207, 196, 216;
    --CTBS-DarkThemeSecondaryBgSubtle: #141018;
    --CTBS-DarkThemeSecondaryBgSubtleRgb: 20, 16, 24;
    --CTBS-DarkThemeSecondaryBorderSubtle: #41324c;
    --CTBS-DarkThemeSecondaryBorderSubtleRgb: 65, 50, 76;
    --CTBS-DarkThemeSecondaryColor: #3e3049;
    --CTBS-DarkThemeSecondaryColorRgb: 62, 48, 73;
    --CTBS-DarkThemeSecondaryTextEmphasis: #cfc4d8;
    --CTBS-DarkThemeSecondaryTextEmphasisRgb: 207, 196, 216;
    --CTBS-DarkThemeSuccessBgSubtle: #132008;
    --CTBS-DarkThemeSuccessBgSubtleRgb: 19, 32, 8;
    --CTBS-DarkThemeSuccessBorderSubtle: #3c6619;
    --CTBS-DarkThemeSuccessBorderSubtleRgb: 60, 102, 25;
    --CTBS-DarkThemeSuccessTextEmphasis: #99d863;
    --CTBS-DarkThemeSuccessTextEmphasisRgb: 153, 216, 99;
    --CTBS-DarkThemeTertiaryBg: #621f0b;
    --CTBS-DarkThemeTertiaryBgRgb: 98, 31, 11;
    --CTBS-DarkThemeTertiaryColor: #ffffff;
    --CTBS-DarkThemeTertiaryColorRgb: 255, 255, 255;
    --CTBS-DarkThemeWarningBgSubtle: #202206;
    --CTBS-DarkThemeWarningBgSubtleRgb: 32, 34, 6;
    --CTBS-DarkThemeWarningBorderSubtle: #666c13;
    --CTBS-DarkThemeWarningBorderSubtleRgb: 102, 108, 19;
    --CTBS-DarkThemeWarningTextEmphasis: #c4cf25;
    --CTBS-DarkThemeWarningTextEmphasisRgb: 196, 207, 37;
    --CTBS-DropdownBg: #f4f6ee;
    --CTBS-DropdownBgRgb: 244, 246, 238;
    --CTBS-DropdownColor: #5d496e;
    --CTBS-DropdownColorRgb: 93, 73, 110;
    --CTBS-DropdownHeaderColor: #5d496e;
    --CTBS-DropdownHeaderColorRgb: 93, 73, 110;
    --CTBS-DropdownHeaderColor-1: #5d496e;
    --CTBS-DropdownHeaderColor-1Rgb: 93, 73, 110;
    --CTBS-DropdownLinkActiveBg: #332312;
    --CTBS-DropdownLinkActiveBgRgb: 51, 35, 18;
    --CTBS-DropdownLinkActiveColor: #d2ab82;
    --CTBS-DropdownLinkActiveColorRgb: 210, 171, 130;
    --CTBS-DropdownLinkColor: #d2ab83;
    --CTBS-DropdownLinkColorRgb: 210, 171, 131;
    --CTBS-DropdownLinkDisabledColor: #d2ab83;
    --CTBS-DropdownLinkDisabledColorRgb: 210, 171, 131;
    --CTBS-DropdownLinkHoverBg: #332312;
    --CTBS-DropdownLinkHoverBgRgb: 51, 35, 18;
    --CTBS-DropdownLinkHoverColor: #d2ab82;
    --CTBS-DropdownLinkHoverColorRgb: 210, 171, 130;
    --CTBS-EmphasisColor: #000000;
    --CTBS-EmphasisColorRgb: 0, 0, 0;
    --CTBS-FocusRingColor: #000000;
    --CTBS-FocusRingColorRgb: 0, 0, 0;
    --CTBS-FormCheckInputBackgroundColor: #515151;
    --CTBS-FormCheckInputBackgroundColorRgb: 81, 81, 81;
    --CTBS-FormCheckInputBorderColor: #4c562d;
    --CTBS-FormCheckInputBorderColorRgb: 76, 86, 45;
    --CTBS-FormCheckInputBorderColor-1: #4c562d;
    --CTBS-FormCheckInputBorderColor-1Rgb: 76, 86, 45;
    --CTBS-FormCheckInputBoxShadow: #808080;
    --CTBS-FormCheckInputBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlBorderColor: #4c562d;
    --CTBS-FormControlBorderColorRgb: 76, 86, 45;
    --CTBS-FormControlBoxShadow: #808080;
    --CTBS-FormControlBoxShadowRgb: 128, 128, 128;
    --CTBS-FormControlColor: #515151;
    --CTBS-FormControlColorRgb: 81, 81, 81;
    --CTBS-FormInvalidBorderColor: #4c562d;
    --CTBS-FormInvalidBorderColorRgb: 76, 86, 45;
    --CTBS-FormInvalidColor: #515151;
    --CTBS-FormInvalidColorRgb: 81, 81, 81;
    --CTBS-FormValidBorderColor: #4c562d;
    --CTBS-FormValidBorderColorRgb: 76, 86, 45;
    --CTBS-FormValidColor: #515151;
    --CTBS-FormValidColorRgb: 81, 81, 81;
    --CTBS-Gradient: #808080;
    --CTBS-GradientRgb: 128, 128, 128;
    --CTBS-Gradient-1: #808080;
    --CTBS-Gradient-1Rgb: 128, 128, 128;
    --CTBS-Gray: #4b5157;
    --CTBS-GrayRgb: 75, 81, 87;
    --CTBS-Gray100: #b1b7bc;
    --CTBS-Gray100Rgb: 177, 183, 188;
    --CTBS-Gray200: #969da4;
    --CTBS-Gray200Rgb: 150, 157, 164;
    --CTBS-Gray300: #7a838d;
    --CTBS-Gray300Rgb: 122, 131, 141;
    --CTBS-Gray400: #626a72;
    --CTBS-Gray400Rgb: 98, 106, 114;
    --CTBS-Gray500: #4b5157;
    --CTBS-Gray500Rgb: 75, 81, 87;
    --CTBS-Gray600: #33373b;
    --CTBS-Gray600Rgb: 51, 55, 59;
    --CTBS-Gray700: #1b1d20;
    --CTBS-Gray700Rgb: 27, 29, 32;
    --CTBS-Gray800: #040404;
    --CTBS-Gray800Rgb: 4, 4, 4;
    --CTBS-Gray900: #000000;
    --CTBS-Gray900Rgb: 0, 0, 0;
    --CTBS-GrayDark: #621f0b;
    --CTBS-GrayDarkRgb: 98, 31, 11;
    --CTBS-Green: #355a16;
    --CTBS-GreenRgb: 53, 90, 22;
    --CTBS-HighlightBg: #f4f6ee;
    --CTBS-HighlightBgRgb: 244, 246, 238;
    --CTBS-HighlightColor: #000000;
    --CTBS-HighlightColorRgb: 0, 0, 0;
    --CTBS-Indigo: #6326bf;
    --CTBS-IndigoRgb: 99, 38, 191;
    --CTBS-Info: #16586e;
    --CTBS-InfoRgb: 22, 88, 110;
    --CTBS-InfoBgSubtle: #edf8fb;
    --CTBS-InfoBgSubtleRgb: 237, 248, 251;
    --CTBS-InfoBorderSubtle: #bfe5f2;
    --CTBS-InfoBorderSubtleRgb: 191, 229, 242;
    --CTBS-InfoBtnActiveBg: #09252e;
    --CTBS-InfoBtnActiveBgRgb: 9, 37, 46;
    --CTBS-InfoBtnActiveBorderColor: #0d3643;
    --CTBS-InfoBtnActiveBorderColorRgb: 13, 54, 67;
    --CTBS-InfoBtnActiveColor: #4fbbdd;
    --CTBS-InfoBtnActiveColorRgb: 79, 187, 221;
    --CTBS-InfoBtnActiveShadow: #0d3643;
    --CTBS-InfoBtnActiveShadowRgb: 13, 54, 67;
    --CTBS-InfoBtnBg: #16586e;
    --CTBS-InfoBtnBgRgb: 22, 88, 110;
    --CTBS-InfoBtnBorderColor: #18586c;
    --CTBS-InfoBtnBorderColorRgb: 24, 88, 108;
    --CTBS-InfoBtnColor: #e9f6fa;
    --CTBS-InfoBtnColorRgb: 233, 246, 250;
    --CTBS-InfoBtnDisabledBg: #16586e;
    --CTBS-InfoBtnDisabledBgRgb: 22, 88, 110;
    --CTBS-InfoBtnDisabledBorderColor: #18586c;
    --CTBS-InfoBtnDisabledBorderColorRgb: 24, 88, 108;
    --CTBS-InfoBtnDisabledColor: #e9f6fa;
    --CTBS-InfoBtnDisabledColorRgb: 233, 246, 250;
    --CTBS-InfoBtnFocusShadowRgb: 22, 88, 110;
    --CTBS-InfoBtnHoverBg: #09252e;
    --CTBS-InfoBtnHoverBgRgb: 9, 37, 46;
    --CTBS-InfoBtnHoverBorderColor: #0d3643;
    --CTBS-InfoBtnHoverBorderColorRgb: 13, 54, 67;
    --CTBS-InfoBtnHoverColor: #4fbbdd;
    --CTBS-InfoBtnHoverColorRgb: 79, 187, 221;
    --CTBS-InfoTableActiveBg: #edf8fb;
    --CTBS-InfoTableActiveBgRgb: 237, 248, 251;
    --CTBS-InfoTableActiveColor: #0d3643;
    --CTBS-InfoTableActiveColorRgb: 13, 54, 67;
    --CTBS-InfoTableBg: #edf8fb;
    --CTBS-InfoTableBgRgb: 237, 248, 251;
    --CTBS-InfoTableBorderColor: #16586e;
    --CTBS-InfoTableBorderColorRgb: 22, 88, 110;
    --CTBS-InfoTableColor: #16586e;
    --CTBS-InfoTableColorRgb: 22, 88, 110;
    --CTBS-InfoTableHoverBg: #edf8fb;
    --CTBS-InfoTableHoverBgRgb: 237, 248, 251;
    --CTBS-InfoTableHoverColor: #0d3643;
    --CTBS-InfoTableHoverColorRgb: 13, 54, 67;
    --CTBS-InfoTableStripedBg: #edf8fb;
    --CTBS-InfoTableStripedBgRgb: 237, 248, 251;
    --CTBS-InfoTableStripedColor: #114758;
    --CTBS-InfoTableStripedColorRgb: 17, 71, 88;
    --CTBS-InfoTextEmphasis: #16586e;
    --CTBS-InfoTextEmphasisRgb: 22, 88, 110;
    --CTBS-Light: #f4f6ee;
    --CTBS-LightRgb: 244, 246, 238;
    --CTBS-LightBgSubtle: #f6f7f1;
    --CTBS-LightBgSubtleRgb: 246, 247, 241;
    --CTBS-LightBorderSubtle: #f3f5ed;
    --CTBS-LightBorderSubtleRgb: 243, 245, 237;
    --CTBS-LightBtnActiveBg: #d3dbbb;
    --CTBS-LightBtnActiveBgRgb: 211, 219, 187;
    --CTBS-LightBtnActiveBorderColor: #4c562d;
    --CTBS-LightBtnActiveBorderColorRgb: 76, 86, 45;
    --CTBS-LightBtnActiveColor: #3b4223;
    --CTBS-LightBtnActiveColorRgb: 59, 66, 35;
    --CTBS-LightBtnActiveShadow: #4c562d;
    --CTBS-LightBtnActiveShadowRgb: 76, 86, 45;
    --CTBS-LightBtnBg: #f4f6ee;
    --CTBS-LightBtnBgRgb: 244, 246, 238;
    --CTBS-LightBtnBorderColor: #4c562d;
    --CTBS-LightBtnBorderColorRgb: 76, 86, 45;
    --CTBS-LightBtnColor: #3b4223;
    --CTBS-LightBtnColorRgb: 59, 66, 35;
    --CTBS-LightBtnDisabledBg: #f4f6ee;
    --CTBS-LightBtnDisabledBgRgb: 244, 246, 238;
    --CTBS-LightBtnDisabledBorderColor: #4c562d;
    --CTBS-LightBtnDisabledBorderColorRgb: 76, 86, 45;
    --CTBS-LightBtnDisabledColor: #3b4223;
    --CTBS-LightBtnDisabledColorRgb: 59, 66, 35;
    --CTBS-LightBtnFocusShadowRgb: 244, 246, 238;
    --CTBS-LightBtnHoverBg: #d3dbbb;
    --CTBS-LightBtnHoverBgRgb: 211, 219, 187;
    --CTBS-LightBtnHoverBorderColor: #4c562d;
    --CTBS-LightBtnHoverBorderColorRgb: 76, 86, 45;
    --CTBS-LightBtnHoverColor: #3b4223;
    --CTBS-LightBtnHoverColorRgb: 59, 66, 35;
    --CTBS-LightTableActiveBg: #f6f7f1;
    --CTBS-LightTableActiveBgRgb: 246, 247, 241;
    --CTBS-LightTableActiveColor: #4c562d;
    --CTBS-LightTableActiveColorRgb: 76, 86, 45;
    --CTBS-LightTableBg: #f6f7f1;
    --CTBS-LightTableBgRgb: 246, 247, 241;
    --CTBS-LightTableBorderColor: #4c562d;
    --CTBS-LightTableBorderColorRgb: 76, 86, 45;
    --CTBS-LightTableColor: #4c562d;
    --CTBS-LightTableColorRgb: 76, 86, 45;
    --CTBS-LightTableHoverBg: #f6f7f1;
    --CTBS-LightTableHoverBgRgb: 246, 247, 241;
    --CTBS-LightTableHoverColor: #4c562d;
    --CTBS-LightTableHoverColorRgb: 76, 86, 45;
    --CTBS-LightTableStripedBg: #f6f7f1;
    --CTBS-LightTableStripedBgRgb: 246, 247, 241;
    --CTBS-LightTableStripedColor: #4c562d;
    --CTBS-LightTableStripedColorRgb: 76, 86, 45;
    --CTBS-LightTextEmphasis: #4c562d;
    --CTBS-LightTextEmphasisRgb: 76, 86, 45;
    --CTBS-LinkBtnBoxShadow: #6c4a27;
    --CTBS-LinkBtnBoxShadowRgb: 108, 74, 39;
    --CTBS-LinkBtnDisabledColor: #6c4927;
    --CTBS-LinkBtnDisabledColorRgb: 108, 73, 39;
    --CTBS-LinkBtnFocusShadowRgb: 108, 74, 39;
    --CTBS-LinkColor: #6c4a27;
    --CTBS-LinkColorRgb: 108, 74, 39;
    --CTBS-LinkHoverColor: #463019;
    --CTBS-LinkHoverColorRgb: 70, 48, 25;
    --CTBS-LinkNavBoxShadow: #6c4a27;
    --CTBS-LinkNavBoxShadowRgb: 108, 74, 39;
    --CTBS-ListGroupActionActiveBgRgb: 211, 219, 187;
    --CTBS-ListGroupActionHoverBgRgb: 211, 219, 187;
    --CTBS-ListGroupActiveBg: #d3dbbb;
    --CTBS-ListGroupActiveBgRgb: 211, 219, 187;
    --CTBS-ListGroupActiveBorderColor: #4c562d;
    --CTBS-ListGroupActiveBorderColorRgb: 76, 86, 45;
    --CTBS-ListGroupActiveColor: #000000;
    --CTBS-ListGroupActiveColorRgb: 0, 0, 0;
    --CTBS-ListGroupBgRgb: 244, 246, 238;
    --CTBS-ListGroupDisabledBgRgb: 244, 246, 238;
    --CTBS-MaskImage: #808080;
    --CTBS-MaskImageRgb: 128, 128, 128;
    --CTBS-MaskImage-1: #808080;
    --CTBS-MaskImage-1Rgb: 128, 128, 128;
    --CTBS-ModalBgRgb: 244, 246, 238;
    --CTBS-OffcanvasBgRgb: 244, 246, 238;
    --CTBS-Orange: #6c4927;
    --CTBS-OrangeRgb: 108, 73, 39;
    --CTBS-OutlineDangerBtnActiveBg: #561509;
    --CTBS-OutlineDangerBtnActiveBgRgb: 86, 21, 9;
    --CTBS-OutlineDangerBtnActiveBorderColor: #9b2611;
    --CTBS-OutlineDangerBtnActiveBorderColorRgb: 155, 38, 17;
    --CTBS-OutlineDangerBtnActiveColor: #f3a799;
    --CTBS-OutlineDangerBtnActiveColorRgb: 243, 167, 153;
    --CTBS-OutlineDangerBtnActiveShadow: #6d1a0b;
    --CTBS-OutlineDangerBtnActiveShadowRgb: 109, 26, 11;
    --CTBS-OutlineDangerBtnBorderColor: #9b2611;
    --CTBS-OutlineDangerBtnBorderColorRgb: 155, 38, 17;
    --CTBS-OutlineDangerBtnColor: #f3a799;
    --CTBS-OutlineDangerBtnColorRgb: 243, 167, 153;
    --CTBS-OutlineDangerBtnDisabledBorderColor: #9b2611;
    --CTBS-OutlineDangerBtnDisabledBorderColorRgb: 155, 38, 17;
    --CTBS-OutlineDangerBtnDisabledColor: #f3a799;
    --CTBS-OutlineDangerBtnDisabledColorRgb: 243, 167, 153;
    --CTBS-OutlineDangerBtnFocusShadowRgb: 155, 38, 17;
    --CTBS-OutlineDangerBtnHoverBg: #561509;
    --CTBS-OutlineDangerBtnHoverBgRgb: 86, 21, 9;
    --CTBS-OutlineDangerBtnHoverBorderColor: #9b2611;
    --CTBS-OutlineDangerBtnHoverBorderColorRgb: 155, 38, 17;
    --CTBS-OutlineDangerBtnHoverColor: #f3a799;
    --CTBS-OutlineDangerBtnHoverColorRgb: 243, 167, 153;
    --CTBS-OutlineDarkBtnActiveBg: #1d0903;
    --CTBS-OutlineDarkBtnActiveBgRgb: 29, 9, 3;
    --CTBS-OutlineDarkBtnActiveBorderColor: #621f0b;
    --CTBS-OutlineDarkBtnActiveBorderColorRgb: 98, 31, 11;
    --CTBS-OutlineDarkBtnActiveColor: #ec7f5e;
    --CTBS-OutlineDarkBtnActiveColorRgb: 236, 127, 94;
    --CTBS-OutlineDarkBtnActiveShadow: #341005;
    --CTBS-OutlineDarkBtnActiveShadowRgb: 52, 16, 5;
    --CTBS-OutlineDarkBtnBorderColor: #621f0b;
    --CTBS-OutlineDarkBtnBorderColorRgb: 98, 31, 11;
    --CTBS-OutlineDarkBtnColor: #ec7f5e;
    --CTBS-OutlineDarkBtnColorRgb: 236, 127, 94;
    --CTBS-OutlineDarkBtnDisabledBorderColor: #621f0b;
    --CTBS-OutlineDarkBtnDisabledBorderColorRgb: 98, 31, 11;
    --CTBS-OutlineDarkBtnDisabledColor: #ec7f5e;
    --CTBS-OutlineDarkBtnDisabledColorRgb: 236, 127, 94;
    --CTBS-OutlineDarkBtnFocusShadowRgb: 98, 31, 11;
    --CTBS-OutlineDarkBtnHoverBg: #1d0903;
    --CTBS-OutlineDarkBtnHoverBgRgb: 29, 9, 3;
    --CTBS-OutlineDarkBtnHoverBorderColor: #621f0b;
    --CTBS-OutlineDarkBtnHoverBorderColorRgb: 98, 31, 11;
    --CTBS-OutlineDarkBtnHoverColor: #ec7f5e;
    --CTBS-OutlineDarkBtnHoverColorRgb: 236, 127, 94;
    --CTBS-OutlineInfoBtnActiveBg: #09252e;
    --CTBS-OutlineInfoBtnActiveBgRgb: 9, 37, 46;
    --CTBS-OutlineInfoBtnActiveBorderColor: #16586e;
    --CTBS-OutlineInfoBtnActiveBorderColorRgb: 22, 88, 110;
    --CTBS-OutlineInfoBtnActiveColor: #54bbdd;
    --CTBS-OutlineInfoBtnActiveColorRgb: 84, 187, 221;
    --CTBS-OutlineInfoBtnActiveShadow: #0d3643;
    --CTBS-OutlineInfoBtnActiveShadowRgb: 13, 54, 67;
    --CTBS-OutlineInfoBtnBorderColor: #16586e;
    --CTBS-OutlineInfoBtnBorderColorRgb: 22, 88, 110;
    --CTBS-OutlineInfoBtnColor: #54bbdd;
    --CTBS-OutlineInfoBtnColorRgb: 84, 187, 221;
    --CTBS-OutlineInfoBtnDisabledBorderColor: #16586e;
    --CTBS-OutlineInfoBtnDisabledBorderColorRgb: 22, 88, 110;
    --CTBS-OutlineInfoBtnDisabledColor: #54bbdd;
    --CTBS-OutlineInfoBtnDisabledColorRgb: 84, 187, 221;
    --CTBS-OutlineInfoBtnFocusShadowRgb: 22, 88, 110;
    --CTBS-OutlineInfoBtnHoverBg: #09252e;
    --CTBS-OutlineInfoBtnHoverBgRgb: 9, 37, 46;
    --CTBS-OutlineInfoBtnHoverBorderColor: #16586e;
    --CTBS-OutlineInfoBtnHoverBorderColorRgb: 22, 88, 110;
    --CTBS-OutlineInfoBtnHoverColor: #54bbdd;
    --CTBS-OutlineInfoBtnHoverColorRgb: 84, 187, 221;
    --CTBS-OutlineLightBtnActiveBg: #d3dbbb;
    --CTBS-OutlineLightBtnActiveBgRgb: 211, 219, 187;
    --CTBS-OutlineLightBtnActiveBorderColor: #4c562d;
    --CTBS-OutlineLightBtnActiveBorderColorRgb: 76, 86, 45;
    --CTBS-OutlineLightBtnActiveColor: #3b4223;
    --CTBS-OutlineLightBtnActiveColorRgb: 59, 66, 35;
    --CTBS-OutlineLightBtnActiveShadow: #4c562d;
    --CTBS-OutlineLightBtnActiveShadowRgb: 76, 86, 45;
    --CTBS-OutlineLightBtnBorderColor: #4c562d;
    --CTBS-OutlineLightBtnBorderColorRgb: 76, 86, 45;
    --CTBS-OutlineLightBtnColor: #3b4223;
    --CTBS-OutlineLightBtnColorRgb: 59, 66, 35;
    --CTBS-OutlineLightBtnDisabledBorderColor: #4c562d;
    --CTBS-OutlineLightBtnDisabledBorderColorRgb: 76, 86, 45;
    --CTBS-OutlineLightBtnDisabledColor: #3b4223;
    --CTBS-OutlineLightBtnDisabledColorRgb: 59, 66, 35;
    --CTBS-OutlineLightBtnFocusShadowRgb: 244, 246, 238;
    --CTBS-OutlineLightBtnHoverBg: #d3dbbb;
    --CTBS-OutlineLightBtnHoverBgRgb: 211, 219, 187;
    --CTBS-OutlineLightBtnHoverBorderColor: #4c562d;
    --CTBS-OutlineLightBtnHoverBorderColorRgb: 76, 86, 45;
    --CTBS-OutlineLightBtnHoverColor: #3b4223;
    --CTBS-OutlineLightBtnHoverColorRgb: 59, 66, 35;
    --CTBS-OutlinePrimaryBtnActiveBg: #332312;
    --CTBS-OutlinePrimaryBtnActiveBgRgb: 51, 35, 18;
    --CTBS-OutlinePrimaryBtnActiveBorderColor: #6c4a27;
    --CTBS-OutlinePrimaryBtnActiveBorderColorRgb: 108, 74, 39;
    --CTBS-OutlinePrimaryBtnActiveColor: #d2ab83;
    --CTBS-OutlinePrimaryBtnActiveColorRgb: 210, 171, 131;
    --CTBS-OutlinePrimaryBtnActiveShadow: #463019;
    --CTBS-OutlinePrimaryBtnActiveShadowRgb: 70, 48, 25;
    --CTBS-OutlinePrimaryBtnBorderColor: #6c4a27;
    --CTBS-OutlinePrimaryBtnBorderColorRgb: 108, 74, 39;
    --CTBS-OutlinePrimaryBtnColor: #d2ab83;
    --CTBS-OutlinePrimaryBtnColorRgb: 210, 171, 131;
    --CTBS-OutlinePrimaryBtnDisabledBorderColor: #6c4a27;
    --CTBS-OutlinePrimaryBtnDisabledBorderColorRgb: 108, 74, 39;
    --CTBS-OutlinePrimaryBtnDisabledColor: #d2ab83;
    --CTBS-OutlinePrimaryBtnDisabledColorRgb: 210, 171, 131;
    --CTBS-OutlinePrimaryBtnFocusShadowRgb: 108, 74, 39;
    --CTBS-OutlinePrimaryBtnHoverBg: #332312;
    --CTBS-OutlinePrimaryBtnHoverBgRgb: 51, 35, 18;
    --CTBS-OutlinePrimaryBtnHoverBorderColor: #6c4a27;
    --CTBS-OutlinePrimaryBtnHoverBorderColorRgb: 108, 74, 39;
    --CTBS-OutlinePrimaryBtnHoverColor: #d2ab83;
    --CTBS-OutlinePrimaryBtnHoverColorRgb: 210, 171, 131;
    --CTBS-OutlineSecondaryBtnActiveBg: #362a40;
    --CTBS-OutlineSecondaryBtnActiveBgRgb: 54, 42, 64;
    --CTBS-OutlineSecondaryBtnActiveBorderColor: #5d496e;
    --CTBS-OutlineSecondaryBtnActiveBorderColorRgb: 93, 73, 110;
    --CTBS-OutlineSecondaryBtnActiveColor: #c5b8d0;
    --CTBS-OutlineSecondaryBtnActiveColorRgb: 197, 184, 208;
    --CTBS-OutlineSecondaryBtnActiveShadow: #43344f;
    --CTBS-OutlineSecondaryBtnActiveShadowRgb: 67, 52, 79;
    --CTBS-OutlineSecondaryBtnBorderColor: #5d496e;
    --CTBS-OutlineSecondaryBtnBorderColorRgb: 93, 73, 110;
    --CTBS-OutlineSecondaryBtnColor: #c5b8d0;
    --CTBS-OutlineSecondaryBtnColorRgb: 197, 184, 208;
    --CTBS-OutlineSecondaryBtnDisabledBorderColor: #5d496e;
    --CTBS-OutlineSecondaryBtnDisabledBorderColorRgb: 93, 73, 110;
    --CTBS-OutlineSecondaryBtnDisabledColor: #c5b8d0;
    --CTBS-OutlineSecondaryBtnDisabledColorRgb: 197, 184, 208;
    --CTBS-OutlineSecondaryBtnFocusShadowRgb: 93, 73, 110;
    --CTBS-OutlineSecondaryBtnHoverBg: #362a40;
    --CTBS-OutlineSecondaryBtnHoverBgRgb: 54, 42, 64;
    --CTBS-OutlineSecondaryBtnHoverBorderColor: #5d496e;
    --CTBS-OutlineSecondaryBtnHoverBorderColorRgb: 93, 73, 110;
    --CTBS-OutlineSecondaryBtnHoverColor: #c5b8d0;
    --CTBS-OutlineSecondaryBtnHoverColorRgb: 197, 184, 208;
    --CTBS-OutlineSuccessBtnActiveBg: #101c06;
    --CTBS-OutlineSuccessBtnActiveBgRgb: 16, 28, 6;
    --CTBS-OutlineSuccessBtnActiveBorderColor: #355a16;
    --CTBS-OutlineSuccessBtnActiveBorderColorRgb: 53, 90, 22;
    --CTBS-OutlineSuccessBtnActiveColor: #6cb82d;
    --CTBS-OutlineSuccessBtnActiveColorRgb: 108, 184, 45;
    --CTBS-OutlineSuccessBtnActiveShadow: #1c310b;
    --CTBS-OutlineSuccessBtnActiveShadowRgb: 28, 49, 11;
    --CTBS-OutlineSuccessBtnBorderColor: #355a16;
    --CTBS-OutlineSuccessBtnBorderColorRgb: 53, 90, 22;
    --CTBS-OutlineSuccessBtnColor: #6cb82d;
    --CTBS-OutlineSuccessBtnColorRgb: 108, 184, 45;
    --CTBS-OutlineSuccessBtnDisabledBorderColor: #355a16;
    --CTBS-OutlineSuccessBtnDisabledBorderColorRgb: 53, 90, 22;
    --CTBS-OutlineSuccessBtnDisabledColor: #6cb82d;
    --CTBS-OutlineSuccessBtnDisabledColorRgb: 108, 184, 45;
    --CTBS-OutlineSuccessBtnFocusShadowRgb: 53, 90, 22;
    --CTBS-OutlineSuccessBtnHoverBg: #101c06;
    --CTBS-OutlineSuccessBtnHoverBgRgb: 16, 28, 6;
    --CTBS-OutlineSuccessBtnHoverBorderColor: #355a16;
    --CTBS-OutlineSuccessBtnHoverBorderColorRgb: 53, 90, 22;
    --CTBS-OutlineSuccessBtnHoverColor: #6cb82d;
    --CTBS-OutlineSuccessBtnHoverColorRgb: 108, 184, 45;
    --CTBS-OutlineWarningBtnActiveBg: #131403;
    --CTBS-OutlineWarningBtnActiveBgRgb: 19, 20, 3;
    --CTBS-OutlineWarningBtnActiveBorderColor: #51560f;
    --CTBS-OutlineWarningBtnActiveBorderColorRgb: 81, 86, 15;
    --CTBS-OutlineWarningBtnActiveColor: #9fa91d;
    --CTBS-OutlineWarningBtnActiveColorRgb: 159, 169, 29;
    --CTBS-OutlineWarningBtnActiveShadow: #282a07;
    --CTBS-OutlineWarningBtnActiveShadowRgb: 40, 42, 7;
    --CTBS-OutlineWarningBtnBorderColor: #51560f;
    --CTBS-OutlineWarningBtnBorderColorRgb: 81, 86, 15;
    --CTBS-OutlineWarningBtnColor: #9fa91d;
    --CTBS-OutlineWarningBtnColorRgb: 159, 169, 29;
    --CTBS-OutlineWarningBtnDisabledBorderColor: #51560f;
    --CTBS-OutlineWarningBtnDisabledBorderColorRgb: 81, 86, 15;
    --CTBS-OutlineWarningBtnDisabledColor: #9fa91d;
    --CTBS-OutlineWarningBtnDisabledColorRgb: 159, 169, 29;
    --CTBS-OutlineWarningBtnFocusShadowRgb: 81, 86, 15;
    --CTBS-OutlineWarningBtnHoverBg: #131403;
    --CTBS-OutlineWarningBtnHoverBgRgb: 19, 20, 3;
    --CTBS-OutlineWarningBtnHoverBorderColor: #51560f;
    --CTBS-OutlineWarningBtnHoverBorderColorRgb: 81, 86, 15;
    --CTBS-OutlineWarningBtnHoverColor: #9fa91d;
    --CTBS-OutlineWarningBtnHoverColorRgb: 159, 169, 29;
    --CTBS-PaginationActiveBg: #d3dbbb;
    --CTBS-PaginationActiveBgRgb: 211, 219, 187;
    --CTBS-PaginationActiveBorderColor: #4c562d;
    --CTBS-PaginationActiveBorderColorRgb: 76, 86, 45;
    --CTBS-PaginationActiveColor: #000000;
    --CTBS-PaginationActiveColorRgb: 0, 0, 0;
    --CTBS-PaginationFocusBoxShadow: #808080;
    --CTBS-PaginationFocusBoxShadowRgb: 128, 128, 128;
    --CTBS-PillsNavPillsLinkActiveBg: #332312;
    --CTBS-PillsNavPillsLinkActiveBgRgb: 51, 35, 18;
    --CTBS-PillsNavPillsLinkActiveColor: #d2ab82;
    --CTBS-PillsNavPillsLinkActiveColorRgb: 210, 171, 130;
    --CTBS-Pink: #991e5b;
    --CTBS-PinkRgb: 153, 30, 91;
    --CTBS-Primary: #6c4a27;
    --CTBS-PrimaryRgb: 108, 74, 39;
    --CTBS-PrimaryBgSubtle: #f9f4f0;
    --CTBS-PrimaryBgSubtleRgb: 249, 244, 240;
    --CTBS-PrimaryBorderSubtle: #ead9c6;
    --CTBS-PrimaryBorderSubtleRgb: 234, 217, 198;
    --CTBS-PrimaryBtnActiveBg: #332312;
    --CTBS-PrimaryBtnActiveBgRgb: 51, 35, 18;
    --CTBS-PrimaryBtnActiveBorderColor: #463019;
    --CTBS-PrimaryBtnActiveBorderColorRgb: 70, 48, 25;
    --CTBS-PrimaryBtnActiveColor: #d2ab82;
    --CTBS-PrimaryBtnActiveColorRgb: 210, 171, 130;
    --CTBS-PrimaryBtnActiveShadow: #463019;
    --CTBS-PrimaryBtnActiveShadowRgb: 70, 48, 25;
    --CTBS-PrimaryBtnBg: #6c4a27;
    --CTBS-PrimaryBtnBgRgb: 108, 74, 39;
    --CTBS-PrimaryBtnBorderColor: #6c4927;
    --CTBS-PrimaryBtnBorderColorRgb: 108, 73, 39;
    --CTBS-PrimaryBtnColor: #f8f2ec;
    --CTBS-PrimaryBtnColorRgb: 248, 242, 236;
    --CTBS-PrimaryBtnDisabledBg: #6c4a27;
    --CTBS-PrimaryBtnDisabledBgRgb: 108, 74, 39;
    --CTBS-PrimaryBtnDisabledBorderColor: #6c4927;
    --CTBS-PrimaryBtnDisabledBorderColorRgb: 108, 73, 39;
    --CTBS-PrimaryBtnDisabledColor: #f8f2ec;
    --CTBS-PrimaryBtnDisabledColorRgb: 248, 242, 236;
    --CTBS-PrimaryBtnFocusShadowRgb: 108, 74, 39;
    --CTBS-PrimaryBtnHoverBg: #332312;
    --CTBS-PrimaryBtnHoverBgRgb: 51, 35, 18;
    --CTBS-PrimaryBtnHoverBorderColor: #463019;
    --CTBS-PrimaryBtnHoverBorderColorRgb: 70, 48, 25;
    --CTBS-PrimaryBtnHoverColor: #d2ab82;
    --CTBS-PrimaryBtnHoverColorRgb: 210, 171, 130;
    --CTBS-PrimaryTableActiveBg: #f9f4f0;
    --CTBS-PrimaryTableActiveBgRgb: 249, 244, 240;
    --CTBS-PrimaryTableActiveColor: #463019;
    --CTBS-PrimaryTableActiveColorRgb: 70, 48, 25;
    --CTBS-PrimaryTableBg: #f9f4f0;
    --CTBS-PrimaryTableBgRgb: 249, 244, 240;
    --CTBS-PrimaryTableBorderColor: #6c4a27;
    --CTBS-PrimaryTableBorderColorRgb: 108, 74, 39;
    --CTBS-PrimaryTableColor: #6c4a27;
    --CTBS-PrimaryTableColorRgb: 108, 74, 39;
    --CTBS-PrimaryTableHoverBg: #f9f4f0;
    --CTBS-PrimaryTableHoverBgRgb: 249, 244, 240;
    --CTBS-PrimaryTableHoverColor: #463019;
    --CTBS-PrimaryTableHoverColorRgb: 70, 48, 25;
    --CTBS-PrimaryTableStripedBg: #f9f4f0;
    --CTBS-PrimaryTableStripedBgRgb: 249, 244, 240;
    --CTBS-PrimaryTableStripedColor: #593d20;
    --CTBS-PrimaryTableStripedColorRgb: 89, 61, 32;
    --CTBS-PrimaryTextEmphasis: #6c4a27;
    --CTBS-PrimaryTextEmphasisRgb: 108, 74, 39;
    --CTBS-ProgressBarBg: #f4f6ee;
    --CTBS-ProgressBarBgRgb: 244, 246, 238;
    --CTBS-ProgressBarColor: #000000;
    --CTBS-ProgressBarColorRgb: 0, 0, 0;
    --CTBS-Purple: #6d3d8e;
    --CTBS-PurpleRgb: 109, 61, 142;
    --CTBS-Red: #9b2611;
    --CTBS-RedRgb: 155, 38, 17;
    --CTBS-Secondary: #5d496e;
    --CTBS-SecondaryRgb: 93, 73, 110;
    --CTBS-SecondaryBg: #5d496e;
    --CTBS-SecondaryBgRgb: 93, 73, 110;
    --CTBS-SecondaryBgSubtle: #f4f2f6;
    --CTBS-SecondaryBgSubtleRgb: 244, 242, 246;
    --CTBS-SecondaryBorderSubtle: #d9d1e0;
    --CTBS-SecondaryBorderSubtleRgb: 217, 209, 224;
    --CTBS-SecondaryBtnActiveBg: #362a40;
    --CTBS-SecondaryBtnActiveBgRgb: 54, 42, 64;
    --CTBS-SecondaryBtnActiveBorderColor: #43344f;
    --CTBS-SecondaryBtnActiveBorderColorRgb: 67, 52, 79;
    --CTBS-SecondaryBtnActiveColor: #c5b8d0;
    --CTBS-SecondaryBtnActiveColorRgb: 197, 184, 208;
    --CTBS-SecondaryBtnActiveShadow: #43344f;
    --CTBS-SecondaryBtnActiveShadowRgb: 67, 52, 79;
    --CTBS-SecondaryBtnBg: #5d496e;
    --CTBS-SecondaryBtnBgRgb: 93, 73, 110;
    --CTBS-SecondaryBtnBorderColor: #5b4b6c;
    --CTBS-SecondaryBtnBorderColorRgb: 91, 75, 108;
    --CTBS-SecondaryBtnColor: #f4f2f6;
    --CTBS-SecondaryBtnColorRgb: 244, 242, 246;
    --CTBS-SecondaryBtnDisabledBg: #5d496e;
    --CTBS-SecondaryBtnDisabledBgRgb: 93, 73, 110;
    --CTBS-SecondaryBtnDisabledBorderColor: #5b4b6c;
    --CTBS-SecondaryBtnDisabledBorderColorRgb: 91, 75, 108;
    --CTBS-SecondaryBtnDisabledColor: #f4f2f6;
    --CTBS-SecondaryBtnDisabledColorRgb: 244, 242, 246;
    --CTBS-SecondaryBtnFocusShadowRgb: 93, 73, 110;
    --CTBS-SecondaryBtnHoverBg: #362a40;
    --CTBS-SecondaryBtnHoverBgRgb: 54, 42, 64;
    --CTBS-SecondaryBtnHoverBorderColor: #43344f;
    --CTBS-SecondaryBtnHoverBorderColorRgb: 67, 52, 79;
    --CTBS-SecondaryBtnHoverColor: #c5b8d0;
    --CTBS-SecondaryBtnHoverColorRgb: 197, 184, 208;
    --CTBS-SecondaryColor: #f4f2f6;
    --CTBS-SecondaryColorRgb: 244, 242, 246;
    --CTBS-SecondaryTableActiveBg: #f4f2f6;
    --CTBS-SecondaryTableActiveBgRgb: 244, 242, 246;
    --CTBS-SecondaryTableActiveColor: #43344f;
    --CTBS-SecondaryTableActiveColorRgb: 67, 52, 79;
    --CTBS-SecondaryTableBg: #f4f2f6;
    --CTBS-SecondaryTableBgRgb: 244, 242, 246;
    --CTBS-SecondaryTableBorderColor: #5d496e;
    --CTBS-SecondaryTableBorderColorRgb: 93, 73, 110;
    --CTBS-SecondaryTableColor: #5d496e;
    --CTBS-SecondaryTableColorRgb: 93, 73, 110;
    --CTBS-SecondaryTableHoverBg: #f4f2f6;
    --CTBS-SecondaryTableHoverBgRgb: 244, 242, 246;
    --CTBS-SecondaryTableHoverColor: #43344f;
    --CTBS-SecondaryTableHoverColorRgb: 67, 52, 79;
    --CTBS-SecondaryTableStripedBg: #f4f2f6;
    --CTBS-SecondaryTableStripedBgRgb: 244, 242, 246;
    --CTBS-SecondaryTableStripedColor: #503e5e;
    --CTBS-SecondaryTableStripedColorRgb: 80, 62, 94;
    --CTBS-SecondaryTextEmphasis: #5d496e;
    --CTBS-SecondaryTextEmphasisRgb: 93, 73, 110;
    --CTBS-Success: #355a16;
    --CTBS-SuccessRgb: 53, 90, 22;
    --CTBS-SuccessBgSubtle: #f4faee;
    --CTBS-SuccessBgSubtleRgb: 244, 250, 238;
    --CTBS-SuccessBorderSubtle: #d6efc1;
    --CTBS-SuccessBorderSubtleRgb: 214, 239, 193;
    --CTBS-SuccessBtnActiveBg: #101c06;
    --CTBS-SuccessBtnActiveBgRgb: 16, 28, 6;
    --CTBS-SuccessBtnActiveBorderColor: #1c310b;
    --CTBS-SuccessBtnActiveBorderColorRgb: 28, 49, 11;
    --CTBS-SuccessBtnActiveColor: #6bbb2a;
    --CTBS-SuccessBtnActiveColorRgb: 107, 187, 42;
    --CTBS-SuccessBtnActiveShadow: #1c310b;
    --CTBS-SuccessBtnActiveShadowRgb: 28, 49, 11;
    --CTBS-SuccessBtnBg: #355a16;
    --CTBS-SuccessBtnBgRgb: 53, 90, 22;
    --CTBS-SuccessBtnBorderColor: #375c19;
    --CTBS-SuccessBtnBorderColorRgb: 55, 92, 25;
    --CTBS-SuccessBtnColor: #e9f6de;
    --CTBS-SuccessBtnColorRgb: 233, 246, 222;
    --CTBS-SuccessBtnDisabledBg: #355a16;
    --CTBS-SuccessBtnDisabledBgRgb: 53, 90, 22;
    --CTBS-SuccessBtnDisabledBorderColor: #375c19;
    --CTBS-SuccessBtnDisabledBorderColorRgb: 55, 92, 25;
    --CTBS-SuccessBtnDisabledColor: #e9f6de;
    --CTBS-SuccessBtnDisabledColorRgb: 233, 246, 222;
    --CTBS-SuccessBtnFocusShadowRgb: 53, 90, 22;
    --CTBS-SuccessBtnHoverBg: #101c06;
    --CTBS-SuccessBtnHoverBgRgb: 16, 28, 6;
    --CTBS-SuccessBtnHoverBorderColor: #1c310b;
    --CTBS-SuccessBtnHoverBorderColorRgb: 28, 49, 11;
    --CTBS-SuccessBtnHoverColor: #6bbb2a;
    --CTBS-SuccessBtnHoverColorRgb: 107, 187, 42;
    --CTBS-SuccessTableActiveBg: #f4faee;
    --CTBS-SuccessTableActiveBgRgb: 244, 250, 238;
    --CTBS-SuccessTableActiveColor: #1c310b;
    --CTBS-SuccessTableActiveColorRgb: 28, 49, 11;
    --CTBS-SuccessTableBg: #f4faee;
    --CTBS-SuccessTableBgRgb: 244, 250, 238;
    --CTBS-SuccessTableBorderColor: #355a16;
    --CTBS-SuccessTableBorderColorRgb: 53, 90, 22;
    --CTBS-SuccessTableColor: #355a16;
    --CTBS-SuccessTableColorRgb: 53, 90, 22;
    --CTBS-SuccessTableHoverBg: #f4faee;
    --CTBS-SuccessTableHoverBgRgb: 244, 250, 238;
    --CTBS-SuccessTableHoverColor: #1c310b;
    --CTBS-SuccessTableHoverColorRgb: 28, 49, 11;
    --CTBS-SuccessTableStripedBg: #f4faee;
    --CTBS-SuccessTableStripedBgRgb: 244, 250, 238;
    --CTBS-SuccessTableStripedColor: #284510;
    --CTBS-SuccessTableStripedColorRgb: 40, 69, 16;
    --CTBS-SuccessTextEmphasis: #355a16;
    --CTBS-SuccessTextEmphasisRgb: 53, 90, 22;
    --CTBS-Teal: #295e17;
    --CTBS-TealRgb: 41, 94, 23;
    --CTBS-TertiaryBg: #f4f6ee;
    --CTBS-TertiaryBgRgb: 244, 246, 238;
    --CTBS-TertiaryColor: #000000;
    --CTBS-TertiaryColorRgb: 0, 0, 0;
    --CTBS-ToastBgRgb: 244, 246, 238;
    --CTBS-ToastHeaderBgRgb: 244, 246, 238;
    --CTBS-Warning: #51560f;
    --CTBS-WarningRgb: 81, 86, 15;
    --CTBS-WarningBgSubtle: #fafbed;
    --CTBS-WarningBgSubtleRgb: 250, 251, 237;
    --CTBS-WarningBorderSubtle: #eff3bd;
    --CTBS-WarningBorderSubtleRgb: 239, 243, 189;
    --CTBS-WarningBtnActiveBg: #131403;
    --CTBS-WarningBtnActiveBgRgb: 19, 20, 3;
    --CTBS-WarningBtnActiveBorderColor: #282a07;
    --CTBS-WarningBtnActiveBorderColorRgb: 40, 42, 7;
    --CTBS-WarningBtnActiveColor: #a2aa1c;
    --CTBS-WarningBtnActiveColorRgb: 162, 170, 28;
    --CTBS-WarningBtnActiveShadow: #282a07;
    --CTBS-WarningBtnActiveShadowRgb: 40, 42, 7;
    --CTBS-WarningBtnBg: #51560f;
    --CTBS-WarningBtnBgRgb: 81, 86, 15;
    --CTBS-WarningBtnBorderColor: #50560f;
    --CTBS-WarningBtnBorderColorRgb: 80, 86, 15;
    --CTBS-WarningBtnColor: #f4f7d3;
    --CTBS-WarningBtnColorRgb: 244, 247, 211;
    --CTBS-WarningBtnDisabledBg: #51560f;
    --CTBS-WarningBtnDisabledBgRgb: 81, 86, 15;
    --CTBS-WarningBtnDisabledBorderColor: #50560f;
    --CTBS-WarningBtnDisabledBorderColorRgb: 80, 86, 15;
    --CTBS-WarningBtnDisabledColor: #f4f7d3;
    --CTBS-WarningBtnDisabledColorRgb: 244, 247, 211;
    --CTBS-WarningBtnFocusShadowRgb: 81, 86, 15;
    --CTBS-WarningBtnHoverBg: #131403;
    --CTBS-WarningBtnHoverBgRgb: 19, 20, 3;
    --CTBS-WarningBtnHoverBorderColor: #282a07;
    --CTBS-WarningBtnHoverBorderColorRgb: 40, 42, 7;
    --CTBS-WarningBtnHoverColor: #a2aa1c;
    --CTBS-WarningBtnHoverColorRgb: 162, 170, 28;
    --CTBS-WarningTableActiveBg: #fafbed;
    --CTBS-WarningTableActiveBgRgb: 250, 251, 237;
    --CTBS-WarningTableActiveColor: #282a07;
    --CTBS-WarningTableActiveColorRgb: 40, 42, 7;
    --CTBS-WarningTableBg: #fafbed;
    --CTBS-WarningTableBgRgb: 250, 251, 237;
    --CTBS-WarningTableBorderColor: #51560f;
    --CTBS-WarningTableBorderColorRgb: 81, 86, 15;
    --CTBS-WarningTableColor: #51560f;
    --CTBS-WarningTableColorRgb: 81, 86, 15;
    --CTBS-WarningTableHoverBg: #fafbed;
    --CTBS-WarningTableHoverBgRgb: 250, 251, 237;
    --CTBS-WarningTableHoverColor: #282a07;
    --CTBS-WarningTableHoverColorRgb: 40, 42, 7;
    --CTBS-WarningTableStripedBg: #fafbed;
    --CTBS-WarningTableStripedBgRgb: 250, 251, 237;
    --CTBS-WarningTableStripedColor: #3c400b;
    --CTBS-WarningTableStripedColorRgb: 60, 64, 11;
    --CTBS-WarningTextEmphasis: #51560f;
    --CTBS-WarningTextEmphasisRgb: 81, 86, 15;
    --CTBS-WebkitMaskImage: #808080;
    --CTBS-WebkitMaskImageRgb: 128, 128, 128;
    --CTBS-WebkitMaskImage-1: #808080;
    --CTBS-WebkitMaskImage-1Rgb: 128, 128, 128;
    --CTBS-White: #ffffff;
    --CTBS-WhiteRgb: 255, 255, 255;
    --CTBS-Yellow: #51560f;
    --CTBS-YellowRgb: 81, 86, 15;
}