/* GENERATED PALETTE SOURCES */
/* Edit the *-source variables to remap semantic roles. */

:root {
    /* === LIGHT CLUSTERS === */
    --light-cluster-001: #858557;
    --light-cluster-002: #8063b1;
    --light-cluster-003: #f4e9e3;
    --light-cluster-004: #8f8393;
    --light-cluster-005: #ad95d4;
    --light-cluster-006: #bda789;
    --light-cluster-007: #eacda4;
    --light-cluster-008: #b8b1ce;
    --light-cluster-009: #f0d7b7;
    --light-cluster-010: #ccb7d9;
    --light-cluster-011: #c5bc6c;

    /* === DARK CLUSTERS === */
    --dark-cluster-001: #3b2658;
    --dark-cluster-002: #241736;
    --dark-cluster-003: #3f2d3d;
    --dark-cluster-004: #060607;
    --dark-cluster-005: #56475f;
    --dark-cluster-006: #191c11;
    --dark-cluster-007: #251f1f;
    --dark-cluster-008: #14120f;
    --dark-cluster-009: #150f1f;
    --dark-cluster-010: #343435;
    --dark-cluster-011: #1c144c;

    /* === LIGHT ROLE SOURCES === */
    --light-primary-source: var(--light-cluster-005);
    --light-secondary-source: var(--light-cluster-011);
    --light-success-source: var(--light-cluster-001);
    --light-info-source: var(--light-cluster-002);
    --light-warning-source: var(--light-cluster-007);
    --light-danger-source: var(--light-cluster-004);
    --light-light-source: var(--light-cluster-003);
    --light-dark-source: var(--light-cluster-002);

    /* === DARK ROLE SOURCES === */
    --dark-primary-source: var(--dark-cluster-011);
    --dark-secondary-source: var(--dark-cluster-005);
    --dark-success-source: var(--dark-cluster-006);
    --dark-info-source: var(--dark-cluster-001);
    --dark-warning-source: var(--dark-cluster-008);
    --dark-danger-source: var(--dark-cluster-003);
    --dark-light-source: var(--dark-cluster-005);
    --dark-dark-source: var(--dark-cluster-004);
}
