/* GENERATED PALETTE SOURCES */
/* Edit the *-source variables to remap semantic roles. */

:root {
    /* === LIGHT CLUSTERS === */
    --light-cluster-001: #67798a;
    --light-cluster-002: #c2c9c9;
    --light-cluster-003: #424c4f;
    --light-cluster-004: #78b2dc;
    --light-cluster-005: #414f6c;
    --light-cluster-006: #9da5ab;
    --light-cluster-007: #709bc0;
    --light-cluster-008: #3880bb;
    --light-cluster-009: #a5bec5;
    --light-cluster-010: #bfab74;
    --light-cluster-011: #949c5c;

    /* === LIGHT ROLE SOURCES === */
    --light-primary-source: var(--light-cluster-004);
    --light-secondary-source: var(--light-cluster-010);
    --light-success-source: var(--light-cluster-011);
    --light-info-source: var(--light-cluster-009);
    --light-warning-source: var(--light-cluster-011);
    --light-danger-source: var(--light-cluster-010);
    --light-light-source: var(--light-cluster-002);
    --light-dark-source: var(--light-cluster-003);

    /* === DARK CLUSTERS === */
    --dark-cluster-001: #23273e;
    --dark-cluster-002: #987777;
    --dark-cluster-003: #6f5b68;
    --dark-cluster-004: #4b4c72;
    --dark-cluster-005: #666794;
    --dark-cluster-006: #514553;
    --dark-cluster-007: #3f3c51;
    --dark-cluster-008: #121419;
    --dark-cluster-009: #555559;
    --dark-cluster-010: #7a7d78;
    --dark-cluster-011: #0d0c24;

    /* === DARK ROLE SOURCES === */
    --dark-primary-source: var(--dark-cluster-005);
    --dark-secondary-source: var(--dark-cluster-010);
    --dark-success-source: var(--dark-cluster-010);
    --dark-info-source: var(--dark-cluster-008);
    --dark-warning-source: var(--dark-cluster-002);
    --dark-danger-source: var(--dark-cluster-002);
    --dark-light-source: var(--dark-cluster-002);
    --dark-dark-source: var(--dark-cluster-011);
}